Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-09, with the labels that each got.

#863 Spelling fix
  CONTRIBUTING.md
Labels: contribution, status/LGT2

#862 refactor: enhance dashboard details
  ui/README.md
  ui/src/components/EventsTable/index.tsx
  ui/src/components/NewExperiment/Stepper/Schedule.tsx
  ui/src/components/NewExperiment/Stepper/Target/IO.tsx
  ui/src/components/NewExperiment/Stepper/Target/Kernel.tsx
  ui/src/components/NewExperiment/Stepper/Target/Network.tsx
  ui/src/components/NewExperiment/Stepper/Target/Pod.tsx
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/Stepper/Target/Time.tsx
  ui/src/components/NewExperiment/Stepper/Target/images/linux-kernel.svg
  ui/src/components/NewExperiment/Stepper/Target/images/pod-lifecycle.svg
  ui/src/components/NewExperiment/Stepper/Target/index.tsx
  ui/src/components/NewExperiment/Stepper/index.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/PaperTop/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/Tooltip/index.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/lib/formikhelpers.ts
  ui/src/lib/search.ts
  ui/src/lib/styles/errorButton.ts
  ui/src/lib/styles/runningLabel.ts
  ui/src/pages/ArchiveReport/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/yarn.lock
Labels: status/LGT2, status/can-merge

#865 Fix the error in building tc commands
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/tc_server_test.go
Labels: needs-cherry-pick-0.9, status/LGT1, status/can-merge, type/bug-fix

#868 update image tag
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/chaosfs-sidecar.yaml
Labels: status/LGT2

#869 Release v0.9.1
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/chaosfs-sidecar.yaml
Labels: status/LGT1

#866 chore: add uuid suffix at load experiments
  ui/src/components/NewExperiment/index.tsx
Labels: status/LGT2, status/can-merge

#870 docs: v0.9.1
  website/versioned_docs/version-0.9.1/development_guides/dev_hello_world.md
  website/versioned_docs/version-0.9.1/development_guides/develop.md
  website/versioned_docs/version-0.9.1/development_guides/setup_env.md
  website/versioned_docs/version-0.9.1/faqs.md
  website/versioned_docs/version-0.9.1/installation/get_started_on_kind.md
  website/versioned_docs/version-0.9.1/installation/get_started_on_minikube.md
  website/versioned_docs/version-0.9.1/installation/installation.md
  website/versioned_docs/version-0.9.1/overview.md
  website/versioned_docs/version-0.9.1/releases/v0.8.0.md
  website/versioned_docs/version-0.9.1/releases/v0.9.0.md
  website/versioned_docs/version-0.9.1/use_cases/multi_data_centers.md
  website/versioned_docs/version-0.9.1/user_guides/experiment_scope.md
  website/versioned_docs/version-0.9.1/user_guides/io_chaos.md
  website/versioned_docs/version-0.9.1/user_guides/kernel_chaos.md
  website/versioned_docs/version-0.9.1/user_guides/network_chaos.md
  website/versioned_docs/version-0.9.1/user_guides/pod_chaos.md
  website/versioned_docs/version-0.9.1/user_guides/run_chaos_experiment.md
  website/versioned_docs/version-0.9.1/user_guides/sidecar_configmap.md
  website/versioned_docs/version-0.9.1/user_guides/sidecar_template.md
  website/versioned_docs/version-0.9.1/user_guides/stress_chaos.md
  website/versioned_docs/version-0.9.1/user_guides/time_chaos.md
  website/versioned_sidebars/version-0.9.1-sidebars.json
  website/versions.json
Labels: status/LGT2, status/can-merge

#874 feat: add hostNetwork option for controller-manager and update doc accordingly
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: contribution, status/LGT2, status/can-merge

#876 update go.mod
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge

#873 chore: upgrade docusaurus
  website/blog/2020-01-15-chaos-mesh-your-chaos-engineering-solution.md
  website/blog/2020-03-18-run-your-first-chaos-experiment.md
  website/blog/2020-04-20-simulating-clock-skew-in-k8s-without-affecting-other-containers-on-node.md
  website/blog/2020-07-28-chaos-mesh-join-cncf-sandbox-project.md
  website/blog/2020-08-14-building_automated_testing_framework.md
  website/docs/overview.md
  website/docusaurus.config.js
  website/package.json
  website/src/styles/custom.css
  website/versioned_docs/version-0.9.0/overview.md
  website/versioned_docs/version-0.9.1/overview.md
  website/yarn.lock
Labels: status/LGT2, status/can-merge

#881 fix: scope selectors
  ui/src/components/NewExperiment/Stepper/Scope.tsx
Labels: needs-cherry-pick-0.9, status/LGT2, status/can-merge

#883 fix: doc versions
  website/src/components/PickVersion.jsx
Labels: status/LGT2, status/LGT3, status/can-merge

#887 Update the link of the slack channel and GitHub address
  website/blog/2020-03-18-run-your-first-chaos-experiment.md
Labels: status/LGT2

#877 docs: contributing update
  CONTRIBUTING.md
  website/README.md
Labels: status/LGT2, status/can-merge

#875 doc: change the order for dashboard creation note.
  website/docs/installation/installation.md
Labels: contribution, status/LGT2, status/can-merge

#871 [add] implement the HTTPchaos CRD API
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/httpchaos_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/controller-manager/main.go
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  controllers/httpchaos/types.go
  controllers/httpchaos_controller.go
  controllers/httpchaos_controller_test.go
  controllers/suite_test.go
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  manifests/crd.yaml
Labels: contribution, status/LGT2, status/can-merge

#864 refactor: entrance of chaos dashboard
  Makefile
  cmd/chaos-dashboard/main.go
  docs/README.md
  go.mod
  go.sum
  hack/embed_ui_assets.sh
  pkg/apiserver/archive/experiment.go
  pkg/apiserver/common/common.go
  pkg/apiserver/event/event.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/server.go
  pkg/collector/server.go
  pkg/config/dashboard.go
  pkg/httpfs/fs.go
  pkg/httpfs/fs_test.go
  pkg/store/dbstore/store.go
  pkg/store/store.go
  pkg/swaggerserver/empty_handler.go
  pkg/swaggerserver/swagger_handler.go
  pkg/ttlcontroller/ttlcontroller.go
  pkg/uiserver/empty_asserts_handler.go
  pkg/uiserver/server.go
  pkg/version/version.go
  tools/assets_generate/main.go
  ui/README.md
  ui/src/App.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/images/logo-mini.svg
  ui/src/images/logo.svg
Labels: status/LGT2, status/can-merge

#892 [update] add client.Reader in Reconciler
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/httpchaos/types.go
  controllers/httpchaos_controller.go
  controllers/iochaos/fs/types.go
  controllers/iochaos/types.go
  controllers/iochaos_controller.go
  controllers/kernelchaos/types.go
  controllers/kernelchaos_controller.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/podnetworkmanager/podnetworkmanager.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/networkchaos/types.go
  controllers/networkchaos_controller.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/podchaos/types.go
  controllers/podchaos_controller.go
  controllers/podnetworkchaos/types.go
  controllers/stresschaos/types.go
  controllers/stresschaos_controller.go
  controllers/timechaos/types.go
  controllers/timechaos_controller.go
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  pkg/apiserver/common/common.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
Labels: status/LGT3, status/PTAL, status/can-merge, type/bug-fix

#894 [update] add client.Reader in chaos-dashboard
  pkg/collector/server.go
Labels: status/LGT2

#896 [update] add httpchaos in install.sh
  install.sh
Labels: status/LGT2

#897 [update] add Client.Reader
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/iochaos/fs/types.go
  controllers/iochaos/types.go
  controllers/iochaos_controller.go
  controllers/kernelchaos/types.go
  controllers/kernelchaos_controller.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/podnetworkmanager/podnetworkmanager.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/networkchaos/types.go
  controllers/networkchaos_controller.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/podchaos/types.go
  controllers/podchaos_controller.go
  controllers/podnetworkchaos/types.go
  controllers/stresschaos/types.go
  controllers/stresschaos_controller.go
  controllers/timechaos/types.go
  controllers/timechaos_controller.go
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  pkg/apiserver/common/common.go
  pkg/collector/server.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
Labels: status/LGT1

#904 Fix invalid usage of cgo/unsafe pointer in TimeChaos
  pkg/ptrace/ptrace_linux.go
Labels: needs-cherry-pick-1.0, status/LGT2, status/can-merge

#915 Add command to check install script
  .github/workflows/ci.yml
  Makefile
Labels: component/scripts, needs-cherry-pick-1.0, status/LGT1, status/can-merge

#909 Update FAQ for Openshift scc
  website/docs/faqs.md
Labels: documentation, status/LGT1, status/can-merge

#914 fix: make restart watcher log level down to info.
  cmd/controller-manager/main.go
  pkg/webhook/config/watcher/watcher.go
Labels: contribution, needs-cherry-pick-1.0, status/LGT2, status/can-merge

#781 [update] update Reconcile
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
Labels: component/operator, needs-cherry-pick-1.0, status/LGT2, status/PTAL, status/can-merge

#926 docs: add katacoda tutorial
  website/docusaurus.config.js
  website/package.json
  website/src/pages/interactiveTutorial.js
  website/yarn.lock
Labels: status/LGT2

#929 Add a new blog
  website/blog/2020-9-18-chaos-mesh-action-integrate-chaos-engineering-into-your-ci.md
  website/static/img/chaos-mesh-action-integrate-in-the-ci-workflow.png
  website/static/img/chaos-mesh-action.png
  website/static/img/creating-a-workflow.png
Labels: status/LGT3, status/can-merge

#906 [update] add mode and value in exp_detail
  api/v1alpha1/common_validation.go
  api/v1alpha1/networkchaos_webhook.go
  pkg/apiserver/experiment/experiment.go
  pkg/core/archive_experiment.go
Labels: needs-cherry-pick-1.0, status/LGT2, status/can-merge, type/bug-fix

#922 [update] add status.FailedMessage
  api/v1alpha1/common_types.go
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  controllers/common/types.go
  controllers/twophase/types.go
  manifests/crd.yaml
  pkg/apiserver/experiment/experiment.go
Labels: needs-cherry-pick-1.0, status/LGT1, status/PTAL, status/can-merge

#931 [update] add status.FailedMessage in Release 1.0
  api/v1alpha1/common_types.go
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  controllers/common/types.go
  controllers/twophase/types.go
  manifests/crd.yaml
  pkg/apiserver/experiment/experiment.go
Labels: status/LGT1

#928 [update] add DeleteIncompleteExperiments
  pkg/core/archive_experiment.go
  pkg/core/event.go
  pkg/store/event/event.go
  pkg/store/experiment/experiment.go
Labels: needs-cherry-pick-1.0, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#936 clean github action
  .github/workflows/upload_latest_install_files.yml
  .github/workflows/upload_release_install_files.yml
Labels: needs-cherry-pick-1.0, status/LGT2, status/can-merge

#898 feat: i18n support and dark mode
  ui/package.json
  ui/src/App.tsx
  ui/src/components/AdvancedOptions/index.tsx
  ui/src/components/AffectedPods/index.tsx
  ui/src/components/ArchiveDuration/index.tsx
  ui/src/components/ArchiveNumberOf/index.tsx
  ui/src/components/ConfirmDialog/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/components/ExperimentListItem/index.tsx
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/NewExperiment/Stepper/Basic.tsx
  ui/src/components/NewExperiment/Stepper/Schedule.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/ScopePodsTable.tsx
  ui/src/components/NewExperiment/Stepper/Target/Network.tsx
  ui/src/components/NewExperiment/Stepper/Target/Pod.tsx
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/Stepper/Target/Time.tsx
  ui/src/components/NewExperiment/Stepper/Target/images/pod-lifecycle.svg
  ui/src/components/NewExperiment/Stepper/Target/index.tsx
  ui/src/components/NewExperiment/Stepper/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/PaperTop/index.tsx
  ui/src/components/StatusPanel/index.tsx
  ui/src/components/T/index.tsx
  ui/src/components/Tooltip/index.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/components/TopContainer/MobileNavigation.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/messages.ts
  ui/src/i18n/zh.json
  ui/src/images/logo-mini-white.svg
  ui/src/images/logo-white.svg
  ui/src/lib/d3/chaosBarChart.ts
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/dayjs.ts
  ui/src/lib/formikhelpers.ts
  ui/src/lib/utils.ts
  ui/src/pages/ArchiveReport/index.tsx
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Overview/index.tsx
  ui/src/pages/Settings/index.tsx
  ui/src/reducers/index.ts
  ui/src/routes.tsx
  ui/src/slices/experiments.ts
  ui/src/slices/experiments.type.ts
  ui/src/slices/navigation.ts
  ui/src/slices/settings.ts
  ui/src/theme.ts
  ui/yarn.lock
Labels: component/chaos-dashboard, needs-cherry-pick-1.0, status/LGT2, status/can-merge

#903 update documents for iochaos
  website/docs/user_guides/io_chaos.md
  website/docs/user_guides/pod_chaos.md
  website/docs/user_guides/sidecar_configmap.md
  website/docs/user_guides/sidecar_template.md
  website/sidebars.js
Labels: needs-cherry-pick-1.0, status/LGT3, status/can-merge

#941 feat: i18n support and dark mode
  ui/package.json
  ui/src/App.tsx
  ui/src/components/AdvancedOptions/index.tsx
  ui/src/components/AffectedPods/index.tsx
  ui/src/components/ArchiveDuration/index.tsx
  ui/src/components/ArchiveNumberOf/index.tsx
  ui/src/components/ConfirmDialog/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/components/ExperimentListItem/index.tsx
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/NewExperiment/Stepper/Basic.tsx
  ui/src/components/NewExperiment/Stepper/Schedule.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/ScopePodsTable.tsx
  ui/src/components/NewExperiment/Stepper/Target/Network.tsx
  ui/src/components/NewExperiment/Stepper/Target/Pod.tsx
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/Stepper/Target/Time.tsx
  ui/src/components/NewExperiment/Stepper/Target/images/pod-lifecycle.svg
  ui/src/components/NewExperiment/Stepper/Target/index.tsx
  ui/src/components/NewExperiment/Stepper/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/PaperTop/index.tsx
  ui/src/components/StatusPanel/index.tsx
  ui/src/components/T/index.tsx
  ui/src/components/Tooltip/index.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/components/TopContainer/MobileNavigation.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/messages.ts
  ui/src/i18n/zh.json
  ui/src/images/logo-mini-white.svg
  ui/src/images/logo-white.svg
  ui/src/lib/d3/chaosBarChart.ts
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/dayjs.ts
  ui/src/lib/formikhelpers.ts
  ui/src/lib/utils.ts
  ui/src/pages/ArchiveReport/index.tsx
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Overview/index.tsx
  ui/src/pages/Settings/index.tsx
  ui/src/reducers/index.ts
  ui/src/routes.tsx
  ui/src/slices/experiments.ts
  ui/src/slices/experiments.type.ts
  ui/src/slices/navigation.ts
  ui/src/slices/settings.ts
  ui/src/theme.ts
  ui/yarn.lock
Labels: status/LGT1

#942 refine not found error log
  controllers/httpchaos_controller.go
  controllers/iochaos_controller.go
  controllers/networkchaos_controller.go
  controllers/podchaos_controller.go
  controllers/stresschaos_controller.go
  controllers/timechaos_controller.go
Labels: needs-cherry-pick-1.0, status/LGT2, status/PTAL, status/can-merge

#943 refine not found error log
  controllers/iochaos_controller.go
  controllers/networkchaos_controller.go
  controllers/podchaos_controller.go
  controllers/stresschaos_controller.go
  controllers/timechaos_controller.go
Labels: status/LGT1, status/PTAL, type/1.0-cherry-pick

#946 fix: pod deletion caused twophase phase=Failed chaos.
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/podnetworkmanager/podnetworkmanager.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/twophase/types.go
Labels: contribution, needs-cherry-pick-0.9, needs-cherry-pick-1.0, status/LGT2, status/can-merge

#957 add pod status to iochaos event
  controllers/iochaos/types.go
Labels: needs-cherry-pick-1.0, status/LGT2, status/can-merge

#960 fix: tiny errors in frontend
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/pages/ExperimentDetail/index.tsx
Labels: needs-cherry-pick-1.0, status/LGT2, status/can-merge

#956 chore: follow up fix pause resume while pod not found or not running.
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/podnetworkmanager/podnetworkmanager.go
  controllers/networkchaos/trafficcontrol/types.go
Labels: contribution, needs-cherry-pick-1.0, status/LGT1, status/can-merge

#968 fix: validation problem in dashboard
  pkg/apivalidator/scope_validator.go
  ui/src/components/ExperimentListItem/index.tsx
Labels: component/chaos-dashboard, needs-cherry-pick-1.0, status/LGT2, status/can-merge

#872 [add] Support namespace scoped chaos
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/common/types_test.go
  controllers/httpchaos_controller.go
  controllers/iochaos_controller.go
  controllers/kernelchaos_controller.go
  controllers/networkchaos_controller.go
  controllers/podchaos_controller.go
  controllers/stresschaos_controller.go
  controllers/timechaos_controller.go
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/controller.go
  pkg/utils/selector.go
  pkg/webhook/config/watcher/config.go
  pkg/webhook/config/watcher/config_test.go
  pkg/webhook/config/watcher/watcher.go
  pkg/webhook/config/watcher/watcher_test.go
Labels: contribution, needs-cherry-pick-1.0, status/LGT2, status/can-merge

#969 Add a flag to control the version of Chaos Mesh in install.sh
  hack/update_install_script.sh
  install.sh
Labels: component/scripts, needs-cherry-pick-1.0, status/LGT3, status/can-merge

#971 [add] Support namespace scoped chaos (#872)
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/common/types_test.go
  controllers/iochaos_controller.go
  controllers/kernelchaos_controller.go
  controllers/networkchaos_controller.go
  controllers/podchaos_controller.go
  controllers/stresschaos_controller.go
  controllers/timechaos_controller.go
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/controller.go
  pkg/utils/selector.go
  pkg/webhook/config/watcher/config.go
  pkg/webhook/config/watcher/config_test.go
  pkg/webhook/config/watcher/watcher.go
  pkg/webhook/config/watcher/watcher_test.go
Labels: contribution, status/LGT1

#972 [update] fix multiple events have been recoreded
  pkg/collector/collector.go
Labels: needs-cherry-pick-1.0, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#975 [update] fix multiple events have been recoreded
  pkg/collector/collector.go
Labels: status/LGT1

#974 Release v1.0
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/LGT2

#976 Release chart-0.3.0
  helm/chaos-mesh/Chart.yaml
Labels: status/LGT2

#977 docs: v1.0.0
  website/docs/releases/v1.0.0.md
  website/sidebars.js
  website/versioned_docs/version-1.0.0/development_guides/dev_hello_world.md
  website/versioned_docs/version-1.0.0/development_guides/develop.md
  website/versioned_docs/version-1.0.0/development_guides/setup_env.md
  website/versioned_docs/version-1.0.0/faqs.md
  website/versioned_docs/version-1.0.0/installation/get_started_on_kind.md
  website/versioned_docs/version-1.0.0/installation/get_started_on_minikube.md
  website/versioned_docs/version-1.0.0/installation/installation.md
  website/versioned_docs/version-1.0.0/overview.md
  website/versioned_docs/version-1.0.0/releases/v0.8.0.md
  website/versioned_docs/version-1.0.0/releases/v0.9.0.md
  website/versioned_docs/version-1.0.0/releases/v1.0.0.md
  website/versioned_docs/version-1.0.0/use_cases/multi_data_centers.md
  website/versioned_docs/version-1.0.0/user_guides/experiment_scope.md
  website/versioned_docs/version-1.0.0/user_guides/io_chaos.md
  website/versioned_docs/version-1.0.0/user_guides/kernel_chaos.md
  website/versioned_docs/version-1.0.0/user_guides/network_chaos.md
  website/versioned_docs/version-1.0.0/user_guides/pod_chaos.md
  website/versioned_docs/version-1.0.0/user_guides/run_chaos_experiment.md
  website/versioned_docs/version-1.0.0/user_guides/stress_chaos.md
  website/versioned_docs/version-1.0.0/user_guides/time_chaos.md
  website/versioned_sidebars/version-1.0.0-sidebars.json
  website/versions.json
Labels: status/LGT1, status/LGT2

#979 Use v1.0.0 tag
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/LGT2

#978 Add the announcement blog
  website/blog/2020-9-18-chaos-mesh-action-integrate-chaos-engineering-into-your-ci.md
  website/blog/2020-9-25-chaos-mesh-1.0-chaos-engineering-on-kubernetes-made-easier.md
  website/static/img/chaos-dashboard.gif
  website/static/img/chaos-mesh-1.0.png
  website/static/img/chaos-status.png
Labels: status/LGT2

#982 fix: link of release note
  website/blog/2020-9-25-chaos-mesh-1.0-chaos-engineering-on-kubernetes-made-easier.md
Labels: status/LGT2, status/can-merge

#983 fix website: only one daemon is created by default
  website/docs/installation/get_started_on_kind.md
  website/docs/installation/get_started_on_minikube.md
  website/docs/installation/installation.md
  website/versioned_docs/version-0.9.0/installation/get_started_on_kind.md
  website/versioned_docs/version-0.9.0/installation/get_started_on_minikube.md
  website/versioned_docs/version-0.9.0/installation/installation.md
  website/versioned_docs/version-0.9.1/installation/get_started_on_kind.md
  website/versioned_docs/version-0.9.1/installation/get_started_on_minikube.md
  website/versioned_docs/version-0.9.1/installation/installation.md
  website/versioned_docs/version-1.0.0/installation/get_started_on_kind.md
  website/versioned_docs/version-1.0.0/installation/get_started_on_minikube.md
  website/versioned_docs/version-1.0.0/installation/installation.md
Labels: contribution, status/LGT2

#927 Update some information in Readme
  README.md
Labels: status/LGT2, status/can-merge

#955 add timezone variable in install.sh
  hack/update_install_script.sh
  install.sh
Labels: component/scripts, contribution, needs-cherry-pick-1.0, status/LGT3, status/can-merge

#989 Update the contributing guide
  CONTRIBUTING.md
Labels: status/LGT3

#994 fix: remove rbac deprecation
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/prometheus-rbac.yaml
  install.sh
  manifests/tiller-rbac.yaml
Labels: contribution, status/LGT2, status/can-merge

#997 Resize image for chaos-mesh-action-integrate-chaos-engineering-into-your-ci.md
  website/blog/2020-9-18-chaos-mesh-action-integrate-chaos-engineering-into-your-ci.md
  website/static/img/chaos-mesh-action-integrate-in-the-ci-workflow.png
Labels: status/LGT2, status/can-merge

#987 Add markdown link checker in CI
  .github/workflows/checklink.yaml
Labels: contribution, status/LGT2, status/can-merge

#991 add a check to avoid injectin NetworkChaos on a pod with `hostNetwork: true`
  controllers/podnetworkchaos/types.go
  test/e2e/chaos/basic.go
Labels: status/LGT2, status/can-merge

#999 bugfix: update broken link & update link-check stragegy
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/checklink.yaml
  .github/workflows/checklink_config.json
  ADOPTERS.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  website/blog/2020-07-28-chaos-mesh-join-cncf-sandbox-project.md
  website/docs/faqs.md
  website/versioned_docs/version-0.9.0/faqs.md
  website/versioned_docs/version-0.9.0/user_guides/io_chaos.md
  website/versioned_docs/version-0.9.1/faqs.md
  website/versioned_docs/version-0.9.1/user_guides/io_chaos.md
  website/versioned_docs/version-1.0.0/faqs.md
Labels: contribution, status/LGT2

#995 add default DOCKER_REGISTRY for makefile
  Makefile
Labels: component/scripts, contribution, improve/Refine, status/LGT2, status/can-merge

#924 docs: reconsitution
  README.md
  helm/chaos-mesh/README.md
  website/docs/chaos_experiments/io_chaos.md
  website/docs/chaos_experiments/kernel_chaos.md
  website/docs/chaos_experiments/network_chaos.md
  website/docs/chaos_experiments/pod_chaos.md
  website/docs/chaos_experiments/stress_chaos.md
  website/docs/chaos_experiments/time_chaos.md
  website/docs/concepts/chaos-engineering.md
  website/docs/get_started/get_started_on_kind.md
  website/docs/get_started/get_started_on_minikube.md
  website/docs/get_started/installation.md
  website/docs/overview/aichitecture.md
  website/docs/overview/features.md
  website/docs/overview/what_is_chaos_mesh.md
  website/docs/use_cases/multi_data_centers.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: documentation, status/LGT2, status/PTAL, status/can-merge

#1006 minor fix on install.sh
  install.sh
Labels: status/LGT2, status/can-merge
