Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-01, with the labels that each got.

#101 Bump deployment api version to apps/v1
  helm/chaos-mesh/templates/collector-mysql.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/dashboard-deployment.yaml
  pkg/collector/collector.go
Labels: contribution

#121 Fix the issue that io delay injected does not take effect
  Makefile
  cmd/controller-manager/main.go
  controllers/iochaos/fs/types.go
  doc/io_chaos.md
  doc/sidecar_configmap.md
  examples/chaosfs-configmap/etcd-configmap.yaml
  examples/chaosfs-configmap/pd-configmap.yaml
  examples/chaosfs-configmap/tikv-configmap.yaml
  examples/io-delay-example.yaml
  go.mod
  go.sum
  images/chaos-scripts/Dockerfile
  pkg/chaosfs/server.go
  pkg/utils/coalescer.go
  scripts/init.sh
  scripts/wait-fuse.sh
Labels: priority/P1, type/bug-fix

#119 Add pod_chaos.md
  doc/pod_chaos.md
Labels: documentation, status/ReqChange

#116 chaosdaemon: check if qdisc exists before deleting it
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/podchaos/podfailure/types.go
  go.mod
  go.sum
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/netem.go
  pkg/chaosdaemon/netem_server.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/util.go
Labels: priority/P2, type/bug-fix

#139 doc: add some common errnos to iochaos document
  doc/io_chaos.md
Labels: documentation

#125 Add roadmap for v1.0
  ROADMAP.md
Labels: status/PTAL

#149 fix issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/question.md
Labels: status/PTAL

#152 Docs: add FAQs
  README.md
  doc/faqs.md
Labels: status/PTAL

#168 Adapt the install command to the helm 3.x version.
  README.md
Labels: contribution, documentation, status/PTAL

#164 Support containerd for network chaos
  README.md
  cmd/chaos-daemon/main.go
  go.mod
  go.sum
  helm/chaos-mesh/templates/chaos-daemon-deployment.yaml
  helm/chaos-mesh/values.yaml
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/util.go
Labels: component/operator, contribution, reviews/need-LGT3, status/PTAL

#172 Make scheduler and duration optional for apis
  api/v1alpha1/common_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  controllers/iochaos/fs/util.go
  controllers/iochaos_controller_test.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos_controller_test.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/podchaos_controller_test.go
  controllers/twophase/types.go
  manifests/crd.yaml
Labels: component/operator, reviews/need-LGT3, status/PTAL, type/enhancement
