Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-05, with the labels that each got.

#460 Use a global config to keep daemon ports
  controllers/common/config.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/ipset/ipset.go
  controllers/networkchaos/iptable/iptable.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/tbf/types.go
  controllers/networkchaos/tc/tc.go
  controllers/podchaos/containerkill/types.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
Labels: status/can-merge

#459 remove hook from helm chart
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/post-install-create-cert-job.yaml
  helm/chaos-mesh/templates/post-install-webhook-job.yaml
  helm/chaos-mesh/templates/pre-delete-job.yaml
  helm/chaos-mesh/templates/webhook-configuration.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: component/helm, status/PTAL, status/can-merge

#415 Support force clean finalizer in networkchaos/netem
  controllers/common/types.go
  controllers/networkchaos/netem/types.go
  examples/clean-finalizer/README.md
  examples/clean-finalizer/block-clean-finalizer.yaml
  examples/clean-finalizer/chaos.yaml
  examples/clean-finalizer/setup.sh
  examples/clean-finalizer/system-under-test.yaml
  examples/clean-finalizer/teardown.sh
  examples/clean-finalizer/test.sh
  go.mod
  go.sum
Labels: component/operator, contribution, status/can-merge

#470 fix typo
  README.md
  ROADMAP.md
  doc/run_chaos_mesh.md
  doc/stress_chaos.md
  examples/chaosfs-configmap/cockroachdb-configmap.yaml
Labels: status/PTAL, status/can-merge

#473 Revise e2e port-forward function
  go.mod
  go.sum
  test/e2e/chaos/basic.go
  test/e2e/config/config.go
  test/e2e/config/restclientgetter.go
  test/e2e/util/portforward/portforward.go
Labels: area/e2e, status/can-merge

#476 replace nginx with e2e helper in pod failure e2e
  test/e2e/chaos/basic.go
Labels: status/can-merge

#497 Remove mysql client in the e2e image
  test/image/e2e/Dockerfile
Labels: status/can-merge

#481 New UI implementation of creating a new experiment
  ui/src/App.tsx
  ui/src/components/PageBar/index.tsx
  ui/src/components/ToolBar/index.tsx
  ui/src/pages/Experiments/New.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/routes.tsx
Labels: component/dashboard, status/can-merge

#466 Support helm-less install
  Makefile
  hack/update_install_script.sh
  install.sh
Labels: component/scripts, status/PTAL, status/can-merge

#478 Support force clean finalizer in various chaos types
  controllers/kernelchaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/tbf/types.go
  controllers/podchaos/podfailure/types.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
Labels: contribution, status/can-merge

#506 use `helm template` instead of `--dry-run`
  Makefile
  hack/update_install_script.sh
  install.sh
Labels: component/scripts, status/PTAL

#504 Remove set clean start to true
  test/e2e/e2e_test.go
Labels: area/e2e, status/can-merge

#461 Validates the scheduler
  api/v1alpha1/common_types.go
  api/v1alpha1/common_validation.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/iochaos_webhook_test.go
  api/v1alpha1/kernelchaos_webhook.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/podchaos_webhook.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/timechaos_webhook.go
  controllers/iochaos/fs/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/tbf/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/reconciler/types.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  pkg/collector/collector.go
Labels: contribution, status/PTAL

#511 fix install.sh
  install.sh
Labels: component/scripts, status/PTAL, status/can-merge

#507 Record chaos event to dbstore
  .gitignore
  pkg/apiserver/event/event.go
  pkg/collector/collector.go
  pkg/collector/server.go
  pkg/core/event.go
  pkg/core/pod_record.go
  pkg/store/event/event.go
  pkg/store/podrecord/pod_record.go
  pkg/store/store.go
  test/e2e/chaos/basic.go
  test/e2e/config/config.go
Labels: component/chaos-server, status/PTAL

#517 Use annotation to pause chaos
  api/v1alpha1/common_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_stresschaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  controllers/common/types.go
  doc/pause.md
  manifests/crd.yaml
  test/e2e/chaos/basic.go
Labels: status/can-merge

#519 Add a script to generate go code from proto files
  Makefile
  hack/genproto.sh
Labels: status/can-merge

#513 Add injected grpc method
  go.mod
  go.sum
  hack/run-e2e.sh
  pkg/chaosfs/pb/injure.pb.go
  pkg/chaosfs/pb/injure.proto
  pkg/chaosfs/server.go
  pkg/chaosfs/server_test.go
  test/config.go
  test/e2e/chaos/basic.go
  test/e2e/config/config.go
  test/pkg/fixture/fixture.go
Labels: status/can-merge

#514 Refactor nextStart and nextRecover
  api/v1alpha1/common_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_stresschaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  manifests/crd.yaml
Labels: component/operator, contribution, status/can-merge

#512 [API] experiments/state
  pkg/apiserver/experiment/experiment.go
Labels: status/PTAL, status/can-merge

#518 Archive experiment to db
  pkg/collector/collector.go
  pkg/core/archive_experiment.go
  pkg/store/experiment/experiment.go
Labels: component/chaos-server, status/can-merge

#530 remove next_start from iochaos
  api/v1alpha1/iochaos_types.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_stresschaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  manifests/crd.yaml
  pkg/apiserver/common/common.go
  pkg/apiserver/experiment/experiment.go
  pkg/chaosfs/pb/injure.pb.go
  pkg/webhook/config/config.go
  pkg/webhook/config/watcher/watcher.go
  test/action.go
Labels: component/operator

#529 Rename field to podRecords
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/iochaos/fs/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/tbf/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  pkg/collector/collector.go
Labels: component/chaos-server

#527 add swagger ui
  .gitignore
  Makefile
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_stresschaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  doc/docs.go
  go.mod
  go.sum
  hack/generate_swagger_spec.sh
  manifests/crd.yaml
  pkg/apiserver/common/common.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/server.go
  pkg/apiserver/status_code/status_code.go
  pkg/apiserver/utils/error.go
Labels: component/chaos-server

#523 Implement list experiments
  api/v1alpha1/common_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  controllers/twophase/twophase_suite_test.go
  doc/docs.go
  pkg/apiserver/common/common.go
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-server, status/can-merge

#525 create PodChaos by API
  doc/docs.go
  go.mod
  install.sh
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/server.go
  pkg/apivalidator/base_validator.go
  pkg/apivalidator/scope_validator.go
Labels: component/chaos-server, status/can-merge

#531 Disable ptrace unit test temporarily
  Makefile
Labels: status/can-merge

#532 support create NetworkChaos by API
  doc/docs.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/server.go
  pkg/apivalidator/scope_validator.go
Labels: component/chaos-server, status/PTAL, status/can-merge

#537 fix kernel chaos panic
  controllers/kernelchaos/types.go
  pkg/utils/chaosdaemon.go
  pkg/utils/chaosdaemon_test.go
Labels: status/can-merge

#536 Support creating other types of chaos
  doc/docs.go
  pkg/apiserver/experiment/experiment.go
Labels: status/can-merge

#524 Support experiment deletion
  api/v1alpha1/common_types.go
  api/v1alpha1/kinds.go
  doc/docs.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/utils/error.go
Labels: component/chaos-server, status/can-merge

#526 update store/event/event.go
  pkg/apiserver/event/event.go
  pkg/core/event.go
  pkg/store/event/event.go
Labels: component/chaos-server, status/PTAL, status/can-merge

#505 Refine docs
  doc/DEVELOP.md
  doc/deploy.md
  doc/dev_hello_world.md
  doc/faqs.md
  doc/get_started_on_kind.md
  doc/get_started_on_minikube.md
  doc/io_chaos.md
  doc/kernel_chaos.md
  doc/network_chaos.md
  doc/pause.md
  doc/pod_chaos.md
  doc/run_chaos_mesh.md
  doc/setup_env.md
  doc/sidecar_configmap.md
  doc/stress_chaos.md
  doc/time_chaos.md
Labels: status/can-merge

#549 Use taily-build to speed up binary building
  Makefile
Labels: contribution

#542 pause and start experiment by API
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/kinds.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  doc/docs.go
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-server, status/can-merge

#548 Fix stale injection config
  cmd/controller-manager/main.go
Labels: status/can-merge

#515 StressChaos extension for more stress-ng options
  api/v1alpha1/stresschaos_types.go
  examples/burn-cpu.yaml
Labels: component/operator, contribution, status/can-merge

#551 Fix StressChaos CRD
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/pingcap.com_stresschaos.yaml
  manifests/crd.yaml
Labels: contribution, status/can-merge

#541 Feat/experiments ui
  ui/package.json
  ui/src/App.tsx
  ui/src/components/Container/index.tsx
  ui/src/components/FormField/SelectField.tsx
  ui/src/components/FormField/TextField.tsx
  ui/src/components/FormField/index.ts
  ui/src/components/InfoList/index.tsx
  ui/src/components/NavMenu/index.tsx
  ui/src/components/VerticalTabs/index.tsx
  ui/src/pages/Experiments/Context.tsx
  ui/src/pages/Experiments/Detail.tsx
  ui/src/pages/Experiments/New.tsx
  ui/src/pages/Experiments/Steps/Basic.tsx
  ui/src/pages/Experiments/Steps/Schedule.tsx
  ui/src/pages/Experiments/Steps/Scope.tsx
  ui/src/pages/Experiments/Steps/Target/Network.tsx
  ui/src/pages/Experiments/Steps/Target/Pod.tsx
  ui/src/pages/Experiments/Steps/Target/index.tsx
  ui/src/pages/Experiments/Steps/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Experiments/types.ts
  ui/yarn.lock
Labels: component/dashboard, status/can-merge

#528 Add metrics to Chaos Mesh controller
  api/webhook/inject.go
  cmd/controller-manager/main.go
  controllers/metrics/metrics.go
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  pkg/webhook/config/watcher/watcher.go
  pkg/webhook/config/watcher/watcher_test.go
  pkg/webhook/inject/inject.go
  pkg/webhook/inject/inject_test.go
Labels: status/can-merge

#558 update experiment_state
  pkg/apiserver/experiment/experiment.go
Labels: status/can-merge

#559 use v1alpha1.AllKinds instead of filtering crd
  pkg/apiserver/common/common.go
Labels: component/chaos-server, type/bug-fix

#553 Fix CI
  .github/workflows/ci.yml
Labels: contribution, status/can-merge

#562 fix swagger api router
  pkg/apiserver/event/event.go
Labels: type/bug-fix

#561 Bump prometheus version to latest
  helm/chaos-mesh/values.yaml
Labels: status/can-merge

#555 Cache `$(GOBIN)/*` in Makefile
  Makefile
Labels: contribution, status/can-merge

#546 [API]listEventsByExperiment
  pkg/apiserver/event/event.go
  pkg/core/event.go
  pkg/store/event/event.go
Labels: component/chaos-server, status/PTAL

#479 Fix pause resume logic
  controllers/common/types.go
  controllers/twophase/types.go
  test/e2e/chaos/basic.go
Labels: status/PTAL, status/can-merge, type/bug-fix

#566 Fix log name in chaos server
  pkg/collector/server.go
Labels: status/can-merge

#568 update roadmap
  PROJECT
  ROADMAP.md
Labels: status/can-merge

#564 [API]add experiment detail
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-server, status/PTAL

#556 Support pods filtering by selectors
  pkg/apiserver/common/common.go
  pkg/apiserver/experiment/experiment.go
  pkg/apivalidator/base_validator.go
  pkg/apivalidator/scope_validator.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
Labels: component/chaos-server, status/can-merge

#574 fix swagger api
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-server, status/can-merge, type/bug-fix

#573 fix groupimports in CI
  .github/workflows/ci.yml
Labels: status/can-merge

#575 set spec.Bandwidth and spec.Direction only when the action is bandwidth
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-server, status/PTAL, status/can-merge, type/bug-fix
