Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-10, with the labels that each got.

#1008 ingress uses correct serviceName now
  helm/chaos-mesh/templates/ingress.yaml
Labels: contribution, status/LGT2, status/can-merge

#1010 Remove Deadlinks from Readme
  README.md
Labels: contribution, status/LGT2, status/can-merge

#1013 bugfix: [link-checker] ignore all links of github and some others
  .github/workflows/checklink_config.json
Labels: contribution, status/LGT2

#1012 Codecov Badge Updated
  README.md
Labels: contribution, status/LGT2, status/can-merge

#1015 adding to chaos mesh concept docs
  website/docs/concepts/blast-radius.md
  website/sidebars.js
  website/versioned_docs/version-0.9.0/concepts/blast-radius.md
  website/versioned_docs/version-0.9.0/concepts/chaos-engineering.md
  website/versioned_docs/version-0.9.1/concepts/blast-radius.md
  website/versioned_docs/version-0.9.1/concepts/chaos-engineering.md
  website/versioned_docs/version-1.0.0/concepts/blast-radius.md
  website/versioned_docs/version-1.0.0/concepts/chaos-engineering.md
  website/versioned_sidebars/version-0.9.0-sidebars.json
  website/versioned_sidebars/version-0.9.1-sidebars.json
  website/versioned_sidebars/version-1.0.0-sidebars.json
Labels: contribution, status/LGT2, status/can-merge

#1019 fix: footer get started link address
  website/docusaurus.config.js
Labels: contribution, status/LGT2, status/can-merge

#1021 docs: remove v0.9.0
  website/versioned_docs/version-0.9.0/concepts/blast-radius.md
  website/versioned_docs/version-0.9.0/concepts/chaos-engineering.md
  website/versioned_docs/version-0.9.0/development_guides/dev_hello_world.md
  website/versioned_docs/version-0.9.0/development_guides/develop.md
  website/versioned_docs/version-0.9.0/development_guides/setup_env.md
  website/versioned_docs/version-0.9.0/faqs.md
  website/versioned_docs/version-0.9.0/installation/get_started_on_kind.md
  website/versioned_docs/version-0.9.0/installation/get_started_on_minikube.md
  website/versioned_docs/version-0.9.0/installation/installation.md
  website/versioned_docs/version-0.9.0/overview.md
  website/versioned_docs/version-0.9.0/releases/v0.8.0.md
  website/versioned_docs/version-0.9.0/releases/v0.9.0.md
  website/versioned_docs/version-0.9.0/use_cases/multi_data_centers.md
  website/versioned_docs/version-0.9.0/user_guides/experiment_scope.md
  website/versioned_docs/version-0.9.0/user_guides/io_chaos.md
  website/versioned_docs/version-0.9.0/user_guides/kernel_chaos.md
  website/versioned_docs/version-0.9.0/user_guides/network_chaos.md
  website/versioned_docs/version-0.9.0/user_guides/pod_chaos.md
  website/versioned_docs/version-0.9.0/user_guides/run_chaos_experiment.md
  website/versioned_docs/version-0.9.0/user_guides/sidecar_configmap.md
  website/versioned_docs/version-0.9.0/user_guides/sidecar_template.md
  website/versioned_docs/version-0.9.0/user_guides/stress_chaos.md
  website/versioned_docs/version-0.9.0/user_guides/time_chaos.md
  website/versioned_sidebars/version-0.9.0-sidebars.json
  website/versions.json
Labels: status/LGT2, status/can-merge

#1022 docs: add netlify badge
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/versioned_sidebars/version-0.9.1-sidebars.json
  website/versioned_sidebars/version-1.0.0-sidebars.json
  website/yarn.lock
Labels: status/LGT2, status/can-merge

#954 add host-network flag in install.sh
  hack/update_install_script.sh
  install.sh
Labels: component/scripts, contribution, needs-cherry-pick-1.0, status/LGT2, status/can-merge

#996 Start local docker registry for building kind cluster if it doesn't exist
  hack/kind-cluster-build.sh
Labels: contribution, status/LGT3, status/PTAL, status/can-merge

#1028 fix install shell bug
  install.sh
Labels: contribution, status/can-merge, type/bug-fix

#1030 add integration test action
  .github/workflows/integration_test.yml
  test/integration_test/README.md
  test/integration_test/network/delay_chaos.yaml
  test/integration_test/network/run.sh
  test/integration_test/run.sh
Labels: component/tests, status/PTAL, status/can-merge

#1032 upgrade toda to v0.1.3
  Dockerfile
Labels: needs-cherry-pick-1.0, status/can-merge

#1033 bugfix: fix config path of check-link & fix broken links
  .github/workflows/checklink.yaml
  .github/workflows/checklink_config.json
  website/docs/use_cases/multi_data_centers.md
  website/versioned_docs/version-0.9.1/use_cases/multi_data_centers.md
  website/versioned_docs/version-0.9.1/user_guides/sidecar_configmap.md
  website/versioned_docs/version-0.9.1/user_guides/sidecar_template.md
  website/versioned_docs/version-1.0.0/use_cases/multi_data_centers.md
Labels: contribution

#1036 bugfix: fix broken link
  website/blog/2020-01-15-chaos-mesh-your-chaos-engineering-solution.md
Labels: contribution, status/can-merge

#1031 use iptables to classify packets
  controllers/podnetworkchaos/types.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
Labels: needs-cherry-pick-1.0, status/LGT2, status/can-merge, type/bug-fix

#935 .*: implement the DNS chaos CRD API
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/dnschaos_type_test.go
  api/v1alpha1/dnschaos_webhook.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/controller-manager/main.go
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/dnschaos/types.go
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd.yaml
Labels: status/LGT2, status/PTAL, status/can-merge

#1040 fix: key identity problem
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/ScopePodsTable.tsx
Labels: needs-cherry-pick-1.0, status/can-merge

#1043 update architecture image
  static/chaos-mesh.svg
  website/static/img/chaos-mesh.svg
Labels: status/can-merge

#1037 docs:add a chaos demo in Get Started
  website/docs/get_started/run_chaos_experiment.md
  website/sidebars.js
Labels: first-time-contributor, status/LGT1, status/can-merge

#1046 chore: add error message in detail page
  ui/src/api/experiments.type.ts
  ui/src/components/EventsTable/index.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/ScopePodsTable.tsx
  ui/src/pages/ExperimentDetail/index.tsx
Labels: needs-cherry-pick-1.0, status/can-merge

#1051 integration test: install use local crd
  .github/workflows/integration_test.yml
Labels: component/tests, status/can-merge

#1052 Add the hacktoberfest blog
  website/blog/2020-10-14-chaos-mesh-x-hacktoberfest.md
  website/static/img/PR-count.png
  website/static/img/chaos-mesh-x-hacktoberfest.jpg
  website/static/img/hacktoberfest-shirt.png
Labels: status/can-merge

#1054 upgrade toda
  Dockerfile
Labels: needs-cherry-pick-1.0, status/can-merge

#1057 Fix a typo in the hacktoberfest blog
  website/blog/2020-10-14-chaos-mesh-x-hacktoberfest.md
Labels: status/can-merge

#1055 update readme document
  README.md
  website/blog/2020-9-18-chaos-mesh-action-integrate-chaos-engineering-into-your-ci.md
Labels: status/can-merge

#1062 fix: missing PartitionAction
  pkg/apiserver/experiment/experiment.go
Labels: needs-cherry-pick-1.0, status/can-merge, type/bug-fix

#1065 docs: v1.0.1
  website/package.json
  website/versioned_docs/version-1.0.1/chaos_experiments/io_chaos.md
  website/versioned_docs/version-1.0.1/chaos_experiments/kernel_chaos.md
  website/versioned_docs/version-1.0.1/chaos_experiments/network_chaos.md
  website/versioned_docs/version-1.0.1/chaos_experiments/pod_chaos.md
  website/versioned_docs/version-1.0.1/chaos_experiments/stress_chaos.md
  website/versioned_docs/version-1.0.1/chaos_experiments/time_chaos.md
  website/versioned_docs/version-1.0.1/concepts/blast-radius.md
  website/versioned_docs/version-1.0.1/concepts/chaos-engineering.md
  website/versioned_docs/version-1.0.1/development_guides/dev_hello_world.md
  website/versioned_docs/version-1.0.1/development_guides/develop.md
  website/versioned_docs/version-1.0.1/development_guides/setup_env.md
  website/versioned_docs/version-1.0.1/faqs.md
  website/versioned_docs/version-1.0.1/get_started/get_started_on_kind.md
  website/versioned_docs/version-1.0.1/get_started/get_started_on_minikube.md
  website/versioned_docs/version-1.0.1/get_started/installation.md
  website/versioned_docs/version-1.0.1/get_started/run_chaos_experiment.md
  website/versioned_docs/version-1.0.1/overview/aichitecture.md
  website/versioned_docs/version-1.0.1/overview/features.md
  website/versioned_docs/version-1.0.1/overview/what_is_chaos_mesh.md
  website/versioned_docs/version-1.0.1/releases/v0.8.0.md
  website/versioned_docs/version-1.0.1/releases/v0.9.0.md
  website/versioned_docs/version-1.0.1/releases/v1.0.0.md
  website/versioned_docs/version-1.0.1/use_cases/multi_data_centers.md
  website/versioned_docs/version-1.0.1/user_guides/experiment_scope.md
  website/versioned_sidebars/version-1.0.1-sidebars.json
  website/versions.json
Labels: documentation, status/can-merge, website

#1061 Use the chaos-mesh Helm repository
  website/docs/get_started/installation.md
  website/versioned_docs/version-0.9.1/installation/installation.md
  website/versioned_docs/version-1.0.0/installation/installation.md
Labels: documentation, first-time-contributor, website

#1066 update document
  website/versioned_docs/version-1.0.1/get_started/installation.md
Labels: documentation, website

#1073 fix: correct the broken links for get started doc.
  README.md
Labels: contribution

#1068 doc: add container kill example in pod chaos experiments doc.
  website/docs/chaos_experiments/pod_chaos.md
Labels: contribution, status/can-merge

#1011 fix bug in 'develop a new chaos' in website
  website/docs/development_guides/dev_hello_world.md
Labels: contribution, documentation, status/can-merge

#1075 import more db drivers
  cmd/chaos-dashboard/main.go
Labels: needs-cherry-pick-1.0, status/can-merge

#1077 fix: correct blog dead link to make lint happy.
  website/blog/2020-9-25-chaos-mesh-1.0-chaos-engineering-on-kubernetes-made-easier.md
Labels: contribution, status/can-merge

#1080 Fix twophase_suite_test.go applyAgain test
  controllers/twophase/twophase_suite_test.go
Labels: contribution, status/can-merge

#1084 chore: add who is using in website
  website/docusaurus.config.js
  website/src/data/features.js
  website/src/data/whoIsUsing.js
  website/src/pages/index.js
  website/src/pages/index.module.css
  website/src/styles/custom.css
  website/static/img/logos/celo.png
  website/static/img/logos/dailymotion.svg
  website/static/img/logos/fuxilab.png
  website/static/img/logos/juicefs.svg
  website/static/img/logos/meituandianping.png
  website/static/img/logos/pingcap.svg
  website/static/img/logos/pulsar.svg
  website/static/img/logos/qiniucloud.png
  website/static/img/logos/xpeng.png
  website/yarn.lock
Labels: status/can-merge

#1071 feat: add pprof register and config option for chaos dashboard.
  go.mod
  go.sum
  pkg/apiserver/server.go
Labels: contribution, status/can-merge

#1026 optimize local development install script
  CONTRIBUTING.md
  hack/local-up-chaos-mesh.sh
  hack/update_install_script.sh
  install.sh
Labels: component/scripts, contribution

#1059 some minor refine
  hack/update_install_script.sh
  pkg/bpm/bpm.go
  pkg/chaosdaemon/iochaos_server.go
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/tc_linux.go
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/util.go
Labels: status/PTAL, status/can-merge

#1093 Fix CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status/can-merge

#1029 feat: use YAML format as experiment description
  go.mod
  go.sum
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/experiment.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/server.go
  pkg/collector/collector.go
  pkg/core/archive_experiment.go
  pkg/core/experiment.go
  pkg/store/dbstore/store.go
  pkg/store/experiment/experiment.go
  pkg/store/store.go
  pkg/ttlcontroller/ttlcontroller.go
  ui/package.json
  ui/src/api/archives.type.ts
  ui/src/api/experiments.ts
  ui/src/api/experiments.type.ts
  ui/src/components/ArchiveDuration/index.tsx
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/JSONEditor/index.tsx
  ui/src/components/NewExperiment/Stepper/Basic.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/YAMLEditor/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/formikhelpers.ts
  ui/src/pages/ExperimentDetail/index.tsx
  ui/yarn.lock
Labels: component/chaos-dashboard, status/can-merge

#1034 feat: add global search for events, experiments and archives.
  ui/package.json
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/Search/index.tsx
  ui/src/components/SearchTrigger/index.tsx
  ui/src/components/Separate/index.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/hooks.ts
  ui/src/lib/search.ts
  ui/src/lib/utils.ts
  ui/src/slices/globalStatus.ts
  ui/yarn.lock
Labels: component/chaos-dashboard, first-time-contributor, status/can-merge, type/enhancement

#1103 fix error handling in chaos-dashboard to avoid panic
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-dashboard, needs-cherry-pick-1.0, status/can-merge, type/bug-fix

#1106 [update] update dashboard response
  go.sum
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/utils/error.go
Labels: component/chaos-dashboard, needs-cherry-pick-1.0, status/PTAL, status/can-merge
