Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-03, with the labels that each got.

#301 add Gallardot to contributor list
  CONTRIBUTORS
Labels: status/can-merge

#252 Support reorder in network delay chaos
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  manifests/crd.yaml
Labels: contribution, status/can-merge

#302 support docker mirror in install.sh
  doc/get_started_on_kind.md
  helm/chaos-mesh/templates/post-install-create-cert-job.yaml
  helm/chaos-mesh/templates/post-install-webhook-job.yaml
  helm/chaos-mesh/templates/pre-delete-job.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: component/scripts, status/can-merge

#304 add web-show example
  examples/web-show/deploy.sh
  examples/web-show/deployment.yaml
  examples/web-show/network-delay.yaml
  examples/web-show/service.yaml
Labels: documentation, status/can-merge

#306 use local file instead of downloading from github and ensure pod status
  examples/web-show/deploy.sh
  install.sh
Labels: component/scripts

#308 update install.sh
  install.sh
Labels: status/can-merge

#311 Reduce the number of kind nodes to 3
  examples/web-show/deploy.sh
  install.sh
Labels: component/scripts

#312 document: update link
  doc/get_started_on_minikube.md
Labels: contribution

#309 Fix test with proxy
  Makefile
Labels: contribution, status/can-merge

#273 support kernel chaos
  Makefile
  api/v1alpha1/kernelchaos_types.go
  cmd/controller-manager/main.go
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  controllers/kernelchaos/types.go
  controllers/kernelchaos_controller.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/podchaos/containerkill/types.go
  controllers/timechaos/types.go
  doc/kernel_chaos.md
  go.mod
  go.sum
  helm/chaos-mesh/templates/bpfki-daemonset.yaml
  helm/chaos-mesh/templates/collector-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  images/chaos-kernel/Dockerfile
  manifests/crd.yaml
  pkg/chaosdaemon/container.go
  pkg/chaosdaemon/container_test.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaoskernel/pb/bpfki.pb.go
  pkg/chaoskernel/pb/bpfki.proto
  pkg/utils/grpc.go
Labels: status/can-merge, type/enhancement

#316 Edit chaos collector database deployment to allow Affinity and Tolerations
  helm/chaos-mesh/templates/collector-mysql.yaml
Labels: contribution, status/can-merge

#318 Disable bpfki by default
  helm/chaos-mesh/templates/bpfki-daemonset.yaml
  helm/chaos-mesh/values.yaml
Labels: status/can-merge

#315 add more chaos examples for web-show
  examples/web-show/network-delay.yaml
  examples/web-show/pod-failure.yaml
  examples/web-show/pod-kill.yaml
Labels: status/can-merge

#323 Use the `pause` image to inject pod-failure chaos
  controllers/podchaos/podfailure/types.go
Labels: contribution, status/can-merge

#324 update README
  README.md
Labels: documentation, status/can-merge

#326 Edit chaos-daemon DaemonSet to allow Tolerations
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/values.yaml
Labels: contribution

#314 Add Unit test in `controllers/timechaos`
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/podchaos/containerkill/types.go
  controllers/test/types.go
  controllers/timechaos/timechaos_suite_test.go
  controllers/timechaos/types.go
  pkg/utils/chaosdaemon.go
  pkg/utils/selector.go
Labels: contribution, status/can-merge

#329 Update generated file
  api/v1alpha1/zz_generated.deepcopy.go
Labels: contribution, status/can-merge

#328 update README to decribe kernel chaos and merge daemonset.yaml
  README.md
  doc/kernel_chaos.md
  helm/chaos-mesh/templates/bpfki-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
Labels: component/helm, status/can-merge

#331 time-chaos: fix the length of fakeImage
  pkg/time/time_linux.go
Labels: component/operator, status/can-merge, type/bug-fix

#334 Add contribute info
  README.md
Labels: status/can-merge

#325 Support multiple containers and multiple processes for time chaos
  Makefile
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/pingcap.com_timechaos.yaml
  controllers/timechaos/types.go
  doc/time_chaos.md
  go.sum
  manifests/crd.yaml
  pkg/chaosdaemon/time_server.go
  pkg/chaosdaemon/util.go
  pkg/time/time_linux.go
  pkg/utils/graph.go
Labels: status/can-merge

#339 Upgrade acorn to version 7.1.1
  images/chaos-dashboard/package.json
  images/chaos-dashboard/yarn.lock
Labels: component/dashboard, status/can-merge

#340 update minimist to v1.2.2
  images/chaos-dashboard/package.json
  images/chaos-dashboard/yarn.lock
Labels: component/dashboard, status/can-merge

#337 Unit Tests for podchaos
  controllers/iochaos/fs/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/podchaos/containerkill/containerkill_suite_test.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podchaos_suite_test.go
  controllers/podchaos/podfailure/podfailure_suite_test.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/podkill_suite_test.go
  controllers/podchaos/podkill/types.go
  controllers/test/types.go
  controllers/timechaos/timechaos_suite_test.go
  controllers/timechaos/types.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
Labels: component/tests, contribution, status/can-merge

#343 Update Makefile, add `groupimports` to `.PHONY`
  Makefile
Labels: contribution, status/can-merge

#342 Unit Tests for twophase
  controllers/test/types.go
  controllers/twophase/twophase_suite_test.go
Labels: contribution, status/can-merge

#347 Fix a wrong pd iochaos example
  examples/chaosfs-configmap/pd-configmap.yaml
Labels: status/can-merge

#338 Refactoring validator
  api/v1alpha1/common_types.go
  api/v1alpha1/common_webhook.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/iochaos_webhook_test.go
  api/v1alpha1/kernelchaos_webhook.go
  api/v1alpha1/kernelchaos_webhook_test.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/podchaos_webhook.go
  api/v1alpha1/podchaos_webhook_test.go
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/timechaos_webhook.go
  api/v1alpha1/timechaos_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/webhook/validate.go
  cmd/controller-manager/main.go
  config/webhook/manifests.yaml
  helm/chaos-mesh/templates/post-install-webhook-job.yaml
  helm/chaos-mesh/templates/webhook-configuration.yaml
  pkg/webhook/validation/validate.go
Labels: component/operator, contribution, status/can-merge

#348 update web-show example
  examples/web-show/deploy.sh
Labels: status/can-merge

#349 Add stale github action to close stale issues/prs
  .github/workflows/stale.yml
Labels: status/can-merge

#351 Fix typo and update doc
  api/v1alpha1/iochaos_webhook_test.go
  api/v1alpha1/kernelchaos_webhook_test.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/timechaos_webhook_test.go
  doc/deploy.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
Labels: contribution, documentation, status/can-merge

#354 Add default value for `caBundle` field
  hack/kind-cluster-build.sh
  helm/chaos-mesh/templates/post-install-create-cert-job.yaml
  helm/chaos-mesh/templates/webhook-configuration.yaml
Labels: component/helm, status/can-merge, type/bug-fix

#364 Update README.md
  README.md
Labels: status/can-merge

#359 Update controller-gen version v0.2.5
  Dockerfile
Labels: component/helm, contribution, status/can-merge

#366 fix(helm): ignore entire webhook-configuration if certManager not enabled
  helm/chaos-mesh/templates/webhook-configuration.yaml
Labels: component/helm, contribution, status/can-merge

#369 Add post-upgrade hook when helm upgrade
  helm/chaos-mesh/templates/post-install-webhook-job.yaml
Labels: contribution, status/can-merge, type/bug-fix

#360 Support helm3 in `make install`
  Makefile
Labels: contribution, status/can-merge

#353 netm: Add Netem as new action for applying delay, loss etc. at same time
  api/v1alpha1/networkchaos_types.go
  config/crd/bases/pingcap.com_networkchaos.yaml
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/netem/types_test.go
  controllers/networkchaos/types.go
  controllers/networkchaos_controller_test.go
  controllers/twophase/types.go
  examples/network-netem-example.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/util.go
  pkg/utils/chaosdaemon.go
  pkg/utils/chaosdaemon_test.go
Labels: contribution, status/can-merge

#361 Set default value for correlation and jitter of NetworkChaos
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/networkchaos_webhook_test.go
  config/crd/bases/pingcap.com_networkchaos.yaml
  doc/network_chaos.md
  manifests/crd.yaml
Labels: component/operator, contribution, status/can-merge

#322 Init e2e framework
  .gitignore
  Makefile
  go.mod
  go.sum
  hack/e2e.sh
  hack/lib.sh
  hack/run-e2e.sh
  test/action.go
  test/config.go
  test/e2e/chaos/pod.go
  test/e2e/e2e.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
  test/image/e2e/Dockerfile
  test/pkg/fixture/fixture.go
  test/types.go
Labels: component/tests, status/PTAL, status/can-merge

#372 Add build args for make jobs in image-chaos-kernel
  Makefile
  images/chaos-kernel/Dockerfile
Labels: contribution, status/can-merge

#374 Build binary without vet and fmt
  .dockerignore
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: status/can-merge

#377 Build dashboard-server-frontend in docker
  images/chaos-dashboard/Dockerfile
Labels: contribution, status/can-merge

#380 remove scripts directory from `.dockerignore` file
  .dockerignore
  Makefile
Labels: component/scripts, status/can-merge, type/bug-fix

#383 fix typo
  pkg/ptrace/ptrace_linux.go
Labels: contribution, status/can-merge

#385 fix test unnamed results of the same type may be confusing warning
  controllers/timechaos/types.go
Labels: contribution, status/can-merge

#388 Fix wrong filename of .dockerignore
  images/chaos-dashboard/.dockerignore
Labels: contribution, status/can-merge

#389 clarify the usage of the value field in PodChaos
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/timechaos_types.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  doc/pod_chaos.md
  manifests/crd.yaml
Labels: contribution, documentation, status/can-merge
