Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-04, with the labels that each got.

#397 remove unused code in util file
  pkg/chaosdaemon/util.go
Labels: contribution, status/can-merge

#398 Fix: chaosfs pseudo random errno UT
  pkg/chaosfs/server_test.go
Labels: contribution, status/can-merge

#387 Using more Validator and Defaulter, more friendly for user
  api/v1alpha1/common_validation.go
  api/v1alpha1/common_webhook.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/iochaos_types_test.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/iochaos_webhook_test.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/kernelchaos_webhook.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_types_test.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/podchaos_types_test.go
  api/v1alpha1/podchaos_webhook.go
  api/v1alpha1/podchaos_webhook_test.go
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/timechaos_webhook.go
  api/v1alpha1/timechaos_webhook_test.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  manifests/crd.yaml
  pkg/utils/scheduler.go
Labels: contribution, status/PTAL, status/can-merge

#402 Add permission to approve certificate on kubernetes 1.18
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
Labels: status/can-merge

#410 replace logo to Chaos Mesh™
  README.md
  static/logo.png
Labels: status/can-merge

#417 Revise install scripts
  Makefile
  hack/e2e.sh
  hack/kind-cluster-build.sh
  hack/lib.sh
  hack/tools.sh
  install.sh
Labels: status/can-merge

#427 make instal.sh executable
  install.sh
Labels: status/can-merge

#428 format tools.go with gofmt -s
  tools.go
Labels: contribution, status/can-merge

#408 Add e2e into CI
  Makefile
  ci/pingcap_chaos_mesh_build_kind.groovy
  hack/e2e.sh
  hack/prepare-e2e.sh
  hack/run-e2e.sh
  test/config.go
  test/e2e/chaos/basic.go
  test/e2e/config/config.go
  test/e2e/e2e.go
  test/e2e/e2e_test.go
Labels: status/can-merge

#429 format inject_test.go config_test.go with gofmt -s
  pkg/webhook/config/config_test.go
  pkg/webhook/inject/inject_test.go
Labels: contribution

#370 Pause experiment
  api/v1alpha1/common_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/timechaos_types.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  controllers/common/types.go
  controllers/iochaos_controller.go
  controllers/networkchaos_controller.go
  controllers/podchaos_controller.go
  controllers/reconciler/types.go
  controllers/timechaos_controller.go
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  doc/pause.md
  manifests/crd.yaml
  pkg/collector/collector.go
  test/e2e/chaos/basic.go
  test/pkg/fixture/fixture.go
Labels: contribution, status/PTAL

#403 Filter netem related chaos with pod
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/pingcap.com_networkchaos.yaml
  controllers/networkchaos/ipset/ipset.go
  controllers/networkchaos/ipset/ipset_test.go
  controllers/networkchaos/iptable/iptable.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/netem/types_test.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/tc/tc.go
  controllers/test/types.go
  examples/network-delay-with-target-example.yaml
  examples/network-netem-with-target-example.yaml
  go.mod
  go.sum
  images/chaos-daemon/Dockerfile
  manifests/crd.yaml
  pkg/chaosdaemon/netem_linux.go
  pkg/chaosdaemon/netlink_linux.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_darwin.go
  pkg/chaosdaemon/tc_linux.go
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/tc_server_test.go
Labels: component/operator, contribution, status/PTAL, status/can-merge

#436 remove unused mkdir
  Dockerfile
Labels: contribution, status/can-merge

#421 Gosec
  Makefile
  go.mod
  go.sum
  tools.go
Labels: contribution, status/can-merge

#444 add cockroachdb-configmap.yaml
  examples/chaosfs-configmap/cockroachdb-configmap.yaml
Labels: status/can-merge

#443 Add missing namespaces to helm templates
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/collector-mysql.yaml
  helm/chaos-mesh/templates/collector-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/templates/dashboard-deployment.yaml
  helm/chaos-mesh/templates/post-install-create-cert-job.yaml
  helm/chaos-mesh/templates/post-install-webhook-job.yaml
  helm/chaos-mesh/templates/pre-delete-job.yaml
  helm/chaos-mesh/templates/prometheus-configmap.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/templates/prometheus-rbac.yaml
  helm/chaos-mesh/templates/prometheus-service.yaml
Labels: component/helm, contribution

#441 Add timechaos and pause timechaos e2e test case
  Makefile
  hack/e2e.sh
  hack/run-e2e.sh
  test/cmd/e2e_helper/Dockerfile
  test/cmd/e2e_helper/timer/main.go
  test/config.go
  test/e2e/chaos/basic.go
  test/e2e/config/config.go
  test/pkg/fixture/fixture.go
Labels: status/can-merge

#452 update CI action
  .github/workflows/ci.yml
Labels: needs-cherry-pick-0.8

#332 Add a new `StressChaos` to generate plenty of stresses
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/stresschaos_types_test.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/stresschaos_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/controller-manager/main.go
  config/crd/bases/pingcap.com_stresschaos.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/stresschaos/types.go
  controllers/stresschaos_controller.go
  controllers/test/types.go
  doc/stress_chaos.md
  examples/burn-cpu.yaml
  go.mod
  go.sum
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/collector-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  images/chaos-daemon/Dockerfile
  manifests/crd.yaml
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/stress_server.go
  pkg/chaosdaemon/util.go
  test/pkg/fixture/fixture.go
Labels: component/operator, contribution, needs-cherry-pick-0.8, status/PTAL, status/can-merge

#454 cherry-pick: Add a new `StressChaos` to generate plenty of stresses (#332)
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/stresschaos_types_test.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/stresschaos_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/controller-manager/main.go
  config/crd/bases/pingcap.com_stresschaos.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/stresschaos/types.go
  controllers/stresschaos_controller.go
  controllers/test/types.go
  doc/stress_chaos.md
  examples/burn-cpu.yaml
  go.mod
  go.sum
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/collector-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  images/chaos-daemon/Dockerfile
  manifests/crd.yaml
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/stress_server.go
  pkg/chaosdaemon/util.go
  test/pkg/fixture/fixture.go
Labels: type/0.8-cherry-pick

#445 Enhance chaos mesh dashboard ui (base on #439)
  ui/.editorconfig
  ui/.gitignore
  ui/.prettierignore
  ui/.prettierrc
  ui/README.md
  ui/package.json
  ui/public/favicon.ico
  ui/public/index.html
  ui/public/logo.svg
  ui/src/App.test.tsx
  ui/src/App.tsx
  ui/src/components/Container/index.tsx
  ui/src/components/NavMenu/index.tsx
  ui/src/components/PageBar/index.tsx
  ui/src/components/ToolBar/index.tsx
  ui/src/index.tsx
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/Experiments/Detail.tsx
  ui/src/pages/Experiments/New.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Overview/index.tsx
  ui/src/react-app-env.d.ts
  ui/src/routes.tsx
  ui/src/serviceWorker.ts
  ui/src/setupTests.ts
  ui/src/theme.ts
  ui/tsconfig.json
  ui/yarn.lock
Labels: component/dashboard, status/can-merge
