Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-11, with the labels that each got.

#1109 Remove privileged and add some capabilities
  cmd/chaos-daemon/main.go
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  install.sh
  pkg/fusedev/fusedev.go
Labels: needs-cherry-pick-1.0, status/can-merge

#1125 Fix bpm on mac
  pkg/bpm/bpm.go
  pkg/bpm/build_darwin.go
  pkg/bpm/build_linux.go
Labels: status/can-merge

#1110 make chaos dashboard be compliable with namespace scoped mode
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
  pkg/apiserver/common/common.go
  pkg/apiserver/experiment/experiment.go
  pkg/collector/server.go
  pkg/config/dashboard.go
  ui/src/api/common.ts
  ui/src/slices/experiments.ts
  ui/src/store.ts
Labels: needs-cherry-pick-1.0, status/can-merge

#1129 Fix fusedev on mac
  pkg/fusedev/fusedev_darwin.go
  pkg/fusedev/fusedev_linux.go
Labels: status/can-merge

#1131 fix: tiny typo
  api/v1alpha1/networkchaos_types.go
Labels: status/can-merge

#1128 fix: form related bugs in dashboard
  pkg/core/archive_experiment.go
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/lib/formikhelpers.ts
  ui/src/slices/experiments.ts
Labels: type/bug-fix

#1117 [update] update network podRecords
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/trafficcontrol/types.go
Labels: needs-cherry-pick-1.0, status/PTAL, status/can-merge

#1104 upgrade toda to 0.1.8
  Dockerfile
  cmd/chaos-daemon/main.go
  images/chaos-daemon/Dockerfile
  pkg/chaosdaemon/iochaos_server.go
  pkg/fusedev/fusedev_darwin.go
  pkg/fusedev/fusedev_linux.go
  test/e2e/chaos/basic.go
Labels: needs-cherry-pick-1.0, status/can-merge

#1142 fix: event detail doesn't updated
  ui/src/components/EventDetail/index.tsx
Labels: status/can-merge

#1147 Update readme document
  README.md
Labels: status/can-merge

#1148 pkg/fusedev: fix the call order.
  pkg/fusedev/fusedev_linux.go
Labels: needs-cherry-pick-1.0, status/can-merge, type/bug-fix

#1149 chore: correct i18n
  ui/src/i18n/zh.json
  ui/src/pages/ArchiveReport/index.tsx
Labels: needs-cherry-pick-1.0, status/can-merge

#1144 fix: missing experiment status
  api/v1alpha1/zz_generated.chaosmesh.go
  cmd/chaos-builder/impl.go
Labels: status/can-merge

#1152 [update] remove "total" field in experiments/state
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#1161 fix swagger API
  pkg/apiserver/experiment/experiment.go
Labels: type/bug-fix

#1164 cmd/controller-manager: Fix duplicate package names.
  cmd/controller-manager/main.go
Labels: status/can-merge

#1069 chore: separate common helpers and add mix delay/partition chaos test.
  test/e2e/chaos/basic.go
Labels: contribution, status/can-merge

#1165 fix broken link to make CI pass
  helm/chaos-mesh/README.md
Labels: status/can-merge

#1159 support container specified iochaos
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/podiochaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  controllers/iochaos/podiochaosmanager/transaction.go
  controllers/iochaos/types.go
  controllers/podiochaos/types.go
  controllers/stresschaos/types.go
  manifests/crd.yaml
  pkg/router/reconciler.go
  test/e2e/chaos/basic.go
Labels: needs-cherry-pick-1.0, status/PTAL

#1162 [add] get event by id
  pkg/apiserver/event/event.go
  pkg/store/event/event.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#1166 fix: scope and scheduler bugs
  ui/src/components/FormField/TextField.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/components/NewExperimentNext/index.tsx
Labels: component/chaos-dashboard, status/can-merge

#1168 chore: add networkchaos external targets in dashboard
  pkg/apiserver/experiment/experiment.go
  pkg/core/experiment.go
  ui/src/components/NewExperimentNext/data/target.tsx
  ui/src/components/NewExperimentNext/form/TargetGenerated.tsx
Labels: component/chaos-dashboard, status/can-merge

#1140 Refine e2e tests
  test/e2e/chaos/basic.go
  test/e2e/chaos/iochaos/io_delay.go
  test/e2e/chaos/iochaos/io_error.go
  test/e2e/chaos/iochaos/misc.go
  test/e2e/chaos/networkchaos/misc.go
  test/e2e/chaos/networkchaos/network_delay.go
  test/e2e/chaos/networkchaos/network_partition.go
  test/e2e/chaos/podchaos/container_kill.go
  test/e2e/chaos/podchaos/misc.go
  test/e2e/chaos/podchaos/pod_failure.go
  test/e2e/chaos/podchaos/pod_kill.go
  test/e2e/chaos/sidecar/injection_config.go
  test/e2e/chaos/sidecar/misc.go
  test/e2e/chaos/sidecar/template_config.go
  test/e2e/chaos/testcasetemplate/template.go
  test/e2e/chaos/timechaos/misc.go
  test/e2e/chaos/timechaos/time_skew.go
  test/e2e/e2econst/const.go
  test/e2e/util/util.go
Labels: status/PTAL, status/can-merge

#1176 api/v1alpha1: fix validate bugs.
  api/v1alpha1/common_validation.go
Labels: status/can-merge

#1167 chore: support iochaos containerName in dashboard
  pkg/apiserver/experiment/experiment.go
  pkg/core/experiment.go
  ui/src/components/NewExperimentNext/data/target.tsx
Labels: component/chaos-dashboard, status/can-merge

#1180 Fix some bugs about io.
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/util.go
  pkg/fusedev/fusedev_linux.go
  test/pkg/timer/timer.go
Labels: status/can-merge

#1179 support set protocol for iptables and tc
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
Labels: status/PTAL, status/can-merge

#1181 Add microk8s support for chaos-mesh install.sh script
  install.sh
Labels: status/can-merge

#1133 [add] add unit tests of event
  go.mod
  go.sum
  pkg/store/event/event.go
  pkg/store/event/event_test.go
Labels: component/tests, status/LGT1, status/can-merge

#1174 style: let groupimports could effect on all codes
  Makefile
Labels: status/can-merge

#1186 pkg/mapreader: remove redundant code.
  pkg/mapreader/reader.go
Labels: status/can-merge

#1172 Adding helm chart options for psp enabled clusters
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: first-time-contributor, status/can-merge

#1191 add adopter
  README.md
Labels: first-time-contributor, status/can-merge

#1192 api/v1alpha1: remove reduntant code.
  api/v1alpha1/podchaos_webhook.go
Labels: status/can-merge

#1201 docs: update crd types
  README.md
Labels: first-time-contributor, status/can-merge

#1205 Use a modified image to run e2e test
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge

#1198 pkg/store/dbstore: add detail info to log.
  pkg/store/dbstore/store.go
Labels: status/LGT1, status/can-merge

#1199 pkg/store/event: Rename log name.
  pkg/store/event/event.go
Labels: status/LGT1, status/can-merge

#1139 add e2e test for DNS chaos
  test/cmd/e2e_helper/main.go
  test/config.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/dnschaos/dns.go
  test/e2e/config/config.go
  test/e2e/e2e.go
  test/types.go
  ui/src/slices/experiments.ts
Labels: status/PTAL, status/can-merge

#1212 fix: supplement mapstructure renaming
  api/v1alpha1/networkchaos_types.go
  pkg/apiserver/experiment/experiment.go
Labels: status/can-merge, type/bug-fix

#1138 implement the JVM chaos CRD API
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/jvmchaos_types_test.go
  api/v1alpha1/jvmchaos_webhook.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/controller-manager/main.go
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/jvmchaos/types.go
  examples/jvm/jvm-delay4servlet-example.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd.yaml
Labels: status/LGT1, status/can-merge

#1210 fix: init TargetScope to prevent panic
  pkg/apiserver/experiment/experiment.go
Labels: type/bug-fix

#1111 Add test for generated codes
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  cmd/chaos-builder/impl.go
  cmd/chaos-builder/main.go
  cmd/chaos-builder/test.go
  go.mod
  go.sum
Labels: status/LGT1, status/can-merge

#1213 e2e test: add a flag to skip install chaos-mesh
  hack/run-e2e.sh
  test/config.go
  test/e2e/config/config.go
  test/e2e/e2e.go
Labels: status/can-merge

#1189 [add]add unit tests for events
  go.mod
  go.sum
  pkg/apiserver/event/event_test.go
Labels: component/tests, status/LGT1, status/can-merge

#1226 Tiny fix for DNSChaos
  controllers/dnschaos/types.go
Labels: status/LGT1, status/can-merge

#1229 add: new blog link to README
  README.md
Labels: first-time-contributor, status/can-merge

#1208 [add]add unit tests for archive
  pkg/apiserver/archive/archive_test.go
Labels: component/tests, status/LGT1, status/can-merge
