Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-02, with the labels that each got.

#176 Add maintainers to Chaos Mesh
  MAINTAINERS.md
Labels: documentation, status/PTAL

#177 check the length of the container statuses
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
Labels: component/operator, status/PTAL, type/bug-fix

#181 Fix race condition
  controllers/networkchaos/partition/types.go
Labels: type/bug-fix

#175 Support duration chaos for pod failure
  controllers/common/podfailure/types.go
  controllers/common/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/types.go
  controllers/twophase/podfailure/types.go
  controllers/twophase/types.go
Labels: component/operator, status/PTAL

#187 examples: add TiFlash ConfigMap
  examples/chaosfs-configmap/tiflash-configmap.yaml
Labels: component/operator, status/PTAL

#185 support to merge complex commands when to inject commands
  doc/io_chaos.md
  pkg/utils/command.go
  pkg/utils/command_test.go
  pkg/webhook/inject/inject.go
Labels: component/operator, status/PTAL

#191 fix compile error on macos
  pkg/chaosdaemon/netem_darwin.go
  pkg/chaosdaemon/netem_linux.go
Labels: component/tests

#195 add badges in README.md
  README.md
  pkg/collector/collector.go
  pkg/utils/selector_test.go
Labels: documentation

#197 Add deadline for RPC between controller-manager and chaos-operator
  cmd/controller-manager/main.go
  controllers/networkchaos/netem/types.go
  controllers/twophase/types.go
  pkg/chaosdaemon/server.go
  pkg/chaosfs/server.go
  pkg/utils/grpc.go
Labels: component/operator, contribution, status/PTAL

#194 Add faq to debug when chaos not working
  doc/faqs.md
Labels: documentation, status/PTAL

#201 Refactor controller layout
  controllers/common/podfailure/types.go
  controllers/common/types.go
  controllers/iochaos/fs/types.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/types.go
  controllers/reconciler/types.go
  controllers/twophase/podfailure/types.go
  controllers/twophase/types.go
  go.mod
  go.sum
Labels: component/operator, status/PTAL

#196 Add development guide
  doc/DEVELOP.md
Labels: documentation, status/PTAL

#198 Support duration chaos for Network Chaos
  controllers/common/types.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/types.go
Labels: component/operator

#205 Fix networkchaos panic caused by duration being nil
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
Labels: component/operator, type/bug-fix

#208 Fix errors in `hack/kind-cluster-build.sh` with helm3
  hack/kind-cluster-build.sh
Labels: component/operator, contribution, status/ReqChange

#204 Add annotations in helm chart
  helm/chaos-mesh/templates/chaos-daemon-deployment.yaml
  helm/chaos-mesh/templates/collector-mysql.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/dashboard-deployment.yaml
  helm/chaos-mesh/templates/post-install-create-cert-job.yaml
  helm/chaos-mesh/templates/post-install-mutatingwebhook-job.yaml
  helm/chaos-mesh/templates/pre-delete-job.yaml
  helm/chaos-mesh/values.yaml
Labels: component/operator, contribution, status/PTAL

#210 Support prometheus metrics in chaos-daemon
  cmd/chaos-daemon/main.go
  go.mod
  go.sum
  helm/chaos-mesh/templates/chaos-daemon-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  pkg/chaosdaemon/http.go
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/netem_server.go
  pkg/chaosdaemon/server.go
Labels: component/daemon, status/PTAL

#215 Add a link of command line usages of chaos
  doc/faqs.md
Labels: documentation

#217 Add install.sh to install Chaos Mesh
  install.sh
Labels: component/scripts

#214 Support duration chaos for ioschaos
  controllers/iochaos/fs/types.go
  controllers/iochaos/types.go
Labels: component/operator, status/PTAL

#228 Expose chaos controller metrics in helm chart
  cmd/controller-manager/main.go
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/values.yaml
Labels: component/dashboard, status/PTAL

#233 fix typo in install.sh
  install.sh
Labels: component/scripts, type/bug-fix

#160 Add development guide
  doc/dev_hello_world.md
  doc/setup_env.md
Labels: documentation, status/PTAL

#234 install kubectl client by running install.sh
  install.sh
Labels: component/scripts

#222 support timechaos
  .dockerignore
  Dockerfile
  Makefile
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-dashboard/main.go
  cmd/controller-manager/main.go
  cmd/watchmaker/main.go
  config/crd/bases/pingcap.com_timechaos.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  controllers/networkchaos/types.go
  controllers/timechaos/types.go
  controllers/timechaos_controller.go
  doc/time_chaos.md
  examples/time-chaos-example.yaml
  go.mod
  go.sum
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/collector-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  images/chaos-daemon/Dockerfile
  images/chaos-dashboard/Dockerfile
  images/chaos-mesh/Dockerfile
  images/chaos-scripts/Dockerfile
  images/chaosfs/Dockerfile
  manifests/crd.yaml
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/time_server.go
  pkg/chaosdaemon/util.go
  pkg/fakeclockgettime/fake_clock_gettime.c
  pkg/mapreader/reader.go
  pkg/ptrace/cwrapper.go
  pkg/ptrace/ptrace.go
  pkg/ptrace/ptrace_test.go
  pkg/time/time.go
  pkg/time/time_test.go
  test/cmd/multithread_tracee/main.c
  test/cmd/timer/main.go
  test/pkg/timer/timer.go
Labels: component/operator, status/can merge

#251 Support pprof
  cmd/chaos-daemon/main.go
  cmd/controller-manager/main.go
  go.mod
  go.sum
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/values.yaml
  pkg/chaosdaemon/http.go
  pkg/chaosdaemon/server.go
Labels: contribution, status/can merge

#253 Fix `install-kubebuilder` when PATH contains space
  Makefile
Labels: contribution, status/can merge

#255 Fix `Recursive variable 'PATH'` bug
  Makefile
Labels: contribution

#250 Add CGOENV environment in Makefile
  Makefile
Labels: component/scripts, status/PTAL, status/can merge

#232 Add Unit test on pkg/chaosdaemon
  Makefile
  go.mod
  go.sum
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/setup_test.go
  pkg/chaosdaemon/util.go
  pkg/chaosdaemon/util_test.go
  pkg/mock/mock.go
Labels: status/PTAL

#244 Make pod/container-kill controlled by twophase controller in scheduler mode
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podkill/types.go
  controllers/podchaos/types.go
  controllers/twophase/types.go
Labels: component/operator, status/PTAL, status/can merge

#256 refine pprof server with builder template
  pkg/chaosdaemon/http.go
  pkg/chaosdaemon/server.go
Labels: contribution, status/PTAL, status/can merge

#257 add YiChen to contributor list
  CONTRIBUTORS
Labels: status/can merge

#267 Add unit test on pkg/chaosdaemon
  go.mod
  go.sum
  pkg/chaosdaemon/container_kill_test.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/setup_test.go
  pkg/chaosdaemon/time_server_test.go
  pkg/chaosdaemon/util.go
  pkg/chaosdaemon/util_test.go
  pkg/time/time_darwin.go
  pkg/time/time_linux.go
Labels: component/tests, status/PTAL

#270 fix go mod download
  go.mod
  go.sum
Labels: component/scripts, status/PTAL

#268 Add unit test (webhook/config/config_test.go)
  go.mod
  pkg/webhook/config/config_test.go
  pkg/webhook/config/setup_test.go
Labels: component/tests, status/PTAL

#272 ADD container kill in README
  README.md
  ROADMAP.md
Labels: documentation, status/PTAL, status/can merge

#271 Add unit test on pkg/chaosdaemon
  go.sum
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/netem_darwin.go
  pkg/chaosdaemon/netem_linux.go
  pkg/chaosdaemon/netem_server_test.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/server_test.go
  pkg/chaosdaemon/setup_test.go
  pkg/chaosdaemon/util.go
Labels: status/can merge

#245 Add event recorder to show chaos status.
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/iochaos/fs/types.go
  controllers/iochaos/types.go
  controllers/iochaos_controller.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/types.go
  controllers/networkchaos_controller.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/podchaos/types.go
  controllers/podchaos_controller.go
  controllers/suite_test.go
  controllers/timechaos/types.go
  controllers/timechaos_controller.go
  controllers/twophase/types.go
  go.mod
  go.sum
  pkg/utils/events.go
Labels: contribution, status/ReqChange

#281 Use tools.go to manage tools dependency
  Makefile
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  go.mod
  go.sum
  manifests/crd.yaml
  tools.go
Labels: component/scripts, status/can merge

#284 Fix timechaos doc
  doc/time_chaos.md
Labels: contribution

#247 Add the usage of install.sh in README.md
  README.md
  doc/deploy.md
  doc/get_started_on_kind.md
  doc/get_started_on_minikube.md
  doc/run_chaos_mesh.md
  install.sh
Labels: documentation, status/PTAL, status/can merge

#276 make clk id configurable
  Makefile
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/watchmaker/main_linux.go
  config/crd/bases/pingcap.com_timechaos.yaml
  controllers/timechaos/types.go
  doc/time_chaos.md
  go.mod
  go.sum
  helm/chaos-mesh/values.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/time_server.go
  pkg/fakeclockgettime/fake_clock_gettime.c
  pkg/time/time_linux.go
  pkg/time/time_linux_test.go
  pkg/utils/time.go
  pkg/utils/time_test.go
Labels: status/can merge

#277 Support cert-manager for certificate management
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/templates/post-install-create-cert-job.yaml
  helm/chaos-mesh/templates/post-install-mutatingwebhook-job.yaml
  helm/chaos-mesh/templates/pre-delete-job.yaml
  helm/chaos-mesh/templates/webhook-configuration.yaml
  helm/chaos-mesh/values.yaml
Labels: component/helm, contribution, status/can merge

#287 Trivial fix
  doc/DEVELOP.md
  pkg/time/time_darwin.go
Labels: contribution, status/can merge

#289 Fix imagePullPolicy in Chart file
  helm/chaos-mesh/values.yaml
Labels: component/helm, status/can merge

#285 Ignore applying action when the status of chaos is running and the chaos is common chaos
  api/webhook/inject.go
  cmd/chaosfs/main.go
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/iochaos/fs/types.go
  controllers/iochaos/types.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/types.go
  controllers/timechaos/types.go
  controllers/twophase/types.go
  pkg/chaosdaemon/container-kill.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/netem_linux.go
  pkg/chaosdaemon/netem_server.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/time_server.go
  pkg/chaosfs/server.go
  pkg/collector/collector.go
  pkg/collector/database.go
  pkg/server/services.go
  pkg/utils/coalescer.go
  pkg/webhook/config/watcher/watcher.go
  pkg/webhook/inject/inject.go
Labels: component/operator, status/can merge, type/bug-fix

#290 Fix dashboard load error without TiDB instance
  pkg/server/services.go
Labels: status/can merge

#279 Add validate admission webhook for chaos api
  api/v1alpha1/common_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/timechaos_types.go
  api/webhook/validate.go
  cmd/controller-manager/main.go
  go.mod
  go.sum
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/post-install-webhook-job.yaml
  helm/chaos-mesh/templates/webhook-configuration.yaml
  pkg/webhook/validation/validate.go
Labels: status/can-merge, type/enhancement

#293 add Yisaer to maintainer
  MAINTAINERS.md
Labels: status/can-merge

#296 Fix typo
  controllers/reconciler/types.go
Labels: contribution

#297 fix typo
  controllers/reconciler/types.go
  controllers/timechaos/types.go
Labels: status/PTAL, status/can-merge

#298 Fix event recorder name
  cmd/controller-manager/main.go
Labels: contribution, status/can-merge
