Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-08, with the labels that each got.

#767 chore: support select pods in new experiment scope
  ui/package.json
  ui/src/api/common.ts
  ui/src/components/ExperimentPaper/index.tsx
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/ScopePodsTable.tsx
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/StatusPanel/index.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/utils.ts
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Overview/index.tsx
  ui/src/slices/experiments.ts
  ui/yarn.lock
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#774 add ui and swagger files
  .dockerignore
  Dockerfile
Labels: status/LGT2, status/can-merge

#699 Update run_experiment document
  examples/clean-finalizer/README.md
  examples/clean-finalizer/block-clean-finalizer.yaml
  examples/clean-finalizer/chaos.yaml
  examples/clean-finalizer/setup.sh
  examples/clean-finalizer/system-under-test.yaml
  examples/clean-finalizer/teardown.sh
  examples/clean-finalizer/test.sh
  website/docs/user_guides/pause.md
  website/docs/user_guides/run_chaos_experiment.md
  website/sidebars.js
Labels: documentation, status/LGT2, status/can-merge

#775 add +optional comment
  api/v1alpha1/common_types.go
Labels: contribution, status/LGT2, status/can-merge

#777 Add v2.0 roadmap
  ROADMAP.md
Labels: status/LGT2, status/can-merge

#778 Fix bugs in network chaos and enrich e2e case
  controllers/networkchaos/partition/types.go
  pkg/chaosdaemon/iptables_server.go
  test/e2e/chaos/basic.go
  test/pkg/fixture/fixture.go
Labels: status/LGT2, status/can-merge

#780 doc: remove dead link
  website/docs/development_guides/dev_hello_world.md
Labels: documentation, status/LGT2, status/can-merge

#773 add timezone for dashbaord and fix pvc in dashboard
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/chaos-dashboard-pvc.yaml
  helm/chaos-mesh/values.yaml
Labels: contribution, status/LGT3, status/can-merge

#779 Pause before setting cgroup
  Makefile
  hack/pause.c
  images/chaos-daemon/Dockerfile
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/util.go
Labels: status/LGT2, status/can-merge

#782 fix build information when to build in docker
  Dockerfile
  Makefile
Labels: component/scripts, status/LGT2, status/can-merge, type/bug-fix

#783 feat: add archive report page
  ui/README.md
  ui/src/api/archives.ts
  ui/src/api/archives.type.ts
  ui/src/api/events.type.ts
  ui/src/components/AffectedPods/index.tsx
  ui/src/components/ArchiveDuration/index.tsx
  ui/src/components/ArchiveNumberOf/index.tsx
  ui/src/components/ConfirmDialog/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/components/ExperimentPaper/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/PaperTop/index.tsx
  ui/src/components/StatusPanel/index.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/components/TopContainer/MobileNavigation.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/dayjs.ts
  ui/src/pages/ArchiveReport/index.tsx
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/routes.tsx
  ui/src/store.ts
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#787 update doc
  website/docs/user_guides/sidecar_template.md
Labels: status/LGT2, status/can-merge

#786 fix: some minor problems
  ui/src/api/events.type.ts
  ui/src/components/AffectedPods/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentPaper/index.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/pages/ArchiveReport/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
Labels: status/LGT2, status/can-merge

#790 chore: add GitHub and Doc links in dashboard
  ui/src/components/TopContainer/Sidebar.tsx
Labels: status/LGT2, status/can-merge

#785 fix: correct the usage of pods preview
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/ScopePodsTable.tsx
  ui/src/lib/utils.ts
  ui/src/slices/experiments.ts
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#792 fix grpc timeout
  controllers/podchaos/containerkill/types.go
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/utils/grpc.go
Labels: contribution, status/LGT2, status/can-merge

#793 [update] update api/events
  pkg/store/event/event.go
Labels: status/LGT2, status/can-merge

#798 doc: minor update
  website/docs/use_cases/multi_data_centers.md
  website/docs/user_guides/kernel_chaos.md
  website/docs/user_guides/network_chaos.md
  website/docs/user_guides/pod_chaos.md
  website/docs/user_guides/run_chaos_experiment.md
  website/docs/user_guides/stress_chaos.md
  website/docs/user_guides/time_chaos.md
Labels: status/LGT2, status/can-merge

#795 [update] update the slack link in the readme
  README.md
Labels: status/LGT2, status/can-merge

#794 [update] add container-wise StressChaos in dashboard
  pkg/apiserver/experiment/experiment.go
  pkg/core/archive_experiment.go
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/types.ts
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#776 Use bigheap to inject heap stress
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/stresschaos_webhook_test.go
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  go.mod
  manifests/crd.yaml
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/types.ts
Labels: status/LGT2, status/can-merge

#796 Add github action to update install script and crd files
  .github/workflows/upload_crd.yml
  .github/workflows/upload_install_script.yml
Labels: component/scripts, status/LGT2, status/PTAL, status/can-merge

#806 Fix upload install scripts and crd files workflows
  .github/workflows/release_files.yml
  .github/workflows/upload_file.yml
  .github/workflows/upload_install_script.yml
Labels: status/LGT2, status/can-merge

#811 [update] Add Community Blog List
  README.md
Labels: status/LGT2, status/can-merge

#808 [update] update collector
  pkg/collector/collector.go
Labels: status/LGT2, status/can-merge

#817 add tipocket article
  website/blog/2020-08-14-building_automated_testing_framework.md
  website/static/img/alert_message.png
  website/static/img/argo-workflow.png
  website/static/img/automated_testing_framework.png
  website/static/img/tipocket-architecture.png
Labels: status/LGT2, status/can-merge

#814 fix: pass correct value to scope mode fixed
  pkg/core/archive_experiment.go
  ui/src/components/NewExperiment/Stepper/Scope.tsx
Labels: status/LGT2, status/can-merge

#818 add truncate
  website/blog/2020-08-14-building_automated_testing_framework.md
Labels: status/LGT2, status/can-merge

#815 fix: correct update operation in updateStressChaos
  pkg/apiserver/experiment/experiment.go
Labels: status/LGT2, status/can-merge

#813 docs: format code in develop example
  website/docs/development_guides/dev_hello_world.md
Labels: documentation, status/LGT2, status/PTAL, status/can-merge

#809 perf: optimize upload files ci
  .github/workflows/upload_latest_install_files.yml
  .github/workflows/upload_release_install_files.yml
Labels: status/LGT2, status/can-merge

#810 refactor: better pr template
  .github/pull_request_template.md
Labels: status/LGT2, status/can-merge

#821 style: add .editorconfig for *.go
  .editorconfig
Labels: status/LGT2, status/can-merge

#807 update documents
  install.sh
  website/docs/installation/get_started_on_kind.md
  website/docs/installation/get_started_on_minikube.md
  website/docs/installation/installation.md
  website/docs/user_guides/run_chaos_experiment.md
  website/src/pages/index.js
Labels: documentation, status/LGT2, status/PTAL, status/can-merge

#820 [update] Check the fields when creating or updating an experiment
  pkg/apiserver/server.go
  pkg/apivalidator/target_validator.go
  pkg/core/archive_experiment.go
Labels: status/LGT2, status/PTAL, status/can-merge

#819 chore: add new experiment form validation
  ui/package.json
  ui/src/components/NewExperiment/Stepper/Target/IO.tsx
  ui/src/components/NewExperiment/Stepper/Target/Network.tsx
  ui/src/components/NewExperiment/Stepper/Target/Pod.tsx
  ui/src/components/NewExperiment/Stepper/Target/Time.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/index.tsx
  ui/yarn.lock
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#822 Update installation.md
  website/docs/installation/installation.md
Labels: contribution, status/LGT2, status/can-merge

#788 refractor network chaos to support multiple network chaos on the same pod
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/podnetworkchaos_types.go
  api/v1alpha1/podnetworkchaos_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/controller-manager/main.go
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/netem/utils.go
  controllers/networkchaos/podnetworkmanager/podnetworkmanager.go
  controllers/networkchaos/podnetworkmanager/transaction.go
  controllers/networkchaos/tbf/types.go
  controllers/networkchaos/tc/tc.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/networkchaos/trafficcontrol/types_test.go
  controllers/networkchaos/types.go
  controllers/networkchaos_controller_test.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/ipset/ipset_test.go
  controllers/podnetworkchaos/iptable/iptable.go
  controllers/podnetworkchaos/netutils/cidr.go
  controllers/podnetworkchaos/netutils/len.go
  controllers/podnetworkchaos/netutils/len_test.go
  controllers/podnetworkchaos/tc/tc.go
  controllers/podnetworkchaos/types.go
  controllers/podnetworkchaos/types_test.go
  controllers/test/types.go
  go.mod
  go.sum
  hack/update_install_script.sh
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd.yaml
  pkg/apiserver/experiment/experiment.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/netem_darwin.go
  pkg/chaosdaemon/netem_linux.go
  pkg/chaosdaemon/netem_server.go
  pkg/chaosdaemon/netem_server_test.go
  pkg/chaosdaemon/netlink_linux.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tbf_darwin.go
  pkg/chaosdaemon/tbf_linux.go
  pkg/chaosdaemon/tbf_server.go
  pkg/chaosdaemon/tbf_server_test.go
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/util.go
  test/e2e/chaos/basic.go
Labels: component/operator, status/LGT2

#840 Fix: ensure pods ready when installing Chaos Mesh by `install.sh`
  install.sh
Labels: component/scripts, status/PTAL, type/bug-fix

#841 Release v0.9.0
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/chaosfs-sidecar.yaml
Labels: needs-cherry-pick-0.9

#846 fix stressChaos empty container name
  controllers/stresschaos/types.go
Labels: type/bug-fix

#848 chore: update logo related images
  README.md
  static/chaos-mesh-social-preview.png
  static/demo.png
  static/logo.png
Labels: status/LGT2

#853 Fix stress chaos map
  controllers/stresschaos/types.go
Labels: needs-cherry-pick-0.9, status/LGT2, status/can-merge

#851 Always recreate controller-manager while upgrading helm charts
  hack/update_install_script.sh
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  install.sh
Labels: needs-cherry-pick-0.9, status/LGT2, status/can-merge

#845 ci: upgrade actions
  .github/workflows/website.yml
Labels: status/LGT1, status/can-merge

#858 apply sidecar template in `install.sh`
  install.sh
Labels: component/scripts, needs-cherry-pick-0.9, status/LGT3, status/can-merge
