Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-12, with the labels that each got.

#1232 Handling errors returned from setup webhook
  api/v1alpha1/jvmchaos_webhook.go
  pkg/router/route_table.go
Labels: status/LGT1, status/can-merge

#1233 fix: can't set to immediate job
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
Labels: status/can-merge, type/bug-fix

#1217 Option to run networkchaos tests on hostNetwork pods
  cmd/controller-manager/main.go
  controllers/podnetworkchaos/types.go
  controllers/podnetworkchaos/types_test.go
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/controller.go
Labels: first-time-contributor, status/can-merge

#1193 chaos daemon: add new function to create daemon server for the physic node
  pkg/chaosdaemon/server.go
Labels: status/LGT1, status/can-merge

#1175 chore: remove common.ControllerCfg reference from utils pkg
  api/webhook/inject.go
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/dnschaos/types.go
  controllers/httpchaos/types.go
  controllers/iochaos/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  pkg/apiserver/common/common.go
  pkg/config/controller.go
  pkg/config/dashboard.go
  pkg/router/reconciler.go
  pkg/router/route_table.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
  pkg/webhook/inject/inject.go
  pkg/webhook/inject/inject_test.go
Labels: status/can-merge

#1215 Fix networkchaos/iochaos recover slow
  controllers/iochaos/podiochaosmanager/podiochaosmanager.go
  controllers/iochaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/podnetworkmanager/podnetworkmanager.go
  controllers/networkchaos/trafficcontrol/types.go
Labels: needs-cherry-pick-1.0, status/can-merge

#1239 [update] Modify the error message about NetworkChaos
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/trafficcontrol/types.go
Labels: status/PTAL, status/can-merge

#1242 chaos-daemon: support setting a specific network device
  controllers/podnetworkchaos/tc/tc.go
  controllers/podnetworkchaos/types.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
Labels: status/can-merge

#1238 feat: support DNSChaos in dashboard
  pkg/apiserver/experiment/experiment.go
  pkg/collector/collector.go
  pkg/core/experiment.go
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/data/target.tsx
  ui/src/components/NewExperimentNext/images/dns.svg
Labels: status/LGT1, status/can-merge

#1244 loading pingcap/coredns:latest while e2e tests, because of docker pull rate limit
  hack/run-e2e.sh
Labels: status/can-merge

#1237 fix: clear SearchTrigger keyMap eagerly
  ui/src/components/SearchTrigger/index.tsx
Labels: status/LGT1, status/can-merge

#1236 generate structural schema
  Makefile
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  install.sh
  manifests/crd.yaml
  test/action.go
Labels: status/can-merge

#1188 dashboard: support token
  go.mod
  pkg/apiserver/common/common.go
  pkg/apiserver/event/event.go
  pkg/apiserver/event/event_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/utils/error.go
  pkg/clientpool/client.go
  pkg/clientpool/client_test.go
  pkg/collector/server.go
  pkg/utils/selector.go
  ui/public/index.html
  ui/src/api/auth.ts
  ui/src/api/experiments.ts
  ui/src/api/http.ts
  ui/src/api/index.ts
  ui/src/components-mui/ConfirmDialog/index.tsx
  ui/src/components-mui/Paper/index.tsx
  ui/src/components-mui/PaperContainer/index.tsx
  ui/src/components-mui/RunningLabel/index.tsx
  ui/src/components-mui/Tooltip/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/src/components/NewExperimentNext/Step3.tsx
  ui/src/components/NewExperimentNext/form/Kernel.tsx
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/components/NewExperimentNext/form/ScopePodsTable.tsx
  ui/src/components/Search/index.tsx
  ui/src/components/SearchTrigger/index.tsx
  ui/src/components/Token/index.tsx
  ui/src/components/TopContainer/Auth.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/components/TopContainer/MobileNavigation.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/localStorage.ts
  ui/src/lib/styles/errorButton.ts
  ui/src/lib/styles/runningLabel.ts
  ui/src/pages/ArchiveReport/index.tsx
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Overview/index.tsx
  ui/src/pages/Settings/Other.tsx
  ui/src/pages/Settings/TokensTable.tsx
  ui/src/pages/Settings/index.tsx
  ui/src/slices/globalStatus.ts
  ui/src/slices/settings.ts
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#1248 expose daemonServer struct
  pkg/chaosdaemon/container.go
  pkg/chaosdaemon/container_test.go
  pkg/chaosdaemon/dns_server.go
  pkg/chaosdaemon/iochaos_server.go
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/stress_server_darwin.go
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/tc_server_test.go
  pkg/chaosdaemon/time_server.go
  pkg/chaosdaemon/time_server_test.go
Labels: status/can-merge

#1206 Connect daemon through endpoint
  cmd/controller-manager/main.go
  controllers/common/types.go
  controllers/config/config.go
  controllers/config/types_test.go
  controllers/dnschaos/types.go
  controllers/httpchaos/types.go
  controllers/iochaos/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/podiochaos/types.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/iptable/iptable.go
  controllers/podnetworkchaos/tc/tc.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/chaos-daemon-service.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
  pkg/utils/grpc.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
  pkg/webhook/inject/inject.go
Labels: needs-cherry-pick-1.0, status/can-merge

#1255 loading image nginx:latest while e2e tests
  hack/run-e2e.sh
Labels: component/e2e, status/PTAL, status/can-merge

#1249 dashboard: support set config to disable token
  hack/update_install_script.sh
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/apiserver/common/common.go
  pkg/clientpool/client.go
  pkg/clientpool/client_test.go
  pkg/collector/server.go
  pkg/config/dashboard.go
Labels: component/chaos-dashboard, status/can-merge, type/enhancement

#1042 add configuring dashboard service type to helm chart
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: first-time-contributor, status/can-merge

#1263 fix: missing append pods in foreach
  pkg/utils/selector.go
Labels: status/can-merge

#1268 doc: add Apache APISIX as adopter.
  README.md
Labels: first-time-contributor, status/can-merge

#1252 chore: remove duplicate 'GenerateNPods'
  controllers/networkchaos/trafficcontrol/types_test.go
  controllers/podchaos/containerkill/containerkill_suite_test.go
  controllers/podchaos/podfailure/podfailure_suite_test.go
  controllers/podchaos/podkill/podkill_suite_test.go
  controllers/podnetworkchaos/types_test.go
  controllers/test/types.go
  controllers/timechaos/timechaos_suite_test.go
  pkg/utils/generate.go
  pkg/utils/selector_test.go
Labels: improve/Refine, status/can-merge

#1269 fix swagger api
  pkg/apiserver/common/common.go
Labels: component/chaos-dashboard, status/can-merge, type/bug-fix

#1271 chore: enable UI and swagger API in local_up_chaos_mesh.sh
  hack/local-up-chaos-mesh.sh
Labels: component/scripts, status/can-merge

#1276 doc: remove hacktoberfest since it's ended.
  CONTRIBUTING.md
Labels: status/can-merge

#1274 dns chaos: add example configuration file
  examples/dns-chaos-example.yaml
Labels: chaos/dns, status/PTAL, status/can-merge

#1273 HELM : Support priorityClassName
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: first-time-contributor, status/can-merge

#1265 update chaos object with retryOnConflict
  controllers/twophase/types.go
Labels: first-time-contributor, status/PTAL, status/can-merge

#1260 Upgrade toda and use nsexec
  Dockerfile
  Makefile
  hack/suicide.c
  images/chaos-daemon/Dockerfile
  pkg/bpm/bpm.go
  pkg/bpm/build_linux.go
  pkg/chaosdaemon/iochaos_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/stress_server_linux.go
  test/e2e/chaos/iochaos/io_delay.go
Labels: needs-cherry-pick-1.0, status/can-merge

#1281 fix typos and some optimizes
  cmd/chaos-daemon/main.go
  cmd/chaosfs/main.go
  cmd/controller-manager/main.go
  pkg/chaosdaemon/dns_server.go
  pkg/router/reconciler.go
  pkg/router/route_table.go
Labels: status/can-merge

#1272 [add] delete archived experiments
  pkg/apiserver/archive/archive.go
  pkg/apiserver/event/event.go
  pkg/apiserver/experiment/experiment.go
  pkg/store/experiment/experiment.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#1267 Update io-attr-example.yaml
  examples/io-attr-example.yaml
Labels: first-time-contributor, status/can-merge

#1288 loading image nginx:latest while e2e tests
  hack/run-e2e.sh
Labels: component/tests, status/PTAL, type/1.0-cherry-pick

#1221 Easier twophase controller
  api/v1alpha1/common_types.go
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  controllers/common/types.go
  controllers/twophase/state_machine.go
  controllers/twophase/state_machine_test.go
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  controllers/twophase/update_scheduler.go
  manifests/crd.yaml
  pkg/router/reconciler.go
Labels: component/operator, status/can-merge

#1284 scheduler: fix error `nextRecover shouldn't be later than nextStart`
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  pkg/utils/scheduler.go
  test/e2e/chaos/basic.go
Labels: status/PTAL, type/bug-fix

#1294 fix invalid metadata name in helm chart files
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/dns-rbac.yaml
  helm/chaos-mesh/templates/prometheus-rbac.yaml
  install.sh
Labels: component/helm, needs-cherry-pick-1.0

#1295 fix invalid metadata name in helm chart files (#1294)
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/prometheus-rbac.yaml
  install.sh
  manifests/tiller-rbac.yaml
Labels: type/1.0-cherry-pick

#1297 improve gitVersion format
  hack/version.sh
Labels: component/scripts, status/can-merge

#1074 feat: chaosctl for print debug info
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/question.md
  Makefile
  cmd/chaosctl/main.go
  go.mod
  go.sum
  images/chaos-daemon/Dockerfile
  pkg/chaosctl/README.md
  pkg/chaosctl/cmd/completion.go
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/common/common.go
  pkg/chaosctl/common/common_test.go
  pkg/chaosctl/common/exec.go
  pkg/chaosctl/debug/iochaos/iochaos.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/chaosctl/debug/stresschaos/stresschaos.go
  pkg/portforward/portforward.go
  pkg/utils/chaosdaemon.go
  pkg/utils/grpc.go
  pkg/utils/selector.go
  test/e2e/chaos/basic.go
Labels: contribution, needs-cherry-pick-1.0, status/PTAL, status/can-merge

#1279 speed up the e2e test
  test/e2e/chaos/basic.go
  test/e2e/chaos/dnschaos/dns.go
  test/e2e/chaos/networkchaos/misc.go
  test/e2e/chaos/networkchaos/network_delay.go
  test/e2e/chaos/networkchaos/network_partition.go
  test/e2e/chaos/podchaos/pod_failure.go
  test/e2e/chaos/timechaos/time_skew.go
  test/e2e/util/util.go
  test/pkg/fixture/fixture.go
Labels: component/tests, status/PTAL, status/can-merge

#1277 feat: make selector support expression selectors.
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  manifests/crd.yaml
  pkg/apiserver/server.go
  pkg/apivalidator/scope_validator.go
  pkg/core/experiment.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
Labels: component/operator, status/can-merge, type/enhancement

#1309 chaosdaemon: make more TC filters work
  pkg/chaosdaemon/tc_server.go
Labels: status/PTAL, status/can-merge, type/enhancement

#1312 integration test: minor update on delay network
  test/integration_test/network/run.sh
Labels: component/tests, status/PTAL, status/can-merge

#1303 doc: add detail of chaosctl debug
  pkg/chaosctl/README.md
Labels: status/can-merge

#1311 Conditional compilation for arm64
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/time/time_linux_amd64.go
  pkg/time/time_linux_arm64.go
  pkg/time/utils.go
Labels: status/can-merge

#1323 fix: error keys processing and unset ns selectors
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/lib/formikhelpers.ts
Labels: component/chaos-dashboard, status/can-merge, type/bug-fix

#1316 add EnterNS field for grpc request
  controllers/dnschaos/types.go
  controllers/podiochaos/types.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/iptable/iptable.go
  controllers/podnetworkchaos/tc/tc.go
  controllers/stresschaos/types.go
  pkg/chaosdaemon/dns_server.go
  pkg/chaosdaemon/iochaos_server.go
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/tc_darwin.go
  pkg/chaosdaemon/tc_linux.go
  pkg/chaosdaemon/tc_server.go
Labels: status/LGT1, status/can-merge

#1325 chaosdaemon: fix multiple tc filter
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/tc_server.go
Labels: status/can-merge, type/bug-fix

#1321 finish some todos
  cmd/chaos-builder/main.go
  controllers/config/config.go
  controllers/podchaos/podfailure/types.go
  controllers/podnetworkchaos/types_test.go
  pkg/router/reconciler.go
Labels: status/can-merge

#1307 fix: also enter pid namespace for 'cat /proc/mounts'
  pkg/chaosctl/common/common.go
  pkg/chaosctl/common/exec.go
  pkg/chaosctl/debug/iochaos/iochaos.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
Labels: status/can-merge

#1335 chore: update adopters
  ADOPTERS.md
  README.md
Labels: status/can-merge

#1261 dashboard: add authority for archive experiments and events
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/event/event.go
  pkg/apiserver/event/event_test.go
  pkg/apiserver/utils/auth.go
  pkg/clientpool/client.go
  pkg/collector/server.go
  ui/src/api/auth.ts
Labels: component/chaos-dashboard, status/LGT1, status/can-merge

#1336 add qps and burst flag for rest.Config
  cmd/controller-manager/main.go
Labels: status/PTAL, status/can-merge
