Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-06, with the labels that each got.

#572 Support to select pods directly when to create a new experiment
  pkg/apiserver/experiment/experiment.go
  pkg/utils/selector.go
Labels: component/chaos-server, status/PTAL

#580 fix get experiment detail
  pkg/apiserver/experiment/experiment.go
Labels: status/can-merge, type/bug-fix

#578 Add PodsValid checker
  pkg/apiserver/server.go
  pkg/apivalidator/scope_validator.go
Labels: component/chaos-server, status/can-merge, type/bug-fix

#570 Support updating chaos experiments by API
  helm/chaos-mesh/Chart.yaml
  pkg/apiserver/experiment/experiment.go
  tools.json
Labels: component/chaos-server, status/can-merge

#584 Rename chaos-server to chaos-dashboard
  Dockerfile
  Makefile
  cmd/chaos-dashboard/main.go
  hack/generate_swagger_spec.sh
  hack/update_install_script.sh
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-server-configmap.yaml
  helm/chaos-mesh/templates/chaos-server-deployment.yaml
  helm/chaos-mesh/templates/chaos-server-pvc.yaml
  helm/chaos-mesh/values.yaml
  images/chaos-dashboard/Dockerfile
  install.sh
  pkg/apiserver/server.go
  pkg/core/event.go
  tools.json
Labels: status/can-merge

#582 fix: experiments
  ui/package.json
  ui/src/api/experiments.ts
  ui/src/api/http.ts
  ui/src/components/ConfirmDialog/index.tsx
  ui/src/components/ContentContainer/index.tsx
  ui/src/components/ExperimentCard/index.tsx
  ui/src/components/FormField/JsonField.tsx
  ui/src/components/FormField/SelectField.tsx
  ui/src/components/FormField/TextField.tsx
  ui/src/components/FormField/index.ts
  ui/src/components/InfoList/index.tsx
  ui/src/components/Loading/index.tsx
  ui/src/components/NewExperiment/Stepper/Basic.tsx
  ui/src/components/NewExperiment/Stepper/Schedule.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/Target/index.tsx
  ui/src/components/NewExperiment/Stepper/index.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/StatusBar/index.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/components/VerticalTabs/index.tsx
  ui/src/lib/formikhelpers.ts
  ui/src/lib/utils.ts
  ui/src/pages/Experiments/index.tsx
  ui/src/slices/globalStatus.ts
  ui/src/slices/globalStatus.type.ts
  ui/yarn.lock
Labels: status/can-merge

#586 Add missing namespaces to helm templates
  helm/chaos-mesh/templates/chaos-dashboard-configmap.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/chaos-dashboard-pvc.yaml
  install.sh
Labels: component/helm, component/scripts, status/PTAL, type/bug-fix

#588 fix experiment detail api panic
  Dockerfile
  pkg/apiserver/experiment/experiment.go
Labels: status/can-merge, type/bug-fix

#593 feat: experiment detail
  ui/package.json
  ui/src/api/events.ts
  ui/src/api/events.type.ts
  ui/src/api/experiments.ts
  ui/src/api/experiments.type.ts
  ui/src/api/index.ts
  ui/src/components/ExperimentCard/index.tsx
  ui/src/components/ExperimentEventsPreview/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/StatusBar/index.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/lib/eventsChart.ts
  ui/src/pages/Experiments/Detail.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/store.ts
  ui/src/theme.ts
  ui/yarn.lock
Labels: component/dashboard

#585 Fix missing Error check in e2e test
  test/e2e/chaos/basic.go
Labels: status/can-merge

#597 fix: only schedule mode in pod(container)-kill
  ui/README.md
  ui/src/components/NewExperiment/Stepper/Schedule.tsx
  ui/src/components/NewExperiment/Stepper/Target/Network.tsx
  ui/src/components/NewExperiment/Stepper/Target/Pod.tsx
  ui/src/components/NewExperiment/Stepper/Target/index.tsx
  ui/src/components/NewExperiment/Stepper/index.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/VerticalTabs/index.tsx
  ui/src/lib/formikhelpers.ts
Labels: status/can-merge, type/bug-fix

#605 chore: fix typos in doc
  docs/sidecar_configmap.md
  docs/template_config.md
Labels: status/can-merge

#603 fix: save container_name
  ui/src/lib/formikhelpers.ts
Labels: status/can-merge

#607 update make ensure-all in setup_env.md
  docs/setup_env.md
Labels: contribution, documentation, status/can-merge

#601 Add ingress for dashboard
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/ingress.yaml
  helm/chaos-mesh/values.yaml
Labels: contribution, status/can-merge

#587 update e2e test util to kubetest
  ci/pingcap_chaos_mesh_build_kind.groovy
  hack/e2e.sh
  hack/lib.sh
  hack/run-e2e.sh
Labels: status/PTAL, status/can-merge

#616 Update the apiKey of the algolia and add google analytics
  website/docusaurus.config.js
Labels: documentation, status/PTAL, status/can-merge

#612 chore: enhance layout in different screen
  ui/package.json
  ui/public/logo-mini.svg
  ui/public/logo.svg
  ui/src/api/http.ts
  ui/src/components/ConfirmDialog/index.tsx
  ui/src/components/ExperimentCard/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/StatusBar/index.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/components/TopContainer/MobileNavigation.tsx
  ui/src/components/TopContainer/Nav.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/style.ts
  ui/src/pages/Experiments/Detail.tsx
  ui/src/slices/navigation.ts
  ui/yarn.lock
Labels: status/can-merge

#621 Update index.js
  website/src/pages/index.js
Labels: status/can-merge

#617 fix: typo and format pr template
  .github/pull_request_template.md
Labels: status/can-merge

#624 Remove the useless image
  Makefile
  images/grafana/Dockerfile
  images/grafana/bootstrap.sh
  images/grafana/event.yaml
  images/grafana/grafana.ini
  images/grafana/metric.yaml
  images/grafana/monitor.json
  images/grafana/monitor.yaml
Labels: status/can-merge

#623 [add] add uid in events and archive_experiments
  pkg/collector/collector.go
  pkg/core/archive_experiment.go
  pkg/core/event.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#626 Fix dashboard's env update on helm upgrade
  helm/chaos-mesh/templates/chaos-dashboard-configmap.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
Labels: contribution, status/can-merge

#592 [API] store duration field to event table
  api/v1alpha1/common_types.go
  config/crd/bases/pingcap.com_iochaos.yaml
  config/crd/bases/pingcap.com_kernelchaos.yaml
  config/crd/bases/pingcap.com_networkchaos.yaml
  config/crd/bases/pingcap.com_podchaos.yaml
  config/crd/bases/pingcap.com_stresschaos.yaml
  config/crd/bases/pingcap.com_timechaos.yaml
  controllers/common/types.go
  controllers/twophase/types.go
  manifests/crd.yaml
  pkg/collector/collector.go
  pkg/core/event.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#630 [add] common/labels
  pkg/apiserver/common/common.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#631 Add flag to install dependency only
  install.sh
Labels: component/helm, component/scripts

#632 add contributing guidelines
  CONTRIBUTING.md
Labels: documentation

#638 [add] add waiting phase
  api/v1alpha1/common_types.go
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  pkg/apiserver/experiment/experiment.go
  pkg/collector/collector.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#636 docs: should use bash
  website/docs/installation/get_started_on_kind.md
  website/docs/installation/get_started_on_minikube.md
  website/docs/installation/installation.md
  website/src/pages/index.js
Labels: status/can-merge

#640 api-server: add the fallback page
  go.mod
  go.sum
  pkg/uiserver/server.go
  tools/assets_generate/main.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#641 add adopter doc and update readme
  ADOPTERS.md
  README.md
Labels: status/can-merge

#619 Add e2e test cases to test invalid sidecar config file
  test/e2e/chaos/basic.go
Labels: status/can-merge

#634 [add] add api/common/annotations and update api/common/labels
  pkg/apiserver/common/common.go
Labels: component/chaos-dashboard, status/PTAL

#628 feat: add events page
  ui/src/api/events.type.ts
  ui/src/api/experiments.ts
  ui/src/api/http.ts
  ui/src/components/ContentContainer/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentCard/index.tsx
  ui/src/components/PageTitle/index.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/d3/style.ts
  ui/src/lib/d3/wrapText.ts
  ui/src/lib/dayjs.ts
  ui/src/lib/hooks.ts
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/routes.tsx
Labels: component/chaos-dashboard

#613 Unified configuration for chaos controller
  cmd/controller-manager/main.go
  controllers/common/types.go
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  install.sh
  pkg/config/controller.go
  pkg/webhook/config/watcher/config.go
  pkg/webhook/config/watcher/config_test.go
Labels: component/operator, contribution, status/can-merge

#629 [update] get the list of events by uid
  pkg/apiserver/event/event.go
  pkg/core/event.go
  pkg/store/event/event.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#646 Add ping API endpoint to check liveness
  pkg/apiserver/server.go
Labels: status/can-merge

#647 fix: swagger params missing
  pkg/apiserver/common/common.go
  pkg/apiserver/experiment/experiment.go
Labels: status/can-merge

#652 Update run_chaos_experiment.md
  website/docs/user_guides/run_chaos_experiment.md
Labels: documentation, status/PTAL, status/can-merge, website

#653 Add code of conduct
  CODE_OF_CONDUCT.md
Labels: status/can-merge

#654 Add DataStax in adopter list
  ADOPTERS.md
Labels: status/can-merge

#655 fix chaos-dashboard panic
  pkg/store/event/event.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge, type/bug-fix

#658 Move the adopters to README
  README.md
Labels: status/can-merge

#639 Add hostNetwork in chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/values.yaml
  website/docs/faqs.md
Labels: contribution, status/can-merge

#659 Document: modify IOCChaos to IOChaos
  website/docs/user_guides/sidecar_configmap.md
Labels: contribution, status/can-merge

#661 Protected namespaces
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  pkg/config/controller.go
  pkg/utils/consts.go
  pkg/utils/selector.go
  pkg/utils/selector_test.go
  pkg/webhook/inject/inject.go
Labels: contribution, status/PTAL, status/can-merge
