Repository chaos-mesh/chaos-mesh, pull requests merged in 2020-07, with the labels that each got.

#663 add grace period for pod kill chaos
  api/v1alpha1/podchaos_types.go
  config/crd/bases/pingcap.com_podchaos.yaml
  controllers/podchaos/podkill/types.go
  manifests/crd.yaml
Labels: contribution, status/can-merge

#656 Add a new http fileserver support to support fallback
  Makefile
  go.mod
  go.sum
  pkg/flags/flags_test.go
  pkg/httpfs/fs.go
  pkg/httpfs/fs_test.go
  pkg/uiserver/server.go
  tools/assets_generate/main.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#670 Update description, link, and fix format
  CONTRIBUTING.md
  README.md
Labels: difficulty/easy, improve/Refine, status/can-merge

#660 [add] get detail of archive
  pkg/apiserver/archive/experiment.go
  pkg/core/archive_experiment.go
  pkg/store/experiment/experiment.go
  pkg/store/experiment/experiment_test.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#668 Update faqs.md
  website/docs/faqs.md
Labels: status/can-merge

#675 fix: relative paths' problem when first rendering
  website/docs/installation/get_started_on_kind.md
  website/docs/installation/get_started_on_minikube.md
  website/docs/installation/installation.md
  website/sidebars.js
Labels: documentation, status/LGT1, status/can-merge

#673 [add] add force delete
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#662 Store experiment when it was created
  pkg/collector/collector.go
  pkg/core/archive_experiment.go
  pkg/store/experiment/experiment.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#681 fix document links
  website/docs/development_guides/dev_hello_world.md
  website/docs/development_guides/develop.md
  website/docs/development_guides/setup_env.md
  website/docs/installation/get_started_on_kind.md
  website/docs/installation/get_started_on_minikube.md
  website/docs/installation/installation.md
  website/docs/user_guides/io_chaos.md
  website/docs/user_guides/kernel_chaos.md
  website/docs/user_guides/sidecar_configmap.md
Labels: documentation, status/LGT1, status/can-merge

#678 Add a document to describe how to define experiment scope
  website/docs/user_guides/experiment_scope.md
  website/docs/user_guides/kernel_chaos.md
  website/docs/user_guides/network_chaos.md
  website/docs/user_guides/pod_chaos.md
  website/docs/user_guides/time_chaos.md
  website/sidebars.js
Labels: documentation, status/LGT2, status/can-merge

#674 Add a document showing how to simulate multi-data center scenarios
  website/docs/use_cases/multi_data_centers.md
  website/sidebars.js
Labels: documentation, status/LGT1, status/can-merge

#672 [update] update /api/events and add kind and finishTime
  pkg/apiserver/event/event.go
  pkg/core/event.go
  pkg/store/event/event.go
Labels: component/chaos-dashboard, status/LGT1, status/PTAL, status/can-merge

#685 Add stress-ng to target pid namespace
  images/chaos-daemon/Dockerfile
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/netlink_linux.go
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/tc_linux.go
  pkg/chaosdaemon/util.go
Labels: status/LGT2, status/can-merge

#680 External target for netem and partition chaos
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/pingcap.com_networkchaos.yaml
  controllers/networkchaos/ipset/ipset.go
  controllers/networkchaos/ipset/ipset_test.go
  controllers/networkchaos/iptable/iptable.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/netem/types_test.go
  controllers/networkchaos/netem/utils.go
  controllers/networkchaos/netutils/cidr.go
  controllers/networkchaos/partition/types.go
  examples/network-delay-with-external-target-example.yaml
  examples/network-partition-with-external-targets-example.yaml
  go.mod
  go.sum
  manifests/crd.yaml
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
Labels: component/operator, status/LGT1, status/PTAL, status/can-merge

#686 fix some documents
  website/docs/development_guides/setup_env.md
  website/docs/installation/get_started_on_kind.md
Labels: documentation, status/LGT1, status/can-merge

#614 Support nodeSelector
  pkg/utils/selector.go
  pkg/utils/selector_test.go
Labels: component/operator, contribution, status/LGT1, status/can-merge

#691 fix typo
  website/docs/development_guides/dev_hello_world.md
  website/docs/development_guides/setup_env.md
  website/docs/installation/get_started_on_kind.md
  website/docs/installation/get_started_on_minikube.md
  website/docs/installation/installation.md
  website/docs/user_guides/io_chaos.md
  website/docs/user_guides/sidecar_template.md
Labels: status/LGT2, status/can-merge

#693 NetworkChaos on all address of DNS lookup result
  controllers/networkchaos/netutils/cidr.go
Labels: status/LGT2, status/can-merge, type/bug-fix

#698 deps: revert gin version
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, type/bug-fix

#697 scripts: fix crd and chaosfs-sidecar url
  install.sh
Labels: component/scripts, status/LGT2, status/can-merge, type/bug-fix

#701 update kubetest2 release repo
  hack/lib.sh
Labels: status/LGT2

#679 chore: complement chaos
  ui/package.json
  ui/public/index.html
  ui/src/components/AdvancedOptions/index.tsx
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/FormField/SelectField.tsx
  ui/src/components/FormField/TextField.tsx
  ui/src/components/FormField/index.ts
  ui/src/components/NewExperiment/Stepper/Basic.tsx
  ui/src/components/NewExperiment/Stepper/Schedule.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/Target/IO.tsx
  ui/src/components/NewExperiment/Stepper/Target/Kernel.tsx
  ui/src/components/NewExperiment/Stepper/Target/Network.tsx
  ui/src/components/NewExperiment/Stepper/Target/Pod.tsx
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/Stepper/Target/Time.tsx
  ui/src/components/NewExperiment/Stepper/Target/index.tsx
  ui/src/components/NewExperiment/Stepper/index.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/types.ts
  ui/src/components/Tabs/index.tsx
  ui/src/lib/formikhelpers.ts
  ui/src/lib/search.ts
  ui/src/lib/utils.ts
  ui/src/pages/Experiments/index.tsx
  ui/yarn.lock
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#703 [update]add target kind in experiments/detail
  pkg/apiserver/experiment/experiment.go
Labels: status/LGT2, status/can-merge

#704 update MAINTAINERS
  MAINTAINERS.md
Labels: status/LGT2, status/can-merge

#710 fix io_chaos.md doc link url
  website/docs/user_guides/io_chaos.md
Labels: documentation

#695 Add github action to release helm chart files
  .github/workflows/release_helm_chart.yml
  helm/chaos-mesh/Chart.yaml
Labels: component/helm, status/LGT2

#717 update project code of conduct
  CODE_OF_CONDUCT.md
Labels: status/LGT2, status/can-merge

#702 [add] Update Incomplete Events
  pkg/collector/collector.go
  pkg/core/event.go
  pkg/store/event/event.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#696 Use a docker container to generate protobuf related file
  Makefile
  hack/genproto.sh
  hack/protoc/Dockerfile
  pkg/chaosfs/pb/injure.pb.go
Labels: status/can-merge

#700 api: omit empty fields in /experiments/detail
  pkg/apiserver/experiment/experiment.go
Labels: status/LGT1, status/can-merge

#719 Refine the format and punctuation
  website/docs/use_cases/multi_data_centers.md
Labels: status/LGT2, status/can-merge

#722 chaosdaemon: fix the bug of goroutine leak.
  pkg/chaosdaemon/server.go
Labels: contribution, status/LGT2, type/bug-fix

#720 [update] experiments/state
  pkg/apiserver/experiment/experiment.go
Labels: status/LGT2, status/can-merge

#712 chore: update overview and experiments related (new, detail)
  ui/package.json
  ui/src/@types/global.d.ts
  ui/src/api/archives.type.ts
  ui/src/api/events.ts
  ui/src/api/events.type.ts
  ui/src/api/experiments.type.ts
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentPaper/index.tsx
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/FormField/SelectField.tsx
  ui/src/components/JSONEditor/index.tsx
  ui/src/components/NewExperiment/Stepper/Schedule.tsx
  ui/src/components/NewExperiment/Stepper/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/PaperTop/index.tsx
  ui/src/components/SkeletonN/index.tsx
  ui/src/components/StatusBar/index.tsx
  ui/src/components/StatusPanel/index.tsx
  ui/src/components/TopContainer/Header.tsx
  ui/src/components/TopContainer/MobileNavigation.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/lib/d3/chaosBarChart.ts
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/formikhelpers.ts
  ui/src/lib/search.ts
  ui/src/lib/styles/errorButton.ts
  ui/src/lib/styles/runningLabel.ts
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Overview/index.tsx
  ui/src/routes.tsx
  ui/src/theme.ts
  ui/yarn.lock
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#723 UI ReadME: Fix some typos
  ui/README.md
Labels: contribution, status/LGT2, status/can-merge

#713 [update] some experiments related APIs
  api/v1alpha1/common_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  pkg/apiserver/experiment/experiment.go
  pkg/store/experiment/experiment.go
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#683 [add] api/archives/report
  pkg/apiserver/archive/experiment.go
  pkg/core/archive_experiment.go
  pkg/core/event.go
  pkg/store/event/event.go
  pkg/store/experiment/experiment.go
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#724 chore: dashboard patch of #720 and #713
  ui/src/api/experiments.ts
  ui/src/api/experiments.type.ts
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentPaper/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/StatusPanel/index.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/pages/Archives/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/routes.tsx
  ui/src/slices/experiments.ts
Labels: status/LGT2, status/can-merge

#728 Fix version script
  hack/version.sh
  pkg/version/types.go
  pkg/version/version.go
Labels: status/LGT2, status/can-merge

#725 chore: support filter events by pod name
  ui/src/components/EventsTable/index.tsx
  ui/src/lib/search.ts
  ui/src/pages/ExperimentDetail/index.tsx
Labels: status/LGT2, status/can-merge

#730 Update installation.md
  website/docs/installation/installation.md
Labels: contribution, status/LGT2, status/can-merge

#732 update zoom link
  README.md
Labels: status/LGT2, status/can-merge

#726 add e2e test for network chaos
  test/cmd/e2e_helper/main.go
  test/e2e/chaos/basic.go
  test/pkg/fixture/fixture.go
Labels: status/LGT2, status/can-merge

#733 Bug fix for SelectPods
  pkg/utils/selector.go
Labels: status/LGT2, status/can-merge, type/bug-fix

#740 refactor: website
  website/.editorconfig
  website/.prettierrc
  website/README.md
  website/babel.config.js
  website/blog/2020-04-20-simulating-clock-skew-in-k8s-without-affecting-other-containers-on-node.md
  website/docs/installation/get_started_on_kind.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/src/plugins/prism_themes/monokai/index.js
  website/src/styles/custom.scss
  website/src/theme/CodeBlock/index.js
  website/src/theme/CodeBlock/styles.module.css
  website/src/theme/CodeSnippet/index.js
  website/src/theme/CodeSnippet/styles.module.css
  website/static/.nojekyll
  website/static/img/logo.svg
  website/static/img/logo_dark.svg
  website/static/img/logos/cncf-color.svg
  website/static/img/logos/cncf-white.svg
  website/static/img/logos/kubernetes.svg
  website/static/img/logos/logo-mini.svg
  website/static/img/undraw_server_down_s4lk.svg
  website/version.json
  website/yarn.lock
Labels: status/LGT2, status/can-merge, website

#741 fix: broken links in docs
  website/docs/installation/get_started_on_kind.md
  website/docs/use_cases/multi_data_centers.md
  website/docs/user_guides/run_chaos_experiment.md
Labels: status/LGT2, status/can-merge

#716 Update helm doc
  helm/chaos-mesh/README.md
Labels: status/LGT2, status/PTAL, status/can-merge

#744 website: correct logo color in dark mode
  website/docusaurus.config.js
  website/static/img/logos/logo-mini-white.svg
Labels: status/LGT2, status/can-merge

#729 [update] update experiment/detail and archives/detail
  pkg/apiserver/archive/experiment.go
  pkg/apiserver/common/common.go
  pkg/apiserver/experiment/experiment.go
  pkg/core/archive_experiment.go
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#750 Website: announcing chaos mesh as a CNCF sandbox project
  website/blog/2020-07-28-chaos-mesh-join-cncf-sandbox-project.md
  website/static/img/chaos-mesh-cncf.png
Labels: status/LGT2, status/can-merge, website

#751 Website: add twitter preview image
  website/blog/2020-01-15-chaos-mesh-your-chaos-engineering-solution.md
  website/blog/2020-03-18-run-your-first-chaos-experiment.md
  website/blog/2020-04-20-simulating-clock-skew-in-k8s-without-affecting-other-containers-on-node.md
  website/blog/2020-07-28-chaos-mesh-join-cncf-sandbox-project.md
  website/docusaurus.config.js
Labels: status/LGT2, status/can-merge, website

#742 [update]Add limit in api/events
  pkg/apiserver/event/event.go
  pkg/core/event.go
  pkg/store/event/event.go
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#747 [update] update website/doc , remove '$' in shell
  website/docs/user_guides/pause.md
Labels: status/LGT2, status/can-merge

#754 [update] update pkg/apiserver/archive/experiment.go
  pkg/apiserver/archive/experiment.go
Labels: status/LGT3, status/can-merge

#752 fix: api compatibility of dashboard
  ui/src/api/archives.type.ts
  ui/src/api/events.type.ts
  ui/src/api/experiments.type.ts
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentEventsPreview/index.tsx
  ui/src/components/ExperimentPaper/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/lib/d3/chaosBarChart.ts
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/search.ts
  ui/src/pages/Archives/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Overview/index.tsx
Labels: component/chaos-dashboard, priority/P1, status/LGT2, status/can-merge

#753 fix: remove unused stressor in StressChaos
  ui/src/components/NewExperiment/Stepper/Target/Stress.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/lib/hooks.ts
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#758 chore: update experiment and some other little features
  ui/README.md
  ui/src/api/archives.ts
  ui/src/api/events.ts
  ui/src/api/events.type.ts
  ui/src/api/experiments.ts
  ui/src/api/experiments.type.ts
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentPaper/index.tsx
  ui/src/components/JSONEditor/index.tsx
  ui/src/components/NewExperiment/index.tsx
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/search.ts
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/store.ts
Labels: status/LGT2, status/can-merge

#759 Support container-wise StressChaos injection
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  controllers/stresschaos/types.go
  manifests/crd.yaml
Labels: status/LGT2, status/can-merge

#760 [update] update the website
  website/docs/development_guides/develop.md
  website/docs/installation/installation.md
  website/docs/user_guides/sidecar_template.md
Labels: status/LGT2, status/can-merge

#734 chore: add network target and partition action in dashboard
  pkg/core/archive_experiment.go
  ui/src/components/AdvancedOptions/index.tsx
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/NewExperiment/Stepper/Scope.tsx
  ui/src/components/NewExperiment/Stepper/Target/Kernel.tsx
  ui/src/components/NewExperiment/Stepper/Target/Network.tsx
  ui/src/components/NewExperiment/Stepper/Target/Time.tsx
  ui/src/components/NewExperiment/Stepper/Target/index.tsx
  ui/src/components/NewExperiment/constants.ts
  ui/src/components/NewExperiment/index.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/lib/formikhelpers.ts
Labels: component/chaos-dashboard, status/LGT2, status/can-merge

#764 Update faq.md - Question
  website/docs/faqs.md
Labels: status/LGT2, status/can-merge

#765 [update] webstie docs
  website/docs/development_guides/develop.md
  website/docs/development_guides/setup_env.md
  website/docs/installation/installation.md
  website/docs/user_guides/pause.md
Labels: status/LGT2, status/can-merge

#766 [update] add Selector.Pods in exp/detail
  pkg/apiserver/experiment/experiment.go
  pkg/core/archive_experiment.go
Labels: component/chaos-dashboard, status/LGT2, status/PTAL, status/can-merge

#721 Use iptables Chain to organize network partition
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/networkchaos/ipset/ipset.go
  controllers/networkchaos/ipset/ipset_test.go
  controllers/networkchaos/iptable/iptable.go
  controllers/networkchaos/netem/types.go
  controllers/networkchaos/netutils/len.go
  controllers/networkchaos/netutils/len_test.go
  controllers/networkchaos/partition/types.go
  controllers/test/types.go
  hack/boilerplate/boilerplate.generatego.txt
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
Labels: component/operator, status/LGT2, status/PTAL, status/can-merge

#768 Refine build system
  .dockerignore
  Dockerfile
  Makefile
Labels: status/LGT2, status/can-merge
