Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-01, with the labels that each got.

#1342 update go version to go 1.15
  go.mod
Labels: status/can-merge

#1343 chore: set ns automatically
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/SearchTrigger/index.tsx
  ui/src/lib/formikhelpers.ts
Labels: status/can-merge

#1200 Add: CRD into Helm Chart
  Makefile
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
Labels: first-time-contributor, status/can-merge

#1345 build: upgrade toda to 0.1.10
  Dockerfile
Labels: needs-cherry-pick-1.0, status/can-merge

#1340 dashboard: add integration test for authority
  .github/workflows/integration_test.yml
  .github/workflows/script_test.yml
  pkg/apiserver/utils/auth.go
  test/integration_test/dashboard_authority/busybox-manager.yaml
  test/integration_test/dashboard_authority/busybox-viewer.yaml
  test/integration_test/dashboard_authority/cluster-manager.yaml
  test/integration_test/dashboard_authority/cluster-viewer.yaml
  test/integration_test/dashboard_authority/run.sh
  test/integration_test/run.sh
  test/integration_test/utils/check_contains
Labels: component/chaos-dashboard, component/tests, status/can-merge

#1350 chore: upgrade UI deps
  ui/.gitignore
  ui/package.json
  ui/src/api/index.ts
  ui/src/components/Search/index.tsx
  ui/src/components/Separate/index.tsx
  ui/src/index.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/formikhelpers.ts
  ui/src/serviceWorker.ts
  ui/src/setupTests.ts
  ui/tsconfig.json
  ui/yarn.lock
Labels: status/can-merge

#1351 Fix Typo
  hack/update_install_script.sh
Labels: first-time-contributor, status/can-merge

#1356 fix image build error
  .dockerignore
Labels: status/can-merge

#1360 chore: add recipe "config" into .PHONY
  Makefile
Labels: status/can-merge

#1014 Encapsulate Recover of controllers
  controllers/dnschaos/types.go
  controllers/iochaos/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/podnetworkchaosmanager/podnetworkchaosmanager.go
  controllers/networkchaos/podnetworkchaosmanager/transaction.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/podchaos/podfailure/types.go
  controllers/recover/recover.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  test/integration_test/network/run.sh
Labels: contribution, improve/Refine, status/can-merge

#1363 Github Action: add more exempt issue labels
  .github/workflows/stale.yml
Labels: component/misc, status/can-merge

#1367 upgrade toda to v0.1.11
  images/chaos-daemon/Dockerfile
Labels: status/can-merge

#1368 Fix: client.Get gets empty GVK(Group/APIVersion/Kind)
  pkg/apiserver/experiment/experiment.go
  pkg/collector/server.go
Labels: component/chaos-dashboard, status/can-merge, type/bug-fix

#1369 fix: some UI bugs
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/Dashboard/Welcome.tsx
Labels: status/can-merge

#1373 fix makefile
  Makefile
Labels: needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1377 Fix: fail to get gitVersion and gitCommit
  Makefile
Labels: needs-cherry-pick-1.1, type/bug-fix

#1381 chaos-daemon: support setting node selector
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/values.yaml
Labels: component/helm, needs-cherry-pick-1.1, status/can-merge

#1298 move network util functions to the outside of the API folder
  CONTRIBUTING.md
  Makefile
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_types_test.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/networkchaos_webhook_test.go
  cmd/chaos-builder/main.go
  cmd/chaos-controller-manager/main.go
  config/webhook/manifests.yaml
  controllers/podnetworkchaos/ipset/ipset_test.go
  controllers/podnetworkchaos/types.go
  controllers/reconciler/types.go
  controllers/twophase/types.go
  go.mod
  go.sum
  pkg/core/experiment.go
  pkg/netem/convert.go
  pkg/webhook/config/config.go
  pkg/webhook/inject/setup_test.go
  test/e2e/util/util.go
Labels: status/can-merge

#1387 fix: missing stressors checking
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-dashboard, needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1355 make e2e test more stability
  controllers/jvmchaos/types.go
  controllers/twophase/state_machine.go
  hack/run-e2e.sh
  pkg/router/reconciler.go
  test/cmd/e2e_helper/main.go
  test/e2e/chaos/networkchaos/misc.go
  test/e2e/chaos/networkchaos/network_delay.go
  test/e2e/chaos/networkchaos/network_partition.go
  test/e2e/chaos/podchaos/pod_failure.go
Labels: component/tests, needs-cherry-pick-1.1, status/PTAL, status/can-merge

#1396 fix a typo in a comment
  pkg/chaosctl/cmd/root.go
Labels: first-time-contributor, status/can-merge

#1386 fix: scope pods' isolation problem
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/src/slices/experiments.ts
Labels: component/ui, needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1402 fix a typo in log message
  controllers/twophase/state_machine.go
Labels: first-time-contributor, status/can-merge

#1407 update issues template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: status/can-merge

#1406 upgrade toda to v0.1.12
  images/chaos-daemon/Dockerfile
Labels: needs-cherry-pick-1.1, status/can-merge

#1411 dashbaord: set config for sqlite to avoid error `database is locked`
  pkg/store/dbstore/store.go
Labels: component/chaos-dashboard, needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1415 Cleanup parameters in helm values file
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
Labels: first-time-contributor, status/can-merge

#1398 chaosctl: cleanup init functions, avoid load kubernetes client before operate anything
  pkg/chaosctl/cmd/completion.go
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/cmd/root.go
Labels: status/can-merge

#1372 [update] delete events by experiment UID
  pkg/apiserver/archive/archive.go
  pkg/apiserver/event/event_test.go
  pkg/core/event.go
  pkg/store/event/event.go
  test/integration_test/dashboard_authority/run.sh
Labels: component/chaos-dashboard, needs-cherry-pick-1.1, status/PTAL, status/can-merge, type/bug-fix

#1420 [update] delete events by experiment UID (cherry-pick #1372)
  pkg/apiserver/archive/archive.go
  pkg/apiserver/event/event_test.go
  pkg/core/event.go
  pkg/store/event/event.go
  test/integration_test/dashboard_authority/run.sh
Labels: component/chaos-dashboard, status/PTAL

#1374 test: add api tests in UI
  ui/.gitignore
  ui/README.md
  ui/package.json
  ui/scripts/bootstrap.sh
  ui/scripts/test/interface-builder.sh
  ui/src/api/__tests__/archives.type.test.ts
  ui/src/api/__tests__/common.type.test.ts
  ui/src/api/__tests__/events.type.test.ts
  ui/src/api/__tests__/experiments.type.test.ts
  ui/src/api/archives.ts
  ui/src/api/archives.type.ts
  ui/src/api/common.ts
  ui/src/api/events.ts
  ui/src/api/events.type.ts
  ui/src/api/experiments.type.ts
  ui/src/components/NewExperiment/types.ts
  ui/src/setupTests.api.ts
  ui/src/setupTests.ts
  ui/yarn.lock
Labels: component/tests, status/can-merge

#1423 Upgrade toda to v0.1.17
  images/chaos-daemon/Dockerfile
Labels: needs-cherry-pick-1.1, status/can-merge

#1427 perf(UI): reduce bundle size
  ui/package.json
  ui/src/components-mui/Paper/index.tsx
  ui/src/components-mui/PaperContainer/index.tsx
  ui/src/components-mui/PaperTop/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentListItem/index.tsx
  ui/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/src/components/NewExperimentNext/Step1.tsx
  ui/src/components/TopContainer/Navbar.tsx
  ui/src/components/YAML/index.tsx
  ui/src/components/YAMLEditor/index.tsx
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/Dashboard/Welcome.tsx
  ui/src/pages/Dashboard/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Settings/index.tsx
  ui/yarn.lock
Labels: component/ui, needs-cherry-pick-1.1, status/can-merge

#1428 reset failed message when applying action successfully
  controllers/twophase/state_machine.go
  pkg/collector/collector.go
Labels: needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1412 Add Governance Doc for Chaos Mesh Project
  GOVERNANCE.md
Labels: status/can-merge

#1425 Chaosctl: cleanup magic value
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/common/common.go
Labels: component/chaosctl, status/can-merge

#1430 fix: some bug fixes related to the UI
  ui/src/components/ExperimentListItem/index.tsx
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/FormField/TextField.tsx
  ui/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/src/lib/formikhelpers.ts
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/slices/experiments.ts
Labels: component/ui, needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1442 Add helm parameter to annotate dashboard service
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: needs-cherry-pick-1.1, status/can-merge

#1444 docker client return error if the pid is zero
  pkg/chaosdaemon/util.go
Labels: component/daemon, needs-cherry-pick-1.1, status/can-merge

#1433 chaosctl: refine logging and error wrapping
  go.mod
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/common/common.go
  pkg/chaosctl/common/common_test.go
  pkg/chaosctl/common/exec.go
  pkg/chaosctl/common/logger.go
  pkg/chaosctl/debug/iochaos/iochaos.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/chaosctl/debug/stresschaos/stresschaos.go
Labels: component/chaosctl, status/can-merge, type/enhancement

#1434 fix(chaosctl): best-effort-chaosctl
  pkg/chaosctl/debug/iochaos/iochaos.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/chaosctl/debug/stresschaos/stresschaos.go
Labels: component/chaosctl, status/can-merge, type/bug-fix

#1451 fix yaml generate
  Makefile
Labels: status/can-merge

#1449 feat: more settings in dashboard
  cmd/chaos-dashboard/main.go
  pkg/config/dashboard.go
  ui/src/api/__tests__/common.type.test.ts
  ui/src/api/common.type.ts
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/NewExperimentNext/Step3.tsx
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/pages/Settings/Experiments.tsx
  ui/src/pages/Settings/Other.tsx
  ui/src/pages/Settings/index.tsx
  ui/src/slices/experiments.ts
  ui/src/slices/globalStatus.ts
  ui/src/slices/settings.ts
Labels: component/chaos-dashboard, status/can-merge

#1448 serialize ipset operation with the same name
  go.mod
  go.sum
  pkg/chaosdaemon/container_test.go
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/tc_server_test.go
  pkg/chaosdaemon/time_server_test.go
Labels: chaos/network, component/daemon, needs-cherry-pick-1.1, status/can-merge

#1330 [add] support aws-ec2-stop and aws-ebs-detach
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/awschaos_types_test.go
  api/v1alpha1/awschaos_webhook.go
  api/v1alpha1/awschaos_webhook_test.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-controller-manager/main.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/kustomization.yaml
  controllers/awschaos/detachvolume/types.go
  controllers/awschaos/ec2stop/types.go
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd.yaml
Labels: status/PTAL, status/can-merge

#1453 run chaos-daemon in privileged by default
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: component/helm, component/scripts, status/can-merge

#1447 delete manually-maintained contributors list & add approval details in governance doc
  CONTRIBUTORS
  GOVERNANCE.md
Labels: status/can-merge

#1469 minor: add .vscode to .gitignore
  .gitignore
Labels: first-time-contributor, status/can-merge

#1461 chore: some dashboard updates
  api/v1alpha1/stresschaos_types.go
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
  pkg/apiserver/experiment/experiment.go
  pkg/config/dashboard.go
  pkg/core/experiment.go
  ui/src/api/__tests__/common.type.test.ts
  ui/src/api/common.type.ts
  ui/src/components/NewExperimentNext/Step1.tsx
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/lib/formikhelpers.ts
  ui/src/slices/globalStatus.ts
Labels: component/chaos-dashboard, needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1468 fix: unhandled empty value in LabelField
  ui/src/components/FormField/LabelField.tsx
Labels: first-time-contributor, status/can-merge
