Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-02, with the labels that each got.

#1473 doc: fix spell
  pkg/chaosdaemon/ipset_server.go
Labels: first-time-contributor, status/can-merge

#1394 add registry config to the helm chart
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: component/helm, status/can-merge

#1466 format and clean code
  cmd/chaos-builder/main.go
  controllers/common/types.go
  controllers/jvmchaos/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/twophase/state_machine.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/server.go
  pkg/apiserver/utils/error.go
  pkg/apivalidator/base_validator.go
  pkg/apivalidator/target_validator.go
  pkg/bpm/bpm.go
  pkg/bpm/bpm_test.go
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/common/common.go
  pkg/chaosctl/debug/iochaos/iochaos.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/chaosctl/debug/stresschaos/stresschaos.go
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/tc_darwin.go
  pkg/chaosdaemon/tc_linux.go
  pkg/chaosdaemon/tc_server_test.go
  pkg/core/experiment.go
  pkg/jvm/action.go
  pkg/router/route_table_test.go
  pkg/store/event/event.go
  pkg/store/event/event_test.go
  pkg/webhook/config/watcher/watcher.go
  pkg/webhook/inject/inject_test.go
  pkg/webhook/inject/setup_test.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/podchaos/container_kill.go
Labels: status/PTAL, status/can-merge

#1405 fix(chaosctl): using in-cluster or kubeconfig for port-forwarding ins…
  pkg/chaosctl/common/common.go
  pkg/chaosctl/common/common_rest_client_getter.go
Labels: component/chaosctl, status/can-merge

#1441 [update] update container_kill chaos status
  controllers/podchaos/containerkill/types.go
Labels: needs-cherry-pick-1.1, status/PTAL, status/can-merge

#1480 dashboard: add HTTP API for getting rbac config
  pkg/apiserver/common/common.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#1494 chore(helm): allow install to namespace with numbers only
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
  helm/chaos-mesh/templates/chaos-daemon-service.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/chaos-dashboard-pvc.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/templates/dns-configmap.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/dns-rbac.yaml
  helm/chaos-mesh/templates/dns-service.yaml
  helm/chaos-mesh/templates/ingress.yaml
  helm/chaos-mesh/templates/prometheus-configmap.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/templates/prometheus-rbac.yaml
  helm/chaos-mesh/templates/prometheus-service.yaml
  helm/chaos-mesh/templates/webhook-configuration.yaml
  install.sh
Labels: component/helm, first-time-contributor, status/can-merge

#1470 [add] add ec2-restart
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/awschaos_webhook.go
  cmd/chaos-controller-manager/main.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  controllers/awschaos/ec2restart/types.go
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  manifests/crd.yaml
Labels: status/PTAL, status/can-merge

#1499 fix(minor): some ui assets problems
  hack/embed_ui_assets.sh
  pkg/apiserver/server.go
  pkg/uiserver/empty_assets_handler.go
Labels: status/can-merge

#1502 update slack link to join workspace
  README.md
Labels: status/can-merge

#1507 feat: token generator
  .github/workflows/integration_test.yml
  images/build-env/Dockerfile
  ui/package.json
  ui/src/api/__tests__/archives.type.test.ts
  ui/src/api/__tests__/common.type.test.ts
  ui/src/api/__tests__/experiments.type.test.ts
  ui/src/api/common.ts
  ui/src/api/common.type.ts
  ui/src/api/http.ts
  ui/src/components-mui/ConfirmDialog/index.tsx
  ui/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/Step3.tsx
  ui/src/components/NewExperimentNext/form/Kernel.tsx
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/src/components/NewExperimentNext/form/ScopePodsTable.tsx
  ui/src/components/NewExperimentNext/form/Stress.tsx
  ui/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/src/components/RBACGenerator/index.tsx
  ui/src/components/Token/index.tsx
  ui/src/components/TopContainer/Auth.tsx
  ui/src/components/YAML/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Settings/index.tsx
  ui/src/slices/globalStatus.ts
  ui/yarn.lock
Labels: component/chaos-dashboard, status/can-merge

#1489 add e2e test for bidirection netem
  test/e2e/chaos/networkchaos/misc.go
  test/e2e/chaos/networkchaos/network_delay.go
  test/e2e/chaos/networkchaos/network_partition.go
Labels: status/can-merge

#1492 promote committers
  MAINTAINERS.md
Labels: status/can-merge

#1508 fix typo
  MAINTAINERS.md
Labels: status/can-merge

#1454 DNSChaos: add patterns for match domain name
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/dnschaos_type_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  controllers/dnschaos/types.go
  examples/dns-chaos-example.yaml
  go.mod
  go.sum
  hack/run-e2e.sh
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/values.yaml
  manifests/crd.yaml
  pkg/apiserver/experiment/experiment.go
  pkg/core/experiment.go
  test/e2e/chaos/dnschaos/dns.go
  test/e2e/config/config.go
  test/types.go
Labels: chaos/dns, status/can-merge

#1496 chore: dynamic update data on homepage
  ui/package.json
  ui/src/components-mui/PaperTop/index.tsx
  ui/src/components-mui/Tooltip/index.tsx
  ui/src/components/ArchiveDuration/index.tsx
  ui/src/components/ArchiveNumberOf/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/components/ExperimentListItem/index.tsx
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/NewExperimentNext/Step1.tsx
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/src/components/Search/index.tsx
  ui/src/components/Timeline/index.tsx
  ui/src/components/TopContainer/Sidebar.tsx
  ui/src/i18n/zh.json
  ui/src/lib/d3/chaosStatePieChart.ts
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/dayjs.ts
  ui/src/lib/luxon.ts
  ui/src/pages/ArchiveReport/index.tsx
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/Dashboard/Recent.tsx
  ui/src/pages/Dashboard/TotalState.tsx
  ui/src/pages/Dashboard/index.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/yarn.lock
Labels: component/ui, status/can-merge

#1418 Workflow: docs, interfaces and serial scheduler
  go.mod
  pkg/workflow/engine/errors/errors.go
  pkg/workflow/engine/errors/jsonify_error.go
  pkg/workflow/engine/errors/no_more_template_in_serial_template.go
  pkg/workflow/engine/errors/no_such_template.go
  pkg/workflow/engine/errors/no_such_tree_node.go
  pkg/workflow/engine/errors/parse_template_failed.go
  pkg/workflow/engine/model/doc.go
  pkg/workflow/engine/model/node/node.go
  pkg/workflow/engine/model/template/network_chaos.go
  pkg/workflow/engine/model/template/parallel.go
  pkg/workflow/engine/model/template/pod_chaos.go
  pkg/workflow/engine/model/template/serial.go
  pkg/workflow/engine/model/template/suspend.go
  pkg/workflow/engine/model/template/task.go
  pkg/workflow/engine/model/template/template.go
  pkg/workflow/engine/model/workflow/workflow.go
  pkg/workflow/engine/scheduler/scheduler.go
  pkg/workflow/engine/scheduler/serial_scheduler.go
  workflow/docs/design.md
Labels: status/can-merge

#1490 NetworkChaos: fix `both` direction has no effect
  api/v1alpha1/networkchaos_webhook.go
  controllers/networkchaos/trafficcontrol/types.go
Labels: chaos/network, component/operator, needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1286 Bugfix: Use `Last` to get current phase at start time of standard cron
  api/v1alpha1/common_validation.go
  api/v1alpha1/iochaos_webhook_test.go
  controllers/twophase/types.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/timechaos/time_skew.go
Labels: needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1510 chore: support dns patterns in UI
  pkg/core/experiment.go
  ui/src/components/NewExperimentNext/data/target.ts
Labels: component/ui, status/can-merge

#1512 Appending e2e test cases for issue 1450
  test/e2e/chaos/basic.go
  test/e2e/chaos/networkchaos/network_peers_crossover.go
Labels: status/can-merge

#1518 Bugfix: Use `Last` to get current phase at start time of standard cron (#1286)
  api/v1alpha1/common_validation.go
  api/v1alpha1/iochaos_webhook_test.go
  controllers/twophase/types.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/timechaos/time_skew.go
Labels: type/1.1-cherry-pick

#1477 awschaos: add integration test with localstack
  .github/workflows/integration_test.yml
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  controllers/awschaos/ec2stop/types.go
  go.mod
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  manifests/crd.yaml
  test/integration_test/README.md
  test/integration_test/aws/aws_chaos_template.yaml
  test/integration_test/aws/aws_secret.yaml
  test/integration_test/aws/run.sh
  test/integration_test/dashboard_authority/run.sh
  test/integration_test/network/run.sh
Labels: chaos/aws, status/PTAL, status/can-merge

#1523 chore: change stress workers' default value to 0
  ui/src/components/NewExperimentNext/Step3.tsx
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Stress.tsx
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
Labels: component/ui, needs-cherry-pick-1.1, status/can-merge
