Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-07, with the labels that each got.

#2067 fix: fix broken CI "Script Test" and "Intergration Test"
  .github/workflows/integration_test.yml
  .github/workflows/script_test.yml
  pkg/workflow/controllers/serial_node_reconciler_test.go
  test/integration_test/aws/run.sh
Labels: needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge

#2066 chore(api): use direct routes
  Makefile
  cmd/chaos-dashboard/main.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/server.go
  pkg/config/dashboard/dashboard.go
  pkg/core/experiment.go
  pkg/core/schedule.go
  pkg/core/workflow.go
  pkg/store/event/event.go
  pkg/store/experiment/experiment.go
  pkg/store/schedule/schedule.go
  pkg/store/workflow/workflow.go
  ui/package.json
  ui/src/App.tsx
Labels: component/chaos-dashboard, component/ui, needs-cherry-pick-2.0, size/L, status/LGT2, status/can-merge

#2036 promote shivanshs9 as a new committer
  MAINTAINERS.md
Labels: size/XS, status/LGT2, status/can-merge

#2068 fix: upload predefined objects on UI
  ui/package.json
  ui/src/pages/Dashboard/Predefined.tsx
  ui/yarn.lock
Labels: component/ui, needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge

#2056 [dashboard] sort experiments(schedules and workflows)
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/apiserver/workflow/workflow.go
Labels: needs-cherry-pick-2.0, size/S, status/LGT2, status/PTAL, status/can-merge

#2062 feat: dashboard API of task node
  pkg/core/workflow.go
  pkg/core/workflow_test.go
Labels: component/chaos-dashboard, component/workflow, needs-cherry-pick-2.0, size/XL, status/LGT2, status/can-merge

#2081 fix: duplicated field created_at with which in gorm.Model
  pkg/apiserver/archive/archive.go
  pkg/apiserver/workflow/workflow.go
  pkg/core/workflow.go
Labels: component/chaos-dashboard, component/workflow, needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge, type/bug-fix

#2085 .github: upload schedule-migration binary
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  Makefile
Labels: needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge

#2083 feat: enriching events for workflow
  api/v1alpha1/workflownode_types.go
  controllers/utils/recorder/workflow.go
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/chaos_node_reconciler.go
  pkg/workflow/controllers/deadline_reconciler.go
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/task_reconciler.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: component/workflow, needs-cherry-pick-2.0, size/XL, status/LGT2, status/can-merge, type/enhancement

#2086 chore: show children of task node
  ui/src/api/workflows.type.ts
  ui/src/lib/cytoscape.ts
Labels: component/chaos-dashboard, component/workflow, needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge

#2099 Update PSP RoleBinding to respect release namespace
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
Labels: contribution, first-time-contributor, needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2089 .github: add 'tools/schedule-migration/**' path
  .github/workflows/upload_latest_files.yml
Labels: needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2106 fix: handle routes without slash
  pkg/apiserver/server.go
Labels: component/chaos-dashboard, needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2111 alert when no record has been selected
  controllers/common/controller.go
Labels: needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2092 use cgroups load to modify the cgroup
  Makefile
  e2e-test/e2e/chaos/stresschaos/memory.go
  e2e-test/go.sum
  go.mod
  go.sum
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  install.sh
  pkg/chaosdaemon/cgroups/pidpath.go
  pkg/chaosdaemon/cgroups/utils.go
  pkg/chaosdaemon/stress_server_linux.go
Labels: needs-cherry-pick-1.2, needs-cherry-pick-2.0, size/XL, status/LGT2, status/can-merge

#2104 integrate with delve
  Makefile
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-service.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/values.yaml
  images/chaos-dlv/Dockerfile
  images/chaos-dlv/README.md
Labels: size/L, status/LGT2, status/can-merge

#2121 chore: bump the version to v2.0.0-beta.3
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/M, status/LGT2, status/can-merge

#2124 TEST_USE_EXISTING_CLUSTER replace USE_EXISTING_CLUSTER
  Makefile
  api/v1alpha1/suite_test.go
  cmd/chaos-controller-manager/provider/suit_test.go
  controllers/desiredphase/suit_test.go
  controllers/finalizers/suit_test.go
  controllers/schedule/suit_test.go
  pkg/webhook/inject/setup_test.go
  pkg/workflow/controllers/suite_test.go
Labels: contribution, first-time-contributor, needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge

#2123 fix: missing created_at field
  pkg/core/workflow.go
Labels: component/chaos-dashboard, needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2126 chore: show status in single page
  ui/src/components/ObjectConfiguration/Node.tsx
  ui/src/components/ObjectConfiguration/index.tsx
  ui/src/pages/Archives/Single.tsx
  ui/src/pages/Experiments/Single.tsx
  ui/src/pages/Schedules/Single.tsx
Labels: component/ui, needs-cherry-pick-2.0, size/XL, status/LGT2, status/can-merge

#2094 rename AwsChaos (GcpChaos) to AWSChaos (GCPChaos)
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/awschaos_types_test.go
  api/v1alpha1/awschaos_webhook.go
  api/v1alpha1/awschaos_webhook_test.go
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/gcpchaos_types_test.go
  api/v1alpha1/gcpchaos_webhook.go
  api/v1alpha1/gcpchaos_webhook_test.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.schedule.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh_test.go
  api/webhook/validate_auth.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/awschaos/detachvolume/impl.go
  controllers/chaosimpl/awschaos/ec2restart/impl.go
  controllers/chaosimpl/awschaos/ec2stop/impl.go
  controllers/chaosimpl/awschaos/impl.go
  controllers/chaosimpl/gcpchaos/diskloss/impl.go
  controllers/chaosimpl/gcpchaos/impl.go
  controllers/chaosimpl/gcpchaos/nodereset/impl.go
  controllers/chaosimpl/gcpchaos/nodestop/impl.go
  controllers/chaosimpl/gcpchaos/utils/utils.go
  controllers/types/types.go
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/apiserver/archive/archive.go
  pkg/apiserver/event/event.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/collector/schedule_collector.go
  pkg/core/experiment.go
  pkg/selector/aws/selector.go
  pkg/selector/gcp/selector.go
  pkg/selector/selector.go
  pkg/workflow/controllers/new_node.go
  test/integration_test/aws/aws_chaos.yaml
  test/integration_test/aws/aws_chaos_template.yaml
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/NewExperimentNext/form/Scope.tsx
Labels: needs-cherry-pick-2.0, size/XXL, status/LGT2, status/PTAL, status/can-merge

#2132 docs: update adopters and format rest
  ADOPTERS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
  MAINTAINERS.md
  ROADMAP.md
Labels: size/L, status/LGT2, status/can-merge

#2133 recover after failing to apply
  controllers/stresschaos/types.go
Labels: size/XS, status/LGT2, status/can-merge

#2137 frontend: mapping template type to fields
  cmd/chaos-builder/main.go
  cmd/chaos-builder/workflow_frontend.go
  ui/src/api/workflows.ts
  ui/src/api/zz_generated.workflow.chaos-mesh.ts
  ui/src/components/ObjectConfiguration/index.tsx
Labels: component/chaos-dashboard, needs-cherry-pick-2.0, size/M, status/LGT2, status/can-merge, type/bug-fix

#2129 [Dashboard] check container_names before create chaos
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-dashboard, needs-cherry-pick-2.0, size/S, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#2120 fix: deadline reconciler, keep deadline exceed with true
  pkg/workflow/controllers/chaos_node_reconciler.go
  pkg/workflow/controllers/deadline_reconciler.go
  pkg/workflow/controllers/deadline_reconciler_test.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: needs-cherry-pick-2.0, size/XXL, status/LGT2, status/can-merge, type/bug-fix

#2135 chore: disable scope in advance
  ui/src/components/AdvancedOptions/index.tsx
  ui/src/components/NewExperimentNext/Step1.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/lib/formikhelpers.ts
Labels: component/ui, needs-cherry-pick-2.0, size/L, status/LGT2, status/can-merge

#2145 chore: bump image version
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/M, status/LGT2, status/can-merge

#2147 Upload schedule migration
  .github/workflows/upload_release_files.yml
  Makefile
  tools/schedule-migration/main.go
  tools/schedule-migration/migrate.sh
  tools/schedule-migration/readme.md
Labels: needs-cherry-pick-2.0, size/M, status/LGT2, status/can-merge

#2148 chores: update chaos mesh adopters
  ADOPTERS.md
Labels: contribution, size/S, status/LGT2, status/can-merge

#2156 fix(#2155): 404 not found
  ADOPTERS.md
Labels: size/M, status/LGT2, status/can-merge

#2157 fix: do not use tls while connet to bpkfi
  controllers/kernelchaos/types.go
Labels: chaos/kernel, size/XS, status/LGT2, status/can-merge, type/bug-fix

#2160 chore: bump image version to v1.2.3
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#2168 fix data race in client and daemon
  cmd/chaos-controller-manager/provider/updated_client.go
  cmd/chaos-controller-manager/provider/updated_client_test.go
  go.mod
  pkg/bpm/buffer.go
  pkg/bpm/buffer_test.go
Labels: size/L, status/LGT2, status/can-merge

#2169 fix: i18n
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/ObjectConfiguration/Node.tsx
  ui/src/i18n/en.json
  ui/yarn.lock
Labels: component/ui, size/XXL, status/LGT2, status/can-merge
