Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-04, with the labels that each got.

#1612 add e2e test for stress
  go.mod
  go.sum
  test/cmd/e2e_helper/Dockerfile
  test/cmd/e2e_helper/go.mod
  test/cmd/e2e_helper/go.sum
  test/cmd/e2e_helper/main.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/stresschaos/cpu.go
  test/e2e/chaos/stresschaos/memory.go
  test/e2e/chaos/stresschaos/misc.go
  test/pkg/fixture/fixture.go
Labels: size/XL, status/LGT2, status/can-merge

#1634 fix: back to the old version of kind
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: component/e2e, size/XS, status/LGT2, status/can-merge

#1636 fix: maintainers-list
  MAINTAINERS.md
Labels: contribution, size/XS, status/LGT1

#1599 Support chaosctl tls connection
  helm/chaos-mesh/templates/secrets-configuration.yaml
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/common/common.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/grpc/utils.go
  test/integration_test/chaosctl/run.sh
Labels: size/L, status/LGT2, status/can-merge

#1644 fix: token name duplicate
  ui/src/components/Token/index.tsx
  ui/src/components/TopContainer/Auth.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
Labels: component/ui, needs-cherry-pick-1.1, needs-cherry-pick-1.2, size/M, status/LGT2, status/can-merge, type/bug-fix

#1652 fix: token name duplicate (#1644)
  ui/src/components/Token/index.tsx
  ui/src/components/TopContainer/Auth.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
Labels: component/ui, size/M, status/LGT2, status/can-merge

#1623 github-action: upload chaosctl to s3
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: needs-cherry-pick-1.1, needs-cherry-pick-1.2, size/S, status/LGT2, status/can-merge

#1621 feat: apply multi type of chaos nodes with code generation
  api/v1alpha1/workflow_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh_test.go
  cmd/chaos-builder/main.go
  cmd/chaos-builder/test_workflow.go
  cmd/chaos-builder/workflow.go
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  examples/network-delay-example.yaml
  examples/network-delay-with-target-example.yaml
  examples/workflow/workflow.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/workflow/controllers/chaos_node_reconciler.go
Labels: component/workflow, size/XXL, status/LGT2, status/can-merge

#1648 chore(makefile): build e2e thing on local host
  Makefile
Labels: size/M, status/LGT2, status/can-merge

#1657 fix github action
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: component/tests, size/XS, status/LGT2, status/can-merge, type/bug-fix

#1647 add dashboard hostNetwork option in helm
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: size/XS, status/LGT2, status/can-merge

#1658 more better logs in e2e tests
  test/e2e/chaos/stresschaos/cpu.go
  test/e2e/chaos/stresschaos/memory.go
Labels: size/S, status/LGT2, status/can-merge

#1672 Revert "Use bigheap to inject heap stress (#776)" (#1581)
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/stresschaos_webhook_test.go
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  manifests/crd.yaml
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Stress.tsx
Labels: size/L, status/LGT2, status/can-merge

#1656 [update] add awschaos api
  pkg/apiserver/archive/archive.go
  pkg/apiserver/experiment/experiment.go
  pkg/core/experiment.go
Labels: needs-cherry-pick-1.2, size/L, status/LGT2, status/can-merge

#1673 fix(ui): long text is not truncated
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/lib/utils.ts
  ui/src/pages/Dashboard/Recent.tsx
  ui/src/pages/Events/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
Labels: component/ui, size/L, status/LGT2, status/can-merge, type/bug-fix

#1676 fix tiny typo
  controllers/iochaos/types.go
  hack/lib.sh
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/core/workflow.go
  pkg/router/reconciler.go
  ui/src/pages/Settings/Other.tsx
Labels: needs-cherry-pick-1.2, size/S, status/LGT2, status/can-merge

#1677 Cherrypick #1599 to 1.2
  helm/chaos-mesh/templates/secrets-configuration.yaml
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/common/common.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/grpc/utils.go
  test/integration_test/chaosctl/run.sh
Labels: contribution, size/L, status/LGT2, status/can-merge

#1545 Make iochaos wait for toda startup
  go.mod
  go.sum
  images/chaos-daemon/Dockerfile
  pkg/bpm/utils.go
  pkg/chaosdaemon/iochaos_server.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/iochaos/io_delay.go
Labels: size/L, status/LGT2, status/can-merge

#1687 fix vauth.kb.io webhook, use the lowercase resource name
  api/webhook/validate_auth.go
  test/integration_test/auth-rbac-webhook/podchaos-example.yaml
  test/integration_test/auth-rbac-webhook/rbac.yaml
  test/integration_test/auth-rbac-webhook/run.sh
Labels: needs-cherry-pick-1.1, needs-cherry-pick-1.2, size/L, status/LGT2, status/can-merge

#1682 feat: support awschaos in UI
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/Step1.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/images/chaos/aws.svg
  ui/src/lib/byKind.tsx
  ui/src/pages/Dashboard/TotalExperiments.tsx
Labels: chaos/aws, component/ui, needs-cherry-pick-1.2, size/L, status/LGT2, status/can-merge

#1688 upgrade go version to 1.15.11 in build-env
  images/build-env/Dockerfile
Labels: size/XS, status/LGT2, status/can-merge

#1692 update go version to 1.15.11 in github workflows
  .github/workflows/ci.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  test/cmd/e2e_helper/go.mod
Labels: needs-cherry-pick-1.1, needs-cherry-pick-1.2, size/S, status/LGT2, status/can-merge

#1709 update go version to 1.15.11 in github workflows(#1692)
  .github/workflows/ci.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: size/XS, status/LGT2, status/can-merge, type/1.1-cherry-pick

#1710 update go version to 1.15.11 in github workflows(#1692)
  .github/workflows/ci.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: size/XS, status/LGT2, status/can-merge, type/1.2-cherry-pick

#1704 Set v1.1.3 tag
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#1681 fix: let workflow and workflownode bypass the vauth webhook
  api/webhook/validate_auth.go
Labels: component/workflow, size/M, status/LGT2, status/can-merge, type/bug-fix

#1712 Make iochaos wait for toda startup (#1545)
  go.mod
  go.sum
  images/chaos-daemon/Dockerfile
  pkg/bpm/utils.go
  pkg/chaosdaemon/iochaos_server.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/iochaos/io_delay.go
Labels: contribution, size/L, status/LGT2, status/can-merge

#1708 Fix chaosctl
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/common/common.go
  pkg/chaosctl/common/common_test.go
  pkg/chaosctl/debug/iochaos/iochaos.go
  pkg/chaosctl/debug/networkchaos/networkchaos.go
  pkg/chaosctl/debug/stresschaos/stresschaos.go
Labels: contribution, size/L, status/LGT2, status/can-merge

#1583 chaos-dashboard web api for workflow
  Makefile
  api/v1alpha1/workflownode_types.go
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/handler.go
  pkg/apiserver/workflow/workflow.go
  pkg/core/common.go
  pkg/core/experiment.go
  pkg/core/workflow.go
  pkg/core/workflow_test.go
  pkg/workflow/controllers/new_node.go
  ui/src/components/NewExperimentNext/form/Stress.tsx
Labels: size/XXL, status/LGT2, status/can-merge

#1715 support setting annotations for dnsServer deployment
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: size/XS, status/LGT2, status/can-merge

#1719 add check for whether duration is nil
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
Labels: needs-cherry-pick-1.1, needs-cherry-pick-1.2, size/M, status/LGT2, status/can-merge

#1718 Fix wrong log
  pkg/chaosdaemon/container.go
Labels: contribution, size/XS, status/LGT2, status/can-merge

#1722 Set default tag to v1.1.4
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#1616 [update] batch delete archives and experiments
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/event/event_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/core/event.go
  pkg/core/experiment.go
  pkg/store/event/event.go
  pkg/store/experiment/experiment.go
Labels: component/chaos-dashboard, needs-cherry-pick-1.2, size/L, status/LGT2, status/can-merge

#1723 feat: support batch delete in UI
  ui/package.json
  ui/src/api/archives.ts
  ui/src/api/experiments.ts
  ui/src/components-mui/ConfirmDialog/index.tsx
  ui/src/components-mui/NotFound/index.tsx
  ui/src/components-mui/Paper/index.tsx
  ui/src/components-mui/PaperContainer/index.tsx
  ui/src/components-mui/PaperTop/index.tsx
  ui/src/components-mui/Space/index.tsx
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/components/ExperimentListItem/index.tsx
  ui/src/components/Search/index.tsx
  ui/src/components/TopContainer/Auth.tsx
  ui/src/components/TopContainer/Namespace.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/images/assets/undraw_empty_street-dark.svg
  ui/src/images/assets/undraw_empty_street.svg
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/Dashboard/Recent.tsx
  ui/src/pages/Dashboard/Welcome.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/pages/Settings/TokensTable.tsx
  ui/yarn.lock
Labels: component/ui, needs-cherry-pick-1.2, size/XXL, status/LGT2, status/can-merge

#1730 Helm: install chaos-dashboard by default
  hack/update_install_script.sh
  helm/chaos-mesh/values.yaml
Labels: component/helm, needs-cherry-pick-1.2, size/XS, status/LGT2, status/can-merge

#1728 [update] batch delete archives and experiments
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/event/event_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/core/event.go
  pkg/core/experiment.go
  pkg/store/event/event.go
  pkg/store/experiment/experiment.go
Labels: size/L, status/LGT2, status/can-merge, type/1.2-cherry-pick

#1733 fix failed recover
  controllers/twophase/state_machine.go
  controllers/twophase/state_machine_test.go
Labels: size/S, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#1738 e2e: disable unstable test
  test/e2e/chaos/basic.go
Labels: needs-cherry-pick-1.2, status/LGT2, status/can-merge

#1734 e2e: disable chaos dashboard by default
  ci/pingcap_chaos_mesh_build_kind.groovy
  test/action.go
  test/config.go
  test/e2e/config/config.go
  test/e2e/e2e.go
  test/types.go
Labels: needs-cherry-pick-1.2, size/M, status/LGT2, status/can-merge

#1739 fix failed recover
  controllers/twophase/state_machine.go
  controllers/twophase/state_machine_test.go
Labels: needs-cherry-pick-1.2, size/S, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#1741 Set default tag to v1.2.0
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#1745 daemon: contain output in error when executing command
  pkg/chaosdaemon/dns_server.go
  pkg/chaosdaemon/ipset_server.go
Labels: size/S, status/LGT2, status/can-merge

#1631 support disk_list in gcpchaos disk-loss action
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/gcpchaos_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/gcpchaos/diskloss/types.go
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
Labels: size/L, status/LGT2, status/can-merge

#1750 chore: bump version of kind node for fitting kind version
  hack/e2e.sh
Labels: size/XS, status/LGT2, status/can-merge

#1748 add cgo build tag for pkg/ptrace
  pkg/ptrace/cwrapper_linux.go
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/ptrace/ptrace_linux_test.go
  pkg/ptrace/ptrace_nocgo.go
Labels: size/L, status/LGT2, status/can-merge

#1752 update go-protoc version to 1.3.0
  go.mod
  hack/protoc/Dockerfile
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
Labels: size/XL, status/LGT2, status/can-merge

#1735 Kubernetes recommanded labels
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
  helm/chaos-mesh/templates/chaos-daemon-service.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/chaos-dashboard-pvc.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/templates/dns-configmap.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/dns-rbac.yaml
  helm/chaos-mesh/templates/dns-service.yaml
  helm/chaos-mesh/templates/ingress.yaml
  helm/chaos-mesh/templates/prometheus-configmap.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/templates/prometheus-rbac.yaml
  helm/chaos-mesh/templates/prometheus-service.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: contribution, size/XL, status/LGT2, status/can-merge

#1744 Fix stresschaos e2e
  test/cmd/e2e_helper/main.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/stresschaos/memory.go
  test/pkg/fixture/fixture.go
Labels: contribution, size/S, status/LGT2, status/can-merge

#1707 Fix test
  api/v1alpha1/awschaos_types_test.go
  api/v1alpha1/awschaos_webhook_test.go
  api/v1alpha1/common_webhook_test.go
  api/v1alpha1/dnschaos_type_test.go
  api/v1alpha1/gcpchaos_types_test.go
  api/v1alpha1/gcpchaos_webhook_test.go
  api/v1alpha1/httpchaos_types_test.go
  api/v1alpha1/iochaos_types_test.go
  api/v1alpha1/iochaos_webhook_test.go
  api/v1alpha1/jvmchaos_types_test.go
  api/v1alpha1/kernelchaos_webhook_test.go
  api/v1alpha1/networkchaos_types_test.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/podchaos_types_test.go
  api/v1alpha1/podchaos_webhook_test.go
  api/v1alpha1/stresschaos_webhook_test.go
  api/v1alpha1/timechaos_webhook_test.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh_test.go
  cmd/chaos-builder/test.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/selector/pod/selector_test.go
Labels: contribution, size/XXL, status/LGT2, status/can-merge

#1686 feat: support GcpChaos in dashboard
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/gcpchaos_webhook.go
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/apiserver/archive/archive.go
  pkg/apiserver/experiment/experiment.go
  pkg/core/experiment.go
  ui/package.json
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/images/chaos/gcp.svg
  ui/src/lib/byKind.tsx
  ui/src/pages/Dashboard/TotalExperiments.tsx
  ui/src/pages/Dashboard/TotalState.tsx
  ui/yarn.lock
Labels: chaos/gcp, component/chaos-dashboard, component/ui, size/XXL, status/LGT2, status/can-merge
