Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-06, with the labels that each got.

#1916 update dashboard api and integration test
  pkg/apiserver/event/event_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/collector/event_collector.go
  pkg/core/event.go
  pkg/store/event/event.go
  pkg/store/event/event_test.go
  test/integration_test/dashboard_authority/run.sh
Labels: size/XL, status/LGT2, status/can-merge

#1915 Temporarily disable upload latest files
  .github/workflows/upload_latest_files.yml
Labels: size/L, status/LGT2, status/can-merge

#1929 fix: startup workflow bootstrap with fx
  controllers/fx.go
  examples/workflow/parallel.yaml
  examples/workflow/serial.yaml
Labels: size/XS, status/LGT2, status/can-merge

#1899 [podnetworkchaos] Fix networkchaos heal
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/iptable/iptable.go
  controllers/podnetworkchaos/tc/tc.go
Labels: contribution, first-time-contributor, size/L

#1921 update dashboard
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  cmd/chaos-builder/impl.go
  controllers/metrics/metrics.go
  pkg/apiserver/event/event.go
  pkg/apiserver/event/event_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/collector/collector.go
  pkg/collector/event_collector.go
  pkg/collector/server.go
  pkg/core/event.go
  pkg/store/event/event.go
  pkg/store/event/event_test.go
  pkg/store/experiment/experiment.go
Labels: component/chaos-dashboard, size/XL, status/LGT2, status/PTAL, status/can-merge

#1926 Add webhook to reject updating chaos spec
  api/v1alpha1/awschaos_webhook.go
  api/v1alpha1/dnschaos_webhook.go
  api/v1alpha1/gcpchaos_webhook.go
  api/v1alpha1/httpchaos_webhook.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/jvmchaos_webhook.go
  api/v1alpha1/kernelchaos_webhook.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/podchaos_webhook.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/timechaos_webhook.go
  pkg/apiserver/event/event.go
Labels: contribution, size/M, status/LGT2, status/can-merge

#1937 fix: the bad camelCase conversion method
  api/v1alpha1/zz_generated.schedule.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  cmd/chaos-builder/workflow.go
  cmd/chaos-builder/workflow_test.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
Labels: size/L, status/LGT2

#1934 Appending UID for dashboard workflow and workflownode
  pkg/core/workflow.go
  pkg/core/workflow_test.go
Labels: size/M, status/LGT2, status/can-merge

#1922 update helm README
  helm/chaos-mesh/README.md
Labels: documentation, size/XS, status/LGT2, status/PTAL, status/can-merge

#1942 add pause/start schedule api
  pkg/apiserver/schedule/schedule.go
Labels: component/chaos-dashboard, size/L, status/LGT2, status/PTAL, status/can-merge

#1943 update archive fileds
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
Labels: component/chaos-dashboard, size/L, status/LGT2, status/PTAL, status/can-merge

#1896 upgrade to apiextensions.k8s.io/v1 CRD
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  .muse.toml
  Makefile
  api/v1alpha1/suite_test.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podhttpchaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/config/types_test.go
  controllers/desiredphase/suit_test.go
  controllers/finalizers/suit_test.go
  controllers/schedule/suit_test.go
  e2e-test/action.go
  e2e-test/go.mod
  e2e-test/go.sum
  e2e-test/types.go
  go.mod
  go.sum
  hack/lib.sh
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podhttpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/bpm/suit_test.go
  pkg/chaosdaemon/setup_test.go
  pkg/ptrace/ptrace_linux_test.go
  pkg/time/time_linux_test.go
  pkg/webhook/config/setup_test.go
  pkg/webhook/config/watcher/setup_test.go
  pkg/webhook/inject/setup_test.go
Labels: size/XXL, status/LGT2

#1928 remove remote build by moving file into a docker image
  .gitignore
  Makefile
Labels: size/S, status/LGT2, status/can-merge

#1939 Add webhook for schedule
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  api/v1alpha1/schedule_webhook.go
  e2e-test/go.sum
Labels: contribution, size/L, status/LGT2, status/can-merge

#1935 chaos node could also sync schedule
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  cmd/chaos-builder/workflow.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  examples/workflow/parallel.yaml
  examples/workflow/serial.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/workflow/controllers/chaos_node_reconciler.go
  pkg/workflow/controllers/new_node.go
Labels: size/XXL, status/LGT2, status/can-merge

#1945 workflow dashboard api, change field names into snake_case
  pkg/core/workflow.go
Labels: size/S, status/LGT2

#1944 fix: jvmchaos example
  examples/jvm/jvm-return-example.yaml
Labels: size/XS, status/LGT2, status/can-merge

#1946 update get ChasoState
  api/v1alpha1/common_types.go
  controllers/metrics/metrics.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/utils/state.go
Labels: component/chaos-dashboard, size/L, status/LGT2, status/PTAL

#1932 fix controller plane cache problem
  api/webhook/validate_auth.go
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  controllers/chaosimpl/dnschaos/types.go
  controllers/chaosimpl/fx.go
  controllers/chaosimpl/httpchaos/podhttpchaosmanager/builder.go
  controllers/chaosimpl/iochaos/podiochaosmanager/builder.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/chaosimpl/networkchaos/podnetworkchaosmanager/builder.go
  controllers/chaosimpl/podchaos/containerkill/impl.go
  controllers/chaosimpl/stresschaos/impl.go
  controllers/chaosimpl/timechaos/impl.go
  controllers/chaosimpl/utils/fx.go
  controllers/chaosimpl/utils/record.go
  controllers/common/fx.go
  controllers/desiredphase/controller.go
  controllers/desiredphase/fx.go
  controllers/desiredphase/suit_test.go
  controllers/finalizers/controller.go
  controllers/finalizers/fx.go
  controllers/finalizers/suit_test.go
  controllers/fx.go
  controllers/podhttpchaos/controller.go
  controllers/podhttpchaos/fx.go
  controllers/podiochaos/controller.go
  controllers/podiochaos/fx.go
  controllers/podnetworkchaos/controller.go
  controllers/podnetworkchaos/fx.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/iptable/iptable.go
  controllers/podnetworkchaos/tc/tc.go
  controllers/podnetworkchaos/types_test.go
  controllers/schedule/suit_test.go
  controllers/utils/chaosdaemon/chaosdaemon.go
  controllers/utils/test/provider.go
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
  pkg/selector/container/selector.go
  pkg/selector/pod/selector.go
Labels: size/XXL, status/LGT2

#1949 Fix go import
  Makefile
Labels: contribution, size/XS, status/LGT2, status/can-merge

#1948 Webhook refactor
  api/v1alpha1/awschaos_webhook.go
  api/v1alpha1/common_types.go
  api/v1alpha1/common_validation.go
  api/v1alpha1/dnschaos_webhook.go
  api/v1alpha1/gcpchaos_webhook.go
  api/v1alpha1/httpchaos_webhook.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/jvmchaos_webhook.go
  api/v1alpha1/kernelchaos_webhook.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/podchaos_webhook.go
  api/v1alpha1/schedule_item.go
  api/v1alpha1/schedule_type_test.go
  api/v1alpha1/schedule_webhook.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/timechaos_webhook.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.schedule.chaosmesh.go
  cmd/chaos-builder/impl.go
  cmd/chaos-builder/schedule.go
  cmd/chaos-builder/test.go
  controllers/schedule/schedule_test.go
  pkg/apiserver/schedule/schedule.go
  pkg/workflow/controllers/new_node.go
Labels: contribution, size/XXL, status/LGT2, status/can-merge

#1950 chores: update-readme
  README.md
Labels: contribution, size/XS, status/LGT2, status/can-merge

#1923 update install.sh
  helm/chaos-mesh/values.yaml
  install.sh
Labels: component/scripts, size/M, status/LGT2, status/PTAL, status/can-merge

#1957 fix(route): batch delete schedule archives
  pkg/apiserver/archive/archive.go
Labels: size/XS, status/LGT2, status/can-merge

#1959 .github: disable script test temporarily
  .github/workflows/script_test.yml
Labels: size/M, status/LGT2, status/can-merge

#1952 rename containerName to containerNames
  api/v1alpha1/podchaos_webhook.go
  api/v1alpha1/podchaos_webhook_test.go
  api/v1alpha1/selector.go
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: size/XXL, status/LGT2, status/PTAL, status/can-merge

#1954 set exclusive minimum for startingDeadlineSeconds
  api/v1alpha1/schedule_types.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  controllers/schedule/cron/utils.go
  controllers/schedule/cron/utils_test.go
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: size/M, status/LGT2, status/can-merge

#1956 .github: refine pr template
  .github/pull_request_template.md
Labels: size/M, status/LGT2, status/can-merge

#1960 [add] schedule state
  pkg/apiserver/schedule/schedule.go
  pkg/apiserver/utils/state.go
Labels: size/S, status/LGT2, status/can-merge

#1958 Update go mod and add test for schedule webhook
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  api/v1alpha1/schedule_webhook_test.go
  e2e-test/go.sum
  go.sum
Labels: contribution, size/XL, status/LGT2, status/can-merge

#1962 [update] check schedule.IsPaused() before getRecentUnmetScheduleTime()
  controllers/schedule/cron/controller.go
Labels: size/S, status/LGT2, status/PTAL, status/can-merge

#1909 structured event recorder for Workflow
  api/v1alpha1/workflownode_types.go
  controllers/utils/recorder/annotations.go
  controllers/utils/recorder/recorder.go
  controllers/utils/recorder/recorder_test.go
  controllers/utils/recorder/workflow.go
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/chaos_node_reconciler.go
  pkg/workflow/controllers/deadline_reconciler.go
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: size/L, status/LGT2, status/can-merge

#1961 dashboard: archive of workflow
  pkg/apiserver/archive/archive.go
  pkg/apiserver/handler.go
  pkg/apiserver/workflow/workflow.go
  pkg/collector/schedule_collector.go
  pkg/collector/server.go
  pkg/collector/workflow_collector.go
  pkg/core/workflow.go
  pkg/core/workflow_test.go
  pkg/store/store.go
  pkg/store/workflow/workflow.go
Labels: size/XXL, status/LGT2, status/can-merge

#1938 Migrate schedule fix
  examples/etcd/etcd-iochaos.yaml
  examples/jvm/jvm-cfl-example.yaml
  examples/jvm/jvm-delay4jvm-example.yaml
  examples/jvm/jvm-delay4servlet-example.yaml
  examples/jvm/jvm-exception-example.yaml
  examples/jvm/jvm-oom-example.yaml
  examples/jvm/jvm-return-example.yaml
  examples/web-show/network-delay.yaml
  examples/web-show/pod-failure.yaml
  examples/web-show/pod-kill.yaml
  go.mod
  tools/schedule-migration/main.go
  tools/schedule-migration/migrate.sh
  tools/schedule-migration/readme.md
Labels: contribution, size/XXL, status/LGT2, status/can-merge

#1967 [dashboard]: update DeleteIncompleteSchedules
  pkg/core/experiment.go
  pkg/core/schedule.go
  pkg/store/schedule/schedule.go
Labels: component/chaos-dashboard, size/S, status/LGT2, status/PTAL, status/can-merge

#1971 fix typo
  api/v1alpha1/gcpchaos_webhook.go
Labels: size/XS, status/LGT2, status/can-merge

#1972 enable schedule webhook
  cmd/chaos-controller-manager/main.go
  helm/chaos-mesh/templates/secrets-configuration.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#1975 chore: change the status of workflow, keep same with chaos
  pkg/core/workflow.go
Labels: size/S, status/LGT2, status/can-merge

#1969 [dashboard] update experiments and schedules
  api/v1alpha1/stresschaos_types.go
  e2e-test/go.sum
  go.mod
  go.sum
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
Labels: component/chaos-dashboard, size/M, status/LGT2, status/PTAL, status/can-merge

#1936 Gcp dco
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/gcpchaos_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/chaosimpl/fx.go
  controllers/chaosimpl/gcpchaos/diskloss/impl.go
  controllers/chaosimpl/gcpchaos/impl.go
  controllers/chaosimpl/gcpchaos/nodereset/impl.go
  controllers/chaosimpl/gcpchaos/nodestop/impl.go
  controllers/chaosimpl/gcpchaos/utils/utils.go
  controllers/types/types.go
  go.mod
  go.sum
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/selector/gcp/selector.go
  pkg/selector/selector.go
Labels: contribution, size/XXL, status/LGT2, status/can-merge

#1866 workflow task node
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  e2e-test/action.go
  e2e-test/go.sum
  examples/workflow/custom-task.yaml
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/expr/expr.go
  pkg/expr/expr_test.go
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/new_node.go
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/task_reconciler.go
  pkg/workflow/controllers/utils.go
  pkg/workflow/task/collector/collector.go
  pkg/workflow/task/collector/exit_code.go
  pkg/workflow/task/collector/stdout.go
  pkg/workflow/task/collector/valued_collector.go
  pkg/workflow/task/doc.go
  pkg/workflow/task/evaluator.go
  pkg/workflow/task/pod.go
Labels: size/XXL, status/LGT2, status/can-merge

#1981 Custom pause image for Pod Failure Chaos
  controllers/chaosimpl/podchaos/podfailure/impl.go
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/controller.go
Labels: contribution, first-time-contributor, size/S, status/LGT2, status/can-merge

#1983 Fix: migration script
  tools/schedule-migration/migrate.sh
Labels: contribution, size/XS, status/LGT2, status/can-merge

#1984 rename confusion names in workflow definition and status
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/schedule/schedule_test.go
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/workflow/controllers/new_node.go
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/task_reconciler.go
  pkg/workflow/task/evaluator.go
Labels: size/XXL, status/LGT2, status/can-merge

#1979 add IsOneShot function to fit PodKill and AwsRestart
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/common_types.go
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  cmd/chaos-builder/impl.go
  cmd/chaos-builder/main.go
  controllers/desiredphase/controller.go
  controllers/utils/controller/finished.go
  controllers/utils/controller/finished_test.go
  e2e-test/e2e/chaos/podchaos/container_kill.go
  e2e-test/e2e/chaos/podchaos/pod_kill.go
Labels: size/XL, status/LGT2, status/can-merge

#1982 chore: ignore link with placeholder "url" in issue template
  .github/workflows/checklink_config.json
Labels: size/XS, status/LGT2, status/can-merge

#1986 chore: rename Tasks to Children
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/core/workflow.go
  pkg/core/workflow_test.go
  pkg/workflow/controllers/new_node.go
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
Labels: size/L, status/LGT2, status/can-merge

#1970 workflow: propagate deadline into children node
  api/v1alpha1/workflownode_types.go
  pkg/workflow/controllers/deadline_reconciler.go
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
Labels: size/L, status/LGT2, status/can-merge

#1988 [dashboard] fix create schedule panic
  pkg/apiserver/schedule/schedule.go
Labels: component/chaos-dashboard, size/S, status/LGT2, status/can-merge, type/bug-fix

#1990 [dashboard] fix schedule detail
  pkg/apiserver/schedule/schedule.go
Labels: component/chaos-dashboard, size/S, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#1997 chore: enable uploading artifacts
  .github/workflows/upload_latest_files.yml
Labels: size/L, status/LGT2, status/can-merge

#1973 chore: rename durtaion in workflowspec.template to deadline
  api/v1alpha1/workflow_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/schedule/schedule_test.go
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/workflow/controllers/new_node.go
Labels: size/M, status/LGT2, status/can-merge

#1978 NetworkChaos: fix networkchaos without target
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/podnetworkchaos_types.go
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/podnetworkchaosmanager/builder.go
  e2e-test/cmd/e2e_helper/main.go
  e2e-test/e2e/chaos/networkchaos/network_partition.go
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: size/L, status/LGT2, status/can-merge

#1995 Avoid aggregating multiple different events
  cmd/chaos-controller-manager/provider/controller.go
Labels: size/XS, status/LGT2, status/can-merge

#1999 upload crd-v1beta1.yaml
  .github/workflows/upload_latest_files.yml
Labels: size/XS, status/LGT2, status/can-merge

#2000 ci: setup script test
  .github/workflows/script_test.yml
Labels: size/M, status/LGT2, status/can-merge

#1985 [tools] update schedule-migration
  examples/container-kill-example.yaml
  tools/schedule-migration/main.go
Labels: size/M, status/LGT2, status/PTAL, status/can-merge

#1998 chore: rename wf template duration to deadline on UI
  ui/src/api/workflows.type.ts
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/src/components/NewWorkflow/Add.tsx
  ui/src/components/NewWorkflow/Suspend.tsx
  ui/src/components/NewWorkflow/index.tsx
  ui/src/components/YAMLEditor/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/cytoscape.ts
  ui/src/lib/formikhelpers.ts
  ui/src/pages/Dashboard/index.tsx
  ui/src/slices/workflows.ts
Labels: component/ui, component/workflow, size/L, status/LGT2, status/can-merge

#2001 use default image version v2.0.0-beta.1
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/M, status/LGT2, status/can-merge

#2004 helm: fix environment variable name
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  install.sh
  pkg/config/controller.go
Labels: needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge

#1996 Add rollme for chaos dashboard
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
Labels: contribution, needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2005 fix gitVersion in `<binary> version`
  hack/version.sh
Labels: needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2002 chaosRecorder: submit events without kubernetes event recorder
  controllers/common/fx.go
  controllers/desiredphase/fx.go
  controllers/finalizers/fx.go
  controllers/fx.go
  controllers/podnetworkchaos/fx.go
  controllers/schedule/active/controller.go
  controllers/schedule/cron/controller.go
  controllers/schedule/gc/controller.go
  controllers/schedule/pause/controller.go
  controllers/schedule/suit_test.go
  controllers/utils/recorder/recorder.go
  controllers/utils/test/provider.go
  pkg/workflow/controllers/bootstrap.go
Labels: needs-cherry-pick-2.0, size/L, status/LGT2, status/can-merge

#2010 fix: add max validation to workers in stress chaos
  api/v1alpha1/stresschaos_types.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: contribution, first-time-contributor, size/L, status/LGT2, status/can-merge

#2013 chore: remove the detail output of go download
  .github/workflows/ci.yml
Labels: component/misc, needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2012 update the example of workflow
  examples/workflow/custom-task.yaml
  examples/workflow/parallel.yaml
  examples/workflow/serial.yaml
Labels: component/misc, component/workflow, needs-cherry-pick-2.0, size/M, status/LGT2, status/can-merge

#2020 fix: use patch instead of update within podfailure
  controllers/chaosimpl/podchaos/podfailure/impl.go
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
Labels: chaos/pod, needs-cherry-pick-2.0, size/S, status/LGT2, status/can-merge, type/bug-fix

#2026 chore: use patch instead of update
  controllers/podchaos/podfailure/types.go
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#2006 chore: full search
  ui/src/api/experiments.ts
  ui/src/api/workflows.type.ts
  ui/src/components/NewWorkflow/index.tsx
  ui/src/components/Search/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/formikhelpers.ts
  ui/src/lib/search.ts
  ui/src/pages/Archives/Single.tsx
  ui/src/pages/Workflows/Single.tsx
Labels: component/ui, needs-cherry-pick-2.0, size/L, status/LGT2, status/can-merge

#2027 setup another cache which would be updated if "Update" function is called
  cmd/chaos-controller-manager/provider/controller.go
  cmd/chaos-controller-manager/provider/suit_test.go
  cmd/chaos-controller-manager/provider/updated_client.go
  cmd/chaos-controller-manager/provider/updated_client_test.go
  controllers/common/controller.go
  controllers/schedule/active/controller.go
  controllers/schedule/cron/controller.go
  controllers/utils/test/manager/test_manager.go
  controllers/utils/test/provider.go
Labels: needs-cherry-pick-2.0, size/XXL, status/LGT2, status/can-merge

#2015 chore: create workflow tasks recursively
  ui/src/api/workflows.type.ts
  ui/src/components-mui/Menu/index.tsx
  ui/src/components/FormField/Submit.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/ByYAML/index.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Kernel.tsx
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/src/components/NewExperimentNext/index.tsx
  ui/src/components/NewWorkflow/Add.tsx
  ui/src/components/NewWorkflow/MultiNode.tsx
  ui/src/components/NewWorkflow/Suspend.tsx
  ui/src/components/NewWorkflow/index.tsx
  ui/src/components/NewWorkflow/types.ts
  ui/src/components/ObjectConfiguration/Node.tsx
  ui/src/components/ObjectConfiguration/common.tsx
  ui/src/components/ObjectConfiguration/index.tsx
  ui/src/components/Schedule/types.tsx
  ui/src/components/YAMLEditor/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/byKind.tsx
  ui/src/lib/cytoscape.ts
  ui/src/lib/formikhelpers.ts
  ui/src/lib/utils.ts
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/Settings/TokensTable.tsx
  ui/src/pages/Workflows/Single.tsx
  ui/src/slices/workflows.ts
  ui/src/theme.ts
Labels: component/ui, needs-cherry-pick-2.0, size/XXL, status/LGT2, status/can-merge

#2040 chore: create workflow tasks recursively (#2015)
  ui/src/api/workflows.type.ts
  ui/src/components-mui/Menu/index.tsx
  ui/src/components/FormField/Submit.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/ByYAML/index.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Kernel.tsx
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/src/components/NewExperimentNext/index.tsx
  ui/src/components/NewWorkflow/Add.tsx
  ui/src/components/NewWorkflow/MultiNode.tsx
  ui/src/components/NewWorkflow/Suspend.tsx
  ui/src/components/NewWorkflow/index.tsx
  ui/src/components/NewWorkflow/types.ts
  ui/src/components/ObjectConfiguration/Node.tsx
  ui/src/components/ObjectConfiguration/common.tsx
  ui/src/components/ObjectConfiguration/index.tsx
  ui/src/components/Schedule/types.tsx
  ui/src/components/YAMLEditor/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/byKind.tsx
  ui/src/lib/cytoscape.ts
  ui/src/lib/formikhelpers.ts
  ui/src/lib/utils.ts
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/Settings/TokensTable.tsx
  ui/src/pages/Workflows/Single.tsx
  ui/src/slices/workflows.ts
  ui/src/theme.ts
Labels: size/XXL, status/LGT2, status/can-merge

#2034 Run default before validate schedule chaos
  api/v1alpha1/awschaos_webhook.go
  api/v1alpha1/common_validation.go
  api/v1alpha1/dnschaos_webhook.go
  api/v1alpha1/gcpchaos_webhook.go
  api/v1alpha1/httpchaos_webhook.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/jvmchaos_webhook.go
  api/v1alpha1/kernelchaos_webhook.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/podchaos_webhook.go
  api/v1alpha1/schedule_item.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/timechaos_webhook.go
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: needs-cherry-pick-2.0, size/XL, status/LGT2, status/can-merge

#2028 feat: validation webhook for workflow
  api/v1alpha1/workflow_webhook.go
  api/v1alpha1/workflow_webhook_test.go
  cmd/chaos-controller-manager/main.go
  helm/chaos-mesh/templates/secrets-configuration.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: needs-cherry-pick-2.0, size/XXL, status/LGT2, status/can-merge, type/enhancement

#2044 fix: task node could also be trigger by child workflow node
  pkg/workflow/controllers/bootstrap.go
Labels: component/workflow, needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge, type/bug-fix

#2047 update image version
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/M, status/LGT2, status/can-merge

#2049 Update default image tag to v1.2.2
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#2046 chore: support workflow task node on UI
  ui/src/components/FormField/AutocompleteMultipleField.tsx
  ui/src/components/NewExperimentNext/form/Kernel.tsx
  ui/src/components/NewWorkflow/Add.tsx
  ui/src/components/NewWorkflow/Suspend.tsx
  ui/src/components/NewWorkflow/types.ts
  ui/src/components/ObjectConfiguration/Node.tsx
  ui/src/components/ObjectConfiguration/common.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/formikhelpers.ts
  ui/src/slices/workflows.ts
Labels: component/ui, needs-cherry-pick-2.0, size/XXL, status/LGT2, status/can-merge
