Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-12, with the labels that each got.

#2591 fix: helm install error
  helm/chaos-mesh/templates/chaos-dashboard-pvc.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2539 chore: update pr template
  .github/pull_request_template.md
Labels: type/enhancement, status/can-merge, status/LGT2, size/S

#2568 feat(metrics): add archived objects metrics for chaos-dashboard
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/collector/server.go
  pkg/dashboard/store/metrics/metrics.go
  pkg/dashboard/store/store.go
Labels: status/can-merge, status/LGT2, contribution, size/L

#2573 use chaosd v1.1.0 in integration test
  test/integration_test/physical_machine/run.sh
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.1

#2604 helm: fix ingress condition
  helm/chaos-mesh/templates/ingress.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#2596 README: update chaos mesh architecture image
  README.md
  static/chaos-mesh.png
  static/chaos-mesh.svg
Labels: status/can-merge, status/LGT2, size/L

#2598 chores: update readme & adopters
  ADOPTERS.md
  README.md
Labels: status/can-merge, status/LGT2, size/XS

#2612 update roadmap
  ROADMAP.md
Labels: status/can-merge, status/LGT2, size/XS

#2465 add pipeline controller, take common controllers into a pipeline in order
  cmd/chaos-controller-manager/provider/controller.go
  controllers/action/delegate.go
  controllers/chaosimpl/awschaos/detachvolume/impl.go
  controllers/chaosimpl/awschaos/ec2restart/impl.go
  controllers/chaosimpl/awschaos/ec2stop/impl.go
  controllers/chaosimpl/awschaos/impl.go
  controllers/chaosimpl/dnschaos/types.go
  controllers/chaosimpl/gcpchaos/diskloss/impl.go
  controllers/chaosimpl/gcpchaos/impl.go
  controllers/chaosimpl/gcpchaos/nodereset/impl.go
  controllers/chaosimpl/gcpchaos/nodestop/impl.go
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/chaosimpl/networkchaos/impl.go
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/chaosimpl/physicalmachinechaos/impl.go
  controllers/chaosimpl/podchaos/containerkill/impl.go
  controllers/chaosimpl/podchaos/impl.go
  controllers/chaosimpl/podchaos/podfailure/impl.go
  controllers/chaosimpl/podchaos/podkill/impl.go
  controllers/chaosimpl/stresschaos/impl.go
  controllers/chaosimpl/timechaos/impl.go
  controllers/chaosimpl/types/types.go
  controllers/common/condition/controller.go
  controllers/common/condition/step.go
  controllers/common/desiredphase/README.md
  controllers/common/desiredphase/controller.go
  controllers/common/desiredphase/step.go
  controllers/common/desiredphase_test.go
  controllers/common/finalizers/README.md
  controllers/common/finalizers/controller.go
  controllers/common/finalizers/step.go
  controllers/common/finalizers_test.go
  controllers/common/fx.go
  controllers/common/pipeline/README.md
  controllers/common/pipeline/pipeline.go
  controllers/common/records/README.md
  controllers/common/records/controller.go
  controllers/common/records/step.go
  controllers/common/step.go
  controllers/common/suit_test.go
  controllers/condition/fx.go
  controllers/desiredphase/fx.go
  controllers/desiredphase/suit_test.go
  controllers/finalizers/fx.go
  controllers/fx.go
  pkg/dashboard/apiserver/experiment/experiment.go
  ui/src/components/NewExperimentNext/data/types.ts
  ui/src/lib/byKind.tsx
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XXL, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2540 feat(metrics): add iptables, ipset and tc metrics
  e2e-test/go.sum
  go.mod
  go.sum
  pkg/chaosdaemon/crclients/client.go
  pkg/chaosdaemon/crclients/containerd/client.go
  pkg/chaosdaemon/crclients/containerd/client_test.go
  pkg/chaosdaemon/crclients/crio/client.go
  pkg/chaosdaemon/crclients/docker/client.go
  pkg/chaosdaemon/crclients/docker/client_test.go
  pkg/chaosdaemon/crclients/test/mockclient.go
  pkg/chaosdaemon/server.go
  pkg/metrics/chaos-daemon.go
  pkg/metrics/utils/ipset.go
  pkg/metrics/utils/iptables.go
  pkg/metrics/utils/tc.go
Labels: status/can-merge, status/LGT2, contribution, size/XXL

#2435 feat(metrics): add emitted event counter metric
  cmd/chaos-controller-manager/main.go
  controllers/utils/recorder/recorder.go
  controllers/utils/test/metrics/test_metrics_collector.go
  controllers/utils/test/provider.go
  pkg/metrics/chaos-controller-manager.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#2535 Fix typo in NewExperiment screen
  ui/src/components/NewExperimentNext/data/types.ts
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2621 cherry-pick(#2465): add pipeline controller, take common controllers into a pipeline in order
  cmd/chaos-controller-manager/provider/controller.go
  controllers/action/delegate.go
  controllers/chaosimpl/awschaos/detachvolume/impl.go
  controllers/chaosimpl/awschaos/ec2restart/impl.go
  controllers/chaosimpl/awschaos/ec2stop/impl.go
  controllers/chaosimpl/awschaos/impl.go
  controllers/chaosimpl/dnschaos/types.go
  controllers/chaosimpl/gcpchaos/diskloss/impl.go
  controllers/chaosimpl/gcpchaos/impl.go
  controllers/chaosimpl/gcpchaos/nodereset/impl.go
  controllers/chaosimpl/gcpchaos/nodestop/impl.go
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/chaosimpl/networkchaos/impl.go
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/chaosimpl/physicalmachinechaos/impl.go
  controllers/chaosimpl/podchaos/containerkill/impl.go
  controllers/chaosimpl/podchaos/impl.go
  controllers/chaosimpl/podchaos/podfailure/impl.go
  controllers/chaosimpl/podchaos/podkill/impl.go
  controllers/chaosimpl/stresschaos/impl.go
  controllers/chaosimpl/timechaos/impl.go
  controllers/chaosimpl/types/types.go
  controllers/common/condition/controller.go
  controllers/common/condition/step.go
  controllers/common/desiredphase/README.md
  controllers/common/desiredphase/controller.go
  controllers/common/desiredphase/step.go
  controllers/common/desiredphase_test.go
  controllers/common/finalizers/README.md
  controllers/common/finalizers/controller.go
  controllers/common/finalizers/step.go
  controllers/common/finalizers_test.go
  controllers/common/fx.go
  controllers/common/pipeline/README.md
  controllers/common/pipeline/pipeline.go
  controllers/common/records/README.md
  controllers/common/records/controller.go
  controllers/common/records/step.go
  controllers/common/step.go
  controllers/common/suit_test.go
  controllers/condition/fx.go
  controllers/desiredphase/fx.go
  controllers/desiredphase/suit_test.go
  controllers/finalizers/fx.go
  controllers/fx.go
  pkg/dashboard/apiserver/experiment/experiment.go
  ui/src/components/NewExperimentNext/data/types.ts
  ui/src/lib/byKind.tsx
Labels: status/can-merge, status/LGT2, size/XXL

#2631 chore: bump version to 2.1.1
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2617 Download build cache from file server
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, size/XS

#2570 refactor pkg/time
  pkg/time/asset.go
  pkg/time/fakeclock.go
  pkg/time/time_linux_amd64.go
  pkg/time/time_linux_amd64_test.go
  pkg/time/time_skew_amd64.go
Labels: status/can-merge, status/LGT2, size/XL, needs-cherry-pick-2.1

#2458 feat(metrics): add gRPC client request duration histogram metric
  pkg/chaosdaemon/server.go
  pkg/dashboard/apiserver/server.go
  pkg/metrics/chaos-daemon.go
  pkg/metrics/chaos-dashboard.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/L

#2580 feat: enable mTLS between chaos-controller-manager and chaosd
  controllers/chaosimpl/physicalmachinechaos/impl.go
  hack/update_install_script.sh
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/controller.go
  test/integration_test/physical_machine/chaos.yaml
Labels: status/can-merge, status/LGT2, size/L

#2645 Dashboard: rename physic to hosts
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
Labels: status/can-merge, status/LGT2, component/ui, size/XS, needs-cherry-pick-2.1

#2600 modify the order of generating files
  .github/workflows/ci.yml
  Makefile
Labels: status/can-merge, status/LGT2, size/S

#2618 retry oneshot chaos after 1 second if it's not selected
  controllers/utils/controller/finished.go
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2624 patch(#2465): add pipeline controller, take common controllers into a pipeline in order
  api/webhook/validate_auth.go
  controllers/chaosimpl/awschaos/impl.go
  controllers/chaosimpl/dnschaos/types.go
  controllers/chaosimpl/gcpchaos/impl.go
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/chaosimpl/networkchaos/impl.go
  controllers/chaosimpl/podchaos/impl.go
  controllers/chaosimpl/stresschaos/impl.go
  controllers/chaosimpl/timechaos/impl.go
  controllers/condition/controller.go
  controllers/fx.go
  controllers/pipeline/README.md
  controllers/pipeline/controller.go
  controllers/pipeline/fx.go
  controllers/pipeline/steps.go
  controllers/records/README.md
  controllers/records/controller.go
  controllers/records/pair.go
Labels: status/can-merge, status/LGT2, size/XL

#2526 Providing additional printer
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: status/can-merge, status/LGT2, contribution, size/XL, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2497 feat(metrics): add bpm controlled processes metrics
  pkg/bpm/bpm.go
  pkg/bpm/bpm_test.go
  pkg/bpm/metrics.go
  pkg/chaosdaemon/container_test.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/server_test.go
  pkg/chaosdaemon/time_server_test.go
Labels: status/can-merge, status/LGT2, contribution, size/L

#2671 Cherry pick #2526 to release 2.0
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: status/can-merge, status/LGT2, size/XL

#2674 fix make install; set images.registry
  Makefile
Labels: status/can-merge, status/LGT2, size/XS

#2680 fix: some ui issues
  ui/app/src/components/NewExperimentNext/data/basic.ts
  ui/app/src/components/NewExperimentNext/data/types.ts
  ui/app/src/components/NewExperimentNext/form/Scope.tsx
  ui/app/src/components/TopContainer/index.tsx
  ui/app/src/pages/Workflows/index.tsx
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/M, needs-cherry-pick-2.1

#2681 upgrade gopsutil pkg to v3
  e2e-test/go.sum
  go.mod
  go.sum
Labels: status/can-merge, status/LGT2, size/S

#2667 chore: update badge for building latest/daily image
  README.md
Labels: status/can-merge, status/LGT2, size/XS

#2679 feat: new ci for upload coverage data to codecov
  .github/.licenserc.yaml
  .github/workflows/ci.yml
  .github/workflows/codecov_unittest.yaml
  codecov.yml
Labels: status/can-merge, status/LGT2, size/M, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2685 chore(ui): upgrade to create-react-app-5
  .github/.licenserc.yaml
  ui/.yarnclean
  ui/app/package.json
  ui/app/src/components/NewWorkflow/index.tsx
  ui/package.json
  ui/yarn.lock
Labels: type/enhancement, type/bug-fix, status/can-merge, status/LGT2, component/ui, size/XXL, needs-cherry-pick-2.1

#2693 fix: chaos-kernel-builds, python3 and mark bcc version
  images/chaos-kernel/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2663 refactor: rename, documents and tests for action.Delegate
  controllers/action/delegate.go
  controllers/action/multiplexer.go
  controllers/action/multiplexer_examples_test.go
  controllers/action/multiplexer_test.go
  controllers/chaosimpl/awschaos/impl.go
  controllers/chaosimpl/gcpchaos/impl.go
  controllers/chaosimpl/networkchaos/impl.go
  controllers/chaosimpl/podchaos/impl.go
Labels: status/can-merge, status/LGT2, size/XL

#2655 chore: nil check when creating stressor
  pkg/apiserver/experiment/experiment.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/S

#2705 chore: remove unused mockgen
  Makefile
  images/dev-env/Dockerfile
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.0, rebuild-dev-env-image, needs-cherry-pick-2.1

#2673 add specific prefix for identifiers of toda and tproxy
  pkg/bpm/bpm.go
  pkg/chaosdaemon/httpchaos_server.go
  pkg/chaosdaemon/iochaos_server.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2702 e2e: dynamically get branch name from env
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, size/XS

#2713 ci: add rebuild dev-env and build-env in codecov test
  .github/workflows/codecov_unittest.yaml
Labels: status/can-merge, status/LGT2, size/S

#2703 e2e: Download build cache from file server (#2617, #2702)
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.0

#2714 chore: disable codecov/patch
  codecov.yml
Labels: status/can-merge, status/LGT2, size/XS

#2720 revert #2582
  Makefile
Labels: status/can-merge, status/LGT2, size/XS, rebuild-build-env-image, rebuild-dev-env-image, needs-cherry-pick-2.1

#2718 e2e: Download build cache from file server (#2703)
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, size/XS

#2706 chore: use `-covermode atomic` for accuracy hits with parallel
  Makefile
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2724 Dashboard: fix wrong field name in PhysicalMachineChaos
  ui/app/src/components/NewExperimentNext/data/types.ts
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#2642 chaosctl add physical-machine command
  e2e-test/go.sum
  go.mod
  go.sum
  pkg/chaosctl/cmd/physicalmachine.go
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/physicalmachine/create.go
  pkg/chaosctl/physicalmachine/generate.go
  pkg/chaosctl/physicalmachine/init.go
  pkg/chaosctl/physicalmachine/pki.go
  pkg/chaosctl/physicalmachine/ssh.go
  pkg/label/label.go
  pkg/label/label_test.go
Labels: status/can-merge, status/LGT2, size/XXL

#2728 chore: bump version to 2.1.2
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2729 chore: bump version to 2.0.6
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2732 chore: rebuild dev-env and build-env when releasing
  .github/workflows/upload_image.yml
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.1
