Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-09, with the labels that each got.

#2195 chore: remove unused codes
  Makefile
  e2e-test/go.sum
  go.mod
  go.sum
  pkg/workflow/mock/model/mock_node/mock_node.go
  pkg/workflow/mock/model/mock_template/mock_parallel.go
  pkg/workflow/mock/model/mock_template/mock_serial.go
  pkg/workflow/mock/model/mock_template/mock_suspend.go
  pkg/workflow/mock/model/mock_template/mock_task.go
  pkg/workflow/mock/model/mock_template/mock_template.go
  pkg/workflow/mock/model/mock_workflow/mock_workflow.go
  pkg/workflow/mock_generate.go
  pkg/workflow/model/doc.go
  pkg/workflow/model/node/node.go
  pkg/workflow/model/template/network_chaos.go
  pkg/workflow/model/template/parallel.go
  pkg/workflow/model/template/pod_chaos.go
  pkg/workflow/model/template/serial.go
  pkg/workflow/model/template/suspend.go
  pkg/workflow/model/template/task.go
  pkg/workflow/model/template/template.go
  pkg/workflow/model/workflow/workflow.go
  pkg/workflow/scheduler/scheduler.go
  pkg/workflow/scheduler/serial_scheduler.go
  pkg/workflow/scheduler/serial_scheduler_test.go
Labels: status/can-merge, status/LGT2, size/XXL

#2239 add admission webhooks for schedule and workflow
  api/v1alpha1/common_webhook.go
  api/v1alpha1/genericwebhook/bfs.go
  api/v1alpha1/genericwebhook/bfs_test.go
  api/v1alpha1/genericwebhook/defaulter.go
  api/v1alpha1/genericwebhook/validater.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/selector.go
  api/v1alpha1/timechaos_webhook.go
  api/webhook/affected_namespaces.go
  api/webhook/affected_namespaces_test.go
  api/webhook/validate_auth.go
Labels: status/can-merge, status/LGT2, size/XL

#2269 fix: disable duration when chaos is instant
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/form/Scheduler.tsx
Labels: status/can-merge, status/LGT2, size/S

#2262 Move [InnerObjectWithCustomStatus],[InnerObjectWithSelector] to api/v…
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/common_types.go
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  api/webhook/validate_auth.go
  controllers/common/controller.go
  controllers/common/fx.go
  controllers/condition/controller.go
Labels: status/can-merge, status/LGT2, contribution, size/M

#2250 Makefile: use tools in docker
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  go.mod
  go.sum
  hack/protoc/Dockerfile
  hack/verify-boilerplate.sh
  images/build-env/Dockerfile
  images/dev-env/Dockerfile
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaoskernel/pb/bpfki.pb.go
  pkg/swaggerdocs/docs.go
  pkg/swaggerdocs/swagger.json
  pkg/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/XXL

#2271 update helm values.yaml and README
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
Labels: documentation, status/PTAL, status/can-merge, status/LGT2, size/XS

#2276 fix: add some annotation to pull request template
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, first-time-contributor, size/XS

#2279 add schedule and workflow to a special kinds map
  api/v1alpha1/kinds.go
  api/v1alpha1/schedule_types.go
  api/webhook/validate_auth.go
Labels: status/can-merge, status/LGT2, size/M

#2282 fix the dependency of `generate`
  Makefile
Labels: status/can-merge, status/LGT2, size/XS

#2277 pull image from ghcr.io instead of building from scratch
  .github/workflows/ci.yml
  .github/workflows/integration_test.yml
  .github/workflows/upload_env_images.yml
  Makefile
  images/build-env/Dockerfile
  images/dev-env/Dockerfile
Labels: status/can-merge, status/LGT2, size/L, rebuild-build-env-image, rebuild-dev-env-image

#2284 chore: always build swagger server
  Makefile
  pkg/dashboard/swaggerserver/empty_handler.go
  pkg/dashboard/swaggerserver/handler.go
Labels: status/can-merge, status/LGT2, size/M

#2261 schedule-migration: fix dns scope && container name
  tools/schedule-migration/main.go
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.0

#2292 Use v1 rather than v1beta1 for admissionregistration.k8s.io apiVersion in webhooks
  config/webhook/manifests.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  install.sh
Labels: status/can-merge, status/LGT2, contribution, size/L

#2296 add label to skip script test
  .github/workflows/script_test.yml
Labels: status/can-merge, status/LGT2, size/XS, skip-script-test

#2293 Move @siddontang, @zhouqiang-cl, and @Yisaer to emeritus maintainers
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/S

#2297 Revert "Move @siddontang, @zhouqiang-cl, and @Yisaer to emeritus maintainers"
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/S

#2299 build only when dockerfile is modified
  .github/workflows/upload_build_env_image.yml
  .github/workflows/upload_dev_env_image.yml
Labels: status/can-merge, status/LGT2, size/M

#2289 chaos-daemon: fix nil pointer dereference in chaos-daemon
  pkg/bpm/bpm.go
Labels: status/can-merge, status/LGT2, needs-cherry-pick-1.2, size/XS, needs-cherry-pick-2.0

#2303 fix: persist event with UTC Time
  pkg/dashboard/apiserver/event/event.go
  pkg/dashboard/collector/event_collector.go
  pkg/dashboard/core/common.go
  pkg/dashboard/store/event/event.go
  ui/src/components/NewExperimentNext/Step2.tsx
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, size/S

#2235 implement Physical machine chaos
  api/v1alpha1/go.mod
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_types_test.go
  api/v1alpha1/physical_machine_chaos_webhook.go
  api/v1alpha1/physical_machine_chaos_webhook_test.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.schedule.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh_test.go
  api/webhook/validate_auth.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  config/crd/kustomization.yaml
  controllers/chaosimpl/fx.go
  controllers/chaosimpl/physicalmachinechaos/impl.go
  controllers/types/types.go
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/collector/collector.go
  pkg/dashboard/collector/schedule_collector.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/selector/physicalmachine/selector.go
  pkg/selector/selector.go
  pkg/workflow/controllers/new_node.go
  test/integration_test/physical_machine/chaos.yaml
  test/integration_test/physical_machine/run.sh
  test/integration_test/physical_machine/schedule.yaml
  test/integration_test/physical_machine/workflow.yaml
  ui/src/api/zz_generated.frontend.chaos-mesh.ts
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/data/types.ts
Labels: type/enhancement, status/can-merge, status/LGT2, size/XXL

#2315 upgrade cron to v3
  api/v1alpha1/schedule_types.go
  api/v1alpha1/schedule_webhook.go
  api/v1alpha1/schedule_webhook_test.go
  controllers/schedule/cron/utils.go
  go.mod
  go.sum
Labels: status/can-merge, status/LGT2, size/M

#2326 Update my company info
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/XS

#2325 Make the managed-by label a const value
  api/v1alpha1/common_types.go
  controllers/schedule/cron/controller.go
  controllers/schedule/utils/list.go
  pkg/dashboard/apiserver/schedule/schedule.go
  pkg/dashboard/collector/collector.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#2307 chores: add new adopters
  ADOPTERS.md
  README.md
Labels: status/can-merge, status/LGT2, size/S

#2291 feat: enable chaos-controller-manager leader election
  cmd/chaos-controller-manager/provider/controller.go
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/controller.go
Labels: status/can-merge, status/LGT2, size/M, skip-script-test

#2324 Remove the duplicated GetObjectMeta method
  api/v1alpha1/common_types.go
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/common/fx.go
  controllers/desiredphase/controller.go
  controllers/finalizers/controller.go
  controllers/schedule/cron/controller.go
  controllers/schedule/pause/controller.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#2330 fix: phase_selectors to phaseSelectors
  ui/src/components/NewExperimentNext/form/Scope.tsx
Labels: status/can-merge, status/LGT2, component/ui, size/XS

#2318 Makefile,ci: Build arm image for `build-env` and `dev-env` and upload to `ghcr.io`
  .github/workflows/upload_build_env_image.yml
  .github/workflows/upload_dev_env_image.yml
  .github/workflows/upload_env_image.yml
  Makefile
  images/build-env/Dockerfile
  images/dev-env/Dockerfile
Labels: status/can-merge, status/LGT2, size/L, rebuild-build-env-image, rebuild-dev-env-image

#2311 codebase: Add static interface checks for the interface `InnerObject` (#2163)
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#2301 e2e test on kubernetes v1.22.1
  ci/pingcap_chaos_mesh_build_kind.groovy
  e2e-test/image/e2e/Dockerfile
  hack/e2e.sh
  hack/lib.sh
Labels: status/can-merge, status/LGT2, size/S

#2333 ci: add image tag to action
  .github/workflows/upload_env_image.yml
Labels: status/can-merge, status/LGT2, size/XS

#2332 Replace fake.NewFakeClient with NewClientBuilder since the NewFakeClient method is already deprecated
  controllers/podnetworkchaos/types_test.go
  pkg/chaosctl/common/common_test.go
  pkg/chaosctl/debug/stresschaos/stresschaos.go
  pkg/selector/pod/selector_test.go
Labels: status/can-merge, status/LGT2, contribution, size/S

#2298 Move @siddontang, @zhouqiang-cl, and @Yisaer to emeritus maintainers
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/S

#2335 Dockerfile: use kubebuilder-tools but not kubebuilder
  images/dev-env/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS

#2338 fix: support aws/gcp chaos in dashboard archive
  pkg/collector/collector.go
Labels: type/bug-fix, status/PTAL, status/can-merge, component/chaos-dashboard, status/LGT2

#2337 fix: support aws/gcp chaos in dashboard archive
  pkg/dashboard/collector/collector.go
Labels: type/bug-fix, status/PTAL, status/can-merge, component/chaos-dashboard, status/LGT2, size/XS

#2339 Upgrade kind versions on e2e tests
  ci/pingcap_chaos_mesh_build_kind.groovy
  hack/e2e.sh
  hack/kind-cluster-build.sh
Labels: status/can-merge, status/LGT2, size/S

#2347 chore: bump image version to 2.0.2
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2340 chaos-daemon support arm64
  Makefile
  cmd/watchmaker/main_linux_amd64.go
  cmd/watchmaker/main_linux_arm64.go
  images/chaos-daemon/Dockerfile
  pkg/ptrace/ptrace_linux_amd64_test.go
  pkg/time/time_linux_amd64_test.go
Labels: status/can-merge, status/LGT2, size/M

#2349 stresschaos: don't add arguments to stress-ng if workers == 0
  api/v1alpha1/stresschaos_types.go
Labels: status/can-merge, status/LGT2, size/XS
