Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-11, with the labels that each got.

#2428 physicalmachinechaos: remove key before set kv
  controllers/chaosimpl/physicalmachinechaos/impl.go
Labels: status/can-merge, status/LGT2, size/XS

#2441 chore: update admissionregistration with v1
  helm/chaos-mesh/templates/secrets-configuration.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/L

#2417 feat: add PhysicalMachineChaos UI
  .github/.licenserc.yaml
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/Step1.tsx
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/Step3.tsx
  ui/src/components/NewExperimentNext/data/basic.ts
  ui/src/components/NewExperimentNext/data/types.ts
  ui/src/components/NewExperimentNext/form/Nodes.tsx
  ui/src/components/NewExperimentNext/form/Scope.tsx
  ui/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/src/components/NewExperimentNext/index.tsx
  ui/src/components/ObjectConfiguration/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/images/chaos/disk.svg
  ui/src/images/chaos/java.svg
  ui/src/images/chaos/process.svg
  ui/src/images/k8s.svg
  ui/src/images/physic.svg
  ui/src/lib/byKind.tsx
  ui/src/lib/formikhelpers.ts
  ui/src/slices/experiments.ts
Labels: status/can-merge, status/LGT2, component/ui, size/XXL

#2442 add genericSelector struct
  api/v1alpha1/selector.go
  api/v1alpha1/workflow_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/webhook/affected_namespaces_test.go
  e2e-test/e2e/chaos/dnschaos/dns.go
  e2e-test/e2e/chaos/httpchaos/http_abort.go
  e2e-test/e2e/chaos/httpchaos/http_delay.go
  e2e-test/e2e/chaos/httpchaos/http_patch.go
  e2e-test/e2e/chaos/httpchaos/http_replace.go
  e2e-test/e2e/chaos/iochaos/io_delay.go
  e2e-test/e2e/chaos/iochaos/io_error.go
  e2e-test/e2e/chaos/iochaos/io_mistake.go
  e2e-test/e2e/chaos/networkchaos/misc.go
  e2e-test/e2e/chaos/podchaos/container_kill.go
  e2e-test/e2e/chaos/podchaos/pod_failure.go
  e2e-test/e2e/chaos/podchaos/pod_kill.go
  e2e-test/e2e/chaos/stresschaos/misc.go
  e2e-test/e2e/chaos/timechaos/time_skew.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/common/common.go
  pkg/chaosctl/common/common_test.go
  pkg/selector/pod/selector_test.go
  pkg/workflow/controllers/chaos_node_test.go
  pkg/workflow/controllers/deadline_reconciler_test.go
  pkg/workflow/controllers/parallel_node_reconciler_test.go
  pkg/workflow/controllers/serial_node_reconciler_test.go
Labels: status/can-merge, status/LGT2, size/XXL

#2456 fix: bundle ui assets when build dashboard
  .github/workflows/upload_image.yml
  pkg/dashboard/apiserver/server.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/S

#2454 Fix schedule workflow webhook
  api/v1alpha1/genericwebhook/defaulter.go
  api/v1alpha1/genericwebhook/validater.go
  api/v1alpha1/schedule_item.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/S

#2439 Update pr template
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, size/M

#2455 overwrite GORPOXY in the Makefile
  Makefile
Labels: status/can-merge, status/LGT2, size/S

#2402 feat(metrics): add schedule and workflow metrics
  api/webhook/inject.go
  cmd/chaos-controller-manager/main.go
  controllers/metrics/metrics.go
  pkg/metrics/chaos-controller-manager.go
  pkg/webhook/config/watcher/watcher.go
  pkg/webhook/inject/inject.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XL

#2462 Use ghcr in latest helm
  hack/local-up-chaos-mesh.sh
  hack/update_install_script.sh
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M, needs-cherry-pick-2.0

#2471 chore: remove trademark in images
  README.md
  static/chaos-mesh-social-preview.png
  static/logo.svg
  ui/src/images/logo-white.svg
  ui/src/images/logo.svg
Labels: status/can-merge, status/LGT2, size/XS

#2470 building images for realease-2.0 with GitHub Action
  .github/workflows/upload_image.yaml
  Makefile
Labels: status/can-merge, status/LGT2, size/M

#2467 typo: fix FixedPercentPodMod and RandomMaxPercentPodMod
  api/v1alpha1/selector.go
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/XXL

#2466 chores: remove-trademark-symbol
  README.md
  helm/chaos-mesh/Chart.yaml
Labels: status/can-merge, status/LGT2, size/S

#2482 chore: short the project name for image
  .github/workflows/upload_image.yml
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.0

#2487 chore: short the project name for image(#2482)
  .github/workflows/upload_image.yml
Labels: status/can-merge, status/LGT2, size/XS

#2411 workflow: fix: unexpected accomplished with no children Task Node
  pkg/workflow/controllers/task_reconciler.go
Labels: type/bug-fix, status/can-merge, status/LGT2, component/workflow, size/M, needs-cherry-pick-2.0

#2444 update adopters list
  ADOPTERS.md
Labels: status/can-merge, status/LGT2, size/M

#2481 Building chaos kernel for release 2.0
  .github/workflows/upload_image.yml
  images/chaos-kernel/Dockerfile
Labels: status/can-merge, status/LGT2, size/S

#2488 Building chaos kernel on master
  .github/workflows/upload_image.yml
  Makefile
  images/chaos-kernel/Dockerfile
Labels: status/can-merge, status/LGT2, size/M

#2494 chore: bump version to 2.0.4
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2366 JVMChaos: refine with byteman
  .github/.licenserc.yaml
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/jvmchaos_types_test.go
  api/v1alpha1/jvmchaos_webhook.go
  api/v1alpha1/jvmchaos_webhook_test.go
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/test/types.go
  examples/jvm/app.yaml
  examples/jvm/jvm-exception-example.yaml
  examples/jvm/jvm-return-example.yaml
  examples/jvm/jvm-rule-data-example.yaml
  examples/jvm/sidecar-template.yaml
  examples/jvm/sidecar.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/chaos-daemon/Dockerfile
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/jvm_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaoskernel/pb/bpfki.pb.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/jvm/action.go
  pkg/jvm/sandbox.go
  test/integration_test/jvm/exception.yaml
  test/integration_test/jvm/helloworld_pod.yaml
  test/integration_test/jvm/rule-data.yaml
  test/integration_test/jvm/run.sh
Labels: status/can-merge, status/LGT2, chaos/jvm, size/XXL

#2495 Makefile: natively build without setting platform
  Makefile
Labels: status/can-merge, status/LGT2, size/S

#2459 update scheme of ctrl server for chaosctl refactoring
  pkg/ctrlserver/graph/generated/generated.go
  pkg/ctrlserver/graph/model/models_gen.go
  pkg/ctrlserver/graph/schema.graphqls
  pkg/ctrlserver/graph/schema.resolvers.go
Labels: status/can-merge, status/LGT2, size/XXL

#2474 fix: leader election create cm in target namespace
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/S

#2446 chore: disable update temporally
  pkg/dashboard/apiserver/experiment/experiment.go
  pkg/dashboard/apiserver/schedule/schedule.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/src/api/experiments.ts
  ui/src/api/schedules.ts
  ui/src/components/YAMLEditor/index.tsx
  ui/src/pages/Experiments/Single.tsx
  ui/src/pages/Schedules/Single.tsx
Labels: status/can-merge, status/LGT2, size/XL

#2502 Fix dashboard mysql bug
  pkg/dashboard/core/workflow.go
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, contribution, first-time-contributor, size/XS

#2512 test: run test for crclients pkg
  pkg/chaosdaemon/crclients/containerd/client_test.go
  pkg/chaosdaemon/crclients/docker/client_test.go
Labels: status/can-merge, status/LGT2, size/M

#2522 Makefile: remove buildx and load argument
  Makefile
Labels: status/can-merge, status/LGT2, size/XS

#2528 chore: change project name for build-env and dev-env
  .github/workflows/upload_env_image.yml
  Makefile
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, size/M, rebuild-build-env-image, rebuild-dev-env-image

#2525 chore: disable update temporally (#2446)
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  ui/src/api/experiments.ts
  ui/src/api/schedules.ts
  ui/src/pages/Experiments/Single.tsx
  ui/src/pages/Schedules/Single.tsx
Labels: component/chaos-dashboard, status/LGT1, component/ui, size/XL, type/2.0-cherry-pick

#2532 dashboard: remove datasource in log
  pkg/dashboard/store/store.go
Labels: status/can-merge, status/LGT2, size/XS

#2517 chore: remove useless rollme
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/XS

#2496 chore: restructure image for primiary components in helm
  e2e-test/config.go
  e2e-test/e2e/config/config.go
  e2e-test/e2e/e2e.go
  e2e-test/types.go
  hack/local-up-chaos-mesh.sh
  hack/run-e2e.sh
  hack/update_install_script.sh
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/L

#2529 support JVMChaos in Dashboard
  pkg/dashboard/collector/collector.go
  pkg/dashboard/collector/schedule_collector.go
  ui/src/components/NewExperimentNext/Step1.tsx
  ui/src/components/NewExperimentNext/data/types.ts
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, size/L

#2524 fix: can't load schedule archives
  ui/package.json
  ui/src/App.tsx
  ui/src/components/NewExperimentNext/LoadFrom/index.test.tsx
  ui/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/src/lib/idb.ts
  ui/src/test-utils.tsx
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/L, needs-cherry-pick-2.0

#2538 Fix ContianerRecordDecoder typo
  controllers/chaosimpl/dnschaos/types.go
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/podchaos/containerkill/impl.go
  controllers/chaosimpl/stresschaos/impl.go
  controllers/chaosimpl/timechaos/impl.go
  controllers/chaosimpl/utils/record.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S, needs-cherry-pick-2.0

#2534 client: use updatedClient to fix cache problem
  cmd/chaos-controller-manager/main.go
  pkg/router/reconciler.go
  pkg/router/route_table.go
  pkg/updatedclient/updated_client.go
Labels: status/can-merge, status/LGT2, size/L

#2544 fix(daemon): allow docker client use low version API
  pkg/chaosdaemon/crclients/docker/client.go
Labels: component/daemon, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0

#2547 chore: resolve error with utils pakcage
  pkg/dashboard/apiserver/workflow/workflow.go
Labels: type/bug-fix, status/can-merge, component/chaos-dashboard, status/LGT2, component/workflow, size/S, needs-cherry-pick-2.0

#2509 *Chaos: add pre-finalizer and record injecting information in the `.Status.Experiment.PodRecords`
  controllers/common/types.go
  controllers/dnschaos/types.go
  controllers/httpchaos/types.go
  controllers/iochaos/types.go
  controllers/jvmchaos/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/podchaos/podfailure/types.go
  controllers/recover/recover.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  controllers/twophase/state_machine.go
  controllers/twophase/types.go
  pkg/finalizer/utils.go
Labels: status/can-merge, status/LGT2, size/XL

#2275 feat: show event and yaml component for workflow
  api/v1alpha1/workflownode_types.go
  pkg/dashboard/apiserver/event/event.go
  pkg/dashboard/collector/event_collector.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/task_reconciler.go
  ui/src/api/events.ts
  ui/src/lib/cytoscape.ts
  ui/src/pages/Workflows/Single.tsx
Labels: status/can-merge, status/LGT2, size/XL

#2220 gcp authentication integration
  api/webhook/validate_auth.go
  go.mod
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/apiserver/auth/gcp/middleware.go
  pkg/dashboard/apiserver/auth/gcp/service.go
  pkg/dashboard/apiserver/auth/gcp/utils.go
  pkg/dashboard/apiserver/handler.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/L

#2363 feat: support gcp authentication on UI
  ui/package.json
  ui/public/index.html
  ui/src/api/__tests__/common.type.test.ts
  ui/src/api/auth.ts
  ui/src/api/common.type.ts
  ui/src/components-mui/ConfirmDialog/index.tsx
  ui/src/components-mui/PaperTop/index.tsx
  ui/src/components/ObjectConfiguration/common.tsx
  ui/src/components/Token/index.tsx
  ui/src/components/TopContainer/Auth.tsx
  ui/src/components/TopContainer/Navbar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/pages/Settings/Experiments.tsx
  ui/src/pages/Settings/Other.tsx
  ui/src/pages/Settings/Token.tsx
  ui/src/pages/Settings/TokensTable.tsx
  ui/src/pages/Settings/index.tsx
  ui/src/slices/globalStatus.ts
  ui/src/theme.ts
  ui/yarn.lock
Labels: status/can-merge, status/LGT2, component/ui, size/XXL

#2499 Physicalmachinechaos: some minor optimize
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook.go
  api/v1alpha1/physical_machine_chaos_webhook_test.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/physicalmachinechaos/impl.go
  e2e-test/go.sum
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/selector/physicalmachine/selector.go
  ui/src/components/NewExperimentNext/data/types.ts
Labels: status/can-merge, status/LGT2, size/XXL, chaos/physical-machine

#2553 Update roadmap
  ROADMAP.md
Labels: status/can-merge, status/LGT2, size/XS

#2308 easily to send HTTP request in task node
  pkg/curl/doc.go
  pkg/curl/parser.go
  pkg/curl/parser_test.go
  pkg/curl/render.go
  pkg/curl/render_test.go
  pkg/curl/roundtrip_test.go
  pkg/curl/types.go
  pkg/dashboard/apiserver/workflow/workflow.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/src/api/workflows.ts
  ui/src/api/workflows.type.ts
  ui/src/components/NewWorkflow/Add.tsx
  ui/src/components/NewWorkflow/HTTPTask.tsx
  ui/src/components/NewWorkflow/SerailOrParallel.tsx
  ui/src/components/NewWorkflow/Suspend.tsx
  ui/src/components/NewWorkflow/Task.tsx
  ui/src/components/NewWorkflow/index.tsx
  ui/src/components/ObjectConfiguration/Node.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/cytoscape.ts
  ui/src/slices/workflows.ts
Labels: status/can-merge, status/LGT2, size/XXL

#2552 add capabilities for APIVersion of cert-manager
  helm/chaos-mesh/templates/secrets-configuration.yaml
Labels: status/can-merge, status/LGT2, size/M

#2554 auth: add rooturl configuration in gcp authentication
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
  images/chaos-dashboard/Dockerfile
  install.sh
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/apiserver/auth/gcp/service.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/M

#2548 chore: update image project name in Makefile
  Makefile
  hack/run-e2e.sh
Labels: status/can-merge, status/LGT2, contribution, size/S

#2460 support HTTPChaos experiment type in dashboard
  pkg/dashboard/collector/collector.go
  pkg/dashboard/collector/schedule_collector.go
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/NewExperimentNext/data/types.ts
  ui/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/images/chaos/http.svg
  ui/src/lib/byKind.tsx
  ui/src/lib/formikhelpers.ts
  ui/src/lib/utils.ts
Labels: status/can-merge, status/LGT2, size/XL

#2558 daemon: avoid tls downgrade attack by setting min version of tls
  pkg/chaosdaemon/server.go
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0

#2563 fix: can't load schedule archives (#2524)
  ui/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/src/components/ObjectConfiguration/Node.tsx
  ui/src/lib/idb.ts
Labels: status/can-merge, status/LGT2, size/M, type/2.0-cherry-pick

#2469 physicalmachinechaos: support bandwidth limit
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook.go
  api/v1alpha1/physical_machine_chaos_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/src/components/NewExperimentNext/data/types.ts
Labels: status/can-merge, status/LGT2, size/XXL

#2564 chore: bump version to 2.0.5
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2565 chore: bump version to 1.2.4
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/S

#2302 Helm: Update manifests for cert-manager/v1 API
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/secrets-configuration.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#2571 fix: remove hardcoded ports and expose them on helm level
  cmd/chaos-controller-manager/provider/controller.go
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/controller.go
Labels: status/can-merge, status/LGT2, contribution, size/M

#2581 bump version to 2.1.0
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2582 fix: always use latest for build-env and dev-env
  Makefile
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#2518 refactor: pod selector
  pkg/selector/container/selector.go
  pkg/selector/generic/annotation/selector.go
  pkg/selector/generic/annotation/selector_test.go
  pkg/selector/generic/field/selector.go
  pkg/selector/generic/field/selector_test.go
  pkg/selector/generic/label/selector.go
  pkg/selector/generic/label/selector_test.go
  pkg/selector/generic/mode.go
  pkg/selector/generic/mode_test.go
  pkg/selector/generic/namespace/selector.go
  pkg/selector/generic/namespace/selector_test.go
  pkg/selector/generic/registry/registry.go
  pkg/selector/generic/selector.go
  pkg/selector/pod/node_selector.go
  pkg/selector/pod/node_selector_test.go
  pkg/selector/pod/phase_selector.go
  pkg/selector/pod/phase_selector_test.go
  pkg/selector/pod/selector.go
  pkg/selector/pod/selector_test.go
  pkg/webhook/inject/inject.go
Labels: status/can-merge, status/LGT2, size/XXL

#2585 fix(ui): unable to load from objects
  ui/src/components/NewExperimentNext/Step2.tsx
  ui/src/components/NewExperimentNext/index.tsx
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/S, needs-cherry-pick-2.1
