Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-03, with the labels that each got.

#1514 Workflow: flatten the directory; appending mock thing and unit test for serial scheduler;
  Makefile
  go.mod
  go.sum
  hack/boilerplate/boilerplate.gomock.txt
  pkg/workflow/errors/errors.go
  pkg/workflow/errors/jsonify_error.go
  pkg/workflow/errors/no_more_template_in_serial_template.go
  pkg/workflow/errors/no_such_template.go
  pkg/workflow/errors/no_such_tree_node.go
  pkg/workflow/errors/parse_template_failed.go
  pkg/workflow/mock/model/mock_node/mock_node.go
  pkg/workflow/mock/model/mock_template/mock_parallel.go
  pkg/workflow/mock/model/mock_template/mock_serial.go
  pkg/workflow/mock/model/mock_template/mock_suspend.go
  pkg/workflow/mock/model/mock_template/mock_task.go
  pkg/workflow/mock/model/mock_template/mock_template.go
  pkg/workflow/mock/model/mock_workflow/mock_workflow.go
  pkg/workflow/mock_generate.go
  pkg/workflow/model/doc.go
  pkg/workflow/model/node/node.go
  pkg/workflow/model/template/network_chaos.go
  pkg/workflow/model/template/parallel.go
  pkg/workflow/model/template/pod_chaos.go
  pkg/workflow/model/template/serial.go
  pkg/workflow/model/template/suspend.go
  pkg/workflow/model/template/task.go
  pkg/workflow/model/template/template.go
  pkg/workflow/model/workflow/workflow.go
  pkg/workflow/scheduler/scheduler.go
  pkg/workflow/scheduler/serial_scheduler.go
  pkg/workflow/scheduler/serial_scheduler_test.go
Labels: status/can-merge

#1529 Adding parameterized timeoutSeconds for webhooks
  config/webhook/manifests.yaml
  helm/chaos-mesh/templates/webhook-configuration.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: first-time-contributor, status/can-merge

#1527 models and controller of workflow http api
  pkg/apiserver/workflow/workflow.go
  pkg/core/workflow.go
Labels: status/can-merge

#1504 use tls mutual authentication for chaos-daemon
  cmd/chaos-daemon/main.go
  controllers/dnschaos/types.go
  controllers/kernelchaos/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podiochaos/types.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/iptable/iptable.go
  controllers/podnetworkchaos/tc/tc.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  controllers/utils/chaosdaemon.go
  go.sum
  hack/update_install_script.sh
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  install.sh
  pkg/chaosctl/common/common.go
  pkg/chaosdaemon/client/utils.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/server_test.go
  pkg/config/controller.go
  pkg/grpc/utils.go
Labels: status/can-merge

#1546 perf: clearer search
  ui/package.json
  ui/src/components/Search/index.tsx
  ui/src/components/SearchTrigger/index.tsx
  ui/src/components/Separate/index.tsx
  ui/src/components/TopContainer/Namespace.tsx
  ui/src/components/TopContainer/Navbar.tsx
  ui/src/components/TopContainer/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
  ui/src/lib/search.ts
  ui/src/lib/utils.ts
  ui/src/pages/Dashboard/Welcome.tsx
  ui/src/slices/globalStatus.ts
  ui/yarn.lock
Labels: status/can-merge

#1549 Fix meaningless retry operations caused by the updates of status field
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  cmd/chaos-builder/impl.go
  cmd/chaos-builder/test.go
  controllers/reconciler/types.go
  controllers/twophase/state_machine.go
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
  pkg/router/reconciler.go
Labels: status/PTAL, type/1.1-cherry-pick, type/bug-fix

#1554 Updated Makefile
  Makefile
Labels: first-time-contributor, status/can-merge

#1537 [update] support multi-uids in deleting experiments
  pkg/apiserver/experiment/experiment.go
Labels: component/chaos-dashboard, status/PTAL, status/can-merge

#1522 Mistake IOChaos
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/podiochaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  controllers/iochaos/types.go
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  images/chaos-daemon/Dockerfile
  manifests/crd.yaml
  pkg/apiserver/experiment/experiment.go
  pkg/core/experiment.go
  test/cmd/e2e_helper/main.go
  test/e2e/chaos/basic.go
  test/e2e/chaos/iochaos/io_mistake.go
  test/e2e/chaos/iochaos/misc.go
Labels: chaos/io, first-time-contributor, status/can-merge, type/enhancement

#1547 style: optimized
  ui/src/api/events.type.ts
  ui/src/components-mui/ConfirmDialog/index.tsx
  ui/src/components-mui/Loading/index.tsx
  ui/src/components-mui/NotFound/index.tsx
  ui/src/components-mui/RunningLabel/index.tsx
  ui/src/components-mui/StateLabel/index.tsx
  ui/src/components/EventDetail/index.tsx
  ui/src/components/EventsTable/index.tsx
  ui/src/components/ExperimentEventsPreview/index.tsx
  ui/src/components/ExperimentListItem/index.tsx
  ui/src/components/ExperimentStatus/index.tsx
  ui/src/components/NewExperimentNext/LoadFrom/RadioLabel.tsx
  ui/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/src/lib/byKind.tsx
  ui/src/lib/d3/eventsChart.ts
  ui/src/lib/d3/insertCommonStyle.ts
  ui/src/pages/Archives/index.tsx
  ui/src/pages/Dashboard/Predefined.tsx
  ui/src/pages/Dashboard/Recent.tsx
  ui/src/pages/Dashboard/TotalExperiments.tsx
  ui/src/pages/Dashboard/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
  ui/src/pages/Experiments/index.tsx
  ui/src/slices/navigation.ts
Labels: status/can-merge

#1530 cri-o support
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  pkg/chaosdaemon/container_test.go
  pkg/chaosdaemon/crclients/client.go
  pkg/chaosdaemon/crclients/client_test.go
  pkg/chaosdaemon/crclients/containerd/client.go
  pkg/chaosdaemon/crclients/containerd/client_test.go
  pkg/chaosdaemon/crclients/crio/client.go
  pkg/chaosdaemon/crclients/docker/client.go
  pkg/chaosdaemon/crclients/docker/client_test.go
  pkg/chaosdaemon/crclients/test/mockclient.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/server_test.go
  pkg/chaosdaemon/setup_test.go
  pkg/chaosdaemon/time_server_test.go
  pkg/chaosdaemon/util.go
  pkg/chaosdaemon/util_test.go
Labels: status/can-merge, type/enhancement

#1555 chore: test token in advance
  ui/src/api/http.ts
  ui/src/components/Token/index.tsx
Labels: component/ui, needs-cherry-pick-1.1, status/can-merge

#1569 fix panic in state machine when state is unexpected
  controllers/twophase/state_machine.go
  controllers/twophase/state_machine_test.go
Labels: status/can-merge, type/bug-fix

#1532 docs: why do we not use argo
  workflow/docs/why-do-we-not-use-argo.md
Labels: status/can-merge

#1577 fix localstack installation in integration tests
  .github/workflows/integration_test.yml
Labels: status/can-merge

#1575 feat: remove helm v2 tiller and use helm 3.5.3 as default
  Makefile
  ci/pingcap_chaos_mesh_build_kind.groovy
  hack/e2e.sh
  hack/kind-cluster-build.sh
  hack/lib.sh
  hack/run-e2e.sh
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  manifests/tiller-rbac.yaml
  test/action.go
  test/image/e2e/Dockerfile
Labels: status/can-merge

#1586 Add: Chaos Mesh community event page link
  README.md
Labels: status/can-merge

#1584 fix-typo (aws-finalizer)
  controllers/awschaos/detachvolume/types.go
  controllers/awschaos/ec2stop/types.go
Labels: status/can-merge

#1588 fix: also set NextRecover with cron expression
  controllers/twophase/twophase_suite_test.go
  controllers/twophase/types.go
Labels: status/can-merge

#1581 Revert "Use bigheap to inject heap stress (#776)"
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/stresschaos_webhook_test.go
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  manifests/crd.yaml
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Stress.tsx
Labels: needs-cherry-pick-1.1, status/can-merge

#1589 Add retry for experiment update api
  pkg/apiserver/experiment/experiment.go
Labels: needs-cherry-pick-1.1, status/can-merge

#1592 to avoid dashboard panic, judge that the pointer is nil
  pkg/collector/collector.go
Labels: needs-cherry-pick-1.1, status/can-merge, type/bug-fix

#1591 [update] resume chaos that has been paused for a long time
  controllers/twophase/state_machine.go
Labels: needs-cherry-pick-1.1, status/can-merge

#1551 workflow basic CRD and reconcilers
  .github/workflows/ci.yml
  api/v1alpha1/go.mod
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-controller-manager/main.go
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  config/crd/kustomization.yaml
  examples/workflow/workflow.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/workflow/controllers/accomplish_watcher.go
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/chaos_node_reconciler.go
  pkg/workflow/controllers/deadline_reconciler.go
  pkg/workflow/controllers/new_node.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/utils.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
  workflow/docs/design.md
Labels: status/can-merge

#1607 make will fail if compile error
  Makefile
Labels: status/can-merge

#1550 only inject pod in namespace with annotation
  api/webhook/validate_auth.go
  cmd/chaos-controller-manager/main.go
  controllers/config/config.go
  controllers/config/types_test.go
  controllers/dnschaos/types.go
  controllers/httpchaos/types.go
  controllers/iochaos/types.go
  controllers/jvmchaos/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/apiserver/common/common.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/common/common.go
  pkg/config/controller.go
  pkg/config/dashboard.go
  pkg/selector/selector.go
  pkg/selector/selector_test.go
  pkg/webhook/inject/inject.go
Labels: needs-cherry-pick-1.2, status/can-merge

#1617 Check restart count for containerkill e2e test
  test/e2e/chaos/podchaos/container_kill.go
Labels: status/LGT2, status/can-merge

#1619 only inject pod in namespace with annotation (#1550)
  api/webhook/validate_auth.go
  cmd/chaos-controller-manager/main.go
  controllers/config/config.go
  controllers/config/types_test.go
  controllers/dnschaos/types.go
  controllers/httpchaos/types.go
  controllers/iochaos/types.go
  controllers/jvmchaos/types.go
  controllers/kernelchaos/types.go
  controllers/networkchaos/partition/types.go
  controllers/networkchaos/trafficcontrol/types.go
  controllers/podchaos/containerkill/types.go
  controllers/podchaos/podfailure/types.go
  controllers/podchaos/podkill/types.go
  controllers/stresschaos/types.go
  controllers/timechaos/types.go
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/apiserver/common/common.go
  pkg/chaosctl/cmd/logs.go
  pkg/chaosctl/common/common.go
  pkg/config/controller.go
  pkg/config/dashboard.go
  pkg/selector/selector.go
  pkg/selector/selector_test.go
  pkg/webhook/inject/inject.go
Labels: status/LGT2, status/can-merge

#1526 [add] add GcpChaos (node-stop/start and disk-loss)
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/gcpchaos_types_test.go
  api/v1alpha1/gcpchaos_webhook.go
  api/v1alpha1/gcpchaos_webhook_test.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-controller-manager/main.go
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/kustomization.yaml
  controllers/gcpchaos/diskloss/types.go
  controllers/gcpchaos/nodereset/types.go
  controllers/gcpchaos/nodestop/types.go
  controllers/gcpchaos/types.go
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd.yaml
Labels: size/XXL, status/LGT2, status/PTAL, status/can-merge

#1620 Add a script to test chaosctl
  .github/workflows/integration_test.yml
  .github/workflows/script_test.yml
  test/integration_test/chaosctl/run.sh
Labels: size/M, status/LGT2, status/can-merge

#1625 Fix aws test failure
  hack/kind-cluster-build.sh
  hack/lib.sh
Labels: contribution, size/XS, status/LGT2, status/can-merge
