Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-05, with the labels that each got.

#1760 Remove unused log
  pkg/chaosdaemon/stress_server_linux.go
Labels: contribution, first-time-contributor, size/XS, status/LGT2, status/can-merge

#1761 Remove unused function newPod and imported files
  controllers/config/types_test.go
Labels: contribution, first-time-contributor, size/M, status/LGT2, status/can-merge

#1762 remove unused tc_server.go:addfilter()
  pkg/chaosdaemon/tc_server.go
Labels: bugbash, contribution, first-time-contributor, size/S, status/LGT2, status/can-merge

#1763 use JoinHostPort instead of Sprintf for network address
  controllers/dnschaos/types.go
Labels: bugbash, contribution, first-time-contributor, size/XS, status/LGT2, status/can-merge

#1764 (bugsbash) remove redundant # from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: bugbash, contribution, first-time-contributor, size/XS, status/LGT2, status/can-merge

#1765 JoinHostPort method used wherever needed
  pkg/apiserver/server.go
  pkg/chaosdaemon/server.go
  pkg/grpc/utils.go
Labels: bugbash, contribution, first-time-contributor, size/S, status/LGT2, status/can-merge

#1768 Removes unused log and functions
  pkg/grpc/utils.go
Labels: bugbash, contribution, size/XS, status/LGT2, status/can-merge

#1713 Add Schedule
  api/v1alpha1/common_types.go
  api/v1alpha1/schedule_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/webhook/validate_auth.go
  cmd/chaos-builder/impl.go
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/kustomization.yaml
  controllers/common/controller.go
  controllers/desiredphase/controller.go
  controllers/fx.go
  controllers/schedule/active/controller.go
  controllers/schedule/cron/controller.go
  controllers/schedule/cron/utils.go
  controllers/schedule/cron/utils_test.go
  controllers/schedule/fx.go
  controllers/schedule/gc/controller.go
  controllers/schedule/utils/list.go
  controllers/utils/controller/finished.go
  controllers/utils/controller/key.go
  examples/burn-cpu.yaml
  examples/container-kill-example.yaml
  examples/dns-chaos-example.yaml
  examples/io-attr-example.yaml
  examples/io-delay-example.yaml
  examples/io-errno-example.yaml
  examples/network-bandwidth-example.yaml
  examples/network-corrupt-example.yaml
  examples/network-delay-example.yaml
  examples/network-delay-with-external-target-example.yaml
  examples/network-delay-with-target-example.yaml
  examples/network-duplicate-example.yaml
  examples/network-loss-example.yaml
  examples/network-netem-example.yaml
  examples/network-netem-with-target-example.yaml
  examples/network-partition-example.yaml
  examples/network-partition-with-external-targets-example.yaml
  examples/pod-failure-example.yaml
  examples/pod-kill-example.yaml
  examples/schedule-podchaos.yaml
  examples/time-chaos-example.yaml
  go.mod
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  manifests/crd.yaml
Labels: size/XXL

#1758 chore(update): workflows api
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/workflow_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-dashboard/main.go
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/workflow/workflow.go
  pkg/core/common.go
  pkg/core/experiment.go
  pkg/core/workflow.go
  pkg/core/workflow_test.go
  pkg/workflow/controllers/chaos_node_reconciler.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
  ui/src/api/archives.type.ts
  ui/src/api/experiments.ts
  ui/src/api/experiments.type.ts
  ui/src/components/ExperimentConfiguration/index.tsx
  ui/src/pages/ExperimentDetail/index.tsx
Labels: size/XXL, status/LGT2, status/can-merge

#1771 Remove duplicate imported file
  pkg/chaosctl/cmd/debug.go
Labels: bugbash, contribution, size/S, status/LGT2, status/can-merge

#1777 shell checks: double quote expansion fixes
  hack/e2e.sh
  hack/local-up-chaos-mesh.sh
  hack/run-e2e.sh
Labels: bugbash, contribution, first-time-contributor, size/S, status/LGT2, status/can-merge

#1770 fixes opt.semgrep.err-nil-check
  controllers/jvmchaos/types.go
  controllers/podnetworkchaos/types.go
  pkg/fusedev/fusedev_linux.go
  pkg/jvm/sandbox.go
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/time/time_linux_amd64.go
  pkg/workflow/controllers/bootstrap.go
Labels: bugbash, contribution, first-time-contributor, size/M, status/LGT2, status/can-merge

#1773 (bugbash) Fixes gosimple warnings
  controllers/gcpchaos/diskloss/types.go
  pkg/apiserver/experiment/experiment.go
  pkg/workflow/controllers/new_node.go
Labels: bugbash, contribution, first-time-contributor, size/S, status/LGT2, status/can-merge

#1776 Fix ST1005 errors
  e2e-test/e2e/chaos/iochaos/misc.go
  e2e-test/go.sum
  pkg/chaosdaemon/iochaos_server.go
Labels: bugbash, contribution, size/XS, status/LGT2

#1784 Fix S1007 error
  pkg/apivalidator/base_validator.go
Labels: bugbash, contribution, size/XS, status/LGT2, status/can-merge

#1791 (bugsbash) fix err checks
  controllers/dnschaos/types.go
  controllers/iochaos/types.go
  controllers/networkchaos/trafficcontrol/types_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/chaosctl/common/common_test.go
  pkg/chaosdaemon/crclients/client_test.go
  pkg/chaosdaemon/crclients/containerd/client_test.go
  pkg/chaosdaemon/crclients/docker/client_test.go
  pkg/chaosdaemon/server_test.go
Labels: bugbash, contribution, first-time-contributor, size/M, status/LGT1

#1795 Fix few error checks
  controllers/networkchaos/trafficcontrol/types.go
Labels: bugbash, contribution, size/S, status/LGT2, status/can-merge

#1814 ci: disable markdown check for some links
  README.md
Labels: component/misc, size/XS, status/LGT1

#1792 helm/templates: use serviceAccountName instead of serviceAccount
  Makefile
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  install.sh
Labels: contribution, first-time-contributor, size/S, status/LGT2, status/can-merge

#1803 (bugsbash) fix unchecked errors
  pkg/chaosdaemon/crclients/client_test.go
  pkg/chaosdaemon/crclients/docker/client_test.go
Labels: contribution, size/S, status/LGT1

#1683 Refactoring: creating children nodes with labels instead of updating status directly
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/cmd/e2e_helper/go.sum
  e2e-test/go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/workflow/controllers/accomplish_watcher.go
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/chaos_node_reconciler.go
  pkg/workflow/controllers/deadline_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/utils.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: size/XXL, status/LGT2, status/can-merge

#1816 Fix e2e test
  e2e-test/e2e/chaos/iochaos/io_delay.go
  hack/e2e.sh
  hack/local-up-chaos-mesh.sh
  hack/run-e2e.sh
Labels: size/S, status/LGT2, status/can-merge

#1797 Use JoinHostPort method used wherever needed
  controllers/dnschaos/types.go
Labels: bugbash, contribution, size/XS, status/LGT2, status/can-merge

#1804 (bugsbash) remove unused log
  pkg/chaosdaemon/client/utils.go
Labels: contribution, size/XS, status/LGT2, status/can-merge

#1788 Fix ineffassign issues
  controllers/twophase/state_machine.go
Labels: bugbash, contribution, size/S, status/LGT2, status/can-merge

#1774 Weak PRNG fixes
  pkg/apiserver/common/common.go
  pkg/selector/selector.go
Labels: bugbash, contribution, first-time-contributor, size/S, status/LGT2, status/can-merge

#1819 fix storage class var name in helm
  helm/chaos-mesh/templates/chaos-dashboard-pvc.yaml
Labels: contribution, first-time-contributor, size/XS, status/LGT2, status/can-merge

#1823 chore: appending go mod tidy check on other go.mod
  Makefile
  api/v1alpha1/go.sum
Labels: size/XS, status/LGT2, status/can-merge

#1706 implement PodHttpChaos
  Makefile
  api/v1alpha1/podhttpchaos_types.go
  api/v1alpha1/podhttpchaos_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/webhook/validate_auth.go
  cmd/chaos-controller-manager/main.go
  config/crd/bases/chaos-mesh.org_podhttpchaos.yaml
  config/crd/kustomization.yaml
  controllers/podhttpchaos/types.go
  controllers/test/types.go
  helm/chaos-mesh/crds/chaos-mesh.org_podhttpchaos.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  helm/chaos-mesh/values.yaml
  images/chaos-daemon/Dockerfile
  install.sh
  manifests/crd.yaml
  pkg/bpm/bpm.go
  pkg/bpm/buffer.go
  pkg/bpm/buffer_test.go
  pkg/bpm/build_linux.go
  pkg/bpm/utils.go
  pkg/chaosdaemon/httpchaos_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
Labels: size/XXL, status/LGT2, status/can-merge

#1801 PodNetworkChaos through reconciler
  api/v1alpha1/common_types.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/podnetworkchaos_types.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh_test.go
  cmd/chaos-controller-manager/main.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  controllers/chaosimpl/networkchaos/impl.go
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/podnetworkchaosmanager/builder.go
  controllers/chaosimpl/networkchaos/podnetworkchaosmanager/podnetworkchaosmanager.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/common/controller.go
  controllers/common/fx.go
  controllers/finalizers/controller.go
  controllers/fx.go
  controllers/podnetworkchaos/controller.go
  controllers/podnetworkchaos/fx.go
  controllers/schedule/active/controller.go
  controllers/schedule/cron/controller.go
  controllers/schedule/gc/controller.go
  controllers/utils/controller/ownerReferences.go
  e2e-test/e2e/chaos/iochaos/io_delay.go
  e2e-test/e2e/chaos/networkchaos/network_partition.go
  e2e-test/go.mod
  e2e-test/go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/values.yaml
  manifests/crd.yaml
Labels: size/XXL, status/LGT1

#1840 Nirvana controller tests
  api/v1alpha1/schedule_type_test.go
  api/v1alpha1/schedule_types.go
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  controllers/desiredphase/desiredphase_test.go
  controllers/desiredphase/suit_test.go
  controllers/finalizers/controller.go
  controllers/finalizers/finalizers_test.go
  controllers/finalizers/suit_test.go
  controllers/schedule/cron/utils.go
  controllers/schedule/schedule_test.go
  controllers/schedule/suit_test.go
  controllers/utils/test/provider.go
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  manifests/crd.yaml
Labels: contribution, size/XXL

#1844 update: readme file
  README.md
Labels: contribution, size/S, status/LGT2, status/can-merge

#1828 feat: apis for workflow endtime and status
  api/v1alpha1/workflow_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/core/workflow.go
  pkg/core/workflow_test.go
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/utils.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: component/chaos-dashboard, component/workflow, size/XXL, status/LGT2, status/can-merge

#1853 feat: compose the name of task and node
  pkg/core/workflow.go
  pkg/core/workflow_test.go
Labels: size/L, status/LGT2, status/can-merge

#1855 Fix size percentile issue in memory stress
  api/v1alpha1/stresschaos_types.go
Labels: contribution, needs-cherry-pick-1.2, size/XS, status/LGT2, status/can-merge

#1850 chore: change snake_case to camelCase in API
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
Labels: size/L, status/LGT2, status/can-merge

#1859 chore: change items in embed chaos to camelCase
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  cmd/chaos-builder/workflow.go
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  examples/workflow/workflow.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
Labels: size/L, status/LGT2, status/can-merge

#1724 Chaosctl nirvana
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/common/common.go
  test/integration_test/chaosctl/run.sh
Labels: contribution, size/XS

#1753 refactor the implementation of chaos nodes
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  cmd/chaos-builder/workflow.go
  pkg/workflow/controllers/chaos_node_reconciler.go
Labels: size/XL, status/LGT2, status/can-merge

#1661 Using builder for grpc connection
  controllers/kernelchaos/types.go
  controllers/utils/chaosdaemon.go
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/common/common.go
  pkg/grpc/utils.go
  test/integration_test/chaosctl/run.sh
Labels: contribution, size/L, status/LGT2, status/can-merge

#1832 add condition controller
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  controllers/common/fx.go
  controllers/condition/controller.go
  controllers/condition/fx.go
  controllers/desiredphase/desiredphase_test.go
  controllers/desiredphase/suit_test.go
  controllers/finalizers/finalizers_test.go
  controllers/finalizers/suit_test.go
  controllers/fx.go
  controllers/schedule/schedule_test.go
  controllers/schedule/suit_test.go
  controllers/utils/test/provider.go
  e2e-test/e2e/chaos/iochaos/io_delay.go
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd.yaml
  pkg/chaosctl/cmd/debug.go
  pkg/chaosctl/common/common.go
Labels: size/XXL, status/LGT2, status/can-merge

#1862 feat: update the start time of workflow
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: size/XS, status/LGT2, status/can-merge

#1830 Schedule test
  controllers/schedule/suit_test.go
Labels: contribution, size/XS, status/LGT1

#1827 feat: base implementation of parallel node
  examples/workflow/parallel.yaml
  examples/workflow/serial.yaml
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/parallel_node_reconciler_test.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/utils.go
Labels: component/workflow, size/XXL, status/LGT2, status/can-merge

#1854 dashboard api: adjust namespace with the target namespace when it is empty
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/event/event.go
  pkg/apiserver/event/event_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/utils/auth.go
  pkg/apiserver/workflow/workflow.go
Labels: size/M, status/LGT2, status/can-merge

#1872 Update default image tag to v1.2.1
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: size/S, status/LGT2, status/can-merge

#1873 fix: can not delete last token
  ui/src/components/TopContainer/Auth.tsx
  ui/src/pages/Settings/TokensTable.tsx
Labels: component/ui, needs-cherry-pick-1.2, size/M, status/LGT2, status/can-merge, type/bug-fix

#1836 PodIOChaos through reconciler
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/podiochaos_types.go
  cmd/chaos-controller-manager/main.go
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/iochaos/podiochaosmanager/builder.go
  controllers/chaosimpl/iochaos/podiochaosmanager/podiochaosmanager.go
  controllers/chaosimpl/iochaos/podiochaosmanager/transaction.go
  controllers/chaosimpl/networkchaos/impl.go
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/podnetworkchaosmanager/podnetworkchaosmanager.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/common/fx.go
  controllers/fx.go
  controllers/podiochaos/controller.go
  controllers/podiochaos/fx.go
  controllers/podiochaos/types.go
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  manifests/crd.yaml
  pkg/bpm/bpm.go
Labels: size/XXL, status/LGT1

#1787 Remove dead code
  pkg/apiserver/common/common.go
Labels: bugbash, contribution, size/XS, status/LGT2, status/can-merge

#1876 chore: bump kind to 0.11.0 for cgroupv2
  hack/lib.sh
Labels: size/XS, status/LGT2, status/can-merge

#1878 update: community blog and demo links
  README.md
Labels: contribution, size/XS, status/LGT2, status/can-merge

#1880 chore: bump the version of controller-gen to v0.4.1
  Makefile
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podhttpchaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podhttpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
Labels: size/L, status/LGT2, status/can-merge

#1800 add tcp flags in iptables chain && minor fix
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
Labels: chaos/network, size/XL, status/LGT2, status/can-merge

#1863 meaningful events message in controllers
  controllers/common/controller.go
  controllers/common/fx.go
  controllers/desiredphase/controller.go
  controllers/desiredphase/fx.go
  controllers/finalizers/controller.go
  controllers/finalizers/fx.go
  controllers/podnetworkchaos/controller.go
  controllers/podnetworkchaos/fx.go
  controllers/schedule/active/controller.go
  controllers/schedule/cron/controller.go
  controllers/schedule/gc/controller.go
  controllers/schedule/pause/controller.go
  controllers/utils/recorder/annotations.go
  controllers/utils/recorder/common.go
  controllers/utils/recorder/controller.go
  controllers/utils/recorder/desiredphase.go
  controllers/utils/recorder/error.go
  controllers/utils/recorder/finalizer.go
  controllers/utils/recorder/recorder.go
  controllers/utils/recorder/recorder_test.go
  controllers/utils/recorder/schedule.go
  go.mod
  go.sum
Labels: size/XXL, status/LGT2, status/can-merge

#1888 move UnlockOSThread before ptrace error
  pkg/time/time_linux_amd64.go
Labels: contribution, first-time-contributor, needs-cherry-pick-1.2, size/XS, status/LGT2, status/can-merge

#1858 Implement HttpChaos
  Makefile
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/httpchaos_types_test.go
  api/v1alpha1/podhttpchaos_types.go
  api/v1alpha1/podhttpchaos_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_podhttpchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/fx.go
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/httpchaos/podhttpchaosmanager/builder.go
  controllers/chaosimpl/httpchaos/podhttpchaosmanager/manager.go
  controllers/chaosimpl/httpchaos/podhttpchaosmanager/transaction.go
  controllers/fx.go
  controllers/podhttpchaos/controller.go
  controllers/podhttpchaos/fx.go
  controllers/podhttpchaos/types.go
  controllers/types/types.go
  e2e-test/cmd/e2e_helper/main.go
  e2e-test/e2e/chaos/basic.go
  e2e-test/e2e/chaos/httpchaos/http_abort.go
  e2e-test/e2e/chaos/httpchaos/http_delay.go
  e2e-test/e2e/chaos/httpchaos/misc.go
  e2e-test/pkg/fixture/fixture.go
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podhttpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/chaos-daemon/Dockerfile
  install.sh
  manifests/crd.yaml
  pkg/bpm/bpm.go
  pkg/chaosdaemon/httpchaos_server.go
  pkg/chaosdaemon/iochaos_server.go
  pkg/chaosdaemon/stress_server_linux.go
Labels: size/XXL, status/LGT1

#1843 ci: do not push artifacts on forks repo
  .github/workflows/upload_latest_files.yml
Labels: size/XS, status/LGT2, status/can-merge

#1897 add tcp flags in iptables chain && minor fix
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
Labels: size/XL, status/LGT2, status/can-merge, type/1.2-cherry-pick

#1881 add retry mechanism for all controllers
  controllers/README.md
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/common/controller.go
  controllers/common/fx.go
  controllers/condition/fx.go
  controllers/desiredphase/fx.go
  controllers/finalizers/fx.go
  controllers/podhttpchaos/controller.go
  controllers/podiochaos/controller.go
  controllers/podiochaos/fx.go
  controllers/podnetworkchaos/controller.go
  controllers/podnetworkchaos/fx.go
  controllers/schedule/active/controller.go
  controllers/schedule/cron/controller.go
  controllers/schedule/gc/controller.go
  controllers/schedule/pause/controller.go
  controllers/utils/builder/default.go
  controllers/utils/controller/finished.go
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podhttpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
Labels: size/XXL, status/LGT2, status/can-merge

#1900 feat: also append workflow name for controlled chaos object
  pkg/workflow/controllers/chaos_node_reconciler.go
Labels: size/XS, status/LGT2, status/can-merge

#1892 README: update the URL of build status
  README.md
Labels: size/XS, status/LGT2, status/can-merge

#1901 nirvana kernelchaos
  api/v1alpha1/kernelchaos_types.go
  controllers/chaosimpl/fx.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/types/types.go
Labels: size/L, status/LGT1

#1907 test: make memory e2e test more stable
  e2e-test/e2e/chaos/stresschaos/memory.go
Labels: size/S, status/LGT2, status/can-merge

#1837 [WIP] update dashboard api
  api/v1alpha1/zz_generated.chaosmesh_test.go
  cmd/chaos-dashboard/main.go
  e2e-test/go.sum
  examples/schedule-podchaos.yaml
  go.mod
  go.sum
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
  pkg/apiserver/archive/archive.go
  pkg/apiserver/archive/archive_test.go
  pkg/apiserver/common/common.go
  pkg/apiserver/event/event.go
  pkg/apiserver/event/event_test.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/handler.go
  pkg/apiserver/schedule/schedule.go
  pkg/apiserver/server.go
  pkg/apiserver/workflow/workflow.go
  pkg/collector/collector.go
  pkg/collector/event_collector.go
  pkg/collector/schedule_collector.go
  pkg/collector/server.go
  pkg/core/event.go
  pkg/core/experiment.go
  pkg/core/schedule.go
  pkg/store/dbstore/store.go
  pkg/store/event/event.go
  pkg/store/event/event_test.go
  pkg/store/schedule/schedule.go
  pkg/store/store.go
  pkg/ttlcontroller/ttlcontroller.go
  ui/src/components-mui/ConfirmDialog/index.tsx
  ui/src/components/TopContainer/Auth.tsx
  ui/src/components/TopContainer/index.tsx
  yarn.lock
Labels: do-not-merge/work-in-progress, size/XXL, status/LGT1
