Repository chaos-mesh/chaos-mesh, pull requests merged in 2021-08, with the labels that each got.

#2170 feat: add junit report xml output
  ci/pingcap_chaos_mesh_build_kind.groovy
  e2e-test/e2e/e2e_test.go
Labels: needs-cherry-pick-2.0, size/XS, status/LGT2, status/can-merge

#2141 Check the length of parts while using ParseNamespacedName and ParseNamespacedNameContainer
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/chaosimpl/podchaos/podfailure/impl.go
  controllers/chaosimpl/podchaos/podkill/impl.go
  controllers/chaosimpl/utils/record.go
  controllers/common/fx.go
  controllers/utils/controller/key.go
Labels: contribution, first-time-contributor, needs-cherry-pick-1.2, needs-cherry-pick-2.0, size/L, status/LGT2, status/can-merge

#2185 chore: bump containerd from 1.2.3 to 1.4.8
  e2e-test/go.sum
  go.mod
  go.sum
Labels: status/can-merge, status/LGT2, size/M

#2194 chores: update broken links on readme
  README.md
Labels: status/can-merge, status/LGT2, size/S

#2197 Fix development guide broken link
  README.md
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#2203 Imagepullsecrets feature
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT2, contribution, size/S

#2180 fix:status of Chaos should remain the same when an error is encountered
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/podchaos/podfailure/impl.go
Labels: type/bug, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0

#2207 HTTPChaos: fix bugs in replace or patch body; add validators and (e2e) tests
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/httpchaos_webhook.go
  api/v1alpha1/httpchaos_webhook_test.go
  e2e-test/cmd/e2e_helper/main.go
  e2e-test/e2e/chaos/basic.go
  e2e-test/e2e/chaos/httpchaos/http_patch.go
  e2e-test/e2e/chaos/httpchaos/http_replace.go
  e2e-test/e2e/chaos/httpchaos/misc.go
  helm/chaos-mesh/values.yaml
  images/chaos-daemon/Dockerfile
  install.sh
Labels: status/can-merge, status/LGT2, size/XXL, needs-cherry-pick-2.0

#2215 HTTPChaos: fix bugs in replace or patch body; add e2e tests(#2207)
  e2e-test/cmd/e2e_helper/main.go
  e2e-test/e2e/chaos/basic.go
  e2e-test/e2e/chaos/httpchaos/http_patch.go
  e2e-test/e2e/chaos/httpchaos/http_replace.go
  e2e-test/e2e/chaos/httpchaos/misc.go
  helm/chaos-mesh/values.yaml
  images/chaos-daemon/Dockerfile
  install.sh
Labels: status/can-merge, status/LGT2, size/XXL, type/2.0-cherry-pick

#2209 Ignore the .go file startwith zz_generated
  cmd/chaos-builder/main.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#2210 chore: fix urls
  CONTRIBUTING.md
  helm/chaos-mesh/README.md
Labels: status/can-merge, status/LGT2, size/XS

#2221 Workflow: Eliminate redundant code
  pkg/core/workflow.go
  pkg/core/workflow_test.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#2226 Update the coredns image version for helm value
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT2, contribution, size/XS, needs-cherry-pick-2.0

#2224 Refactor static interface 'controllers-action-delegate'
  controllers/action/delegate.go
  controllers/chaosimpl/awschaos/detachvolume/impl.go
  controllers/chaosimpl/awschaos/ec2restart/impl.go
  controllers/chaosimpl/awschaos/ec2stop/impl.go
  controllers/chaosimpl/dnschaos/types.go
  controllers/chaosimpl/gcpchaos/diskloss/impl.go
  controllers/chaosimpl/gcpchaos/nodereset/impl.go
  controllers/chaosimpl/gcpchaos/nodestop/impl.go
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/iochaos/impl.go
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/chaosimpl/podchaos/containerkill/impl.go
  controllers/chaosimpl/podchaos/podfailure/impl.go
  controllers/chaosimpl/podchaos/podkill/impl.go
  controllers/chaosimpl/stresschaos/impl.go
  controllers/chaosimpl/timechaos/impl.go
Labels: status/can-merge, status/LGT2, contribution, size/M

#2225 fix: the broken webhook for workflow
  api/v1alpha1/common_webhook.go
  api/v1alpha1/workflow_webhook.go
  api/v1alpha1/workflow_webhook_test.go
Labels: type/bug-fix, status/can-merge, status/LGT2, component/workflow, size/M

#2234 chore: related changes on frontend about #2221
  ui/src/api/workflows.type.ts
  ui/src/lib/cytoscape.ts
Labels: status/can-merge, status/LGT2, size/S

#2191 chore: add security document
  SECURITY.md
Labels: status/can-merge, status/LGT2, size/S

#2217 Replace ChaosInstance and ChaosList with GenericChaos and GenericChaosList
  api/v1alpha1/common_types.go
  api/v1alpha1/kinds.go
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  cmd/chaos-builder/impl.go
  cmd/chaos-builder/init.go
  cmd/chaos-builder/schedule.go
  cmd/chaos-builder/test.go
  controllers/metrics/metrics.go
  controllers/schedule/cron/controller.go
  controllers/schedule/gc/controller.go
  controllers/schedule/utils/list.go
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/apiserver/utils/state.go
  pkg/chaosctl/common/common.go
Labels: status/can-merge, status/LGT2, size/XXL

#2183 fix:The patched annotation will overwrite the original annotation of the pod
  pkg/webhook/inject/inject.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#2192 add apiserver for chaosctl
  Makefile
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  e2e-test/go.sum
  go.mod
  go.sum
  hack/verify-boilerplate.sh
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/chaosctl/cmd/forward.go
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/common/common.go
  pkg/config/controller.go
  pkg/ctrlserver/gqlgen.yml
  pkg/ctrlserver/graph/daemon.go
  pkg/ctrlserver/graph/exec.go
  pkg/ctrlserver/graph/fd.go
  pkg/ctrlserver/graph/generated/generated.go
  pkg/ctrlserver/graph/k8s-utils.go
  pkg/ctrlserver/graph/model/models_gen.go
  pkg/ctrlserver/graph/mount.go
  pkg/ctrlserver/graph/net.go
  pkg/ctrlserver/graph/process.go
  pkg/ctrlserver/graph/resolver.go
  pkg/ctrlserver/graph/schema.graphqls
  pkg/ctrlserver/graph/schema.resolvers.go
  pkg/ctrlserver/server.go
Labels: status/can-merge, status/LGT2, component/chaosctl, size/XXL

#2241 chores: update readme and adopters file
  ADOPTERS.md
  README.md
Labels: status/can-merge, status/LGT2, size/XS

#2240 minon improvement for chaos-dlv
  Makefile
  images/chaos-dlv/README.md
Labels: status/can-merge, status/LGT2, size/XS

#2244 skip test if the only change is markdown files
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, size/S

#2242 use `host-sys` in fusedev device priviledge granting
  pkg/fusedev/fusedev_linux.go
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0

#2249 fix: the download url of kubebuilder
  hack/lib.sh
Labels: status/can-merge, status/LGT2, size/XS

#2245 fix(StressChaos): containerNames problem
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/core/experiment.go
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Stress.tsx
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, size/S

#2258 chore: upgrade kind apiVersion to v1alpha4
  hack/lib.sh
  install.sh
Labels: component/scripts, status/can-merge, status/LGT2, needs-cherry-pick-1.2, size/XS, needs-cherry-pick-2.0

#2264 e2e: fix e2e base image
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, needs-cherry-pick-1.2, size/XS, needs-cherry-pick-2.0
