Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-04, with the labels that each got.

#3071 chore: specify env tags for each branches
  .github/workflows/upload_env_image.yml
  Makefile
  env-images.yaml
  hack/env-image-tag.sh
Labels: type/enhancement, status/can-merge, status/LGT2, size/L, rebuild-build-env-image, rebuild-dev-env-image, needs-cherry-pick-2.1

#3090 chore: use github token to avoid GitHub API Rate Limiting with e2e tests
  .github/workflows/e2e_test.yml
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#3087 migrate e2e test to gitub action on branch release-2.1
  .github/workflows/e2e_test.yml
Labels: status/can-merge, status/LGT2, size/L

#2932 NetworkChaos: Add support for ports in external targets
  CHANGELOG.md
  api/v1alpha1/podnetworkchaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  controllers/chaosimpl/networkchaos/partition/impl.go
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
  controllers/podnetworkchaos/controller.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/netutils/cidr.go
  controllers/podnetworkchaos/netutils/cidr_test.go
  examples/network-delay-with-external-target-example.yaml
  examples/network-partition-with-external-targets-example.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XXL

#3084 PhysicalMachineChaos: add recover command in process
  api/v1alpha1/physical_machine_chaos_types.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/app/src/components/NewExperimentNext/data/types.ts
Labels: status/can-merge, status/LGT2, size/L, chaos/physical-machine

#3096 chore: specify env tags for each branches (#3071)
  .github/workflows/upload_env_image.yml
  Makefile
  env-images.yaml
  hack/env-image-tag.sh
Labels: status/can-merge, status/LGT2, size/M

#3056 chaosctl add recover subcommand
  cmd/chaos-controller-manager/main.go
  pkg/chaosctl/cmd/recover.go
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/debug/httpchaos.go
  pkg/chaosctl/debug/networkchaos.go
  pkg/chaosctl/recover/recover.go
  pkg/chaosctl/recover/select.go
  pkg/ctrl/server.go
  pkg/ctrl/server/generated/generated.go
  pkg/ctrl/server/model/models_gen.go
  pkg/ctrl/server/net.go
  pkg/ctrl/server/resolver.go
  pkg/ctrl/server/schema.graphqls
  pkg/ctrl/server/schema.resolvers.go
  pkg/selector/pod/selector.go
Labels: status/can-merge, status/LGT2, size/XXL

#2997 JVMChaos: minor refine with byteman-helper
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/jvmchaos_types_test.go
  api/v1alpha1/jvmchaos_webhook_test.go
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/jvmchaos/impl_test.go
  go.mod
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/chaos-daemon/Dockerfile
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/jvm_server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, chaos/jvm, size/XXL

#3102 fix bug: cpu stress can not reach pod limit in some situation
  api/v1alpha1/stresschaos_types.go
  controllers/common/records/controller.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3104 fix panic when cpu or memory stress start time is nil
  controllers/chaosimpl/stresschaos/impl.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3106 fix bug: cpu stress can not reach pod limit in some situation (#3102)
  CHANGELOG.md
  api/v1alpha1/stresschaos_types.go
  controllers/common/records/controller.go
Labels: status/can-merge, status/LGT2, size/S

#3073 make container runtime socket path and containerd ns configurable and change the socket volume path in pod
  cmd/chaos-daemon/main.go
  hack/update_install_script.sh
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/chaosdaemon/container_test.go
  pkg/chaosdaemon/crclients/client.go
  pkg/chaosdaemon/crclients/client_test.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/server_test.go
  pkg/chaosdaemon/time_server_test.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/L

#3105 chore: append changelog for #3102
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#3036 selector: percent selection should select at least one
  api/v1alpha1/networkchaos_types.go
  controllers/common/records/controller.go
  pkg/selector/generic/mode.go
Labels: status/can-merge, status/LGT2, size/M

#3109 fix some typos
  api/v1alpha1/podiochaos_types.go
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, contribution, size/L, needs-cherry-pick-2.1

#2913 Refactors logging in `pkg/dashboard/ttlcontroller`
  cmd/chaos-dashboard/main.go
  pkg/dashboard/ttlcontroller/fx.go
  pkg/dashboard/ttlcontroller/ttlcontroller.go
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, contribution, first-time-contributor, size/M

#3120 Fix clusterrole name in DNS server
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/dns-rbac.yaml
Labels: component/helm, status/can-merge, status/LGT2, contribution, chaos/dns, size/XS

#3117 validate cpu load
  api/v1alpha1/stresschaos_types.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, contribution, size/L

#3123 Refine logging in pkg/dashboard/collector/server.go
  cmd/chaos-dashboard/main.go
  pkg/dashboard/collector/fx.go
  pkg/dashboard/collector/server.go
Labels: status/can-merge, status/LGT2, contribution, size/M

#3128 fix: set certmanager ca duration
  helm/chaos-mesh/templates/secrets-configuration.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#3131 chore: bump the verison of toda to 0.2.3
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: type/bug-fix, status/can-merge, status/LGT2, chaos/io, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#3121 remove host port declare in chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  install.sh
Labels: status/can-merge, status/LGT2, contribution, size/XS

#2942 Make time chaos completely recoverable
  cmd/watchmaker/main_linux_amd64.go
  controllers/chaosimpl/timechaos/impl.go
  controllers/chaosimpl/utils/record.go
  pkg/cerr/common_errors.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/tasks/key_lockmap.go
  pkg/chaosdaemon/tasks/pod_container_handler.go
  pkg/chaosdaemon/tasks/process_group_handle.go
  pkg/chaosdaemon/tasks/process_group_handler.go
  pkg/chaosdaemon/tasks/task_config_manager.go
  pkg/chaosdaemon/tasks/task_manager.go
  pkg/chaosdaemon/tasks/tasks_test.go
  pkg/chaosdaemon/time_server.go
  pkg/chaosdaemon/time_server_test.go
  pkg/chaoserr/common_errors.go
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/time/fake_image_linux_amd64.go
  pkg/time/fake_image_linux_arm64.go
  pkg/time/fakeclock.go
  pkg/time/time_darwin.go
  pkg/time/time_linux_amd64.go
  pkg/time/time_skew.go
  pkg/time/time_skew_amd64.go
  pkg/time/time_skew_test.go
Labels: status/can-merge, status/LGT2, size/XXL

#3115 DNSChaos e2e test: increase timeout time
  e2e-test/e2e/chaos/dnschaos/dns.go
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#3133 chore: bump the verison of toda to 0.2.3 (#3131)
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: type/bug-fix, status/can-merge, status/LGT2, chaos/io, size/XS, type/2.0-cherry-pick

#3067 Implement StatusCheck in Workflow
  api/v1alpha1/statuscheck_types.go
  api/v1alpha1/workflow_types.go
  api/v1alpha1/workflow_webhook.go
  api/v1alpha1/workflownode_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/utils/recorder/workflow.go
  examples/workflow/status-check.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/workflow/controllers/abort_node_reconciler.go
  pkg/workflow/controllers/abort_workflow_reconciler.go
  pkg/workflow/controllers/bootstrap.go
  pkg/workflow/controllers/new_node.go
  pkg/workflow/controllers/statuscheck_reconciler.go
  pkg/workflow/controllers/utils.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: status/can-merge, status/LGT2, size/XXL

#3135 Append missing changelogs for branch `release-2.1`
  .gitignore
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/S

#3138 Append missing changelogs for branch `master`
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#3097 e2e: upload build image cache to the github
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.1

#3037 Implement StatusCheck Reconciler
  api/v1alpha1/statuscheck_types.go
  api/v1alpha1/statuscheck_types_test.go
  controllers/fx.go
  controllers/statuscheck/common_test.go
  controllers/statuscheck/conditions.go
  controllers/statuscheck/conditions_test.go
  controllers/statuscheck/controller.go
  controllers/statuscheck/controller_test.go
  controllers/statuscheck/fx.go
  controllers/statuscheck/http/http.go
  controllers/statuscheck/http/http_test.go
  controllers/statuscheck/manager.go
  controllers/statuscheck/manager_test.go
  controllers/statuscheck/suite_test.go
  controllers/statuscheck/worker.go
  controllers/utils/recorder/statuscheck.go
Labels: type/enhancement, status/can-merge, status/LGT2, component/workflow, size/XXL

#3132 chore: bump the verison of toda to 0.2.3 (#3131)
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: type/bug-fix, status/can-merge, status/LGT2, chaos/io, size/XS, type/2.1-cherry-pick

#3147 Specify image tag in e2e tests
  .github/workflows/e2e_test.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#3140 chore: use docker with --rm and certain yq image
  hack/env-image-tag.sh
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#3141 ready for 2.1.5
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#3152 chore: update changelogs for 2.1.5
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#3162 ci: ignore internal link/anchor
  .github/workflows/checklink_config.json
Labels: type/bug-fix, status/LGT2, size/XS, needs-cherry-pick-2.1

#3148 ci: new check for changelog
  .github/pull_request_template.md
  .github/workflows/must_update_changelog.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#3110 Refine logging in pkg/portforward, using logger in portForwarder
  e2e-test/e2e/chaos/basic.go
  e2e-test/e2e/chaos/graceful-shutdown.go
  e2e-test/go.mod
  e2e-test/go.sum
  pkg/ctrl/client/forward.go
  pkg/portforward/portforward.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M, no-need-update-changelog

#3020 refined logging
  pkg/dashboard/store/metrics/metrics.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S, no-need-update-changelog

#3168 using chaosDaemon.mtls.enabled instead of dashboard.securityMode for chaos-daemon mtls
  CHANGELOG.md
  hack/update_install_script.sh
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  helm/chaos-mesh/values.yaml
Labels: type/enhancement, component/helm, status/can-merge, status/LGT2, size/M

#3130 Refactor pkg/dashboard/apiserver/schedule to use pkg level log
  pkg/dashboard/apiserver/handler.go
  pkg/dashboard/apiserver/schedule/fx.go
  pkg/dashboard/apiserver/schedule/schedule.go
Labels: status/can-merge, status/LGT2, contribution, size/M, no-need-update-changelog

#3174 test: active tests under api/v1alpha1
  Makefile
  api/v1alpha1/physical_machine_chaos_webhook_test.go
  api/v1alpha1/statuscheck_webhook_test.go
Labels: status/can-merge, status/LGT2, size/S, no-need-update-changelog

#3145 chore: split new rbac resources for chaos-dashboard
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: type/enhancement, component/helm, status/can-merge, status/LGT2, size/XL

#3156 fix the bug that create JVMChaos failed in workflow
  CHANGELOG.md
  api/v1alpha1/jvmchaos_types.go
  api/v1alpha1/jvmchaos_webhook.go
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  test/integration_test/jvm/exception.yaml
Labels: type/bug-fix, status/can-merge, status/LGT2, chaos/jvm, size/L

#3107 refactor(ui): rewrite form fields
  ui/app/src/@types/mui.d.ts
  ui/app/src/components/FormField/AutocompleteField.tsx
  ui/app/src/components/FormField/AutocompleteMultipleField.tsx
  ui/app/src/components/FormField/SelectField.tsx
  ui/app/src/components/FormField/TextField.tsx
  ui/app/src/components/FormField/index.ts
  ui/app/src/components/MoreOptions/index.tsx
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/NewExperimentNext/form/Kernel.tsx
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
  ui/app/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/app/src/components/Schedule/types.tsx
  ui/app/src/components/Scope/Mode.tsx
  ui/app/src/components/Scope/ScopePodsTable.tsx
  ui/app/src/components/Scope/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
  ui/app/src/theme.ts
  ui/packages/mui-extends/.storybook/ThemeProvider.tsx
  ui/packages/mui-extends/.storybook/main.js
  ui/packages/mui-extends/.storybook/preview-head.html
  ui/packages/mui-extends/.storybook/preview.js
  ui/packages/mui-extends/package.json
  ui/packages/mui-extends/src/@types/mui.d.ts
  ui/packages/mui-extends/src/AutocompleteField/index.tsx
  ui/packages/mui-extends/src/FormControl/index.tsx
  ui/packages/mui-extends/src/OutlinedInput/index.tsx
  ui/packages/mui-extends/src/SelectField/index.tsx
  ui/packages/mui-extends/src/TextField/index.tsx
  ui/packages/mui-extends/stories/form/AutocompleteField.stories.tsx
  ui/packages/mui-extends/stories/form/SelectField.stories.tsx
  ui/packages/mui-extends/stories/form/TextField.stories.tsx
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
Labels: status/can-merge, status/LGT2, component/ui, size/XXL, no-need-update-changelog

#3179 chore: refactor logging in pkg/metrics
  cmd/chaos-controller-manager/main.go
  pkg/metrics/chaos-controller-manager.go
Labels: status/can-merge, status/LGT2, size/S

#3181 ci: new check for changelog (#3148)
  .github/pull_request_template.md
  .github/workflows/must_update_changelog.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#3182 ci: new check for changelog (#3148)
  .github/pull_request_template.md
  .github/workflows/must_update_changelog.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#3159 refactor: helm: split out webhook and secret templates
  .github/.licenserc.yaml
  CHANGELOG.md
  helm/chaos-mesh/templates/_certs.tpl
  helm/chaos-mesh/templates/cert-manager-certs.yaml
  helm/chaos-mesh/templates/mutating-admission-webhooks.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  helm/chaos-mesh/templates/validating-admission-webhooks.yaml
  install.sh
Labels: type/enhancement, component/helm, status/can-merge, status/LGT2, size/XXL

#3184 helm: apply failure policy with default value fail to allt he webhooks
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/mutating-admission-webhooks.yaml
  helm/chaos-mesh/templates/validating-admission-webhooks.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: type/enhancement, component/helm, status/can-merge, status/LGT2, size/S

#3186 update memStress
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS

#3178 add namespace and pod name in failed event for podxxxchaos crd
  CHANGELOG.md
  controllers/podhttpchaos/controller.go
  controllers/podiochaos/controller.go
  controllers/podnetworkchaos/controller.go
Labels: status/can-merge, status/LGT2, contribution, size/S

#3192 fix not implement:fake_image_linux_arm64
  pkg/time/fake_image_linux_arm64.go
Labels: status/can-merge, status/LGT2, size/S, no-need-update-changelog

#3190 chore: user could specify certain ca bundle for webhook
  CHANGELOG.md
  helm/chaos-mesh/templates/_certs.tpl
  helm/chaos-mesh/values.yaml
Labels: type/enhancement, component/helm, status/can-merge, status/LGT2, size/S

#3154 refactor: rename reconcileContext to reconcileInfo
  CHANGELOG.md
  controllers/common/desiredphase/controller.go
Labels: status/can-merge, status/LGT2, contribution, size/M

#2992 chaosctl forced recovery supports httpchaos, iochaos, stresschaos, and networkchaos
  CHANGELOG.md
  pkg/chaosctl/cmd/recover.go
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/recover/httpchaos.go
  pkg/chaosctl/recover/iochaos.go
  pkg/chaosctl/recover/networkchaos.go
  pkg/chaosctl/recover/print.go
  pkg/chaosctl/recover/recover.go
  pkg/chaosctl/recover/stresschaos.go
  pkg/ctrl/client/iptables.go
  pkg/ctrl/client/process.go
  pkg/ctrl/client/tcs.go
  pkg/ctrl/server/generated/generated.go
  pkg/ctrl/server/model/models_gen.go
  pkg/ctrl/server/process.go
  pkg/ctrl/server/schema.graphqls
  pkg/ctrl/server/schema.resolvers.go
  test/integration_test/chaosctl/debug.sh
  test/integration_test/chaosctl/recover.sh
  test/integration_test/chaosctl/run.sh
Labels: status/can-merge, status/LGT2, size/XXL

#3207 chore: update chenglog for release 2.2.0
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.2

#3205 Prune BlockChaos in release-2.2
  api/v1alpha1/blockchaos_types.go
  api/v1alpha1/blockchaos_webhook.go
  api/v1alpha1/blockchaos_webhook_test.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.chaosmesh_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.schedule.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  api/v1alpha1/zz_generated.workflow.chaosmesh_test.go
  config/crd/bases/chaos-mesh.org_blockchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  config/crd/kustomization.yaml
  controllers/chaosimpl/blockchaos/impl.go
  controllers/chaosimpl/fx.go
  controllers/types/types.go
  examples/blockchaos/blockchaos-example.yaml
  examples/blockchaos/hostpath-persistent-volume.yaml
  examples/blockchaos/pod.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_blockchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/collector/collector.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/selector/nodevolumepath/selector.go
  pkg/selector/selector.go
  ui/app/src/api/zz_generated.frontend.chaos-mesh.ts
  ui/app/src/components/NewExperiment/types.ts
  ui/app/src/components/NewExperimentNext/data/types.ts
  ui/app/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/app/src/components/NewWorkflowNext/utils/convert.ts
  ui/app/src/i18n/en.json
  ui/app/src/lib/byKind.tsx
  ui/app/src/openapi/api.ts
Labels: status/can-merge, status/LGT2, size/XXL, no-need-update-changelog

#3208 chore: ready-for-release-2.2
  env-images.yaml
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M, rebuild-build-env-image, rebuild-dev-env-image, no-need-update-changelog
