Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-02, with the labels that each got.

#2797 removed docker registry mirror
  CHANGELOG.md
  install.sh
Labels: type/bug-fix, status/can-merge, status/LGT2, contribution, first-time-contributor, size/L, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2826 cherry pick #2675 and #2742 into release-2.1
  CHANGELOG.md
  Makefile
  pkg/time/asset.go
  pkg/time/fake_image.go
  pkg/time/fakeclock/fake_gettimeofday.c
  pkg/time/time_skew_amd64.go
Labels: status/can-merge, status/LGT2, size/XL

#2839 fix podhttpchaos: check observedGeneration to avoid duplicated applying
  controllers/podhttpchaos/controller.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2853 chore: update zh-cn i18n for serial
  ui/app/src/i18n/zh.json
Labels: status/can-merge, status/LGT2, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2858 fix: some errors in install.sh
  install.sh
Labels: type/bug-fix, component/scripts, status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2834 fix default value for concurrencyPolicy (#2622)
  CHANGELOG.md
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/schedule_types.go
  api/v1alpha1/schedule_webhook.go
  api/v1alpha1/schedule_webhook_test.go
  api/v1alpha1/workflow_webhook.go
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: status/can-merge, status/LGT2, size/L

#2836 fix default value for concurrencyPolicy (#2622)
  CHANGELOG.md
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/schedule_types.go
  api/v1alpha1/schedule_webhook.go
  api/v1alpha1/schedule_webhook_test.go
  api/v1alpha1/workflow_webhook.go
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/L

#2857 removed docker registry mirror #2797
  CHANGELOG.md
  install.sh
Labels: type/bug-fix, component/scripts, status/can-merge, status/LGT2, size/L, type/2.0-cherry-pick

#2856 removed docker registry mirror #2797
  CHANGELOG.md
  install.sh
Labels: type/bug-fix, component/scripts, status/can-merge, status/LGT2, size/L, type/2.1-cherry-pick

#2808 use unified root logger for fx dependency-injection in chaos-controller-manager
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  cmd/chaos-controller-manager/provider/suit_test.go
  controllers/common/suit_test.go
  controllers/schedule/suit_test.go
  controllers/utils/test/provider.go
  install.sh
  pkg/log/doc.go
  pkg/log/fx_logger.go
  pkg/log/global_logger.go
  pkg/log/zap.go
  pkg/workflow/controllers/suite_test.go
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.1

#2863 fix: remove empty priorityClassName
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  install.sh
Labels: component/scripts, component/helm, status/can-merge, status/LGT2, size/M, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2860 fix: some errors in install.sh #2858
  install.sh
Labels: status/can-merge, status/LGT2, size/S

#2868 fix: remove empty priorityClassName (#2863)
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2866 support `mode` on physical machine chaos
  ui/app/src/components/NewExperimentNext/Step1.tsx
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/NewExperimentNext/form/Mode.tsx
  ui/app/src/components/NewExperimentNext/form/Scope.tsx
  ui/app/src/lib/formikhelpers.ts
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/L

#2850 PhysicalMachineChaos: add validate for network bandwidth
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook.go
Labels: status/can-merge, status/LGT2, size/S, chaos/physical-machine, needs-cherry-pick-2.1

#2899 PhysicalMachineChaos: add validate for network bandwidth
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/S, chaos/physical-machine, type/2.1-cherry-pick

#2668 chaos-daemon support graceful shutdown
  ci/pingcap_chaos_mesh_build_kind.groovy
  cmd/chaos-daemon/main.go
  e2e-test/action.go
  e2e-test/e2e/chaos/graceful-shutdown.go
  e2e-test/e2e/chaos/httpchaos/http_graceful_shutdown.go
  e2e-test/e2e/chaos/iochaos/io_graceful_shutdown.go
  e2e-test/e2e/e2e.go
  pkg/bpm/bpm.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/server_test.go
Labels: status/can-merge, status/LGT2, size/XXL

#2904 fix(JVMChaos): find the correct pid by CommName
  pkg/chaosdaemon/jvm_server.go
Labels: type/bug-fix, status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#2812 Add a Tasks manager in chaos daemon for time chaos
  pkg/chaosdaemon/dns_server.go
  pkg/chaosdaemon/graph/graph.go
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/jvm_server.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/tasks/process_group_handle.go
  pkg/chaosdaemon/tasks/task_config_manager.go
  pkg/chaosdaemon/tasks/task_manager.go
  pkg/chaosdaemon/tasks/tasks_test.go
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/time_server.go
  pkg/chaosdaemon/util/util.go
  pkg/chaoserr/common_errors.go
Labels: status/can-merge, status/LGT2, size/XXL

#2937 Trigger verify action when helm chart is modified
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#2935 ci: fix `upload-image` action
  .github/workflows/upload_image.yml
  pkg/time/fake_image.go
  pkg/time/fake_image_linux_amd64.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.1

#2915 fix(ui): pod phases should be first letter capitalized
  ui/app/src/components/NewExperimentNext/form/Scope.tsx
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/S, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2770 feat: OpenAPI to TypeScript API Client and Form Data
  .github/.licenserc.yaml
  .github/workflows/ci.yml
  CHANGELOG.md
  api/v1alpha1/awschaos_types.go
  api/v1alpha1/gcpchaos_types.go
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/iochaos_types.go
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/selector.go
  pkg/dashboard/apiserver/archive/archive.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/.gitignore
  ui/app/src/formik/AWSChaos.ts
  ui/app/src/formik/DNSChaos.ts
  ui/app/src/formik/GCPChaos.ts
  ui/app/src/formik/HTTPChaos.ts
  ui/app/src/formik/IOChaos.ts
  ui/app/src/formik/JVMChaos.ts
  ui/app/src/formik/KernelChaos.ts
  ui/app/src/formik/NetworkChaos.ts
  ui/app/src/formik/PhysicalMachineChaos.ts
  ui/app/src/formik/PodChaos.ts
  ui/app/src/formik/StressChaos.ts
  ui/app/src/formik/TimeChaos.ts
  ui/app/src/openapi/api.ts
  ui/app/src/openapi/base.ts
  ui/app/src/openapi/common.ts
  ui/app/src/openapi/configuration.ts
  ui/app/src/openapi/index.ts
  ui/package.json
  ui/packages/openapi/.babelrc.json
  ui/packages/openapi/README.md
  ui/packages/openapi/codegen.js
  ui/packages/openapi/constants.js
  ui/packages/openapi/factory.js
  ui/packages/openapi/factory.test.js
  ui/packages/openapi/index.js
  ui/packages/openapi/openapiconfig.json
  ui/packages/openapi/openapitools.json
  ui/packages/openapi/package.json
  ui/packages/openapi/utils.js
  ui/packages/openapi/utils.test.js
  ui/yarn.lock
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, component/ui, size/XXL

#2911 fix(workflow): no more event after accomplished
  CHANGELOG.md
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
  pkg/workflow/controllers/task_reconciler.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: type/bug-fix, status/can-merge, status/LGT2, contribution, first-time-contributor, component/workflow, size/S, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2921 helm: add TTL configuration on value.yaml and update helm docs
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
  install.sh
Labels: component/helm, status/can-merge, status/LGT2, size/S

#2947 fix wrong comment on workflow Dashboard HTTP API
  pkg/dashboard/apiserver/workflow/workflow.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/M, needs-cherry-pick-2.1

#2824 api: export one module for a group of api
  Makefile
  api/genericwebhook/bfs.go
  api/genericwebhook/bfs_test.go
  api/genericwebhook/defaulter.go
  api/genericwebhook/validater.go
  api/genericwebhook/webhook.go
  api/go.mod
  api/go.sum
  api/v1alpha1/awschaos_webhook.go
  api/v1alpha1/common_webhook.go
  api/v1alpha1/gcpchaos_webhook.go
  api/v1alpha1/httpchaos_webhook.go
  api/v1alpha1/iochaos_webhook.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/schedule_item.go
  api/v1alpha1/stresschaos_webhook.go
  api/v1alpha1/timechaos_webhook.go
  api/v1alpha1/workflow_webhook.go
  api/v1alpha1/zz_generated.chaosmesh.go
  cmd/chaos-builder/impl.go
  cmd/chaos-controller-manager/main.go
  e2e-test/go.mod
  go.mod
  pkg/webhook/affected_namespaces.go
  pkg/webhook/affected_namespaces_test.go
  pkg/webhook/errors.go
  pkg/webhook/inject.go
  pkg/webhook/validate_auth.go
Labels: status/can-merge, status/LGT2, size/M

#2919 fix: replaced localhost:5000 with ghcr.io as registry name
  Makefile
  e2e-test/config.go
  e2e-test/e2e/config/config.go
  e2e-test/types.go
  hack/e2e.sh
  hack/local-up-chaos-mesh.sh
  hack/run-e2e.sh
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#2918 refactor bpm: generate uid for each process; remove identifier lock; remove blockingBuffer
  controllers/chaosimpl/stresschaos/impl.go
  go.mod
  pkg/bpm/bpm.go
  pkg/bpm/bpm_test.go
  pkg/bpm/buffer.go
  pkg/bpm/buffer_test.go
  pkg/bpm/build_darwin.go
  pkg/bpm/build_linux.go
  pkg/bpm/metrics.go
  pkg/chaosdaemon/httpchaos_server.go
  pkg/chaosdaemon/iochaos_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/stress_server_linux.go
Labels: status/can-merge, status/LGT2, size/XXL
