Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-10, with the labels that each got.

#3682 chore: add Artifact Hub badge
  README.md
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3628 refactor: remove the usage of klog in chaosctl
  CHANGELOG.md
  go.mod
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/common/logger.go
Labels: status/can-merge, status/LGT1, size/M, require-LGT1

#3708 ci(signed release): new github workflow to sign existed images manually
  .github/workflows/maually-sign-container-images.yaml
  CHANGELOG.md
Labels: type/enhancement, status/LGT1, size/M, require-LGT1

#3709 fix(try): permissions of sign images
  .github/workflows/maually-sign-container-images.yaml
Labels: status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3700 chore: set actions permissions to write on demand
  .github/workflows/checklink.yaml
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
  .github/workflows/codecov_unittest.yaml
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
  .github/workflows/license_checker.yml
  .github/workflows/must_update_changelog.yml
  .github/workflows/release_helm_chart.yml
  .github/workflows/stale.yml
  .github/workflows/upload_env_image.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_image_pr.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  ui/app/src/api/http.ts
Labels: type/enhancement, status/LGT1, size/L, no-need-update-changelog

#3711 chore: move config out of workflows dir
  .github/checklink_config.json
  .github/workflows/checklink.yaml
Labels: size/XS, no-need-update-changelog, require-LGT1

#3704 Fix typo in controller error message
  CHANGELOG.md
  controllers/podiochaos/controller.go
  controllers/podnetworkchaos/controller.go
Labels: status/can-merge, status/LGT1, contribution, first-time-contributor, size/XS, require-LGT1

#3719 docs(adopters): update netease fuxi lab link
  ADOPTERS.md
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3718 chore: use the next generation `New Workflow` UI by default
  CHANGELOG.md
  ui/app/src/slices/settings.ts
Labels: status/LGT1, component/ui, size/XS, require-LGT1

#3720 docs: remove cherrypick release-2.2 in pull request template
  .github/pull_request_template.md
Labels: status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3716 fix(chaos daemon): logging kvs as pair
  .github/workflows/integration_test.yml
  CHANGELOG.md
  pkg/chaosdaemon/jvm_server.go
  test/integration_test/jvm/tidb.yaml
Labels: status/can-merge, status/LGT1, size/S, require-LGT1

#3384 multicluster: helm integration to install/upgrade Chaos Mesh in RemoteCluster
  .github/.licenserc.yaml
  CHANGELOG.md
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  pkg/helm/chart.go
  pkg/helm/chart_test.go
  pkg/helm/doc.go
  pkg/helm/helm_client.go
  pkg/helm/helm_client_test.go
  pkg/helm/interfaces.go
Labels: status/can-merge, status/LGT2, size/XXL

#3725 fix(time chaos): timechaos not injected to the child process
  CHANGELOG.md
  e2e-test/cmd/e2e_helper/Dockerfile
  e2e-test/cmd/e2e_helper/child_process_time_server.go
  e2e-test/cmd/e2e_helper/main.go
  e2e-test/e2e/chaos/basic.go
  e2e-test/e2e/chaos/timechaos/misc.go
  e2e-test/e2e/chaos/timechaos/time_skew.go
  pkg/chaosdaemon/tasks/process_group_handler.go
Labels: status/can-merge, status/LGT1, size/L, require-LGT1, needs-cherry-pick-release-2.3, needs-cherry-pick-release-2.4

#3721 fix: ignore unnecessary workflows when `**.md` or `ui/**` changes
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_skip.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
  .github/workflows/upload_image.yml
Labels: status/LGT1, size/L, no-need-update-changelog, needs-cherry-pick-release-2.3, needs-cherry-pick-release-2.4
