Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-11, with the labels that each got.

#3737 fix: replace actions/checkout from master to v3
  .github/workflows/checklink.yaml
  .github/workflows/codecov_unittest.yaml
  .github/workflows/integration_test.yml
  .github/workflows/upload_env_image.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_image_pr.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: size/S, no-need-update-changelog

#3736 fix: file name
  .github/workflows/manually-sign-container-images.yaml
Labels: size/XS, no-need-update-changelog

#3738 fix: ignore more unnecessary workflows
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_skip.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
Labels: size/M, no-need-update-changelog, needs-cherry-pick-release-2.3, needs-cherry-pick-release-2.4

#3743 fix(swagger): update `is mandatory` to true
  CHANGELOG.md
  pkg/dashboard/apiserver/event/event.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: type/bug-fix, component/chaos-dashboard, size/M, needs-cherry-pick-release-2.3, needs-cherry-pick-release-2.4

#3749 fix: can not skip e2e test
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_skip.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
  .gitignore
  ui/.gitignore
Labels: size/L, no-need-update-changelog, needs-cherry-pick-release-2.3, needs-cherry-pick-release-2.4

#3757 chore: update .licenseyc.yaml for consistent style
  .github/.licenserc.yaml
Labels: status/LGT1, size/XS, require-LGT1

#3756 chore: fix license-eye
  .github/.licenserc.yaml
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1, needs-cherry-pick-release-2.4

#3752 chore: ready for 2.3.3
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT1, size/S, require-LGT1

#3754 chore: ready for release 2.4.2
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/LGT1, size/S, require-LGT1

#3762 fix: misc
  LICENSE
  ui/app/src/lib/localStorage.ts
Labels: size/XS, no-need-update-changelog, needs-cherry-pick-release-2.2, needs-cherry-pick-release-2.3, needs-cherry-pick-release-2.4

#3731 Promote "Glen Yang" to maintainer
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3766 ci: sign images and generate sbom
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
  .github/workflows/manually-sign-container-images.yaml
  .github/workflows/upload_image.yml
  .gitignore
  CHANGELOG.md
Labels: status/can-merge, status/LGT1, size/L, require-LGT1, CI/CD, needs-cherry-pick-release-2.5

#3773 fix: replace env variables with contexts
  .github/workflows/upload_image.yml
Labels: type/bug-fix, status/LGT1, size/S, no-need-update-changelog, CI/CD, needs-cherry-pick-release-2.5

#3782 chore: clean legacy files
  PROJECT
  tools.json
Labels: status/can-merge, status/LGT1, size/M, no-need-update-changelog, require-LGT1

#3776 fix(ci): resolve part of verify warnings and upgrade revive
  api/v1alpha1/stresschaos_types.go
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  images/dev-env/Dockerfile
  pkg/cerr/common_errors.go
  pkg/curl/parser.go
  pkg/sysfs/remount_darwin.go
  revive.toml
  tools/schedule-migration/main.go
Labels: status/can-merge, status/LGT1, size/L, no-need-update-changelog, require-LGT1, CI/CD

#3770 bump go to 1.19.3
  .github/workflows/integration_test.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  CHANGELOG.md
  api/go.mod
  api/v1alpha1/jvmchaos_types.go
  controllers/action/multiplexer.go
  e2e-test/cmd/e2e_helper/Dockerfile
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/go.mod
  go.mod
  images/build-env/Dockerfile
  images/chaos-dlv/Dockerfile
  images/dev-env/Dockerfile
  pkg/chaosdaemon/tasks/task_manager.go
  pkg/command/command.go
  pkg/log/zap.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/L, rebuild-build-env-image, rebuild-dev-env-image

#3767 Ignore `ScheduleSkipRemoveHistory` events
  CHANGELOG.md
  controllers/schedule/cron/controller.go
  controllers/schedule/gc/controller.go
Labels: component/operator, type/bug-fix, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-2.4, needs-cherry-pick-release-2.5

#3789 Remove yeya24 as current maintainer
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3797 fix: enable mode when creating PhysicalMachineChaos with addresses
  CHANGELOG.md
  ui/app/src/components/AutoForm/data.ts
  ui/app/src/components/AutoForm/index.tsx
  ui/app/src/lib/localStorage.ts
Labels: type/bug-fix, status/can-merge, status/LGT1, component/ui, size/M, require-LGT1, needs-cherry-pick-release-2.5

#3698 feat(stresschaos): support cgroup v2 for docker and cri-o
  CHANGELOG.md
  go.mod
  go.sum
  pkg/chaosdaemon/cgroups/attach_cgroup.go
  pkg/chaosdaemon/cgroups/pidpath.go
  pkg/chaosdaemon/stress_server_linux.go
Labels: status/can-merge, status/LGT1, chaos/stress, size/L, require-LGT1, needs-cherry-pick-release-2.4, needs-cherry-pick-release-2.5

#3801 chore: ready for 2.4.3
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT1, size/S, require-LGT1

#3647 ADD HTTP TLS Support
  .github/.licenserc.yaml
  CHANGELOG.md
  api/v1alpha1/httpchaos_types.go
  api/v1alpha1/podhttpchaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_podhttpchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/httpchaos/impl.go
  controllers/chaosimpl/httpchaos/podhttpchaosmanager/transaction.go
  controllers/podhttpchaos/controller.go
  e2e-test/cmd/e2e_helper/main.go
  e2e-test/e2e/chaos/basic.go
  e2e-test/e2e/chaos/httpchaos/http_tls.go
  e2e-test/e2e/chaos/httpchaos/keys/ca.crt
  e2e-test/e2e/chaos/httpchaos/keys/ca.key
  e2e-test/e2e/chaos/httpchaos/keys/server.crt
  e2e-test/e2e/chaos/httpchaos/keys/server.csr
  e2e-test/e2e/chaos/httpchaos/keys/server.ext
  e2e-test/e2e/chaos/httpchaos/keys/server.key
  e2e-test/e2e/util/util.go
  e2e-test/pkg/fixture/fixture.go
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podhttpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  images/chaos-daemon/Dockerfile
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/httpchaos_server.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tproxyconfig/config.go
  pkg/ctrl/server/generated/generated.go
  pkg/ctrl/server/schema.graphqls
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/XXL, chaos/http

#3807 chore: remove not required file crd-v1beta1.yaml
  CHANGELOG.md
  manifests/crd-v1beta1.yaml
Labels: status/can-merge, status/LGT2, size/XXL

#3809 chore: ready for 2.5.0
  CHANGELOG.md
  env-images.yaml
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT1, size/M, rebuild-build-env-image, rebuild-dev-env-image, require-LGT1

#3812 fix: update tags to release-2.4
  env-images.yaml
Labels: type/bug-fix, status/LGT1, size/XS, no-need-update-changelog

#3817 Change ubuntu version from latest to 20.04
  .github/workflows/checklink.yaml
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
  .github/workflows/codecov_unittest.yaml
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
  .github/workflows/license_checker.yml
  .github/workflows/must_update_changelog.yml
  .github/workflows/release_helm_chart.yml
  .github/workflows/stale.yml
  .github/workflows/upload_env_image.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_image_pr.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  CHANGELOG.md
Labels: status/LGT2, size/M, needs-cherry-pick-release-2.4, CI/CD, needs-cherry-pick-release-2.5

#3816 Remove useless kubebuilder comment in webhook
  CHANGELOG.md
  api/v1alpha1/schedule_webhook.go
Labels: status/can-merge, status/LGT1, size/XS, require-LGT1, needs-cherry-pick-release-2.4, needs-cherry-pick-release-2.5
