Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-03, with the labels that each got.

#2902 log: add customized logger for daemon and bpm
  .github/.licenserc.yaml
  cmd/chaos-daemon/main.go
  controllers/chaosimpl/dnschaos/types.go
  controllers/chaosimpl/jvmchaos/impl.go
  controllers/chaosimpl/kernelchaos/types.go
  controllers/chaosimpl/podchaos/containerkill/impl.go
  controllers/chaosimpl/stresschaos/impl.go
  controllers/chaosimpl/timechaos/impl.go
  controllers/chaosimpl/utils/record.go
  controllers/podhttpchaos/controller.go
  controllers/podiochaos/controller.go
  controllers/podnetworkchaos/controller.go
  controllers/podnetworkchaos/ipset/ipset.go
  controllers/podnetworkchaos/iptable/iptable.go
  controllers/podnetworkchaos/tc/tc.go
  controllers/utils/chaosdaemon/chaosdaemon.go
  pkg/bpm/bpm.go
  pkg/bpm/bpm_test.go
  pkg/bpm/build_linux.go
  pkg/chaosctl/common/exec.go
  pkg/chaosdaemon/container.go
  pkg/chaosdaemon/container_test.go
  pkg/chaosdaemon/dns_server.go
  pkg/chaosdaemon/httpchaos_server.go
  pkg/chaosdaemon/iochaos_server.go
  pkg/chaosdaemon/ipset_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/jvm_server.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/server_test.go
  pkg/chaosdaemon/stress_server_linux.go
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/time_server.go
  pkg/chaosdaemon/time_server_test.go
  pkg/ctrlserver/graph/daemon.go
  pkg/ctrlserver/graph/exec.go
  pkg/grpc/utils.go
  pkg/log/metadata.go
  pkg/metrics/utils/ipset.go
  pkg/metrics/utils/iptables.go
  pkg/metrics/utils/tc.go
Labels: status/can-merge, status/LGT2, size/XXL

#2948 add auto compile github action
  .github/workflows/upload_image_pr.yml
  hack/download-image.sh
Labels: status/can-merge, status/LGT2, size/L

#2953 fix gitVersion while compling in GithubAction
  .github/workflows/upload_image.yml
  hack/version.sh
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1

#2959 rename rs-tproxy to chaos-tproxy in Dockerfile of chaos-daemon
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2961 cherry-pick(#2959): rename rs-tproxy to chaos-tproxy in Dockerfile of chaos-daemon
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS, type/2.1-cherry-pick

#2960 cherry-pick(#2959): rename rs-tproxy to chaos-tproxy in Dockerfile of chaos-daemon
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS, type/2.0-cherry-pick

#2945 Fix the issue that StackOverflow error will appear when byteman injec…
  pkg/chaosdaemon/jvm_server.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#2973 chaos-dashboard: use pkg log instead of controller-runtime log
  cmd/chaos-dashboard/main.go
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.1

#2928 feat: support cgroup v2 for linux stress experiments
  CHANGELOG.md
  go.mod
  go.sum
  pkg/chaosdaemon/stress_server_linux.go
Labels: type/enhancement, status/can-merge, status/LGT2, contribution, first-time-contributor, chaos/stress, size/M

#2964 chore: refine logging in pkg time
  cmd/watchmaker/main_linux_amd64.go
  pkg/chaosdaemon/time_server.go
  pkg/time/asset.go
  pkg/time/fake_image.go
  pkg/time/fake_image_linux_amd64.go
  pkg/time/time_darwin.go
  pkg/time/time_linux_amd64.go
  pkg/time/time_linux_amd64_test.go
  pkg/time/time_skew_amd64.go
  pkg/time/utils.go
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.1

#2990 fix wrong zero value of httpchaos replace body action
  e2e-test/e2e/chaos/basic.go
  e2e-test/e2e/chaos/httpchaos/http_replace.go
  pkg/chaosdaemon/tproxyconfig/config.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XL

#2996 fix: add the missing `context.Context` param in bpm/build_darwin
  pkg/bpm/build_darwin.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XS

#2912 Refactor logging in `pkg/metrics` and moves `log` field to struct field
  controllers/utils/test/metrics/test_metrics_collector.go
  pkg/metrics/chaos-controller-manager.go
  pkg/metrics/chaos-daemon.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M, needs-cherry-pick-2.1

#3000 chore: appending changelog for #2902
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#2994 feat(ui): add storybook for testing
  .github/.licenserc.yaml
  ui/package.json
  ui/packages/mui-extends/.babelrc.json
  ui/packages/mui-extends/.storybook/main.js
  ui/packages/mui-extends/.storybook/preview.js
  ui/packages/mui-extends/__mocks__/fileMock.js
  ui/packages/mui-extends/__mocks__/styleMock.js
  ui/packages/mui-extends/package.json
  ui/packages/mui-extends/src/SelectField/index.tsx
  ui/packages/mui-extends/src/TextField/index.tsx
  ui/packages/mui-extends/stories/assets/code-brackets.svg
  ui/packages/mui-extends/stories/assets/colors.svg
  ui/packages/mui-extends/stories/assets/comments.svg
  ui/packages/mui-extends/stories/assets/direction.svg
  ui/packages/mui-extends/stories/assets/flow.svg
  ui/packages/mui-extends/stories/assets/plugin.svg
  ui/packages/mui-extends/stories/assets/repo.svg
  ui/packages/mui-extends/stories/assets/stackalt.svg
  ui/packages/mui-extends/stories/examples/Button.stories.tsx
  ui/packages/mui-extends/stories/examples/Button.tsx
  ui/packages/mui-extends/stories/examples/Header.stories.tsx
  ui/packages/mui-extends/stories/examples/Header.tsx
  ui/packages/mui-extends/stories/examples/Introduction.stories.mdx
  ui/packages/mui-extends/stories/examples/Page.stories.tsx
  ui/packages/mui-extends/stories/examples/Page.tsx
  ui/packages/mui-extends/stories/examples/button.css
  ui/packages/mui-extends/stories/examples/header.css
  ui/packages/mui-extends/stories/examples/page.css
  ui/packages/mui-extends/stories/form/SelectField.stories.tsx
  ui/packages/mui-extends/stories/form/TextField.stories.tsx
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
  ui/packages/mui-extends/test/storyshots.test.js
  ui/packages/mui-extends/tsconfig.json
  ui/yarn.lock
Labels: component/tests, status/can-merge, status/LGT2, component/ui, size/XXL

#2987 chore: appending changelog for fix logging timestamp format
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#3003 refactor: move GetService out of package pod selector
  controllers/chaosimpl/dnschaos/types.go
  pkg/selector/pod/selector.go
Labels: status/can-merge, status/LGT2, size/M

#2869 chaos-daemon: remove host ipc
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/XS

#3004 JVMChaos: return error with information
  pkg/chaosdaemon/jvm_server.go
Labels: status/can-merge, status/LGT2, chaos/jvm, size/XS

#3010 Fix `ModifyTime` function in arm64
  pkg/time/time_linux_arm64.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/XS

#2985 chaos-dashboard: use pkg log instead of controller-runtime log (#2973)
  CHANGELOG.md
  cmd/chaos-dashboard/main.go
Labels: status/can-merge, status/LGT2, size/S

#2954 feat: Add `StatusCheck` CRD
  CHANGELOG.md
  api/v1alpha1/statuscheck_types.go
  api/v1alpha1/statuscheck_types_test.go
  api/v1alpha1/statuscheck_webhook.go
  api/v1alpha1/statuscheck_webhook_test.go
  api/v1alpha1/statuschecktemplate_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_statuschecks.yaml
  config/crd/kustomization.yaml
  controllers/types/types.go
  examples/statuscheck-example.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_statuschecks.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/webhook/validate_auth.go
  test/integration_test/statuscheck/run.sh
  test/integration_test/statuscheck/statuscheck.yaml
Labels: type/enhancement, status/can-merge, status/LGT2, size/XXL

#3017 fix chaos-daemon selection bug in ctrlserver
  pkg/ctrl/server/k8s-utils.go
  pkg/ctrl/server/schema.resolvers.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/M

#3018 fix default percent field in iochaos
  CHANGELOG.md
  api/v1alpha1/iochaos_types.go
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#2975 chore: refine logging in pkg/ptrace
  cmd/watchmaker/main_linux_amd64.go
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/ptrace/ptrace_linux_amd64_test.go
  pkg/time/fake_image_linux_amd64.go
Labels: status/can-merge, status/LGT2, size/M

#3024 cherry-pick: fix default percent field in iochaos (#3018)
  CHANGELOG.md
  api/v1alpha1/iochaos_types.go
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, contribution, size/M

#3025 fix panic with /metrics of chaos-daemon
  pkg/metrics/chaos-daemon.go
Labels: type/bug-fix, component/daemon, status/can-merge, status/LGT2, size/XS

#3002 chore: refine logging in pkg/selector/pod
  CHANGELOG.md
  pkg/selector/pod/selector.go
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.1

#2989 Promote "Siyu Chen" to committer
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/XS

#3029 chore(ui): run in StrictMode
  ui/app/src/index.tsx
Labels: type/enhancement, status/can-merge, status/LGT2, component/ui, size/S

#2955 fix: add `envFollowKubernetesPattern` to handle k8s-like format env in helm templates
  CHANGELOG.md
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: type/enhancement, component/helm, status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.1

#3016 chore: description about story book
  ui/README.md
Labels: status/can-merge, status/LGT2, size/XS

#3014 fix(dashboard/core): double the column size
  pkg/dashboard/core/experiment.go
  pkg/dashboard/core/schedule.go
Labels: status/can-merge, status/LGT2, size/XS

#3022 cherry-pick(#3017): fix chaos-daemon selection bug in ctrlserver
  pkg/ctrlserver/graph/k8s-utils.go
  pkg/ctrlserver/graph/schema.resolvers.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/M, type/2.1-cherry-pick

#3035 Refine logging in `pkg/dashboard/apiserver/workflow`
  cmd/chaos-dashboard/main.go
  pkg/dashboard/apiserver/handler.go
  pkg/dashboard/apiserver/workflow/fx.go
  pkg/dashboard/apiserver/workflow/workflow.go
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, size/M

#3046 ready for 2.1.4
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#3049 cherrypick #2849 and #2935 into release-2.1
  .github/workflows/upload_image.yml
  pkg/time/fake_image.go
  pkg/time/fake_image_linux_amd64.go
  pkg/time/fakeclock/fake_gettimeofday.c
Labels: status/can-merge, status/LGT2, size/L

#3019 chore: new component checkbox for boolean value
  ui/packages/mui-extends/src/Checkbox/index.tsx
  ui/packages/mui-extends/stories/form/Checkbox.stories.tsx
Labels: status/can-merge, status/LGT2, component/ui, size/L

#3052 Add Maycur as Adopter
  ADOPTERS.md
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#3038 bump gqlgen to v0.17.2
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  images/dev-env/Dockerfile
  pkg/ctrl/gqlgen.yml
  pkg/ctrl/server/generated/generated.go
Labels: status/can-merge, status/LGT2, size/XXL, rebuild-dev-env-image

#3032 refactor: refine logging in pkg/webhook
  cmd/chaos-controller-manager/main.go
  pkg/webhook/inject.go
  pkg/webhook/validate_auth.go
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.1

#2963 Upgrade ttl support for schedule and workflow
  pkg/dashboard/core/workflow.go
  pkg/dashboard/store/workflow/workflow.go
  pkg/dashboard/ttlcontroller/ttlcontroller.go
Labels: status/can-merge, status/LGT2, contribution, size/M

#2981 Handle deleting jvmchaos crds when the container holding the jvm rules has been deleted
  controllers/chaosimpl/jvmchaos/impl.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#3060 append batches of changelogs
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#3055 bump go to 1.18
  .github/workflows/integration_test.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  CHANGELOG.md
  api/go.mod
  api/go.sum
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  images/build-env/Dockerfile
  images/chaos-dlv/Dockerfile
  images/dev-env/Dockerfile
Labels: status/can-merge, status/LGT2, size/XXL, rebuild-build-env-image, rebuild-dev-env-image

#3053 chore: tidy comments in values and readme
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
  pkg/config/dashboard/dashboard.go
Labels: component/helm, status/can-merge, status/LGT2, size/XL

#2972 Add dashboard API for `StatusCheck`
  api/v1alpha1/statuschecktemplate_types.go
  pkg/dashboard/apiserver/handler.go
  pkg/dashboard/apiserver/template/fx.go
  pkg/dashboard/apiserver/template/template.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: type/enhancement, status/can-merge, component/chaos-dashboard, status/LGT2, size/XXL

#3042 change Log to log.L()
  pkg/dashboard/apiserver/utils/auth.go
  pkg/dashboard/apiserver/utils/error.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#3063 Helm: add TTL configuration for schedule and workflow
  cmd/chaos-dashboard/main.go
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/core/workflow.go
  pkg/dashboard/store/workflow/workflow.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/dashboard/ttlcontroller/ttlcontroller.go
Labels: status/can-merge, status/LGT2, size/L

#2986 e2e test on GitHub Action
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_report.yml
Labels: status/can-merge, status/LGT2, size/L

#3078 Delete the CI Test install.sh
  .github/workflows/script_test.yml
Labels: status/can-merge, status/LGT2, size/S

#3083 e2e: build e2e helper in go 1.18
  e2e-test/cmd/e2e_helper/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS

#3085 remove CI e2e-test-reporter
  .github/workflows/e2e_test_report.yml
Labels: status/can-merge, status/LGT2, size/S

#3076 refactor: move from io/ioutil to io and os packages
  controllers/chaosimpl/physicalmachinechaos/impl.go
  e2e-test/cmd/e2e_helper/main.go
  e2e-test/e2e/chaos/dnschaos/dns.go
  e2e-test/e2e/chaos/httpchaos/http_patch.go
  e2e-test/e2e/chaos/httpchaos/http_replace.go
  e2e-test/e2e/chaos/iochaos/misc.go
  e2e-test/e2e/chaos/networkchaos/misc.go
  e2e-test/e2e/chaos/stresschaos/misc.go
  e2e-test/e2e/chaos/timechaos/misc.go
  pkg/chaosctl/physicalmachine/generate.go
  pkg/chaosctl/physicalmachine/ssh.go
  pkg/chaosdaemon/httpchaos_server.go
  pkg/chaosdaemon/ipset_server_test.go
  pkg/chaosdaemon/iptables_server_test.go
  pkg/chaosdaemon/jvm_server.go
  pkg/chaosdaemon/server.go
  pkg/chaosdaemon/util/util.go
  pkg/ctrl/server/exec.go
  pkg/ctrl/server/schema.resolvers.go
  pkg/grpc/utils.go
  pkg/mapreader/reader.go
  pkg/pidfile/pidfile.go
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/webhook/config/config.go
  pkg/webhook/config/watcher/watcher.go
  tools/schedule-migration/main.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/L

#3070 stress: add field to set the oom score
  api/v1alpha1/stresschaos_types.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/stresschaos/impl.go
  examples/cause-pod-oom.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/bpm/bpm.go
  pkg/bpm/build_linux.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/stress_server_linux.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, chaos/stress, size/XXL, feature/new
