Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-06, with the labels that each got.

#3325 Set certificate.spec.privateKey.rotationPolicy on Certificates
  CHANGELOG.md
  helm/chaos-mesh/templates/cert-manager-certs.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#3311 chore: always using 0.0.0 for helm chart in repo
  CHANGELOG.md
  hack/update_install_script.sh
  helm/chaos-mesh/Chart.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#3335 fix(ui): `space` to `enter` in helper texts
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/S, no-need-update-changelog, needs-cherry-pick-2.2

#3334 Remove not used Clientset in cmd/chaos-controller-manager/main.go
  CHANGELOG.md
  cmd/chaos-controller-manager/main.go
Labels: status/can-merge, status/LGT2, contribution, size/XS

#3247 [BugBash] SC2004: Remove unnecessary $ on arithmetic variables
  CHANGELOG.md
  hack/kind-cluster-build.sh
Labels: status/can-merge, status/LGT2, contribution, size/XS, bugbash

#3317 Promote "Xianglin Gao" to committer
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3354 PhysicalMachineChaos: update stress options type
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/XL, type/2.2-cherry-pick

#3359 Add a comment to the flag size of memory stress in the dashboard
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
Labels: status/can-merge, status/LGT2, size/XS

#3355 chore: artifact hub annotations
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
Labels: status/can-merge, status/LGT2, size/S

#3363 ci: ignore microsoft within markdown link check
  .github/workflows/checklink_config.json
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1, no-need-update-changelog, needs-cherry-pick-2.2

#3372 chore: remove release note in pr template
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1, no-need-update-changelog, needs-cherry-pick-2.2

#3143 removed global log from pkg/dashboard/store
  CHANGELOG.md
  cmd/chaos-dashboard/main.go
  pkg/dashboard/store/fx.go
  pkg/dashboard/store/store.go
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#3377 chore: remove release note in pr template
  .github/pull_request_template.md
Labels: size/XS, no-need-update-changelog

#3378 remove duplicated code
  controllers/chaosimpl/networkchaos/trafficcontrol/impl.go
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3353 renamed all occurances of chaos testing to chaos-mesh
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/e2e_test.yml
  .github/workflows/integration_test.yml
  CHANGELOG.md
  Makefile
  e2e-test/action.go
  e2e-test/e2e/e2econst/const.go
  e2e-test/types.go
  hack/kind-cluster-build.sh
  hack/local-up-chaos-mesh.sh
  hack/update_install_script.sh
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
  images/chaos-dlv/README.md
  install.sh
  pkg/chaosctl/cmd/root.go
  pkg/chaosctl/physicalmachine/init.go
  pkg/ctrl/server/generated/generated.go
  pkg/ctrl/server/schema.graphqls
  pkg/dashboard/store/event/event_test.go
  test/integration_test/README.md
  test/integration_test/aws/aws_chaos.yaml
  test/integration_test/aws/aws_chaos_template.yaml
  test/integration_test/aws/aws_secret.yaml
  test/integration_test/dashboard_authority/cluster-manager.yaml
  test/integration_test/dashboard_authority/cluster-viewer.yaml
  test/integration_test/dashboard_authority/run.sh
  test/integration_test/jvm/exception.yaml
  test/integration_test/physical_machine/chaos.yaml
  test/integration_test/physical_machine/chaos_selector.yaml
  test/integration_test/physical_machine/physical_machine.yaml
  test/integration_test/physical_machine/run.sh
  test/integration_test/physical_machine/schedule.yaml
  test/integration_test/physical_machine/workflow.yaml
  test/integration_test/statuscheck/statuscheck.yaml
  ui/README.md
  ui/packages/mui-extends/stories/form/TextField.stories.tsx
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XL

#3343 remove not used globalCacheReader
  CHANGELOG.md
  cmd/chaos-controller-manager/provider/controller.go
  controllers/utils/test/provider.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3401 fix readme: replace deadlink with web-archive link
  README.md
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1, no-need-update-changelog, needs-cherry-pick-2.2

#3322 Update the nomination process in Governance
  GOVERNANCE.md
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S, no-need-update-changelog

#3405 stresschaos: run pause before choom
  CHANGELOG.md
  pkg/bpm/build_linux.go
  pkg/chaosdaemon/stress_server_linux.go
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.2

#3406 stresschaos: run pause before choom (#3405)
  CHANGELOG.md
  pkg/bpm/build_linux.go
  pkg/chaosdaemon/stress_server_linux.go
Labels: status/can-merge, status/LGT2, size/S

#3407 bump version to 2.2.1
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#3412 bump tproxy to 0.5.1
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS
