Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-07, with the labels that each got.

#3413 Fix Workflow Validating Webhook Panic
  CHANGELOG.md
  api/v1alpha1/workflow_webhook.go
  api/v1alpha1/workflow_webhook_test.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3395 use ContainerSelector in kernel chaos
  CHANGELOG.md
  api/v1alpha1/kernelchaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/kernelchaos/types.go
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/XL

#3381 dnschaos: Make possible to have more than one dns chaos server
  CHANGELOG.md
  controllers/chaosimpl/dnschaos/types.go
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#2907 blockchaos: impl blockchaos in chaosdaemon
  CHANGELOG.md
  Makefile
  api/v1alpha1/blockchaos_types.go
  cmd/chaos-daemon-helper/main.go
  cmd/chaos-daemon/main.go
  config/crd/bases/chaos-mesh.org_blockchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/blockchaos/impl.go
  controllers/test/types.go
  controllers/utils/controller/key.go
  examples/blockchaos/blockchaos-delay-example.yaml
  examples/blockchaos/hostpath-persistent-volume.yaml
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_blockchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/chaos-daemon/Dockerfile
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/blockchaos_server.go
  pkg/chaosdaemon/helper/blockchaos.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/selector/nodevolumepath/selector.go
  pkg/sysfs/remount.go
Labels: status/can-merge, status/LGT2, size/XXL

#3248 [BugBash] SC2001: Remove sed as it's not required
  CHANGELOG.md
  install.sh
Labels: status/can-merge, status/LGT2, contribution, size/XS, bugbash

#3429 ci: run build image on self-hosted arm machine
  .github/workflows/upload_image.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#3431 ci: run build image on self-hosted arm machine
  .github/workflows/upload_image.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#3428 bump version to 2.2.2
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#3342 [multicluster] bootstrap controller manager at runtime with clusterregistry
  CHANGELOG.md
  api/v1alpha1/remote_cluster_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  config/crd/bases/chaos-mesh.org_remoteclusters.yaml
  config/crd/kustomization.yaml
  controllers/fx.go
  controllers/multicluster/clusterregistry/README.md
  controllers/multicluster/clusterregistry/error.go
  controllers/multicluster/clusterregistry/registry.go
  controllers/multicluster/remotecluster/controller.go
  controllers/multicluster/remotecluster/fx.go
  controllers/multicluster/remotepodreconciler/fx.go
  controllers/multicluster/remotepodreconciler/remote_pod_reconciler.go
  e2e-test/go.mod
  e2e-test/go.sum
  examples/remote-cluster.yaml
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_remoteclusters.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/webhook/validate_auth.go
Labels: status/can-merge, status/LGT2, size/XXL

#3390 Fix/daemonset psp
  CHANGELOG.md
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
  install.sh
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M, needs-cherry-pick-2.2

#3422 simplified logic and add test case
  CHANGELOG.md
  pkg/finalizer/finalizer_test.go
  pkg/finalizer/utils.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3439 chore(i18n): experiment type to inject into
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: type/enhancement, status/can-merge, status/LGT2, component/ui, size/XS, needs-cherry-pick-2.1, no-need-update-changelog, needs-cherry-pick-2.2

#3368 feat(ui): allow importing external workflows and copying flow nodes in next generation `New Workflow`
  CHANGELOG.md
  ui/.gitignore
  ui/app/package.json
  ui/app/src/components/AutoForm/Info.tsx
  ui/app/src/components/AutoForm/data.ts
  ui/app/src/components/AutoForm/index.tsx
  ui/app/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/app/src/components/NewWorkflowNext/AdjustableEdge.tsx
  ui/app/src/components/NewWorkflowNext/BareNode.tsx
  ui/app/src/components/NewWorkflowNext/Elements/DraggableBareNode.tsx
  ui/app/src/components/NewWorkflowNext/Elements/FunctionalNodes.tsx
  ui/app/src/components/NewWorkflowNext/FlowNode.tsx
  ui/app/src/components/NewWorkflowNext/FlowTooltip.tsx
  ui/app/src/components/NewWorkflowNext/GroupNode.tsx
  ui/app/src/components/NewWorkflowNext/StyleHandle.tsx
  ui/app/src/components/NewWorkflowNext/Whiteboard.tsx
  ui/app/src/components/NewWorkflowNext/__snapshots__/BareNode.test.tsx.snap
  ui/app/src/components/NewWorkflowNext/data.ts
  ui/app/src/components/NewWorkflowNext/index.tsx
  ui/app/src/components/NewWorkflowNext/utils/convert.test.ts
  ui/app/src/components/NewWorkflowNext/utils/convert.ts
  ui/app/src/components/Scope/index.tsx
  ui/app/src/components/YAML/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
  ui/app/src/lib/byKind.tsx
  ui/app/src/lib/utils.ts
  ui/app/src/pages/Dashboard/Predefined.tsx
  ui/app/src/slices/workflows.ts
  ui/packages/mui-extends/src/Menu/index.tsx
  ui/yarn.lock
Labels: status/can-merge, status/LGT2, component/ui, component/workflow, size/XXL, feature/new

#3435 blockchaos: remove unsupported action comments
  CHANGELOG.md
  api/v1alpha1/blockchaos_types.go
  config/crd/bases/chaos-mesh.org_blockchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_blockchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/L

#3446 fix doc error
  helm/chaos-mesh/README.md
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS, no-need-update-changelog, needs-cherry-pick-2.2

#3066 Helm chart: Support latest api version of dashboard ingress
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/ingress.yaml
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#3445 fix: refactor service level in pkg/dashboard/apiserver/experiment
  pkg/dashboard/apiserver/experiment/experiment.go
  pkg/dashboard/apiserver/experiment/fx.go
  pkg/dashboard/apiserver/handler.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M, no-need-update-changelog

#3444 Overwrite $IMAGE_BUILD_ENV_TAG with $IMAGE_TAG-$ARCH in `upload_env_image.yml` github action
  .github/workflows/upload_env_image.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.2

#3459 Add a judgement of `enterNS` in `getAllInterfaces()`
  CHANGELOG.md
  pkg/chaosdaemon/tc_server.go
Labels: status/can-merge, status/LGT2, chaos/network, size/S, type/2.1-cherry-pick, type/2.2-cherry-pick

#3460 Fix helm chart README typo
  helm/chaos-mesh/README.md
Labels: status/LGT1, contribution, first-time-contributor, size/XS, no-need-update-changelog

#3450 chore: update the goverance for member
  GOVERNANCE.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3462 implement some missing methods in ctrl server
  CHANGELOG.md
  pkg/ctrl/server/schema.resolvers.go
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.2

#3476 chore: configure QPS and Burst for chaos dashboard
  CHANGELOG.md
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/collector/server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/M, needs-cherry-pick-2.1, needs-cherry-pick-2.2, needs-cherry-pick-2.3

#3471 Revert #3342 multicluster
  CHANGELOG.md
  api/v1alpha1/remote_cluster_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  config/crd/bases/chaos-mesh.org_remoteclusters.yaml
  config/crd/kustomization.yaml
  controllers/fx.go
  controllers/multicluster/clusterregistry/README.md
  controllers/multicluster/clusterregistry/error.go
  controllers/multicluster/clusterregistry/registry.go
  controllers/multicluster/remotecluster/controller.go
  controllers/multicluster/remotecluster/fx.go
  controllers/multicluster/remotepodreconciler/fx.go
  controllers/multicluster/remotepodreconciler/remote_pod_reconciler.go
  e2e-test/go.mod
  e2e-test/go.sum
  examples/remote-cluster.yaml
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_remoteclusters.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/webhook/validate_auth.go
Labels: status/can-merge, status/LGT1, size/XXL, require-LGT1

#3470 cherry-pick(3462): implement some missing methods in ctrl server
  CHANGELOG.md
  pkg/ctrl/server/schema.resolvers.go
Labels: status/can-merge, status/LGT2, size/S

#3451 Promote "Chenxi Li" to committer
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3030 Guide and example manifests for monitoring chaos mesh
  .github/.licenserc.yaml
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-daemon-service.yaml
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-service.yaml
  install.sh
  manifests/monitoring/README.md
  manifests/monitoring/prometheus-kubernetes-service-discovery/prometheus-additional.yaml
  manifests/monitoring/prometheus-operator/chaos-controller-manager-servicemonitor.yaml
  manifests/monitoring/prometheus-operator/chaos-daemon-servicemonitor.yaml
  manifests/monitoring/prometheus-operator/chaos-dashboard-servicemonitor.yaml
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.3

#3474 Respect flag enableProfiling in chaos-dashboard
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/apiserver/server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3485 chore: configure QPS and Burst for chaos dashboard (#3476)
  CHANGELOG.md
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/collector/server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/M

#3486 chore: configure QPS and Burst for chaos dashboard (#3476)
  CHANGELOG.md
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/collector/server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/M

#3491 fix JVMChaos missing file: /usr/local/byteman/lib/chaos-agent.jar
  CHANGELOG.md
  pkg/chaosdaemon/jvm_server.go
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.2, needs-cherry-pick-2.3

#3490 chore: append release-2.3 into cherrypick options
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3489 chore: use empty array when no value provided
  CHANGELOG.md
  ui/app/src/components/FormField/AutocompleteField.tsx
Labels: type/bug-fix, status/LGT1, component/ui, size/XS, type/2.1-cherry-pick, type/2.2-cherry-pick, type/2.3-cherry-pick

#3500 Bump version to v2.1.7
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#3449 chore: support `KernelChaos` in `AutoForm`
  CHANGELOG.md
  ui/app/src/components/AutoForm/index.tsx
Labels: status/can-merge, status/LGT2, component/ui, component/workflow, size/L

#3501 cherry pick #3449 to release-2.3
  CHANGELOG.md
  ui/app/src/components/AutoForm/index.tsx
Labels: status/can-merge, status/LGT2, size/L

#3502 update env image tag for branch release-2.3
  .github/workflows/e2e_test.yml
  env-images.yaml
Labels: status/can-merge, status/LGT2, size/S, rebuild-build-env-image, rebuild-dev-env-image, no-need-update-changelog

#3504 update image tags as v2.3.0
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3473 Protect chaos available namespace and filter namespaces if needed
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S, needs-cherry-pick-2.2, needs-cherry-pick-2.3
