Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-08, with the labels that each got.

#3505 ui: update RBACGenerator's text
  CHANGELOG.md
  ui/app/src/components/RBACGenerator/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3511 cherry-pick #3505 into release-2.3
  CHANGELOG.md
  ui/app/src/components/RBACGenerator/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: status/LGT1, size/S

#3510 cherry-pick #3505 into release-2.2
  CHANGELOG.md
  ui/app/src/components/RBACGenerator/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: status/LGT1, size/S

#3515 cherrypick #3489 into release-2.3
  CHANGELOG.md
  ui/app/src/components/FormField/AutocompleteField.tsx
Labels: status/LGT1, size/XS

#3514 cherrypick #3489 into release-2.2
  CHANGELOG.md
  ui/app/src/components/FormField/AutocompleteField.tsx
Labels: status/LGT1, size/XS

#3509 chore: update CHANGELOG for released 2.3.0
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#3508 chore: update changelog for release 2.3.0
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/S

#3518 fix: move recent prs to unreleased
  CHANGELOG.md
Labels: type/bug-fix, status/LGT1, size/XS

#3522 Protect chaos available namespace and filter namespaces if needed (#3473)
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
Labels: size/S

#3525 Protect chaos available namespace and filter namespaces if needed (#3473)
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
Labels: status/can-merge, status/LGT2, size/S

#3523 Respect flag enableProfiling in chaos-dashboard (#3474)
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/apiserver/server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/LGT1, size/S

#3524 Respect flag enableProfiling in chaos-dashboard (#3474)
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
  pkg/config/dashboard/dashboard.go
  pkg/dashboard/apiserver/server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/LGT1, size/S

#3477 Sync latest Chaosd and PhysicalMachineChaos
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/physicalmachinechaos/impl.go
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: type/enhancement, status/can-merge, status/LGT2, size/XXL, chaos/physical-machine

#3045 cherrypick "refine logging in pkg time (#2964)" into release-2.1
  cmd/watchmaker/main_linux_amd64.go
  pkg/chaosdaemon/time_server.go
  pkg/time/asset.go
  pkg/time/fake_image.go
  pkg/time/fake_image_linux_amd64.go
  pkg/time/time_darwin.go
  pkg/time/time_linux_amd64.go
  pkg/time/time_linux_amd64_test.go
  pkg/time/time_skew_amd64.go
  pkg/time/utils.go
Labels: status/LGT1, size/L, rebuild-build-env-image, rebuild-dev-env-image, needs-cherry-pick-2.1, no-need-update-changelog

#3534 chore: update PR template due to v2.3 released
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, size/S, no-need-update-changelog

#3536 fix BlockChaos can't show Chinese name
  CHANGELOG.md
  ui/app/src/i18n/zh.json
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS, needs-cherry-pick-2.3

#3533 fix(ui): IOChaos `containerNames` field
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/NewExperimentNext/data/types.ts
  ui/app/src/components/NewExperimentNext/form/Kernel.tsx
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/M, needs-cherry-pick-2.2, needs-cherry-pick-2.3

#3546 fix(ui): IOChaos `containerNames` field (#3533)
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/NewExperimentNext/data/types.ts
  ui/app/src/components/NewExperimentNext/form/Kernel.tsx
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: size/M

#3547 fix(ui): IOChaos `containerNames` field (#3533)
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/NewExperimentNext/data/types.ts
  ui/app/src/components/NewExperimentNext/form/Kernel.tsx
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: size/L

#3539 replace io/ioutil package with os package
  CHANGELOG.md
  pkg/ptrace/ptrace_linux.go
Labels: status/can-merge, status/LGT2, contribution, size/XS

#3531 fix: Omit optional fields explicitly
  CHANGELOG.md
  api/v1alpha1/common_types.go
  api/v1alpha1/dnschaos_type.go
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/podchaos_types.go
  api/v1alpha1/podnetworkchaos_types.go
  api/v1alpha1/schedule_types.go
  api/v1alpha1/statuscheck_types.go
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/timechaos_types.go
  api/v1alpha1/workflownode_types.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/M

#3484 Use `net.Interfaces()` to implement `getAllInterfaces()`
  CHANGELOG.md
  pkg/chaosdaemon/tc_server.go
Labels: status/can-merge, status/LGT2, chaos/network, size/M

#3512 Promote "Zhiqiang Zhou" to maintainer
  MAINTAINERS.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3528 Refine logging in pkg/dashboard/apiserver/event
  CHANGELOG.md
  pkg/dashboard/apiserver/event/event.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3564 fix "sidecar config" e2e test cases run failed in some scenario
  CHANGELOG.md
  e2e-test/e2e/chaos/sidecar/injection_config.go
  e2e-test/e2e/chaos/sidecar/template_config.go
Labels: status/can-merge, status/LGT2, contribution, size/XS

#3567 Add "pause image" settings for e2e config
  CHANGELOG.md
  Makefile
  e2e-test/config.go
  e2e-test/e2e/chaos/podchaos/pod_failure.go
  e2e-test/e2e/config/config.go
  e2e-test/e2e/e2econst/const.go
Labels: status/can-merge, status/LGT2, contribution, size/S

#3527 Refine logging in pkg/dashboard/apiserver/auth/gcp
  CHANGELOG.md
  pkg/dashboard/apiserver/auth/gcp/middleware.go
  pkg/dashboard/apiserver/auth/gcp/service.go
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#3570 fix: optimize darwin static check
  pkg/chaosdaemon/blockchaos_server_darwin.go
  pkg/chaosdaemon/blockchaos_server_linux.go
  pkg/chaosdaemon/time_server_darwin.go
  pkg/chaosdaemon/time_server_linux.go
  pkg/sysfs/remount_darwin.go
  pkg/sysfs/remount_linux.go
  pkg/time/asset_linux.go
  pkg/time/asset_linux_amd64.go
  pkg/time/asset_linux_arm64.go
  pkg/time/fake_image_linux_amd64.go
  pkg/time/fake_image_linux_arm64.go
  pkg/time/time_skew_linux.go
  pkg/time/time_skew_linux_amd64_test.go
Labels: component/daemon, status/LGT2, size/L, no-need-update-changelog, needs-cherry-pick-2.3

#3579 cherry-pick #3477 to release-2.3
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/chaosimpl/physicalmachinechaos/impl.go
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/LGT1, size/XXL

#3578 Add cleanFinalizer controller
  CHANGELOG.md
  controllers/common/finalizers/controller.go
  controllers/common/finalizers/step.go
  controllers/common/step.go
  controllers/common/suit_test.go
Labels: status/can-merge, status/LGT2, size/L

#3582 Bump version to v2.1.8
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M, no-need-update-changelog

#3580 fix: uniformly use Enter to add item in LabelField
  CHANGELOG.md
  ui/app/src/components/FormField/LabelField.tsx
  ui/app/src/components/NewExperimentNext/data/types.ts
  ui/app/src/components/NewExperimentNext/form/Kernel.tsx
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
  ui/yarn.lock
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/L

#3583 fix time pkg on arm platform
  pkg/time/time_linux_arm64.go
Labels: size/XS, no-need-update-changelog

#3585 fix time pkg on arm platform
  pkg/time/time_linux_arm64.go
Labels: size/XS, no-need-update-changelog

#3589 ci: fix integration test, update kuebctl version
  .github/workflows/integration_test.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT1, size/XS, require-LGT1

#3588 Add `accept-tcp-flag` to network delay in PysicalMachineChaos
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_types.go
  api/v1alpha1/physical_machine_chaos_webhook.go
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/L
