Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-01, with the labels that each got.

#2610 httpchaos: chaos-tproxy will be recreate if instance not found
  pkg/chaosdaemon/httpchaos_server.go
Labels: status/can-merge, status/LGT2, size/S

#2694 Cherry pick #2679, #2706 and #2714 to release 2.0
  .github/workflows/ci.yml
  .github/workflows/codecov_unittest.yaml
  Makefile
  codecov.yml
Labels: status/can-merge, status/LGT2, size/M

#2708 feat(chaos dashboard): add deleting status
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/status/status.go
  ui/app/src/api/experiments.type.ts
  ui/app/src/components/StatusLabel/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, size/S, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2640 add several build script to replace template
  .gitignore
  Makefile
  build/build_image.py
  build/common.py
  build/get_env_shell.py
  build/utils.py
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.gomock.txt
  hack/boilerplate/boilerplate.py
  hack/verify-boilerplate.sh
  images/dev-env/Dockerfile
Labels: status/can-merge, status/LGT2, size/XXL, rebuild-dev-env-image

#2696 ci: run different jobs depending on the modified files
  .github/workflows/checklink.yaml
  .github/workflows/ci.yml
  .github/workflows/codecov_unittest.yaml
  .github/workflows/integration_test.yml
  .github/workflows/license_checker.yml
  .github/workflows/script_test.yml
  ui/.gitignore
  ui/app/__tests__/interface-builder.sh
  ui/app/package.json
  ui/app/src/api/__tests__/archives.type.test.ts
  ui/app/src/api/__tests__/common.type.test.ts
  ui/app/src/api/__tests__/events.type.test.ts
  ui/app/src/api/__tests__/experiments.type.test.ts
  ui/app/src/api/experiments.type.ts
  ui/app/src/lib/utils.test.ts
  ui/app/src/lib/utils.ts
  ui/app/src/setupTests.api.ts
  ui/app/src/setupTests.ts
  ui/package.json
  ui/yarn.lock
Labels: status/can-merge, status/LGT2, component/ui, size/XL, needs-cherry-pick-2.1

#2758 ci: handling skipped but required checks
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
Labels: type/bug-fix, status/can-merge, status/LGT2, size/M

#2747 bump version of toda to v0.2.2
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2755 fix document for container selector
  api/v1alpha1/selector.go
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/ctrlserver/graph/generated/generated.go
  pkg/ctrlserver/graph/schema.graphqls
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/app/src/components/NewExperimentNext/data/types.ts
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
Labels: status/can-merge, status/LGT2, size/XXL

#2761 license check ignore more files
  .github/.licenserc.yaml
Labels: status/can-merge, status/LGT2, size/XS

#2756 feat: add deleting status (cherry-pick #2708)
  pkg/apiserver/utils/state.go
  ui/src/api/experiments.type.ts
  ui/src/components-mui/StatusLabel/index.tsx
  ui/src/i18n/en.json
  ui/src/i18n/zh.json
Labels: status/can-merge, status/LGT2, size/S, type/2.0-cherry-pick

#2763 chore: sync #2696 and #2758
  .github/workflows/checklink.yaml
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
  .github/workflows/codecov_unittest.yaml
  .github/workflows/integration_test.yml
  .github/workflows/license_checker.yml
  .github/workflows/script_test.yml
  ui/.gitignore
  ui/app/__tests__/interface-builder.sh
  ui/app/package.json
  ui/app/src/api/__tests__/archives.type.test.ts
  ui/app/src/api/__tests__/common.type.test.ts
  ui/app/src/api/__tests__/events.type.test.ts
  ui/app/src/api/__tests__/experiments.type.test.ts
  ui/app/src/api/experiments.type.ts
  ui/app/src/lib/utils.test.ts
  ui/app/src/lib/utils.ts
  ui/app/src/setupTests.api.ts
  ui/app/src/setupTests.ts
  ui/package.json
  ui/yarn.lock
Labels: status/can-merge, status/LGT2, component/ui, size/XXL

#2771 build: fix environment variables in build scripts
  build/build_image.py
  build/common.py
  build/get_env_shell.py
Labels: status/can-merge, status/LGT2, size/S

#2774 chore: update checklink config
  .github/workflows/checklink.yaml
  .github/workflows/checklink_config.json
Labels: status/can-merge, status/LGT2, needs-cherry-pick-1.1, needs-cherry-pick-1.2, size/S, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2765 Add new adopter
  ADOPTERS.md
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/XS

#2757 Change from DOCKER_REGISTRY to IMAGE_REGISTRY in some scripts
  .github/workflows/upload_image.yml
  hack/e2e.sh
  hack/local-up-chaos-mesh.sh
  hack/run-e2e.sh
  hack/update_install_script.sh
  images/chaos-dlv/README.md
  install.sh
Labels: status/can-merge, size/M

#2754 bump go to 1.17
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  api/v1alpha1/go.mod
  api/v1alpha1/zz_generated.deepcopy.go
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/go.mod
  go.mod
  images/build-env/Dockerfile
  images/chaos-dlv/Dockerfile
  images/dev-env/Dockerfile
  pkg/dashboard/uiserver/empty_assets_handler.go
  pkg/ptrace/cwrapper_linux.go
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/ptrace/ptrace_linux_amd64_test.go
  pkg/ptrace/ptrace_nocgo.go
  tools.go
Labels: status/can-merge, status/LGT2, size/XL, rebuild-build-env-image, rebuild-dev-env-image, needs-cherry-pick-2.1

#2698 fix(chaos-dashboard): ignore the first event on `Reconcile` that triggered by deleting action
  hack/lib.sh
  pkg/dashboard/apiserver/archive/archive_test.go
  pkg/dashboard/collector/collector.go
  pkg/dashboard/collector/schedule_collector.go
  pkg/dashboard/collector/workflow_collector.go
  pkg/dashboard/core/experiment.go
  pkg/dashboard/store/experiment/experiment.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2777 Cherry pick #2754 to release 2.1
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  api/v1alpha1/zz_generated.deepcopy.go
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  images/build-env/Dockerfile
  images/chaos-dlv/Dockerfile
  images/dev-env/Dockerfile
  pkg/dashboard/uiserver/empty_assets_handler.go
  pkg/ptrace/cwrapper_linux.go
  pkg/ptrace/ptrace_linux_amd64.go
  pkg/ptrace/ptrace_linux_amd64_test.go
  pkg/ptrace/ptrace_nocgo.go
  tools.go
Labels: status/can-merge, status/LGT2, size/XL

#2781 fix(chaos-dashboard): ignore the first event on Reconcile that triggered by deleting action (#2698)
  hack/lib.sh
  pkg/dashboard/apiserver/archive/archive_test.go
  pkg/dashboard/collector/collector.go
  pkg/dashboard/collector/schedule_collector.go
  pkg/dashboard/collector/workflow_collector.go
  pkg/dashboard/core/experiment.go
  pkg/dashboard/store/experiment/experiment.go
Labels: status/LGT2, size/L

#2701 JVMChaos: ignore AgentLoadException when install agent
  pkg/chaosdaemon/jvm_server.go
Labels: status/can-merge, status/LGT2, size/XS

#2784 chore: setup go 1.17 and python in github actions
  .github/workflows/integration_test.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: status/can-merge, status/LGT2, size/S, needs-cherry-pick-2.1

#2785 chore: setup go 1.15 for github actions
  .github/workflows/integration_test.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: status/can-merge, status/LGT2, size/S

#2791 docs: fix the description of GCPChaos
  api/v1alpha1/gcpchaos_types.go
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/app/src/components/NewExperimentNext/data/types.ts
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2672 kill chaos-tproxy while failing to apply config
  pkg/chaosdaemon/httpchaos_server.go
Labels: type/bug-fix, status/can-merge, status/LGT2, size/M

#2792 ci: fix cache path calculation
  Makefile
  build/build_image.py
  ci/pingcap_chaos_mesh_build_kind.groovy
Labels: status/can-merge, status/LGT2, size/S

#2778 bump container-runtime to 0.11.0, kubernetes related dependencies to 0.23.1
  .github/.licenserc.yaml
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/utils/recorder/recorder.go
  e2e-test/action.go
  e2e-test/e2e/chaos/dnschaos/dns.go
  e2e-test/e2e/chaos/httpchaos/http_delay.go
  e2e-test/e2e/chaos/httpchaos/http_patch.go
  e2e-test/e2e/chaos/httpchaos/http_replace.go
  e2e-test/e2e/chaos/iochaos/io_delay.go
  e2e-test/e2e/chaos/iochaos/io_error.go
  e2e-test/e2e/chaos/iochaos/io_mistake.go
  e2e-test/e2e/chaos/networkchaos/misc.go
  e2e-test/e2e/chaos/networkchaos/network_partition.go
  e2e-test/e2e/chaos/sidecar/misc.go
  e2e-test/e2e/chaos/stresschaos/misc.go
  e2e-test/e2e/e2e.go
  e2e-test/e2e/e2e_test.go
  e2e-test/go.mod
  e2e-test/go.sum
  e2e-test/types.go
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosctl/common/logger.go
  pkg/portforward/portforward.go
Labels: status/can-merge, status/LGT2, size/XXL, needs-cherry-pick-2.1

#2798 create CHANGELOG.md on master branch
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/L

#2801 chore: create CHANGELOG.md for release-2.1
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#2794 cherry-pick(#2672): kill chaos-tproxy while failing to apply config
  pkg/chaosdaemon/httpchaos_server.go
Labels: status/can-merge, status/LGT2, size/M, type/2.0-cherry-pick

#2800 chore: add changelog for release-2.0
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M

#2806 chore: use development logger for chaos-builder
  cmd/chaos-builder/main.go
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2782 fix(chaos-dashboard): ignore the first event on Reconcile that triggered by deleting action (#2698)
  hack/lib.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/apiserver/archive/archive_test.go
  pkg/collector/collector.go
  pkg/collector/schedule_collector.go
  pkg/collector/workflow_collector.go
  pkg/core/experiment.go
  pkg/store/experiment/experiment.go
  pkg/swaggerserver/empty_handler.go
  pkg/swaggerserver/swagger_handler.go
  pkg/uiserver/empty_assets_handler.go
Labels: status/can-merge, status/LGT2, size/XXL

#2814 HTTPChaos: add example for nginx
  examples/nginx/http-patch-response.yaml
  examples/nginx/nginx.yaml
Labels: status/can-merge, status/LGT2, size/L

#2742 time: add fake image for vdso gettimeofday
  CHANGELOG.md
  Makefile
  pkg/time/fakeclock/fake_gettimeofday.c
  pkg/time/time_skew_amd64.go
Labels: status/can-merge, status/LGT2, contribution, size/L

#2623 Replace stress-ng with memStress to implement memory stressChaos
  api/v1alpha1/stresschaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  controllers/chaosimpl/stresschaos/impl.go
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  images/chaos-daemon/Dockerfile
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/stress_server_linux.go
  pkg/ctrlserver/graph/generated/generated.go
  pkg/ctrlserver/graph/schema.graphqls
Labels: status/can-merge, status/LGT2, size/XXL

#2795 cherry-pick(#2672): kill chaos-tproxy while failing to apply config
  pkg/chaosdaemon/httpchaos_server.go
Labels: status/can-merge, status/LGT2, size/M, type/2.1-cherry-pick

#2622 fix default value for concurrencyPolicy
  CHANGELOG.md
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/schedule_types.go
  api/v1alpha1/schedule_webhook.go
  api/v1alpha1/schedule_webhook_test.go
  api/v1alpha1/workflow_webhook.go
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/templates/secrets-configuration.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.0, needs-cherry-pick-2.1

#2804 docs: fix the description of GCPChaos (#2791)
  api/v1alpha1/gcpchaos_types.go
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: status/can-merge, status/LGT2, size/M

#2675 refactor: move common used attach/ptrace function
  pkg/time/asset.go
  pkg/time/fake_image.go
  pkg/time/time_skew_amd64.go
Labels: status/can-merge, status/LGT2, size/XL, needs-cherry-pick-2.1

#2825 removed namespace field
  examples/burn-cpu.yaml
  examples/container-kill-example.yaml
  examples/dns-chaos-example.yaml
  examples/io-attr-example.yaml
  examples/io-delay-example.yaml
  examples/io-errno-example.yaml
  examples/jvm/app.yaml
  examples/jvm/jvm-exception-example.yaml
  examples/jvm/jvm-return-example.yaml
  examples/jvm/jvm-rule-data-example.yaml
  examples/network-bandwidth-example.yaml
  examples/network-corrupt-example.yaml
  examples/network-delay-example.yaml
  examples/network-delay-with-external-target-example.yaml
  examples/network-delay-with-target-example.yaml
  examples/network-duplicate-example.yaml
  examples/network-loss-example.yaml
  examples/network-netem-example.yaml
  examples/network-netem-with-target-example.yaml
  examples/network-partition-example.yaml
  examples/network-partition-with-external-targets-example.yaml
  examples/nginx/http-patch-response.yaml
  examples/pod-failure-example.yaml
  examples/pod-kill-example.yaml
  examples/time-chaos-example.yaml
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S

#2827 chore: append changelog for #2753, cherry-picked from #2708
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#2807 cherry pick #2778 to release-2.1, bump controller-runtime and kubernetes dependencies
  .github/.licenserc.yaml
  CHANGELOG.md
  api/v1alpha1/go.mod
  api/v1alpha1/go.sum
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/utils/recorder/recorder.go
  e2e-test/action.go
  e2e-test/e2e/chaos/dnschaos/dns.go
  e2e-test/e2e/chaos/httpchaos/http_delay.go
  e2e-test/e2e/chaos/httpchaos/http_patch.go
  e2e-test/e2e/chaos/httpchaos/http_replace.go
  e2e-test/e2e/chaos/iochaos/io_delay.go
  e2e-test/e2e/chaos/iochaos/io_error.go
  e2e-test/e2e/chaos/iochaos/io_mistake.go
  e2e-test/e2e/chaos/networkchaos/misc.go
  e2e-test/e2e/chaos/networkchaos/network_partition.go
  e2e-test/e2e/chaos/sidecar/misc.go
  e2e-test/e2e/chaos/stresschaos/misc.go
  e2e-test/e2e/e2e.go
  e2e-test/e2e/e2e_test.go
  e2e-test/go.mod
  e2e-test/go.sum
  e2e-test/types.go
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/chaosctl/common/logger.go
  pkg/portforward/portforward.go
Labels: status/can-merge, status/LGT2, size/XXL, type/2.1-cherry-pick

#2832 appending missing changelogs for branch release-2.1
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#2831 append missing changelogs for branch release-2.0
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#2830 chore: remove duplicated chaos-daemon recipe
  Makefile
Labels: status/can-merge, status/LGT2, size/XS

#2838 ready for 2.0.7
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  pkg/swaggerserver/empty_handler.go
  pkg/swaggerserver/swagger_handler.go
  pkg/uiserver/empty_assets_handler.go
Labels: status/can-merge, status/LGT2, size/M

#2837 ready for 2.1.3
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#2840 chore: update changelog for released version 2.1.3 and 2.0.7
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/M
