Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-09, with the labels that each got.

#3584 Add cleanFinalizer controller
  CHANGELOG.md
  controllers/common/finalizers/README.md
  controllers/common/finalizers/controller.go
  controllers/common/finalizers/step.go
  controllers/common/step.go
  controllers/common/suit_test.go
Labels: component/operator, status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.2, needs-cherry-pick-2.3

#3592 Add cleanFinzlizer controller (cherry-pick #3578)
  CHANGELOG.md
  controllers/common/finalizers/README.md
  controllers/common/finalizers/controller.go
  controllers/common/finalizers/step.go
  controllers/common/step.go
  controllers/common/suit_test.go
Labels: status/can-merge, status/LGT1, size/L, require-LGT1

#3593 Add cleanFinzlizer controller (cherry-pick #3578)
  CHANGELOG.md
  controllers/common/finalizers/README.md
  controllers/common/finalizers/controller.go
  controllers/common/finalizers/step.go
  controllers/common/step.go
  controllers/common/suit_test.go
Labels: status/can-merge, status/LGT1, size/L, require-LGT1

#3595 Remove token checker when listing namespaces
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
Labels: status/LGT1, size/S

#3596 Remove token checker when listing namespaces (cherry-pick #3595)
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
Labels: type/bug-fix, component/chaos-dashboard, status/LGT1, size/S, type/2.3-cherry-pick

#3597 Remove token checker when listing namespaces (cherry-pick #3595)
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
Labels: type/bug-fix, component/chaos-dashboard, type/2.2-cherry-pick

#3594 Bump version to v2.3.1
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, size/XS, no-need-update-changelog

#3581 fix: uniformly use Enter to add item in LabelField
  CHANGELOG.md
  pkg/apiserver/experiment/experiment.go
  pkg/apiserver/schedule/schedule.go
  pkg/core/experiment.go
  ui/src/components/FormField/LabelField.tsx
  ui/src/components/NewExperiment/types.ts
  ui/src/components/NewExperimentNext/data/target.ts
  ui/src/components/NewExperimentNext/form/Kernel.tsx
  ui/src/components/NewExperimentNext/form/Stress.tsx
  ui/src/i18n/en.json
Labels: type/bug-fix, status/can-merge, component/chaos-dashboard, status/LGT1, component/ui, size/L, require-LGT1

#3602 Rollback license checker version
  .github/workflows/license_checker.yml
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3611 chore: update infomation about zhiqiang
  MAINTAINERS.md
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3616 ci: add more ignore domain for check markdown link
  .github/workflows/checklink_config.json
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3600 Update dev meeting info
  README.md
Labels: status/can-merge, status/LGT2, size/S, no-need-update-changelog

#3617 chore: update UI versions and mui deps
  ui/app/package.json
  ui/app/public/index.html
  ui/app/src/components/NewWorkflowNext/__snapshots__/BareNode.test.tsx.snap
  ui/package.json
  ui/packages/mui-extends/package.json
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
  ui/packages/openapi/package.json
  ui/yarn.lock
Labels: status/LGT2, component/ui, size/XXL, no-need-update-changelog

#3621 chore: update display of disabled scope
  CHANGELOG.md
  ui/app/src/components/MoreOptions/index.tsx
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/Scope/Mode.tsx
  ui/app/src/components/Scope/index.test.tsx
  ui/app/src/components/Scope/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
  ui/packages/mui-extends/src/Checkbox/index.tsx
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
Labels: type/enhancement, status/LGT2, component/ui, size/M

#3622 perf: make the Scope render conditionally
  CHANGELOG.md
  ui/app/src/components/Scope/index.tsx
Labels: component/ui, size/M

#3483 delete ip/hostname check in validation webhook
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_webhook.go
  api/v1alpha1/physical_machine_chaos_webhook_test.go
Labels: type/bug-fix, status/can-merge, status/LGT2, contribution, first-time-contributor, size/M, chaos/physical-machine, needs-cherry-pick-2.2, needs-cherry-pick-2.3

#3370 *: Fix dashboard's token generation RBAC YAML
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
  test/integration_test/dashboard_authority/cluster-manager.yaml
  test/integration_test/dashboard_authority/cluster-viewer.yaml
Labels: status/can-merge, status/LGT1, contribution, first-time-contributor, size/S, require-LGT1

#3633 cherrypick: delete ip/hostname check in validation webhook (#3483)
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_webhook.go
  api/v1alpha1/physical_machine_chaos_webhook_test.go
Labels: status/can-merge, status/LGT1, size/M, require-LGT1

#3629 refactor: remove the usage of klog in event recorder
  CHANGELOG.md
  controllers/utils/recorder/recorder.go
Labels: status/can-merge, status/LGT1, size/XS, require-LGT1

#3636 Readme: update description and add CNCF logo
  README.md
  static/cncf-white.png
  static/cncf.png
  static/logo-white.svg
Labels: status/LGT1, size/M, no-need-update-changelog

#3605 mutate network chaos device field
  CHANGELOG.md
  api/v1alpha1/networkchaos_webhook.go
Labels: status/can-merge, status/LGT1, contribution, size/XS, needs-cherry-pick-2.2, require-LGT1, needs-cherry-pick-2.3

#3638 BlockChaos: fix overflow for the `blockchaos` attributes
  CHANGELOG.md
  controllers/chaosimpl/blockchaos/impl.go
  pkg/chaosdaemon/blockchaos_server_linux.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
Labels: status/can-merge, status/LGT1, size/M, require-LGT1, needs-cherry-pick-2.3

#3624 feat!: support PhysicalMachine in UI
  CHANGELOG.md
  ui/app/src/components/AutoForm/data.ts
  ui/app/src/components/AutoForm/index.tsx
  ui/app/src/components/NewExperiment/types.ts
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/NewExperimentNext/Step3.tsx
  ui/app/src/components/NewExperimentNext/data/basic.ts
  ui/app/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/app/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/app/src/components/Scope/DeprecatedAddress.tsx
  ui/app/src/components/Scope/ScopePodsTable.tsx
  ui/app/src/components/Scope/TargetsTable/PhysicalMachinesTable.tsx
  ui/app/src/components/Scope/TargetsTable/PodsTable.tsx
  ui/app/src/components/Scope/TargetsTable/index.tsx
  ui/app/src/components/Scope/index.test.tsx
  ui/app/src/components/Scope/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
  ui/app/src/lib/formikhelpers.ts
  ui/app/src/lib/utils.test.ts
  ui/app/src/lib/utils.ts
  ui/app/src/pages/Settings/index.tsx
  ui/app/src/slices/experiments.ts
  ui/app/src/slices/settings.ts
  ui/packages/mui-extends/src/PaperTop/index.tsx
Labels: status/can-merge, status/LGT1, component/ui, size/XXL, chaos/physical-machine, feature/new, require-LGT1, need-cherry-pick-2.4

#3641 BlockChaos: fix overflow for the `blockchaos` attributes (#3638)
  CHANGELOG.md
  controllers/chaosimpl/blockchaos/impl.go
  pkg/chaosdaemon/blockchaos_server_linux.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
Labels: status/can-merge, status/LGT1, size/M, require-LGT1

#3643 chore: updater pr template for the coming 2.4
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3649 chore: update info about Glen Yang
  MAINTAINERS.md
Labels: status/LGT1, size/M, no-need-update-changelog

#3626 fix: set helm annotation artifacthub.io/prerelease as false
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
Labels: status/can-merge, status/LGT1, size/XS

#3652 Update tag to v2.3.2
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT2, size/S

#3645 feat!: support PhysicalMachine in UI (#3624)
  CHANGELOG.md
  ui/app/src/components/AutoForm/data.ts
  ui/app/src/components/AutoForm/index.tsx
  ui/app/src/components/NewExperiment/types.ts
  ui/app/src/components/NewExperimentNext/Step2.tsx
  ui/app/src/components/NewExperimentNext/Step3.tsx
  ui/app/src/components/NewExperimentNext/data/basic.ts
  ui/app/src/components/NewExperimentNext/form/Scheduler.tsx
  ui/app/src/components/NewExperimentNext/form/TargetGenerated.tsx
  ui/app/src/components/Scope/DeprecatedAddress.tsx
  ui/app/src/components/Scope/ScopePodsTable.tsx
  ui/app/src/components/Scope/TargetsTable/PhysicalMachinesTable.tsx
  ui/app/src/components/Scope/TargetsTable/PodsTable.tsx
  ui/app/src/components/Scope/TargetsTable/index.tsx
  ui/app/src/components/Scope/index.test.tsx
  ui/app/src/components/Scope/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
  ui/app/src/lib/formikhelpers.ts
  ui/app/src/lib/utils.test.ts
  ui/app/src/lib/utils.ts
  ui/app/src/pages/Settings/index.tsx
  ui/app/src/slices/experiments.ts
  ui/app/src/slices/settings.ts
  ui/packages/mui-extends/src/PaperTop/index.tsx
Labels: status/can-merge, status/LGT1, component/ui, chaos/physical-machine, feature/new, require-LGT1

#3655 dashboard: remove limit action from BlockChaos and generate specs
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/data/types.ts
Labels: status/LGT1, component/ui, size/S, needs-cherry-pick-2.3, needs-cherry-pick-2.4

#3658 fix: remove limit action from BlockChaos (#3655)
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/data/types.ts
Labels: component/ui, size/S

#3648 chore: remove unused var
  tools/schedule-migration/migrate.sh
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3640 BlockChaos: fix overflow for the `blockchaos` attributes (#3638)
  CHANGELOG.md
  controllers/chaosimpl/blockchaos/impl.go
  pkg/chaosdaemon/blockchaos_server_linux.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
Labels: status/can-merge, status/LGT2, size/M

#3660 fix: sync PhysicalMachineChaos to API client and forms
  CHANGELOG.md
  api/v1alpha1/physical_machine_chaos_types.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/app/src/formik/KernelChaos.ts
  ui/app/src/formik/PhysicalMachineChaos.ts
  ui/app/src/formik/actions.ts
  ui/app/src/openapi/api.ts
  ui/packages/openapi/index.js
Labels: type/bug-fix, status/can-merge, status/LGT2, component/ui, size/XXL, needs-cherry-pick-2.3, needs-cherry-pick-2.4

#3661 Prune multiclueter out from release 2.4
  CHANGELOG.md
  api/v1alpha1/remote_cluster_types.go
  api/v1alpha1/zz_generated.chaosmesh.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  config/crd/bases/chaos-mesh.org_remoteclusters.yaml
  config/crd/kustomization.yaml
  controllers/fx.go
  controllers/multicluster/clusterregistry/README.md
  controllers/multicluster/clusterregistry/error.go
  controllers/multicluster/clusterregistry/registry.go
  controllers/multicluster/remotecluster/controller.go
  controllers/multicluster/remotecluster/fx.go
  controllers/multicluster/remotepodreconciler/fx.go
  controllers/multicluster/remotepodreconciler/remote_pod_reconciler.go
  examples/remote-cluster.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_remoteclusters.yaml
  helm/chaos-mesh/values.yaml
  install.sh
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
  pkg/webhook/validate_auth.go
Labels: status/can-merge, status/LGT1, size/XXL, require-LGT1

#3650 chore: update issue template, move question to qa discussion
  .github/.licenserc.yaml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/question.md
Labels: status/can-merge, status/LGT1, size/S, no-need-update-changelog, require-LGT1

#3666 chore: rename config.yml for issue template
  .github/.licenserc.yaml
  .github/ISSUE_TEMPLATE/config.yml
Labels: status/LGT1, size/XS, no-need-update-changelog, require-LGT1

#3603 Ability to add Pod securityContext for controller-manager and dashboard
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT1, contribution, first-time-contributor, size/S, require-LGT1

#3669 chore: update image tag to 2.4.0, update CHANGELOG
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT1, size/S, require-LGT1

#3675 chore: update v2.4.0 changelog
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/S

#3674 fix: remove the explicit use of pingcap/log
  CHANGELOG.md
  controllers/chaosimpl/jvmchaos/impl.go
  go.mod
  go.sum
  pkg/chaosdaemon/jvm_server.go
  test/integration_test/jvm/helloworld_pod.yaml
Labels: type/bug-fix, status/LGT1, chaos/jvm, size/M

#3642 Update changelog for prev release
  CHANGELOG.md
Labels: status/LGT1, size/L, do-not-merge/hold

#3679 chore: update helm chart and bump version
  CHANGELOG.md
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT1, size/M, require-LGT1
