Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-12, with the labels that each got.

#3832 chore: update pr tempalte for 2.5
  .github/pull_request_template.md
Labels: size/XS, no-need-update-changelog

#3834 chore: update v2.5 changelog
  CHANGELOG.md
Labels: status/can-merge, status/LGT1, size/M, require-LGT1

#3839 test(ui): fix <Scope /> tests
  ui/app/src/components/NewWorkflowNext/__snapshots__/BareNode.test.tsx.snap
  ui/app/src/components/Scope/index.test.tsx
Labels: component/tests, size/XS, no-need-update-changelog, needs-cherry-pick-release-2.5

#3841 test(ui): update mui-extends snapshots
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
Labels: component/tests, size/M, no-need-update-changelog, needs-cherry-pick-release-2.5

#3843 test(ui): fix a mistake introduced in #3841
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
Labels: type/bug-fix, component/tests, size/XS, no-need-update-changelog, needs-cherry-pick-release-2.5

#3830 feat: switch views between k8s and hosts nodes
  CHANGELOG.md
  ui/app/package.json
  ui/app/src/components/NewWorkflowNext/index.tsx
  ui/yarn.lock
Labels: type/enhancement, component/ui, component/workflow, size/XL

#3852 fix: container kill desc
  ui/app/src/components/NewExperimentNext/data/types.ts
Labels: type/bug-fix, chaos/pod, size/S, no-need-update-changelog, needs-cherry-pick-release-2.4, needs-cherry-pick-release-2.5

#3849 fix: resolve conflict from #3818
  .github/workflows/stale.yml
  .github/workflows/upload_env_image.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_latest_files.yml
  CHANGELOG.md
Labels: status/LGT1, size/L, no-need-update-changelog

#3862 Add physicalmachinechaos example
  examples/physicalmachinechaos/network-delay-physicalmachinechaos-example.yaml
  examples/physicalmachinechaos/network-delay-physicalmachinechaos-labelselectors-example.yaml
  examples/physicalmachinechaos/physicalmachine-example.yaml
Labels: status/LGT1, size/L, no-need-update-changelog

#3863 Update byteman-helper to v4.0.20-0.12
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT1, size/XS, require-LGT1

#3850 ci: setup new CI for finding merge conflicts
  .github/workflows/merge_conflict_finder.yaml
  CHANGELOG.md
Labels: status/can-merge, status/LGT1, size/S, require-LGT1, needs-cherry-pick-release-2.4, needs-cherry-pick-release-2.5

#3877 Helm: change default webhook port to 10250
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT1, size/S, require-LGT1
