Repository chaos-mesh/chaos-mesh, pull requests merged in 2022-05, with the labels that each got.

#3164 community: update governance
  GOVERNANCE.md
Labels: status/can-merge, status/LGT2, size/M, no-need-update-changelog

#3108 Specify DaemonSetUpdateStrategy for chaos-daemon
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT2, contribution, size/S

#3225 update description of memory stressors
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/form/Stress.tsx
Labels: status/can-merge, component/chaos-dashboard, status/LGT2, size/XS, type/2.2-cherry-pick

#3193 Update validate-auth to chaos-mesh-validation-auth
  CHANGELOG.md
  helm/chaos-mesh/templates/validating-admission-webhooks.yaml
  install.sh
Labels: status/can-merge, status/LGT2, contribution, size/XS

#3170 add more status for record
  CHANGELOG.md
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_azurechaos.yaml
  config/crd/bases/chaos-mesh.org_blockchaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  controllers/common/fx.go
  controllers/common/fx_test.go
  controllers/common/records/controller.go
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_azurechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_blockchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  manifests/crd-v1beta1.yaml
  manifests/crd.yaml
Labels: status/can-merge, status/LGT2, contribution, size/XXL

#3258 install.sh: adapt new version of kubectl
  CHANGELOG.md
  install.sh
Labels: status/can-merge, status/LGT2, size/XS

#3260 chore: add CII best practices badge for Chaos Mesh
  README.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3228 [BugBash] U1000: Removed unused local function
  CHANGELOG.md
  controllers/statuscheck/manager.go
Labels: status/can-merge, status/LGT2, contribution, size/S, bugbash

#3271 bump chaos-tproxy to v0.4.6
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1, needs-cherry-pick-2.2

#3272 bump chaos-tproxy to v0.4.6
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: status/can-merge, status/LGT2, size/XS

#3273 update cherry-pick options in PR template
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog

#3264 ci: build dev-env and build-env for e2e tests if required
  .github/workflows/e2e_test.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/S

#3234 [BugBash] SC2206: Use quote to prevent word splitting/globbing
  CHANGELOG.md
  hack/e2e.sh
  hack/local-up-chaos-mesh.sh
  hack/run-e2e.sh
  install.sh
Labels: status/can-merge, status/LGT2, contribution, size/S, bugbash

#3230 [Bug-Bash] Fixes shellcheck for code quality
  CHANGELOG.md
  hack/download-image.sh
  hack/e2e.sh
  hack/env-image-tag.sh
Labels: status/can-merge, status/LGT2, contribution, size/M, bugbash

#3229 [BugBash] ST1019: Removed extra import of common pkg
  CHANGELOG.md
  pkg/chaosctl/cmd/logs.go
Labels: status/can-merge, status/LGT2, contribution, size/XS, bugbash

#3197 Customised logger with io.writer
  cmd/chaos-controller-manager/provider/suit_test.go
  controllers/common/suit_test.go
  controllers/schedule/suit_test.go
  pkg/log/zap.go
  pkg/webhook/inject/setup_test.go
  pkg/workflow/controllers/suite_test.go
Labels: status/can-merge, status/LGT2, contribution, size/M, no-need-update-changelog

#3233 [BugBash] SC2217: Use cat instead of echo in kind-cluster-build.sh
  hack/kind-cluster-build.sh
Labels: status/can-merge, status/LGT2, contribution, size/XS, bugbash, no-need-update-changelog

#3238 [BugBash] SC2145: separate mixed argument
  hack/e2e.sh
  hack/run-e2e.sh
Labels: status/can-merge, status/LGT2, contribution, size/XS, bugbash, no-need-update-changelog

#3235 [BugBash] SC2166: Use || or && rather than -o or -a
  CHANGELOG.md
  hack/e2e.sh
Labels: status/can-merge, status/LGT2, contribution, size/XS, bugbash

#3151 e2e: upload build image cache to the github (#3097)
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/L

#3214 Refine logging in pkg/selector/generic/namespace
  CHANGELOG.md
  pkg/selector/generic/namespace/selector.go
  pkg/selector/physicalmachine/selector.go
  pkg/selector/pod/selector.go
Labels: status/can-merge, status/LGT2, contribution, size/M

#3177 run ci and integration test task on arm
  .github/workflows/ci.yml
  .github/workflows/e2e_test.yml
  .github/workflows/integration_test.yml
  CHANGELOG.md
  Makefile
  examples/web-show/deploy.sh
  hack/lib.sh
  images/dev-env/Dockerfile
  install.sh
  pkg/time/time_skew_amd64_test.go
  test/integration_test/chaosctl/debug.sh
  test/integration_test/run.sh
Labels: status/can-merge, status/LGT2, size/L, rebuild-dev-env-image

#3291 delete unused webhook of PodHttpChaos
  api/v1alpha1/podhttpchaos_webhook.go
Labels: status/can-merge, status/LGT2, size/L, needs-cherry-pick-2.0, needs-cherry-pick-2.1, no-need-update-changelog, needs-cherry-pick-2.2

#3290 Validate delay unit in HTTPChaos
  api/v1alpha1/httpchaos_webhook.go
  api/v1alpha1/httpchaos_webhook_test.go
  api/v1alpha1/podhttpchaos_types.go
Labels: status/can-merge, status/LGT2, size/M, needs-cherry-pick-2.1, no-need-update-changelog, needs-cherry-pick-2.2

#3305 also run ci skip to pass required test
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/S

#3293 version unrealated manifests
  .github/workflows/release_helm_chart.yml
  .github/workflows/upload_release_files.yml
  CHANGELOG.md
  install.sh
Labels: status/can-merge, status/LGT2, size/M

#3300 re-trigger ci 'must_update_changelog' when labels change
  .github/workflows/must_update_changelog.yml
Labels: status/can-merge, status/LGT2, size/XS, needs-cherry-pick-2.1, no-need-update-changelog, needs-cherry-pick-2.2

#3304 enriching comments and docs for chaos-controller-manager
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  cmd/chaos-controller-manager/provider/doc.go
  controllers/types/types.go
Labels: status/can-merge, status/LGT2, size/M, no-need-update-changelog

#3313 fix wrong changelog about bump chaos-tproxy
  CHANGELOG.md
Labels: status/can-merge, status/LGT2, size/XS

#3319 cherry-pick(#3300): re-trigger ci 'must_update_changelog' when labels change
  .github/workflows/must_update_changelog.yml
Labels: status/can-merge, status/LGT2, size/XS, no-need-update-changelog
