Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-03, with the labels that each got.

#3947 update chaos-coredns version to v0.2.4
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT1, size/XS, require-LGT1

#3967 Revert "update chaos-coredns version to v0.2.4"
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/can-merge, status/LGT1, size/XS, require-LGT1

#3965 refactor(ui): use pnpm package manager
  .github/.licenserc.yaml
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
  .gitignore
  CHANGELOG.md
  Makefile
  build/common.py
  build/get_env_shell.py
  images/build-env/Dockerfile
  ui/.gitignore
  ui/.prettierignore
  ui/.yarnclean
  ui/README.md
  ui/app/package.json
  ui/app/public/index.html
  ui/app/src/components/DataTable/index.tsx
  ui/app/src/components/NewWorkflowNext/__snapshots__/BareNode.test.tsx.snap
  ui/app/src/pages/Dashboard/TotalStatus.tsx
  ui/app/src/pages/Workflows/index.tsx
  ui/app/src/routes.tsx
  ui/package.json
  ui/packages/mui-extends/package.json
  ui/packages/mui-extends/test/__snapshots__/storyshots.test.js.snap
  ui/packages/openapi/README.md
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/scripts/bootstrap.sh
  ui/yarn.lock
Labels: component/ui, size/XXL, rebuild-build-env-image

#3488 upgrade dns coredns image url to ghcr.io
  .github/workflows/e2e_test.yml
  CHANGELOG.md
  Makefile
  README.md
  ci/builder.toml
  ci/pingcap_chaos_mesh_build_kind.groovy
  e2e-test/action.go
  e2e-test/config.go
  e2e-test/e2e/chaos/dnschaos/dns.go
  e2e-test/e2e/config/config.go
  e2e-test/types.go
  hack/e2e.sh
  hack/run-e2e.sh
  helm/chaos-mesh/Chart.yaml
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
  install.sh
Labels: status/can-merge, status/LGT2, chaos/dns, size/XXL

#3971 fix: supplement read-only token
  .github/workflows/merge_conflict_finder.yaml
Labels: size/XS, no-need-update-changelog

#3974 fix: migrate from k8s.gcr.io to registry.k8s.io
  examples/etcd/etcd.yaml
Labels: status/LGT1, contribution, first-time-contributor, size/XS, no-need-update-changelog, require-LGT1

#3972 Dashboard rwo pvc restart
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, size/S, needs-cherry-pick-release-2.5

#3905 Update chaos mesh images
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
  images/chaos-dashboard/Dockerfile
Labels: status/can-merge, status/LGT1, contribution, first-time-contributor, size/M, rebuild-build-env-image, rebuild-dev-env-image, require-LGT1, needs-cherry-pick-release-2.5

#3978 upgrade go version to 1.19.7 to fix CVE-2022-41723
  CHANGELOG.md
  images/build-env/Dockerfile
Labels: status/can-merge, status/LGT1, size/XS, rebuild-build-env-image, require-LGT1, needs-cherry-pick-release-2.5

#3981 upgrade go version to v1.19.7 in CI environment
  .github/workflows/integration_test.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  CHANGELOG.md
Labels: status/LGT1, size/S, needs-cherry-pick-release-2.5

#3984 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS
