Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-10, with the labels that each got.

#4222 chore: do not call controller-gen repeatedly
  Makefile
Labels: component/scripts, no-need-update-changelog

#4229 fix: goroutine leak
  CHANGELOG.md
  pkg/portforward/portforward.go
Labels: require-LGT1, lgtm, approved, needs-cherry-pick-release-2.6

#4205 add values.schema.json
  CHANGELOG.md
  helm/chaos-mesh/values.schema.json
Labels: component/helm, lgtm, approved

#4234 ci: remove the duplicate `make test`
  .github/workflows/ci.yml
  .github/workflows/codecov_unittest.yaml
  CHANGELOG.md
Labels: CI/CD, needs-cherry-pick-release-2.6
