Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-01, with the labels that each got.

#3893 Upgrade base image for chaos-mesh to alpine:3.17
  CHANGELOG.md
  images/chaos-mesh/Dockerfile
Labels: type/enhancement, status/LGT1, contribution, first-time-contributor, size/XS

#3886 Remove Pod mutating webhook which is no longer used
  CHANGELOG.md
  cmd/chaos-controller-manager/main.go
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/config/config.go
  controllers/config/types_test.go
  go.mod
  helm/chaos-mesh/templates/mutating-admission-webhooks.yaml
  install.sh
  pkg/config/controller.go
  pkg/webhook/config/config.go
  pkg/webhook/config/config_test.go
  pkg/webhook/config/setup_test.go
  pkg/webhook/config/watcher/config.go
  pkg/webhook/config/watcher/config_test.go
  pkg/webhook/config/watcher/message.go
  pkg/webhook/config/watcher/setup_test.go
  pkg/webhook/config/watcher/util.go
  pkg/webhook/config/watcher/util_test.go
  pkg/webhook/config/watcher/watcher.go
  pkg/webhook/config/watcher/watcher_test.go
  pkg/webhook/inject.go
  pkg/webhook/inject/command.go
  pkg/webhook/inject/command_test.go
  pkg/webhook/inject/inject.go
  pkg/webhook/inject/inject_test.go
  pkg/webhook/inject/setup_test.go
Labels: type/enhancement, status/can-merge, status/LGT1, contribution, first-time-contributor, size/XXL, require-LGT1

#3899 chore: ready for v2.5.1
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/LGT1, size/S

#3900 chore: slow down the latest releases
  .github/checklink_config.json
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
  .github/workflows/upload_image.yml
  CHANGELOG.md
  README.md
Labels: type/suggestion, status/LGT1, size/S, CI/CD
