Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-06, with the labels that each got.

#4071 chore: update templates to fit v2.6
  .github/pull_request_template.md
  CHANGELOG.md
Labels: lgtm, approved

#4079 fix: set `replicas: 1` automatically when HA is not enabled
  CHANGELOG.md
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
Labels: component/helm, lgtm, approved, needs-cherry-pick-release-2.6

#4066 Making awschaos read and use aws_session_token secret
  CHANGELOG.md
  controllers/chaosimpl/awschaos/detachvolume/impl.go
  controllers/chaosimpl/awschaos/ec2restart/impl.go
  controllers/chaosimpl/awschaos/ec2stop/impl.go
  test/integration_test/aws/aws_secret.yaml
  test/integration_test/aws/run.sh
Labels: lgtm, approved

#4084 cleanup: remove redundant where statements
  CHANGELOG.md
  pkg/dashboard/store/experiment/experiment.go
  pkg/dashboard/store/schedule/schedule.go
Labels: lgtm, approved

#4100 fix dashboard panic when exec delete action by finish_time
  CHANGELOG.md
  pkg/dashboard/store/experiment/experiment.go
  pkg/dashboard/store/schedule/schedule.go
  pkg/dashboard/store/workflow/workflow.go
Labels: type/bug-fix, component/pkg-dashboard, lgtm, approved, needs-cherry-pick-release-2.6

#4103 chore: ready for v2.6.1
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: no-need-update-changelog, lgtm, approved, release
