Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-07, with the labels that each got.

#4107 Add PITS Globale Datenrettungsdienste as an adopter
  ADOPTERS.md
Labels: no-need-update-changelog, lgtm, approved

#3944 refactor: chaos dns temp file in etc rather than root
  pkg/chaosdaemon/dns_server.go
Labels: contribution, first-time-contributor, chaos/dns, size/XS, no-need-update-changelog, lgtm, approved

#4106 Allow annotations on chaos-controller-manager and chaos-daemon ServiceAccount
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.yaml
Labels: component/helm, lgtm, approved

#4093 refactor!: support for deploying chaos-dashboard under the subpath
  CHANGELOG.md
  examples/dashboard/ingress-subpath.yaml
  pkg/dashboard/apiserver/server.go
  ui/app/package.json
  ui/app/src/App.tsx
  ui/app/src/api/http.ts
  ui/app/src/components/TopContainer/Sidebar.tsx
  ui/app/src/components/TopContainer/index.tsx
  ui/app/src/router.tsx
  ui/app/src/routes.tsx
  ui/package.json
  ui/pnpm-lock.yaml
Labels: type/enhancement, component/pkg-dashboard, component/ui, lgtm, approved, needs-cherry-pick-release-2.6
