Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-09, with the labels that each got.

#4182 chore: upgrade actions/checkout to v3
  .github/workflows/ci.yml
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/license_checker.yml
  .github/workflows/merge_conflict_finder.yaml
  .github/workflows/release_helm_chart.yml
Labels: no-need-update-changelog, CI/CD

#4154 Update k8s dependencies to 1.28.0
  .github/workflows/e2e_test.yml
  CHANGELOG.md
  api/go.mod
  api/go.sum
  api/v1alpha1/awschaos_webhook_test.go
  api/v1alpha1/azurechaos_webhook_test.go
  api/v1alpha1/blockchaos_webhook_test.go
  api/v1alpha1/gcpchaos_webhook_test.go
  api/v1alpha1/httpchaos_webhook_test.go
  api/v1alpha1/iochaos_webhook_test.go
  api/v1alpha1/jvmchaos_webhook_test.go
  api/v1alpha1/kernelchaos_webhook_test.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/physical_machine_chaos_webhook_test.go
  api/v1alpha1/physical_machine_webhook_test.go
  api/v1alpha1/podchaos_webhook_test.go
  api/v1alpha1/schedule_type_test.go
  api/v1alpha1/schedule_webhook.go
  api/v1alpha1/schedule_webhook_test.go
  api/v1alpha1/statuscheck_webhook_test.go
  api/v1alpha1/statuschecktemplate_types.go
  api/v1alpha1/stresschaos_webhook_test.go
  api/v1alpha1/timechaos_webhook_test.go
  api/v1alpha1/workflow_webhook.go
  api/v1alpha1/zz_generated.chaosmesh.go
  cmd/chaos-builder/impl.go
  cmd/chaos-controller-manager/main.go
  cmd/chaos-controller-manager/provider/controller.go
  cmd/chaos-controller-manager/provider/updated_client.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/common/fx.go
  controllers/fx.go
  controllers/podnetworkchaos/types_test.go
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/cmd/e2e_helper/go.sum
  e2e-test/e2e/e2e.go
  e2e-test/e2e/e2e_test.go
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/dev-env/Dockerfile
  manifests/crd.yaml
  pkg/dashboard/apiserver/template/template.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/selector/physicalmachine/selector_test.go
  pkg/selector/pod/selector_test.go
  pkg/webhook/validate_auth.go
  tools.go
Labels: dependencies, rebuild-build-env-image, rebuild-dev-env-image, lgtm, approved

#4189 Update lru to v2
  CHANGELOG.md
  cmd/chaos-controller-manager/provider/controller.go
  cmd/chaos-controller-manager/provider/updated_client.go
  go.mod
  go.sum
  pkg/clientpool/client.go
Labels: type/enhancement, dependencies, lgtm, approved

#4191 Update swagger dependency
  .github/.licenserc.yaml
  .gitignore
  CHANGELOG.md
  api/go.mod
  api/go.sum
  api/v1alpha1/schedule_types.go
  api/v1alpha1/workflow_types.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  go.mod
  go.sum
  hack/generate_swagger_spec.sh
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/dev-env/Dockerfile
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: dependencies, rebuild-dev-env-image, lgtm, approved

#4201 chore: upgrade actions/upload-artifact to v3
  .github/workflows/e2e_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/upload_image_pr.yml
Labels: no-need-update-changelog, CI/CD

#4190 Update ginkgo to v2.12.0
  CHANGELOG.md
  api/go.mod
  api/go.sum
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/cmd/e2e_helper/go.sum
  e2e-test/go.mod
  e2e-test/go.sum
  e2e-test/image/e2e/Dockerfile
  go.mod
  go.sum
  hack/lib.sh
  images/dev-env/Dockerfile
Labels: dependencies, rebuild-build-env-image, rebuild-dev-env-image, approved

#4193 feat: remove token when get Unauthorized
  CHANGELOG.md
  ui/app/src/App.tsx
  ui/app/src/api/http.ts
  ui/app/src/components/TopContainer/Auth.tsx
  ui/app/src/components/TopContainer/index.tsx
  ui/app/src/pages/Settings/Token.tsx
  ui/app/src/pages/Settings/index.tsx
  ui/app/src/reactQueryClient.ts
  ui/app/src/slices/globalStatus.ts
Labels: type/enhancement, component/ui, lgtm, approved

#4213 Delete stale.yml
  .github/workflows/stale.yml
Labels: no-need-update-changelog

#4214 chore: upgrade actions/checkout to v4
  .github/workflows/checklink.yaml
  .github/workflows/ci.yml
  .github/workflows/codecov_unittest.yaml
  .github/workflows/e2e_test.yml
  .github/workflows/e2e_test_upload_cache.yml
  .github/workflows/integration_test.yml
  .github/workflows/license_checker.yml
  .github/workflows/merge_conflict_finder.yaml
  .github/workflows/release_helm_chart.yml
  .github/workflows/upload_env_image.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_image_pr.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
Labels: no-need-update-changelog
