Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-08, with the labels that each got.

#4091 Enable consistency for ghcr.io registry
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: component/helm, no-need-update-changelog, lgtm, approved

#4134 feat: chaos-dns-server supports global registry
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/values.yaml
Labels: documentation, component/helm, lgtm, approved

#4144 chore: check links only in modified files
  .github/checklink_config.json
  .github/workflows/checklink.yaml
Labels: no-need-update-changelog

#4133 Prevent scroll from changing experiment number fields
  CHANGELOG.md
  ui/app/src/components/FormField/TextField.test.tsx
  ui/app/src/components/FormField/TextField.tsx
  ui/app/src/components/NewExperimentNext/form/TargetGenerated.tsx
Labels: type/enhancement, component/ui, lgtm, approved

#4151 Set the database column type to text for 'Workflow/Experiment/Schedule'
  CHANGELOG.md
  pkg/dashboard/core/event.go
  pkg/dashboard/core/experiment.go
  pkg/dashboard/core/schedule.go
Labels: type/bug-fix, component/pkg-dashboard, lgtm, approved, needs-cherry-pick-release-2.6

#4153 refactor: refine logging in pkg/dashboard/apiserver/utils
  pkg/dashboard/apiserver/common/common.go
  pkg/dashboard/apiserver/utils/log.go
Labels: component/pkg-dashboard, no-need-update-changelog, lgtm, approved

#4157 Update Go to 1.20
  .github/workflows/integration_test.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_latest_files.yml
  .github/workflows/upload_release_files.yml
  CHANGELOG.md
  Makefile
  api/go.mod
  api/go.sum
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  e2e-test/cmd/e2e_helper/Dockerfile
  e2e-test/cmd/e2e_helper/go.mod
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  hack/lib.sh
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/build-env/Dockerfile
  images/chaos-dlv/Dockerfile
  images/dev-env/Dockerfile
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: rebuild-build-env-image, rebuild-dev-env-image, lgtm, approved

#4129 feat: support more rate units for networkchaos/bandwidth
  CHANGELOG.md
  Makefile
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook.go
  api/v1alpha1/networkchaos_webhook_test.go
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/netem/convert.go
Labels: chaos/network, lgtm, approved

#4164 add extra sidecar container to dashboard in helm chart
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: component/helm, lgtm, approved, needs-cherry-pick-release-2.6

#4165 chore: ready for v2.6.2
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: lgtm, approved, release

#4075 fix(remotecluster): can not upgrade helm release
  CHANGELOG.md
  Makefile
  api/v1alpha1/remote_cluster_types.go
  config/crd/bases/chaos-mesh.org_awschaos.yaml
  config/crd/bases/chaos-mesh.org_azurechaos.yaml
  config/crd/bases/chaos-mesh.org_blockchaos.yaml
  config/crd/bases/chaos-mesh.org_dnschaos.yaml
  config/crd/bases/chaos-mesh.org_gcpchaos.yaml
  config/crd/bases/chaos-mesh.org_httpchaos.yaml
  config/crd/bases/chaos-mesh.org_iochaos.yaml
  config/crd/bases/chaos-mesh.org_jvmchaos.yaml
  config/crd/bases/chaos-mesh.org_kernelchaos.yaml
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_physicalmachinechaos.yaml
  config/crd/bases/chaos-mesh.org_physicalmachines.yaml
  config/crd/bases/chaos-mesh.org_podchaos.yaml
  config/crd/bases/chaos-mesh.org_podhttpchaos.yaml
  config/crd/bases/chaos-mesh.org_podiochaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_remoteclusters.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_statuschecks.yaml
  config/crd/bases/chaos-mesh.org_stresschaos.yaml
  config/crd/bases/chaos-mesh.org_timechaos.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/multicluster/remotecluster/controller.go
  helm/chaos-mesh/crds/chaos-mesh.org_awschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_azurechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_blockchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_dnschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_gcpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_httpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_iochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_jvmchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_kernelchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachinechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_physicalmachines.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podhttpchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podiochaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_remoteclusters.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_statuschecks.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_stresschaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_timechaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  images/dev-env/Dockerfile
  manifests/crd.yaml
  pkg/helm/helm_client.go
  pkg/helm/helm_client_test.go
Labels: type/bug-fix, rebuild-dev-env-image, lgtm, approved, needs-cherry-pick-release-2.6, remote-cluster
