Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-04, with the labels that each got.

#3992 chore: remove `IN_DOCKER` env in `Makefile`
  CHANGELOG.md
  Makefile
  build/get_env_shell.py
  pkg/dashboard/apiserver/server.go
  ui/README.md
  ui/package.json
  ui/scripts/bootstrap.sh
Labels: component/scripts, status/can-merge, status/LGT1, size/L, require-LGT1

#4002 fix(ci): restrict access to kubeconfig
  .github/workflows/e2e_test.yml
  .github/workflows/integration_test.yml
Labels: status/can-merge, status/LGT1, size/S, no-need-update-changelog, require-LGT1, CI/CD, needs-cherry-pick-release-2.5

#4010 chore: ready for v2.5.2
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: status/LGT1, size/S

#4018 improve pause
  CHANGELOG.md
  hack/pause.c
Labels: status/can-merge, status/LGT1, size/XS, no-need-update-changelog, require-LGT1, needs-cherry-pick-release-2.4, needs-cherry-pick-release-2.5

#4022 Changed CoreDNS listen port from 53 to 5353
  CHANGELOG.md
  helm/chaos-mesh/templates/dns-configmap.yaml
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/templates/dns-service.yaml
  install.sh
Labels: status/can-merge, status/LGT2, contribution, first-time-contributor, chaos/dns, size/S, needs-cherry-pick-release-2.5

#3888 introduce `make help` as default make recipe
  .github/.licenserc.yaml
  .github/workflows/upload_env_image.yml
  .github/workflows/upload_image.yml
  .github/workflows/upload_image_pr.yml
  CHANGELOG.md
  Makefile
  binary.generated.mk
  build/build_image.py
  cmd/generate-makefile/doc.go
  cmd/generate-makefile/funcmaps.go
  cmd/generate-makefile/generate_binary_makefile.go
  cmd/generate-makefile/generate_container_image_makefile.go
  cmd/generate-makefile/main.go
  container-image.generated.mk
  images/chaos-dlv/README.md
  images/chaos-jvm/Dockerfile
Labels: component/scripts, size/XXL, require-LGT1
