Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-05, with the labels that each got.

#4004 feat!: build binaries locally with `local/` prefix targets in `Makefile`
  .github/workflows/integration_test.yml
  CHANGELOG.md
  Makefile
  cmd/generate-makefile/generate_binary_makefile.go
  cmd/generate-makefile/generate_local_binary_makefile.go
  cmd/generate-makefile/main.go
  local-binary.generated.mk
  pkg/chaosctl/README.md
Labels: component/scripts, needs-rebase, size/L

#3759 ci: use kubectl cluster-info dump to enhance e2e profiling
  .github/workflows/e2e_test.yml
  CHANGELOG.md
Labels: component/e2e, do-not-merge/work-in-progress, size/S, require-LGT1, CI/CD, needs-cherry-pick-release-2.5

#4032 ci: use kubectl cluster-info dump to enhance e2e profiling
  .github/workflows/e2e_test.yml
  CHANGELOG.md
Labels: component/e2e, CI/CD, type/cherry-pick-for-release-2.5

#4039 feat: setup OWNERS for chaos-mesh
  .github/.licenserc.yaml
  CHANGELOG.md
  OWNERS
  OWNERS_ALIASES
Labels: do-not-merge/invalid-owners-file

#4036 chore: upgrade fx event logger
  CHANGELOG.md
  cmd/chaos-controller-manager/main.go
  cmd/chaos-dashboard/main.go
  controllers/multicluster/clusterregistry/registry.go
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  pkg/log/fx_logger.go
Labels: type/enhancement, lgtm, approved

#4037 Refine logging in `pkg/selector/physicalmachine`
  CHANGELOG.md
  pkg/dashboard/apiserver/common/common.go
  pkg/selector/physicalmachine/selector.go
  pkg/selector/physicalmachine/selector_test.go
Labels: type/enhancement, chaos/physical-machine, approved

#3897 Install offline Helm Chart for a multi-cluster
  CHANGELOG.md
  api/v1alpha1/remote_cluster_types.go
  config/crd/bases/chaos-mesh.org_remoteclusters.yaml
  controllers/multicluster/remotecluster/controller.go
  helm/chaos-mesh/crds/chaos-mesh.org_remoteclusters.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/values.yaml
  manifests/crd.yaml
  pkg/config/controller.go
  pkg/helm/chart.go
  pkg/helm/chart_test.go
Labels: size/L, require-LGT1, multicluster, lgtm, approved

#4051 fix: upgrade pnpm to v8
  .github/workflows/ci.yml
  images/build-env/Dockerfile
  ui/pnpm-lock.yaml
Labels: rebuild-build-env-image, no-need-update-changelog, CI/CD, approved

#4056 fix: use `*time.Time` to represent finish time
  CHANGELOG.md
  pkg/config/dashboard.go
  pkg/dashboard/apiserver/archive/archive_test.go
  pkg/dashboard/collector/collector.go
  pkg/dashboard/collector/schedule_collector.go
  pkg/dashboard/core/experiment.go
  pkg/dashboard/core/schedule.go
  pkg/dashboard/core/workflow.go
Labels: type/bug-fix, component/pkg-dashboard, lgtm, approved

#4068 release: ready for v2.6.0
  CHANGELOG.md
  env-images.yaml
  helm/chaos-mesh/values.yaml
Labels: rebuild-build-env-image, rebuild-dev-env-image, approved, release
