Repository chaos-mesh/chaos-mesh, pull requests merged in 2023-11, with the labels that each got.

#4241 build: don't use disable TLS verification in build
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: lgtm, approved

#4245 add GreptimeDB to ADOPTERS
  ADOPTERS.md
  CHANGELOG.md
Labels: approved

#4254 chore(ci): skip scheduled upload on fork repo
  .github/workflows/upload_image.yml
Labels: no-need-update-changelog, lgtm, approved

#4252 fix: remove the duplicate pkg import
  controllers/test/types.go
Labels: no-need-update-changelog, lgtm, approved

#4246 fix: validate DNS server IP in SetDNSServer
  CHANGELOG.md
  pkg/chaosdaemon/dns_server.go
  pkg/chaosdaemon/dns_server_test.go
Labels: type/bug-fix, chaos/dns, lgtm, approved

#4258 fix(test): docker command not found
  Makefile
  hack/env-image-tag.sh
Labels: type/bug-fix, no-need-update-changelog, CI/CD

#4267 docs: add greptimedb's adopter story
  ADOPTERS.md
Labels: no-need-update-changelog, lgtm, approved

#4260 Allow chaos-dns-server affinity to be set in helm values
  CHANGELOG.md
  helm/chaos-mesh/templates/dns-deployment.yaml
  helm/chaos-mesh/values.yaml
  install.sh
Labels: lgtm, approved
