Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-01, with the labels that each got.

#4306 fix: helm values schema
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
Labels: component/helm, no-need-update-changelog

#4300 Update byteman-helper to v4.0.22-0.12
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: chaos/jvm

#4303 feat!: GCP auth from existing secret
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
Labels: type/enhancement, chaos/gcp, approved

#4327 chore: ready for 2.6.3
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: lgtm, approved

#4017 feat: add rate action in NetworkChaos
  CHANGELOG.md
  api/v1alpha1/networkchaos_types.go
  api/v1alpha1/networkchaos_webhook_test.go
  api/v1alpha1/podnetworkchaos_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/podnetworkchaos/controller.go
  controllers/podnetworkchaos/types_test.go
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/chaosdaemon/netem/utils.go
  pkg/chaosdaemon/netem/utils_test.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/tc_server_test.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/netem/convert.go
Labels: type/enhancement, contribution, first-time-contributor, chaos/network, size/XXL, lgtm, approved

#4333 chore: upgrade upload/download-artifact to v4
  .github/workflows/e2e_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/upload_image_pr.yml
Labels: no-need-update-changelog

#4335 chore(e2e): upgrade minikube
  .github/workflows/e2e_test.yml
Labels: component/e2e, no-need-update-changelog
