Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-03, with the labels that each got.

#4370 feat(helm): allow templating of dashboard rootUrl
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
Labels: component/helm, lgtm, approved, needs-cherry-pick-release-2.6

#4363 feat: read DB credentials from existing secret
  .github/.licenserc.yaml
  .prettierrc
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
Labels: component/helm, approved

#4377 fix: comments in pkg/chaosdaemon/util.GetChildProcesses
  pkg/chaosdaemon/util/util.go
Labels: component/daemon, no-need-update-changelog, approved

#4304 chore: add context to the http request to download the chart
  CHANGELOG.md
  pkg/helm/chart.go
Labels: approved
