Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-06, with the labels that each got.

#4434 perf: simplify join func
  cmd/generate-makefile/doc.go
  cmd/generate-makefile/funcmaps.go
Labels: no-need-update-changelog

#4435 chore: integrate helm-values-schema-json to generate schema for values.yaml
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  build/get_env_shell.py
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
  images/dev-env/Dockerfile
Labels: component/helm, rebuild-dev-env-image, CI/CD

#4436 Cherry-pick #4106, #4390, #4435
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  build/get_env_shell.py
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  helm/chaos-mesh/templates/chaos-daemon-rbac.yaml
  helm/chaos-mesh/templates/controller-manager-deployment.yaml
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
  images/dev-env/Dockerfile
  install.sh
Labels: rebuild-dev-env-image

#4373 fix: context cancel leak in portforward
  pkg/portforward/portforward.go
Labels: no-need-update-changelog, approved

#4439 refactor(ci): release helm chart
  .github/workflows/release_helm_chart.yml
Labels: no-need-update-changelog, CI/CD

#4440 fix: upgrade codecov
  .github/workflows/codecov_unittest.yaml
  codecov.yml
Labels: no-need-update-changelog, CI/CD

#4441 chore: upgrade paths-filter
  .github/workflows/ci.yml
  .github/workflows/ci_skip.yml
  .github/workflows/must_update_changelog.yml
Labels: no-need-update-changelog, CI/CD

#4443 fix: add runs-on
  .github/workflows/codecov_unittest.yaml
  .github/workflows/release_helm_chart.yml
Labels: no-need-update-changelog, CI/CD
