Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-09, with the labels that each got.

#4482 Minor fixes in certificates to make them ArgoCD friendly
  CHANGELOG.md
  helm/chaos-mesh/templates/_certs.tpl
  helm/chaos-mesh/templates/cert-manager-certs.yaml
Labels: component/helm, approved, needs-cherry-pick-release-2.6

#4496 refactor: renew issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
  .github/workflows/e2e_test.yml
  .github/workflows/integration_test.yml
Labels: no-need-update-changelog, CI/CD, needs-cherry-pick-release-2.6, needs-cherry-pick-release-2.7

#4492 release: ready for v2.7.0
  CHANGELOG.md
  env-images.yaml
  helm/chaos-mesh/values.yaml
Labels: component/helm, rebuild-build-env-image, rebuild-dev-env-image, lgtm, approved, release

#4402 fix: excessive records by adding the `MaxEvents` field
  CHANGELOG.md
  controllers/common/records/controller.go
  controllers/utils/chaosdaemon/chaosdaemon.go
  pkg/config/controller.go
Labels: component/operator, CI/CD, approved, needs-cherry-pick-release-2.6, needs-cherry-pick-release-2.7

#4488 feat: add option to toggle metric scraping of chaos-daemon
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/chaos-daemon-service.yaml
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
Labels: component/helm, approved, needs-cherry-pick-release-2.6, needs-cherry-pick-release-2.7

#4503 chore: ready for v2.6.5
  .github/.licenserc.yaml
  .github/workflows/e2e_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/upload_image_pr.yml
  CHANGELOG.md
  helm/chaos-mesh/values.yaml
Labels: lgtm, approved, release

#4509 chore: fix bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: no-need-update-changelog, lgtm, approved

#4513 fix: add codecov token to action
  .github/workflows/codecov_unittest.yaml
Labels: no-need-update-changelog, CI/CD

#4515 [release-2.6] fix: add codecov token to action
  .github/workflows/codecov_unittest.yaml
Labels: no-need-update-changelog

#4510 chore: update cherrypick options becase of 2.7 released
  .github/pull_request_template.md
Labels: no-need-update-changelog, approved
