Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-10, with the labels that each got.

#4522 chore!: upgrade pnpm lockfile version to 9.0
  .github/workflows/ci.yml
  CHANGELOG.md
  images/build-env/Dockerfile
  ui/pnpm-lock.yaml
Labels: component/ui, rebuild-build-env-image, CI/CD

#4521 fix: get a single archive by kind
  CHANGELOG.md
  pkg/dashboard/apiserver/archive/archive.go
  pkg/dashboard/store/workflow/workflow.go
  ui/app/src/components/YAMLEditor/index.tsx
  ui/app/src/pages/Archives/Single.tsx
Labels: type/bug-fix, component/dashboard, component/ui, rebuild-build-env-image

#4526 [release-2.7] fix: get a single archive by kind
  CHANGELOG.md
  pkg/dashboard/apiserver/archive/archive.go
  pkg/dashboard/store/workflow/workflow.go
  ui/app/src/components/YAMLEditor/index.tsx
  ui/app/src/pages/Archives/Single.tsx
Labels: component/dashboard, component/ui

#4529 chore: support endorsemnet for maintainers
  .github/.licenserc.yaml
  .well-known/funding-manifest-urls
Labels: no-need-update-changelog, approved
