Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-07, with the labels that each got.

#4430 fix(integration test): upgrade localstack
  .github/workflows/integration_test.yml
  pkg/ctrl/server/generated/generated.go
  pkg/ctrl/server/schema.graphqls
  test/integration_test/chaosctl/debug.sh
Labels: no-need-update-changelog, CI/CD, needs-cherry-pick-release-2.5, lgtm, approved, needs-cherry-pick-release-2.6

#4449 chore: bump version to toda to v0.2.4
  CHANGELOG.md
  images/chaos-daemon/Dockerfile
Labels: type/bug-fix, status/can-merge, chaos/io, lgtm, approved, needs-cherry-pick-release-2.6

#4421 fix: chaos controller can't find daemonIP over 1000 nodes using endpoints
  CHANGELOG.md
  controllers/utils/chaosdaemon/chaosdaemon.go
  helm/chaos-mesh/templates/controller-manager-rbac.yaml
  install.sh
Labels: component/operator, component/scripts, component/helm, lgtm, approved, needs-cherry-pick-release-2.6
