Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-02, with the labels that each got.

#4338 fix: TTL configuration from wrong environment variables at dashboard.go
  CHANGELOG.md
  pkg/config/dashboard.go
Labels: type/bug-fix, component/dashboard, lgtm, approved

#4342 chore: reorganize the readme
  README.md
Labels: no-need-update-changelog

#4331 fix: cross build on darwin
  build/build_image.py
  build/get_env_shell.py
  build/utils.py
Labels: component/scripts, no-need-update-changelog

#4172 feat: loadBalancerSourceRanges in chaos-dashboard service
  CHANGELOG.md
  build/get_env_shell.py
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  helm/chaos-mesh/values.yaml
Labels: good first issue, component/helm, approved

#4319 Update e2e test for kubernetes v1.26, v1.27 and v1.28 as v1.25 is out of life cycle.
  .github/workflows/e2e_test.yml
Labels: component/e2e, no-need-update-changelog, lgtm, approved

#4325 feat: add pr labeler workflow
  .github/.licenserc.yaml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: no-need-update-changelog
