Repository chaos-mesh/chaos-mesh, pull requests merged in 2024-12, with the labels that each got.

#4553 dashboard: return 404 when the archive schedule was not found
  CHANGELOG.md
  pkg/dashboard/apiserver/archive/archive.go
  pkg/dashboard/apiserver/archive/archive_test.go
Labels: component/dashboard, needs-cherry-pick-release-2.6, needs-cherry-pick-release-2.7

#4543 fix: wrong references of helm values in the prometheus template
  CHANGELOG.md
  helm/chaos-mesh/templates/prometheus-deployment.yaml
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
Labels: component/helm, lgtm, approved, needs-cherry-pick-release-2.7

#4555 dashboard: return 404 when the archive schedule was not found (#4553)
  CHANGELOG.md
  pkg/dashboard/apiserver/archive/archive.go
  pkg/dashboard/apiserver/archive/archive_test.go
Labels: component/dashboard, approved, type/cherry-pick-for-release-2.7

#4560 ci: use github large runner instead of self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/upload_image.yml
Labels: no-need-update-changelog, CI/CD, needs-cherry-pick-release-2.6, needs-cherry-pick-release-2.7

#4554 feat(metrics): use gauge subsystem in controller/daemon metrics
  CHANGELOG.md
  pkg/metrics/chaos-controller-manager.go
  pkg/metrics/chaos-daemon.go
Labels: type/enhancement, approved

#4564 ci: use ebtables-legacy for test to adopte the new version of debian
  .github/workflows/integration_test.yml
  images/dev-env/Dockerfile
Labels: rebuild-dev-env-image, no-need-update-changelog, CI/CD, approved

#4565 chore: bump kubernetes version to 1.28.12
  CHANGELOG.md
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
Labels: component/e2e, lgtm, approved
