Repository chaos-mesh/chaos-mesh, pull requests merged in 2025-09, with the labels that each got.

#4743 fix: name format of openapi types
  CHANGELOG.md
  ui/app/src/components/EventsChart/index.tsx
  ui/app/src/components/EventsTable/index.tsx
  ui/app/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/app/src/components/ObjectConfiguration/index.tsx
  ui/app/src/components/ObjectListItem/index.tsx
  ui/app/src/components/Scope/TargetsTable/PhysicalMachinesTable.tsx
  ui/app/src/components/Scope/TargetsTable/PodsTable.tsx
  ui/app/src/components/Search/index.tsx
  ui/app/src/components/Token/index.tsx
  ui/app/src/lib/d3/eventsChart.tsx
  ui/app/src/lib/search.ts
  ui/app/src/openapi/index.msw.ts
  ui/app/src/openapi/index.schemas.ts
  ui/app/src/openapi/index.ts
  ui/app/src/pages/Dashboard/TotalStatus.tsx
  ui/app/src/pages/Experiments/index.tsx
  ui/app/src/pages/Schedules/index.tsx
  ui/app/src/pages/Workflows/Single.tsx
  ui/app/src/pages/Workflows/index.tsx
  ui/packages/openapi/codegen.js
Labels: component/ui, approved

#4745 fix: an API call (#4743)
  CHANGELOG.md
  ui/app/src/components/EventsChart/index.tsx
  ui/app/src/components/EventsTable/index.tsx
  ui/app/src/components/EventsTimeline/index.tsx
  ui/app/src/components/NewExperimentNext/LoadFrom/index.tsx
  ui/app/src/components/ObjectConfiguration/index.tsx
  ui/app/src/components/ObjectListItem/index.tsx
  ui/app/src/components/Scope/TargetsTable/PhysicalMachinesTable.tsx
  ui/app/src/components/Scope/TargetsTable/PodsTable.tsx
  ui/app/src/components/Search/index.tsx
  ui/app/src/components/Token/index.tsx
  ui/app/src/lib/d3/eventsChart.tsx
  ui/app/src/lib/search.ts
  ui/app/src/pages/Dashboard/TotalStatus.tsx
  ui/app/src/pages/Experiments/index.tsx
  ui/app/src/pages/Schedules/index.tsx
  ui/app/src/pages/Workflows/Single.tsx
  ui/app/src/pages/Workflows/index.tsx
Labels: component/ui, approved

#4758 fix: order of swag generated enums
  CHANGELOG.md
  Makefile
  api/v1alpha1/workflow_types.go
  api/v1alpha1/zz_generated.workflow.chaosmesh.go
  cmd/chaos-builder/workflow.go
  e2e-test/go.mod
  e2e-test/go.sum
  go.mod
  go.sum
  hack/generate_swagger_spec.sh
  images/dev-env/Dockerfile
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  ui/app/src/openapi/index.msw.ts
  ui/app/src/openapi/index.schemas.ts
Labels: component/scripts, component/e2e, component/dashboard, component/ui, rebuild-dev-env-image, approved

#4649 Support for deploying extra Kubernetes objects with the helm chart
  CHANGELOG.md
  helm/chaos-mesh/README.md
  helm/chaos-mesh/templates/_helpers.tpl
  helm/chaos-mesh/templates/extra-manifests.yaml
  helm/chaos-mesh/values.schema.json
  helm/chaos-mesh/values.yaml
  install.sh
Labels: component/scripts, component/helm, lgtm, approved
