Repository chaos-mesh/chaos-mesh, pull requests merged in 2025-04, with the labels that each got.

#4655 fix: use the correct error variable
  pkg/workflow/controllers/parallel_node_reconciler.go
  pkg/workflow/controllers/serial_node_reconciler.go
Labels: component/workflow, no-need-update-changelog, approved

#4657 fix reduce useless recursively expanded variables in Makefile
  Makefile
Labels: no-need-update-changelog, approved

#4671 fix(ui): process no selector chaos
  CHANGELOG.md
  ui/app/src/components/NewExperimentNext/Step3.tsx
  ui/app/src/components/ObjectConfiguration/index.tsx
  ui/app/src/i18n/en.json
  ui/app/src/i18n/zh.json
  ui/app/src/lib/formikhelpers.ts
Labels: component/ui, approved
