Repository chaos-mesh/chaos-mesh, pull requests merged in 2025-01, with the labels that each got.

#4408 chore: upgrade the base image of chaos-dlv
  images/chaos-dlv/Dockerfile
Labels: no-need-update-changelog, lgtm, approved

#4403 refactor: replace deprecated functions
  controllers/chaosimpl/dnschaos/types.go
  controllers/common/desiredphase_test.go
  controllers/common/finalizers_test.go
  controllers/schedule/cron/utils_test.go
  controllers/schedule/schedule_test.go
  controllers/utils/controller/finished_test.go
  e2e-test/e2e/chaos/iochaos/io_delay.go
  e2e-test/e2e/chaos/iochaos/io_mistake.go
  e2e-test/e2e/chaos/networkchaos/network_delay.go
  e2e-test/e2e/chaos/networkchaos/network_partition.go
  e2e-test/e2e/chaos/podchaos/container_kill.go
  e2e-test/e2e/chaos/podchaos/pod_failure.go
  e2e-test/e2e/chaos/podchaos/pod_kill.go
  e2e-test/e2e/chaos/timechaos/time_skew.go
  pkg/chaosctl/cmd/completion.go
  pkg/chaosdaemon/crclients/crio/client.go
  pkg/grpc/utils.go
  pkg/workflow/controllers/deadline_reconciler_test.go
  pkg/workflow/controllers/workflow_entry_reconciler.go
Labels: component/operator, component/daemon, component/e2e, chaos/dns, component/workflow, component/chaosctl, no-need-update-changelog

#4559 chore: Add support for userInfo.extra in validating webhook
  CHANGELOG.md
  pkg/webhook/validate_auth.go
Labels: lgtm, approved

#4546 fix!: use consistent units for netem delay/jitter
  CHANGELOG.md
  api/v1alpha1/networkchaos_types.go
  config/crd/bases/chaos-mesh.org_networkchaos.yaml
  config/crd/bases/chaos-mesh.org_podnetworkchaos.yaml
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  controllers/podnetworkchaos/types_test.go
  go.mod
  go.sum
  helm/chaos-mesh/crds/chaos-mesh.org_networkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_podnetworkchaos.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  install.sh
  manifests/crd.yaml
  pkg/chaosdaemon/netem/utils.go
  pkg/chaosdaemon/netem/utils_test.go
  pkg/chaosdaemon/pb/chaosdaemon.pb.go
  pkg/chaosdaemon/pb/chaosdaemon.proto
  pkg/chaosdaemon/tc_server.go
  pkg/chaosdaemon/tc_server_test.go
  pkg/chaosdaemon/types.go
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/netem/convert.go
Labels: component/operator, component/daemon, component/scripts, component/helm, component/dashboard, chaos/network, lgtm, approved
