Repository chaos-mesh/chaos-mesh, pull requests merged in 2025-08, with the labels that each got.

#4708 fix: chaos dashboard labels in helm templates
  CHANGELOG.md
  helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml
  install.sh
Labels: component/scripts, component/helm, approved

#4710 feat: allow configuring labels in workflow tasks
  CHANGELOG.md
  api/v1alpha1/workflow_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/chaos-mesh.org_schedules.yaml
  config/crd/bases/chaos-mesh.org_workflownodes.yaml
  config/crd/bases/chaos-mesh.org_workflows.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_schedules.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflownodes.yaml
  helm/chaos-mesh/crds/chaos-mesh.org_workflows.yaml
  manifests/crd.yaml
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
  pkg/workflow/controllers/task_reconciler.go
Labels: component/helm, component/dashboard, component/workflow, lgtm, approved

#4730 chore: update chaosdashboard swaggerdocs
  pkg/dashboard/swaggerdocs/docs.go
  pkg/dashboard/swaggerdocs/swagger.json
  pkg/dashboard/swaggerdocs/swagger.yaml
Labels: component/dashboard, no-need-update-changelog, approved

#4736 fix: upgrade cosign to v2
  .github/workflows/checklink.yaml
  .github/workflows/upload_image.yml
  CHANGELOG.md
Labels: CI/CD, approved
